[2016-11-19 21:11] nipafx opened #1 "Disabled Extensions"
There are many possible ideas floating around the `@Disabled` annotation:

* [X] disable tests by evaluating a script (e.g., JavaScript, Groovy, etc)
  - See `@EnabledIf` and `@DisabledIf` in Jupiter 5.1
* [X] disable tests on selected OS (#2, junit-team/junit5#219, [proof of concept](https://github.com/CodeFX-org/demo-junit-5/blob/master/src/main/java/org/codefx/demo/junit5/OsCondition.java))
  -

[2016-11-20 02:47] sbrannen commented on #1
👍

In case you're not aware of it, Spring 5 milestones already support `@EnabledIf` and `@DisabledIf` variants that accept SpEL expressions which make the implementation of custom conditions like `@DisabledOnWindows` extremely simple.

[2016-11-20 10:16] nicolaiparlog commented on #1
Thanks for the hint (links: [`EnabledIf`](https://github.com/spring-projects/spring-framework/blob/master/spring-test/src/main/java/org/springframework/test/context/junit/jupiter/EnabledIf.java), [`DisabledIf`](https://github.com/spring-projects/spring-framework/blob/master/spring-test/src/main/java/org/springframework/test/context/junit/jupiter/DisabledIf.java)), didn't know about that. I'd like

[2016-11-20 16:09] sbrannen commented on #1
You're welcome.

Sure. I wasn't implying that you should re-implement or copy them. Rather, I meant for them to serve as possible inspiration. Although supporting an expression language of any sort in core JUnit would naturally require the EL implementation to be an optional dependency. Anyway, just _food for thought_.

Can you expound on that?

[2016-11-22 17:35] nicolaiparlog opened #2 "DisabledOnOs"
Create annotations `@DisabledOnOs` and `@EnabledOnOs` that disable a container or test on the specified operating system or on all except the specified one, respectively.

Spawned from #1, also see junit-team/junit5#219, and this [proof of concept](https://github.com/CodeFX-org/demo-junit-5/blob/master/src/main/java/org/codefx/demo/junit5/OsCondition.java).

[2016-11-22 17:38] nicolaiparlog commented on #1
Spawned #2 and added as a task to the issue description.

[2016-11-22 17:50] nicolaiparlog opened #3 "Generic Condition"
Explore how a generic condition could be implemented that allows the user to combine predefined atoms (e.g. regarding the operating system or date/time related conditions) with self-defined tests in Boolean formulas.

Spawned from #1 - see [first couple of comments](https://github.com/CodeFX-org/junit-io/issues/1#issuecomment-261754744), which mention [`EnabledIf`](https://github.com/spring-projec

[2016-11-22 17:52] nicolaiparlog commented on #3
@ nicolaiparlog wrote:

@sbrannen wrote:

Yes. My idea was to create a couple of simple classes that could be used to combine Boolean formulas, e.g.:

    // there are a lot of static imports involved here
    Term disableIf = not(WINDOWS).and(after(2017, 1, 1)).and(MyClass::myCheck)

I made a small PoC and it looks doable but `disableIf` can obviously not be referenced from an annotation. The onl

[2016-11-22 17:54] nicolaiparlog commented on #1
Spawned #3 to continue discussion about generalized conditions there.

[2016-11-22 18:15] nicolaiparlog opened #4 "Allow Tests as in JUnit Jupiter"
In JUnit Jupiter many tests extend from [AbstractJupiterTestEngineTests](https://github.com/junit-team/junit5/blob/master/junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/AbstractJupiterTestEngineTests.java). To allow tests with the same rigor, the same approach should work in Io.

[2016-11-25 22:19] #4 closed

[2016-11-25 22:31] nicolaiparlog opened #6 "Replace Upstream Test Code With Dependency"
#4 enabled tests to be written like in JUnit 5. Part of the implementation copy-pasted a bunch of classes from the project (see f613211 for reasons). As soon as JUnit publishes test artifacts (see junit-team/junit5#572) a proper dependency can be established and the class can be removed.

[2016-11-25 22:55] nicolaiparlog opened #7 "Recreate JUnit 4's @Test"
In case JUnit 5 users would like to migrate JUnit 4 tests to Jupiter they might be interested in using an `@Test` annotation that behaves as it did in JUnit 4. This means there must be `expected` and `timeout` arguments with the same behavior.

[2016-11-25 23:27] nicolaiparlog opened #10 "Fix @Test Timeout to Actually Time Out"
#7 created an annotation `@Test` that mirrors JUnit 4's behavior as closely as possible. Regarding `timeout` this ran into limitations of Jupiters extension model: Without the ability to push the test execution onto another thread there is no way to abandon when the timeout is reached. This should be fixed once Jupiter implements the extension point (junit-team/junit5#157).

[2016-11-25 23:28] nicolaiparlog opened #11 "Create A Simple Project Site"
Create a simple project site, likely under [io.codefx.org](http://io.codefx.org). It should contain the following content (at least):

* project mission
* Maven coordinates
* high-level feature documentation with link to Javadocs (see #12)
* collaboration guide or link thereto

It may make sense to include all this info in the README and create a GitHub page from that.

Once a site was created, it

[2016-11-25 23:33] nicolaiparlog opened #12 "Make Javadocs Available"
Publish Javadoc, preferably under a separate URL for each released version.

Relevant battles, upstream fought (and won):

* [Separate snapshots from releases for published documentation](https://github.com/junit-team/junit5/issues/310)
* [Generate User Guide referencing specific revision/tag of Javadoc and source code on GitHub](https://github.com/junit-team/junit5/issues/319)

[2016-11-25 23:50] nicolaiparlog opened #13 "Set up CI Pipeline"
Set up a CI pipeline that does as much of the following as reasonable:

* build and publish nightly snapshots
* build pull requests and report back failures
* update project site (#11) and Javadoc (#12)
* maybe publish releases

Inspiration might be drawn from JUnit 5's [`build.gradle`](https://github.com/junit-team/junit5/commits/master/build.gradle) and [`.travis.yml`](https://github.com/junit-t

[2016-12-01 11:08] nicolaiparlog commented on #13
Bonus:

* Windows builds with [Abbveyor](https://www.appveyor.com/)
* test coverage with [Coveralls](https://coveralls.io/)
* include badges in README

[2016-12-10 17:06] nicolaiparlog commented on #13
#14 Did not in fact resolve the entire issues but only parts of it:

* build pull requests and report back failures with Trravis CI on Linux and AppVeyor on Windows

[2016-12-10 20:57] nicolaiparlog commented on #13
Regarding Coveralls: According to junit-team/junit5#240 only Clover properly evaluates test coverage. Unfortunately it is not free. Apparently, it is activated on Cloudbees but for now I am trying to avoid setting up a third build server.

[2016-12-11 15:48] nicolaiparlog commented on #13
Since #16 was merged, every commit on master is released to the snapshot repo.

[2016-12-11 15:56] nicolaiparlog opened #17 "Enable Publication To Maven Central"
Once the first release rolls around, `build.gradle` needs to be expanded so that it can sign artifacts and upload them to Maven Central.

[2016-12-11 16:04] nicolaiparlog commented on #13
I'm closing the issue - some things got done, others pushed into follow-up issues:

* build and publish nightly snapshots ⇝ done in #16
* build pull requests and report back results ⇝ done in #14:
    * Travis CI on Linux
    * AppVeyor on Windows (only runs tests; see 0cd3b26)
    * Badges in README for both
* update project site (#11) and Javadoc (#12) ⇝ now that CI is set up this can be done in

[2016-12-11 16:04] #13 closed

[2016-12-11 16:09] nicolaiparlog opened #18 "Fill README"
What the title says... Include:

* Maven coordinates and reference to snapshot builds
* CI information

More?

[2016-12-11 16:18] nicolaiparlog opened #19 "Create Separate Documentation (?)"
Consider whether documentation beyond a README (#18) and Javadoc (#12) is necessary.

[2016-12-11 19:15] sormuras commented on #1
A `DisabledOn("java.version", "^9.*")` would be convenient to have here: https://github.com/junit-team/junit5/pull/598/files -- with first parameter pointing to a `System` property key and the second parameter is a regex pattern to match.

[2016-12-23 10:04] #7 closed

[2016-12-23 11:03] nicolaiparlog commented on #1
Good point about the Java version, I added an item to the checkbox list in the issue description.

[2016-12-23 14:45] #2 closed

[2016-12-23 15:22] nicolaiparlog opened #20 "Check Javadoc on branch builds"
Commit a198997 revealed that Javadoc is not built on branches, which can lead to a green branch but, following the merge, a red master. Branch builds should make sure that Javadoc is correct.

[2016-12-23 16:00] #20 closed

[2017-01-11 21:41] AJNeufeld commented on #10
I expect you mean junit-team/junit5#157

[2017-01-11 21:58] nicolaiparlog commented on #10
😆 Yes, I do. Fixed it.

[2017-02-11 10:03] nicolaiparlog opened #22 "Update to Spotless 3.0.0"
See junit-team/junit5#626.

[2017-02-22 14:23] jbduncan commented on #22
You _might_ want to wait until 3.1.0 is released, as there is an [identified bug](https://github.com/diffplug/spotless/issues/78) in 3.0.0 which may make using it a little annoying. :)

[2017-02-22 15:27] nicolaiparlog commented on #22
Thanks for the info - at least now I have a reason to let this task lie around. :wink:

[2017-02-27 14:55] jbduncan commented on #22
Oh, sorry @nicolaiparlog, I now understand that it's not necessarily a bug with Spotless itself, but most likely a bug with Gradle. See https://github.com/diffplug/spotless/issues/78#issuecomment-282649367 for more information.

So basically, if one feels up to it, they can and probably should upgrade Spotless to 3.0.0+. :)

[2017-03-07 15:56] nicolaiparlog opened #23 "Update CI servers to JUnit Pioneer"
Travis CI and Appveyor builds need to be updated, so they build JUnit Pioneer.

[2017-03-07 15:59] nicolaiparlog opened #24 "Rename packages to match JUnit Pioneer"
Current package prefix is `org.codefx.junit.io`. The new prefix is not decided upon yet but the domain `junit-pioneer.org` belongs to the project and might be used.

[2017-03-07 16:04] nicolaiparlog commented on #24
My last coherent thoughts on the matter were:

[2017-03-08 17:24] jbduncan commented on #22
3.1.0 is released now, so this is issue is no longer "blocked". Sorry @nicolaiparlog! :wink:

[2017-03-08 17:31] jbduncan commented on #24
`org.junitpioneer` looks like the most sensible option to me.

Although, if `org.junit-pioneer` were legal (I admit I don't see yet why it's not legal), I'd probably vote for that. :)

[2017-03-08 17:36] jbduncan commented on #1
My knowledge of annotations is pretty limited, so I've no idea if what I'm going to suggest is even feasible, but here goes!

How about a `@DisabledOn(BooleanSupplier)` annotation that disables if the supplier evaluates to `true`, but doesn't if it evaluates to `false`?

[2017-03-08 20:42] nicolaiparlog commented on #1
@jbduncan: I considered something like that and was halfway done implementing it when I realized that annotations can only use constants as fields. Now I'm toying with the though to name a static field that us a `BooleanSupplier` and gets evaluated.

[2017-03-08 20:42] nicolaiparlog commented on #24
Package names can have no dashes. Only special characters `_` and `$` are allowed.

[2017-03-10 11:11] smoyer64 opened #25 "Convert to a multi-project Gradle build"
A mulit-project Gradle build is required so that extensions and engines that require additional dependencies can be separated from the core junit-pioneer project (which like junit5 itself, will not require dependencies).  Something like:

-   junit-pioneer-parent
    -   junit-pioneer
    -   junit-pioneer-suite
    -   junit-pioneer-uprest
    -   junit-pioneer-weld

Note that the alternative is

[2017-03-10 11:30] smoyer64 opened #26 "Create a junit-pioneer logo"
For the web-site, Github organization, etc.

[2017-03-12 13:19] nicolaiparlog commented on #26
This is an "artist's conception of the _Pioneer 10_ spacecraft":

![](https://upload.wikimedia.org/wikipedia/commons/4/46/Pioneer10-11.jpg)

The image is in the public domain. I think it is a good candidate to be turned into a logo by someone with at least moderate artistic skills. What do you think?

[2017-03-12 13:33] nicolaiparlog opened #27 "Register group ID with Sonatype"
To release artifacts into Maven Central the group ID must be registered with Sonatype. As per [their documentation](http://central.sonatype.org/pages/choosing-your-coordinates.html) the group ID "reuses the domain name system in a reversed manner", which means there is no choice but to use `org.junit-pioneer`.

[2017-03-12 13:35] nicolaiparlog commented on #27
I just [created an issue](https://issues.sonatype.org/browse/OSSRH-28808) to create the ID.

@smoyer64 If you want to be able to release to Maven Central I need your [Sonatype JIRA](https://issues.sonatype.org) account.

[2017-03-12 13:40] nicolaiparlog opened #28 "Measure code coverage"
It might be interesting to measure code coverage. Possible services:

* [codecov.io](https://codecov.io/)

[2017-03-12 13:47] nicolaiparlog opened #29 "Update files to new project name"
Many project files, particularly `build.gradle` are not yet updated to _JUnit Pioneer_.

[2017-03-12 13:55] nicolaiparlog opened #30 "Pick branch strategy"
I guess as most projects _JUnit Pioneer_ will favor developing on branches. Should this be made mandatory even for seemingly small fixes?

How should branches be merged? Should regular merges, resulting in merge commits, be favored or rebases? Related to that should commits be cleaned up or even squashed or is a more chaotic commit history ok?

- [x] decide on how to branch and merge
- [x] documen

[2017-03-12 13:58] nicolaiparlog commented on #30
My personal opinion is:

* Branches for everything unless work on master is _required_ (for whatever reason)
* _Always_ create merge commits
* Branches should be reasonably clean before being merged. Ideally, every commit builds but that is not required - every commit should compile, though. The number of commits should be reasonable as well and some squashing might be necessary to get there.

Alt

[2017-03-12 14:00] nicolaiparlog opened #31 "Which commits should reference issues?"
When starting out to work on the code base I made every commit reference the issue it belonged to. That has the great advantage that it is very easy to jump from Git history to pertaining issues. It has the disadvantage that it spams the issue with links to the commit history. In a particularly unnerving move, these references get _duplicated_ once the PR gets merged and all commits appear on mast

[2017-03-12 14:00] nicolaiparlog commented on #31
It might make sense to discuss #30 first.

[2017-03-12 21:16] smoyer64 commented on #26
I like it!

I don't have a need for it (yet) but I think maybe we need an extension bench-marking tool that we can call the "planetary probe".

[2017-03-12 21:24] smoyer64 commented on #27
I am smoyer64 there too.

In general, I hope that neither of us is manually releasing projects to Sonatype but I've had instances where things got "stuck" and manual intervention was required.

Thanks!

[2017-03-12 21:33] smoyer64 opened #33 "Decide on what dependencies we should allow"
LIke the JUnit 5 project, I think limiting the dependencies in the core project is a worthwhile goal.  At this point I'd really only argue strongly for JSR-305 annotations (current GAV is com.google.code.findbugs:jsr305:3.0.1).

For tests and infrastructure, I don't tend to be as militant ... should we allow the following?

-   AssertJ
-   Mockito
-   JaCoCo

(I'm sure this list will grow as we do

[2017-03-13 23:46] jbduncan commented on #33
I think for tests and infrastructure, we should simply depend on stuff when we need them.

AssertJ and Mockito sound like good starting testing libraries to me. Although, I do wonder if it's worth adopting Google Truth instead of AssertJ.

Yeah, I know that Truth is not as full-featured as AssertJ, but I believe that the assertion API it provides is overall cleaner than AssertJ's. And if we encoun

[2017-03-13 23:57] jbduncan commented on #30
I personally favour rebase and squash over branch merging, but I can't give a particular reason why I prefer one over the other.

Maybe because I enjoy trekking through a git repo history on GitHub linearly and find the occasional merge commit distracting?

But I admit that's not a very good reason to not go for branch merging if it would make using history-related git commands easier, for example

[2017-03-14 23:09] smoyer64 opened #34 "Move StdIoExtension to pioneer"

[2017-03-14 23:10] smoyer64 opened #35 "Move SuiteEngine to a pioneer sub-project"

[2017-03-14 23:10] smoyer64 opened #36 "Move Weld extension to a pioneer sub-project"

[2017-03-14 23:11] smoyer64 opened #37 "Move conditional enable/disable extension to pioneer"

[2017-03-14 23:21] smoyer64 opened #38 "Move StopwatchExtension to pioneer"
From the example code in the JUnit 5 documentation - https://github.com/selesy/junit5/blob/issues/343-document-testrule-compatibility/documentation/src/test/java/example/testrule/StopwatchExtension.java

[2017-03-14 23:25] smoyer64 commented on #10
There's a working example at https://github.com/selesy/junit5/blob/issues/343-document-testrule-compatibility/documentation/src/test/java/example/testrule/TimeoutJupiterDemo.java which might have some useful code.

[2017-03-20 10:12] smoyer64 opened #39 "Move TemporaryFolderExtension to pioneer"

[2017-03-20 20:19] nicolaiparlog commented on #30
@smoyer64 Do you have any opinion on this? I would like to discuss this and #31 before working on the code.

[2017-03-20 21:02] smoyer64 commented on #30
I was looking at this this morning and noticed that even when you were working as a sole developer, you were using PRs to merge into master.  I think we should continue that behavior and protect master.  The CI system will need to be able to write to master (for tagging and automatically changing the versioning).  As owners, I think you and I will continue to be able to commit directly to master b

[2017-03-21 15:59] nicolaiparlog commented on #30
Ok, branches it is (except for special cases like CI). What about merging? Merge commit or rebase-and-squah? It looks like the JUnit team actually does neither but instead does rebase-and-fast-forward.

[2017-04-02 14:05] jbduncan commented on #39
Am I right to think that TemporaryFolderExtension writes and reads files/directories to and from the physical filesystem?

If so, should we encourage people to use things like jimfs (which does stuff in-memory) instead?

[2017-04-03 10:01] jbduncan commented on #39
I'd understand if it's not practical because people need to migrate existing humongous JUnit 4 tests suites to JUnit 5. :)

[2017-04-20 17:49] smoyer64 commented on #26
It turns out there are a lot of stamps commemorating the Pioneer missions ... I've temporarily added the $0.33 stamp celebrating Pioneer 10 as the logo (because it's square) so I can stop trying to remember which project is which.

[2017-05-03 10:16] nicolaiparlog commented on #30
Oops...

[2017-05-03 12:02] nicolaiparlog commented on #30
I've thought long and hard about this and settled on proposing _squash and merge_. At first this was my least favorite merging strategy because it looses the detail of how the code evolved before being merged. Here's why I'd still like to use it:

* it results in a succinct history
* the average commit message quality can be much higher
* it allows referencing issues and PRs in commit messages wit

[2017-05-03 12:07] nicolaiparlog commented on #31
In #30, [I proposed _squash and merge_](https://github.com/junit-pioneer/junit-pioneer/issues/30#issuecomment-298891508), which leads to having only one commit per PR (and thus usually only one commit per issue) on master. I think that commit should mention issue and PR (to make them easy to find) but no other should (to not create noise).

[2017-05-03 12:26] jbduncan commented on #30
Very reasonable explanation @nicolaiparlog. I struggle to fault this decision, so I approve of it. :+1:

[2017-05-03 14:10] nicolaiparlog commented on #33
@smoyer64 Thanks for opening this issue. Once we settled on something, we should document the decision. I guess the README is the best place for now...

For nullability I assume? My approach would be to apply `@NonNull` (or whatever it's called) to the root package and use `Optional` everywhere else. :wink: Are there any other annotations you'd wan to use?

Yes.

Definitely.

Never used it. I thin

[2017-05-03 14:18] jbduncan commented on #33
@nicolaiparlog That's fair enough (regarding Truth). Consistency with JUnit 5 is a laudable goal, so I'm happy for pioneer to use AssertJ as well.

[2017-05-03 14:54] smoyer64 commented on #30
Sounds good to me ... I guess this also brings up the question of how we should document project policies/conventions.

[2017-05-03 16:15] #31 closed

[2017-05-03 16:40] nicolaiparlog opened #41 "Update CI pipeline to new project location"
When the project was renamed and moved, the CI pipeline broke. As part of this issue the pipeline should be recreated as achieved in #13 (see [this comment](https://github.com/junit-pioneer/junit-pioneer/issues/13#issuecomment-266290166)).

[2017-05-03 16:41] nicolaiparlog commented on #41
I accidentally started working on this when lazily clicking around in Travis web interface - might as well finish what I started.

[2017-05-03 17:29] nicolaiparlog commented on #30
Ok, here's the thing... While trying to get the project to build, I realize that our strong dependency on upstream details (currently most prominently visible in our dependency on snapshot artifacts - something that might be worth a discussion) will require us to often make or rather mimic changes that were made there. I would prefer not to go through the issue-PR-discussion loop every single time

[2017-05-03 18:22] smoyer64 commented on #30
This seems reasonable to me ... I think the difference between use case #2 above and the "normal" use case it whether you leave the PR open long enough for comments to occur.  If you open a PR and immediately merge it, you end up with the documentation but it's clear you didn't expect anyone to issue a code review.  Even in this case, if someone chooses to provide comments on an already merged PR,

[2017-05-03 20:37] #29 closed

[2017-05-03 21:23] nicolaiparlog commented on #27
[Progress](https://oss.sonatype.org/content/repositories/snapshots/org/junit-pioneer/junit-pioneer/1.0-SNAPSHOT/)! 🎉

[2017-05-03 21:34] nicolaiparlog commented on #27
To make sure everything works as planned and to keep this issue open until Sonatype's JIRA issue is closed, this issue is blocked until we actually made a release.

Btw., I just updated Sonatype's issue to include @smoyer64's user name.

[2017-05-03 22:10] nicolaiparlog commented on #41
Judging by the green lights on #42 and the [new snapshots on Sonatype](https://oss.sonatype.org/content/repositories/snapshots/org/junit-pioneer/junit-pioneer/1.0-SNAPSHOT/) (timestamp _Wed May 03 22:08 UTC 2017_), this seems to be working. All that remains is to update the badges...

[2017-05-03 22:23] nicolaiparlog commented on #41
Success! :smiley:

[2017-05-03 22:23] #41 closed

[2017-05-03 22:25] nicolaiparlog commented on #23
Duplicated by #41.

[2017-05-03 22:25] #23 closed

[2017-05-03 22:26] nicolaiparlog commented on #27
@smoyer64 Sonatype just unlocked you, which means you should be able to publish a snapshot with:

    gradle publish -P snapshotRepoPass=<YOUR_MAVEN_PASS>

Could you give this a try and report back?

[2017-05-03 22:29] nicolaiparlog commented on #24
@smoyer64 What is your opinion on this? A or B?

[2017-05-06 11:44] smoyer64 commented on #24
I think I'm going to have to go with the safe and known option (but could live with either)

[2017-05-06 16:59] smoyer64 commented on #27
That's not working ... I'm not a gradle expert (yet?) but it looks like I'd be using my password with the username "nipa" with the current configuration.  In Maven I'd set the username and password in my user-level ```~/.m2/settings.xml``` file so it would never become part of my CLI history and I'm wondering if there's a similar facility in Gradle.

[2017-05-09 13:35] smoyer64 opened #43 "Add existing MockitoExtension prototype"
I'm using the MockitoExtension code in several of my projects but since it's not published anywhere and it's not included in Mockito, I'm copying and pasting it into each project.  The MockitoExtension is currently slated for inclusion in Mockito 3.  Adding the prototype MockitoExtension to Pioneer would provide the following benefits:

1)   Provide a maintained version of MockitoExtension that's

[2017-05-10 14:40] smoyer64 opened #44 "Add a RangeSource annotation for junit-jupiter-params"
See https://github.com/junit-team/junit5/issues/851#issuecomment-300494134

[2017-05-12 16:28] nicolaiparlog commented on #24
Well if you could live with either than I want to do the crazy thing! (Important lesson for our collaboration: Given the choice, I can not be trusted to avoid the crazy one. 😉)

[2017-05-12 16:44] nicolaiparlog opened #46 "Use gradle.properties for login credentials"
Currently `build.gradle` defines the user's password for the Maven snapshot repository as follows:

[code]

This requires the user to enter the password on the command line, which commits it to CLI history. A more sensible way to configure this would be a user-local `gradle.properties` file [as explained here](https://docs.gradle.org/current/userguide/build_environment.html#sec:gradle_properties_a

[2017-05-12 16:44] nicolaiparlog commented on #27
Yes, apparently [there is](https://docs.gradle.org/current/userguide/build_environment.html#sec:gradle_properties_and_system_properties). Good cartch, I'll work on that! Created #46.

[2017-05-12 16:47] nicolaiparlog commented on #43
That's a good idea.

If I remember correctly we wanted to adopt upstream's `@Api` annotation, so I don't think a designated package is necessary. However we decide, since it's not a hard requirement, I'll remove it from the title.

[2017-05-12 17:28] sormuras commented on #43
In case you're referring to `@API` mentioned https://github.com/junit-team/junit5/issues/436 -- we're considering the move that annotation to a top-level project (maybe under the https://github.com/ota4j-team umbrella).

[2017-05-12 18:06] smoyer64 commented on #24
Woo hoo - "I am a wild and crazy guy"

[2017-05-12 18:09] smoyer64 commented on #43
@sormuras - I've been following that issue and intend to adopt @API in UpREST.  Since I'm also planning to move upREST here, I think we'll end up with some nice consistency.

[2017-05-12 18:18] nicolaiparlog commented on #43
@sormuras Yes, that `@API`. Having it in OTA4J would be great!

[2017-05-12 18:21] nicolaiparlog commented on #24
Look at my hair - apparently I need that microrevolution. :wink:

[2017-05-12 18:26] smoyer64 commented on #24
Sorry ... that's a reference that might be a bit old for this crowd ;) - https://www.youtube.com/watch?v=dpFNC7puU2M

[2017-05-12 18:55] nicolaiparlog commented on #24
Indeed. 😂 I had to watch [the next one](https://www.youtube.com/watch?v=YGv6uo89yMY) for the quote, though (or did I miss it in the one you linked?).

[2017-05-12 20:17] smoyer64 commented on #24
Hmm ... I guess I couldn't read their lips as well as I thought (in a meeting with the audio muted).

[2017-05-22 09:00] nicolaiparlog commented on #28
From #13, which set up the CI pipeline comes this comment of mine:

[2017-05-22 09:01] nicolaiparlog commented on #33
@smoyer64 Regarding JaCoCo, I just stumbled upon #28, so I think we should follow up on that there. Assuming you're still fine with limiting ourselves to AssertJ and Mockito, I'd start documenting that.

[2017-05-22 14:06] nicolaiparlog opened #49 "Support random values"
Support use cases for random values, e.g. as parameters (like [this](https://github.com/CodeFX-org/demo-junit-5/blob/master/src/main/java/org/codefx/demo/junit5/RandomProvider.java); inspired by junit-team/junit5#839) or fields or arguments for parameterized tests.

[2017-05-23 11:38] smoyer64 commented on #33
@nicolaiparlog - Dealing with code coverage in #28 is fine.  I'll comment on my experience with JaCoCo in that issue.  More importantly, I'd like to make sure we don't forget about static code analysis and JSR-305 annotations.  I started this issue with that and should have put it in the bullets.  So can we make this issue about AssertJ, Mockito and JSR-305?

[2017-05-23 12:08] nicolaiparlog commented on #33
Oh, indeed I was just looking at the bullets. Yes, we can include JSR 305 but at some point we have to decide how to handle `null`. As I said, I'm in favor of using `Optional` "everywhere" and thus never allowing anything valid to be represented by `null`, which somewhat diminishes the value of annotations related to nullability. But we can discuss that in some separate issue. For now, let's inclu

[2017-05-23 13:01] smoyer64 commented on #33
I agree that all return values should be ```Optional``` if they might not be present.  Annotating these methods with ```@NonNull``` would be repetitive but it also instructs FindBugs to make sure the method *can't* return null.  You'd obviously never annotate a method with anything else (such as ```@CheckForNull```.  I'm of the opinion that parameters shouldn't use ```Optional``` - it just seems t

[2017-05-23 13:22] nicolaiparlog opened #50 "Decide on and maybe include static analysis tool"
Should we use a static analysis tool? Why? If so, which one?

[2017-05-23 13:24] nicolaiparlog commented on #33
I just opened #50 - can you make your argument for a code analysis tool there`

[2017-05-23 13:26] nicolaiparlog opened #51 "Create code style for Optional vs null"
How should the project handle `null` references and which ones should be replaced by `Optional`? Possible distinctions are:

* method return values
* method parameters
* fields

Possible variants could be decided for:

* `public` vs `default` vs `private`
* `static` vs instance
* ... ?

[2017-05-23 13:27] nicolaiparlog commented on #33
And for discussions around `null` I just opened #51.

[2017-05-23 13:48] smoyer64 commented on #50
As a coder, the FindBugs/JSR-305/SpotBugs annotations provide a way to "finish" specifying the contract specified by each method in a class (and sometimes across methods in a class).  In my opinion, adding the annotations is a pretty trivial exercise and does not add a huge tree of dependencies to the project.  I would argue that we run FindBugs (and find-sec-bugs) regardless of whether we add the

[2017-05-23 13:52] jbduncan commented on #51
@nicolaiparlog I think Stephen Colebourne's [blog post](http://blog.joda.org/2015/08/java-se-8-optional-pragmatic-approach.html) on this provides a good, practical compromise between `Optional` and `null`. The main points of the blog are:

1. Use `null`s for method and constructor parameters and fields.
(We'd annotate these with JSR-305's `@Nullable` to have more explicit documentation, and perhap

[2017-05-23 13:55] jbduncan commented on #50
@smoyer64 I believe the JUnit 5 team mainly uses Spotless, but use Checkstyle for one or two small "rules" that Spotless itself does not cover. We might want to go down the same route.

[2017-05-23 13:58] jbduncan commented on #50
Regarding static analysis, I argue that we should at least use [error-prone](http://errorprone.info/), since it catches a bunch of easy-to-mess-up things at compile-time, and in my experience is less likely to report false positives than FindBugs.

[2017-05-23 14:26] smoyer64 commented on #51
@jbduncan I think you've summed up my opinion.  Both the blog posts use a pretty simple POJO/DTO/Bean.  I'm definitely not a fan of:

[code]

If you have a class that actually has business logic, this will generally result in more code than simply dealing with a ```null``` field;

[2017-05-23 14:30] smoyer64 commented on #50
@jbduncan I almost included error-prone as a candidate for a static code analysis tool.  I always use the find-sec-bugs plugin FindBugs - does error-prone have an equivalent?

[2017-05-23 15:02] jbduncan commented on #50
@smoyer64 I don't think so. I believe one can write custom rules for error-prone to check against, but I've absolutely no experience with this.

I can see that security is a valid concern, so I wouldn't be against us using the find-sec-bugs plugin for FindBugs/SpotBugs as well.

[2017-05-23 18:54] nicolaiparlog commented on #51
I have been using my proposed strict approach in small code bases for a while ([example](https://github.com/CodeFX-org/jdeps-wall-of-shame/tree/master/src/main/java/org/codefx/jwos)) and have not observed any averse effects. (Note: Avoiding optionality is still much better than using `Optional` and should always be the first attempt.)

Optional fields and optional parameters usually beget optional

[2017-05-23 20:28] smoyer64 commented on #51
Since you included a begging cat ... I'll think about it (but isn't a $ in the package name enough non-conformity for this week?).  I'd also like to point out that using Optional doesn't eliminate the need for the static code analysis annotations/checking described in #50.  There's nothing that keeps you from returning null from a method who's return type is ```Optional<T>```.

[2017-05-23 20:31] jbduncan commented on #50
P.S. Thank you for indirectly introducing me to SpotBugs. I wasn't aware that the FindBugs project had been slowly experiencing less activity and that people were starting to fork it. Perhaps this means that FindBugs has an interesting future as a static analysis tool. :)

[2017-05-23 20:34] nicolaiparlog commented on #51
Damn, I knew that would come back to bite me!

True. As I see it, we can then indeed put `@NonNullable` (or however that is called exactly) on the root package and have the tool make sure, everything's correct.

[2017-05-23 20:35] jbduncan commented on #50
@nicolaiparlog @smoyer64 If the nullability of things like `Optional`, as discussed in https://github.com/junit-pioneer/junit-pioneer/issues/51, is a concern, then we should consider adopting the Checker Framework, which as you may or may not know enhances Java's type system with `@Nullable` et al. to prevent `NullPointerException`s at compile time. I've personally never used it, but I understand

[2017-05-23 20:38] smoyer64 commented on #51
Fortunately this week will be last week by next week.

[2017-06-13 15:57] jbduncan commented on #50
In summary, I suggest that we use a combination of the following static analysis and formal verification tools:
- error-prone (for catching miscellaneous errors at compile time)
- SpotBugs (for find-sec-bugs and other errors)
- Checker Framework (for null type checks)

I think that using FindBugs/SpotBugs for null analysis is not a very good idea, because according to the [Checker Framework](https

[2017-06-16 09:19] #46 closed

[2017-06-16 09:31] #30 closed

[2017-06-16 11:24] nicolaiparlog opened #53 "Automate release"
As a follow-up to #17, automate some or all of the following checks/steps that need to be made for a release:

* release comes from clean `master`
* no dependency on snapshot versions
* change version by removing `-SNAPSHOT`
* tag that commit as release and later upload all artifacts to GitHub
* go to the next snapshot version and commit the change
* close and release on Sonatype

[2017-06-18 22:34] nicolaiparlog commented on #11
The site is developed in the repo [_junit-pioneer.github.io_](https://github.com/junit-pioneer/junit-pioneer.github.io) (where it acts as an organization site) and a very rudimentary version is online at [junit-pioneer.org](http://junit-pioneer.org/). Filling it with content is not part of this issue, so I will close it.

Requests regarding documentation belong into the _junit-pioneer_ repo (this

[2017-06-18 22:34] #11 closed

[2017-06-19 16:19] smoyer64 commented on #50
@jbduncan - There's going to be some overlap but we should end up with thorough checking that way.  If we pass, clearly the code is "bug-free" (wink wink).

[2017-06-23 10:30] #17 closed

[2017-06-28 14:52] nicolaiparlog commented on #12
This was implemented in a minimal fashion (no separate versions for snapshots and releases) by  junit-pioneer/junit-pioneer.github.io@4947062 (build/include Javadoc) and junit-pioneer/junit-pioneer.github.io@86b2334 (add navigation item).

⚠️ Follow-up issues should be opened in [junit-pioneer.github.io](https://github.com/junit-pioneer/junit-pioneer.github.io/issues]!

[2017-06-28 14:52] #12 closed

[2017-06-28 19:36] nicolaiparlog commented on #25
I'm thinking about taking this issue off [the infrastructure milestone](https://github.com/junit-pioneer/junit-pioneer/milestone/2) because it doesn't seem very urgent. Or did you plan to work on it soon?

Did we even settle on whether we want things like _uprest_ and _weld_ to be submodules (as opposed to stand-alone projects)?

[2017-06-28 20:07] smoyer64 commented on #25
I think your argument was that maintaining one multi-module Gradle project was easier than maintaining one for each project.  I don't know much about Gradle - in Maven I'd make an organizational POM and inherit from that project.

I do expect to get some more work done on upREST after my son's wedding at the end of July but I don't feel an urgency to get it moved right now.  I would like to move i

[2017-06-29 08:41] nicolaiparlog commented on #25
Makes sense but is of course not the only consideration but let's cross this bridge when we come to it.

Ok, then I'll remove the issue from the milestone.

[2017-07-01 13:47] smoyer64 opened #55 "Move JUnit 4 rule extensions from documentation to pioneer"
While working on https://github.com/junit-team/junit5/issues/343, I created extensions in the JUnit 5's documentation project that provide the functions needed to replace the equivalent JUnit 4 rules.  Since the code examples in the documentation project are not "released and production ready", I'm moving them into the vintage sub-package where they can be cared for as well as being released to Ma

[2017-07-02 11:01] smoyer64 commented on #55
@nicolaiparlog I see that you've coded a TimeoutExtension and, in looking at it realized that my analysis in https://github.com/junit-team/junit5/issues/343 was missing a small phrase from the JUnit 4 documentation: "applies the same timeout to all test methods in a class".

Using ```assertTimeoutPreemptively()``` clearly only works for the lambda provided as one of its arguments.  I'd like to pro

[2017-07-02 11:13] nicolaiparlog commented on #55
Having rule related extension in `org.junit$pioneer.vintage.rules` is a great idea.

Re `TimeoutExtension`, I understand you want to reuse it in your rules code (makes sense), which means in whichever package that class ends up it creates a dependency _on_ that package, so either:

* `org.junit$pioneer.vintage` ~> `org.junit$pioneer.vintage.rules` (if we move it)
* `org.junit$pioneer.vintage.rules

[2017-07-02 11:18] nicolaiparlog commented on #55
So far, I neither documented how documentation works (lol; see #19), nor documented `@DisabledOnOS`, but it would be great if you could document your rules extensions in an Asciidoc file in the `docs` folder. I will hurry to document what it should look like so we can get your file into the right format before merging the PR.

[2017-07-02 11:46] smoyer64 commented on #55
Let me mull that over a bit - right now I was focused in finishing the section of the JUnit 5 user's guide that I was working on.  Since the JUnit 5 team has agreed to allow the official users guide to link to pioneer, I've got a bit of rework to do.  (I'm also thinking that showing both the vintage and jupiter ways of doing things might be overkill?

For the rule-related extensions, I was only go

[2017-07-02 11:49] nicolaiparlog commented on #55
We didn't really discuss whether we even want to provide documentation beyond Javadoc, so that's a fair point. I'll start a discussion of this on #19.

[2017-07-02 11:59] nicolaiparlog commented on #19
When working on this I operated on the so far undiscussed assumption that we would like to have documentation beyond Javadoc.

My reason for that is that I just liked the idea of having SEO and social media friendly documentation. Single page documentations (like JUnit 5's) and Javadoc are typically poorly indexed and do not rank very high, making the best documentation harder to find than necessa

[2017-07-02 12:02] nicolaiparlog commented on #19
After writing this, I realize I really like the idea of allowing stubs as it would allow us to get started earlier. So far I've been procrastinating on writing the docs for my disabling extensions but with stubs being ok, I could be done in five minutes.

Btw, whatever we'll decide on, I'll find a place to document it.

[2017-07-02 13:36] smoyer64 commented on #19
Or we could stub the documentation going the other way ... the javadocs
could describe parameters, returns, etc and regret to the asciidocs for a
longer description and examples.  So once you've learned an extension the
javadocs are all you need.

We should probably have a discussion about the disabling extensions as I
have some that overlap.   I started with @EnableIf and @DisableIf with a
predic

[2017-07-02 14:02] nicolaiparlog commented on #1
@smoyer64 [wrote]:

That is excellent! As you can see above (particularly [here](https://github.com/junit-pioneer/junit-pioneer/issues/1#issuecomment-261769658)) I started on the specific end but planned to go that very direction. I did some experiments and also tried to support predicates. I failed to find a way around the fact that you can not define a lambda as an annotation argument and found

[2017-07-02 14:04] nicolaiparlog commented on #1
Just had this idea: An enabled/disabled extension with which you can form Boolean formulas over existing extensions: `@DisabledIf(and(EnabledOnLinux.class, DisabledOnJava9.class))`.

[2017-07-02 14:59] smoyer64 commented on #1
You can't put the code for a lambda in an annotation but you can put the
name of a class that implements predicate ... your example is a bit harder
as a repeatable annotation would effectively be an or (but you're still
using classes to specify the predicates.

On Jul 2, 2017 10:04 AM, "Nicolai Parlog" <notifications@github.com> wrote:

Just had this idea: An enabled/disabled extension with which

[2017-07-06 15:06] smoyer64 commented on #1
@nicolaiparlog I've committed the POC code I had for ```@DisabledIf``` along with a predicate for OS and a meta-annotation (```@DisabledIfOperatingSystemIsLinux```).  This code isn't anywhere near done and it certainly needs some tests written if we decide to go this way but it does allow the user to write new predicates that determine enabling or disabling.  As I noted in the commit, ```@EnableIf

[2017-07-07 05:24] ttddyy commented on #1
Hi @smoyer64

As @sbrannen mentioned, spring already uses `@DisabledIf` annotation.
From user's perspective, it would be nice that annotation names don't collide.
If same names are used, users need to check the import statement for which `@DisabledIf` is used or need to use full package name especially both `@DisabledIf` annotations are used in single file.

So, just IMO for junit-pioneer, naming

[2017-07-07 12:19] sbrannen commented on #1
I'm afraid that multiple projects in this world will come up with an annotation named `@DisabledIf`.

TBH, I tried to come up with a better name for Spring, but in the end I figured `@DisabledIf` was better than something like `@DisabledIfSpel`.

So I think the conflicts are unavoidable.

In any case, it's definitely something to keep in mind.

[2017-07-07 12:22] sbrannen commented on #1
@nicolaiparlog, FYI: there's been a _very simplistic_ PoC for a system property condition [here](https://github.com/junit-team/junit5/blob/6e707fac4c590da8b759a29ca236e1e34c5abd8f/junit-jupiter-engine/src/test/java/org/junit/jupiter/engine/extension/sub/SystemPropertyCondition.java) for quite some time. That also serves as a PoC for an environment variable condition. Of course, I'd come up with a

[2017-07-07 12:25] smoyer64 commented on #1
@ttddyy - I think the name is apropos of its function and don't mind that it collides.  There's a large population of JUnit users that doesn't use Spring and some words are just right - even early versions of the JDK had java.util.Date and java.sql.Date.

I've also got a set of temporal conditions that are tentatively using ```@DisabledBefore```, ```@DisabledAfter``` and ```@DisabledBetween```.

U

[2017-07-07 12:59] sbrannen commented on #1
Yep.... that will be the real challenge!

Because... with SpEL support in Spring's `@EnabledIf`, you can basically implement 90% of the conditions proposed in _this_ issue as one-liners, like [`@EnabledOnMac`](https://github.com/spring-projects/spring-framework/blob/e0de7754cc7138d242ed987d80986f424bff71f5/spring-test/src/test/java/org/springframework/test/context/junit/jupiter/EnabledOnMac.java),

[2017-07-29 21:33] mkobit commented on #1
I wonder if something similar to how `@ParameterizedTest` is structured would be useful here? Then different implementations of _enable if_ and _disable if_ could be implemented by consumers with not too much effort.

Incomplete code below, but would allow for the solution up above (I think) as well as other possible implementations (System property, environment variable, etc.):

[code]

[2017-08-15 07:18] nicolaiparlog commented on #50
Reviving an age old thread... I'm not convinced we need a static analysis tool. If we still want to use one, I'd advise against the stagnant FindBugs and I'm not yet convinced SpotBugs will fare much better. All that being said, it's not a strong opinion, so if anybody feels like adding it to the build, I'll not stand in the way.

[2017-08-15 11:09] sormuras opened #60 "Provide automatic-module-name in JAR manifest"
How about `org.junit-pioneer` ... is minus `-` a valid character in module names?!

Like
[code]

[2017-08-15 11:24] nicolaiparlog commented on #60
Good call about the name. No, `-` wont work (just like in packages), so we'll go with `$` (just like in packages :smiley:)

[2017-08-15 11:27] sormuras commented on #60
Updated the initial snippet to include `$`.

[2017-08-17 07:06] #18 closed

[2017-08-17 07:10] #33 closed

[2017-08-17 07:12] #51 closed

[2017-08-17 07:43] nicolaiparlog commented on #26
I'm tempted to close this. I included the stamp in [the README](https://github.com/junit-pioneer/junit-pioneer#junit-pioneer) and as favicon on the project site and I think it's fine. If someone with more artistic talent comes along to create something more stylish, that would be great but it's hardly a priority at this point.

[2017-08-18 13:12] mkobit commented on #39
Would love to see this one - I constantly finding myself copy and meeting that into my repositories

[2017-08-18 16:58] nicolaiparlog commented on #39
I'm slowly inching towards having all the infrastructure set up, so we can finally start making some releases. Once that's done we can all try to hustle @smoyer64 into working on this. :wink:

[2017-08-18 17:06] mkobit commented on #39
Awesome @nicolaiparlog ! Haven't had a chance yet to really contribute anything here (yet). Let me know if there are any issues you are looking to get help with!

[2017-08-24 19:09] ebd2 opened #62 "Provide AssertionsTestNG to aid migration from TestNG"
JUnit 5 doesn't want this. How about you all?

Original issue and discussion over yonder: https://github.com/junit-team/junit5/issues/1009

[2017-08-25 18:16] #60 closed

[2017-08-25 18:17] smoyer64 commented on #50
I'm a fan so asking me is always going to go towards including these checks.  @jbduncan has also convinced me that I need both SpotBugs and ErrorProne!

[2017-08-25 18:49] smoyer64 commented on #43
Looking at this a little more closely, adding the MockitoExtension to the core junit-pioneer project would violate our "no-dependencies" rule as there are a few Mockito classes that need to be included.  Mockito is specified as a test-scoped dependency so if we're going to do this we'll need a separate project **OR** we'll need to relax that rule.

[2017-08-26 05:57] nicolaiparlog commented on #43
True, I overlooked that as well.

I see a third option: We can [make the dependency `compileOnly`](https://blog.gradle.org/introducing-compile-only-dependencies), so Pioneer would not pull in Mockito but still work with it. Of course this creates the risk that people not using Mockito start using Pioneer's Mockito-related features (thus crashing their test execution), but I think in this case that

[2017-08-26 06:24] nicolaiparlog commented on #62
First thoughts: I like the idea, but share the JUnit team's concerns about maintainability. :smiley:

I saw [this comment of yours in the existing thread](https://github.com/junit-team/junit5/issues/1009#issuecomment-321321319):

I feel like this feature would only be of value if we took the first approach. Not all TestNG assertion methods need to be supported out of the box, but those that are sh

[2017-08-26 10:01] smoyer64 commented on #43
True ... we should also be able to check to see if the needed classes are loaded instead of crashing.

[2017-08-26 11:50] smoyer64 commented on #62
I've never used TestNG myself and my first question would be how big the "market" is for this feature.  Which starts with the related question of why those users chose TestNG over JUnit.  Additional questions are whether JUnit 5 now provides a better test experience and how many of those users are willing to switch their code-bases over to testing with JUnit 5.  If this population is large enough,

[2017-08-26 14:54] smoyer64 commented on #62
@ebd2 - I just found your (closed) [PR](https://github.com/junit-team/junit5/pull/1010) in the JUnit 5 issue tracker.  Let's try to get a clear understanding of what the TestNG community would want/need but when you're ready with an updated revision please submit a PR here (concrete example code will aid the discussion).

Since a quick glance at the code for these utilities don't indicates there a

[2017-08-26 16:44] smoyer64 commented on #26
My artistic skills were eliminated by my Engineering Graphics classes - now I'm all straight lines and right angles.  Let's close it now and anyone with the desire to update the graphics can put in PRs for it.

[2017-08-26 17:00] nicolaiparlog commented on #26
:+1:

Note for posterity: PR #59 added `project-logo.jpg` to [the `docs` folder](docs), from which it is pulled into the site.

[2017-08-29 18:06] ebd2 commented on #62
@smoyer64 and @nicolaiparlog

I'm actually back to school full-time starting in early September, and so I must regretfully say that I am most likely not going to be available to drive this except as time permits.

With that said, a couple thoughts:

I think the "market" for this is projects that are on TestNG, but not deeply invested in customizing TestNG, or aren't making heavy use of e.g. `@Fact

[2017-09-12 19:18] mkobit commented on #1
Related to https://github.com/junit-team/junit5/issues/219 as well.

[2017-09-26 08:53] nicolaiparlog opened #64 "Decide on which JUnit version to depend"
So far, the project depends on JUnit 5's SNAPSHOT versions. This obviously has to be changed for releases, which begs the question whether we always want to use the latest version? Or depend on the minimum required to work? And what about during development - are snapshots the right choice there? Lots of questions... here are some thoughts:

Depending on snapshots during development...

* ... allo

[2017-11-10 16:32] finsterwalder commented on #39
There is already a working TemporaryFolderExtension to start from:
https://github.com/junit-team/junit5/blob/master/platform-tests/src/test/java/org/junit/jupiter/extensions/TempDirectory.java
It might need some brushing up or could probably need some tests, in particular with corner cases.
How could we integrate that into junit-pioneer?

[2017-11-23 01:59] smoyer64 commented on #36
The Weld team is providing JUnit 5 Weld support in the https://github.com/weld/weld-junit project.  See https://github.com/weld/weld-junit/issues/3 for more details.

[2017-11-23 01:59] #36 closed

[2017-12-09 17:41] fduminy commented on #3
I world prefer this solution as it's checked by the compiler :

[code]

[2017-12-31 16:20] jbduncan commented on #28
@nicolaiparlog Clover is now open source (http://openclover.org/)!

[2018-01-22 09:14] sormuras commented on #1
For the record and some-what related to this initial pioneer issue: there's a new label for "pioneer" ideas at https://github.com/junit-team/junit5/issues?q=is%3Aissue+is%3Aopen+label%3A%223rd-party%3A+pioneer%22 -- tagging issues that may be interesting for @junit-pioneer

[2018-01-31 09:20] jbduncan opened #65 "Introduce JUnit Jupiter variant of Guava's Collection Test Suite Builders"
See https://github.com/google/guava/issues/3039 for more info, where I started the conversation. :)

[2018-01-31 09:22] jbduncan commented on #65
I wonder if this would an area of interest to you @nicolaiparlog, considering that you've [blogged](https://blog.codefx.org/techniques/testing/test-collection-implementations-with-guava/) about Guava's collection suite builders in the past?

[2018-03-13 00:12] jbduncan commented on #65
I've actually been starting to work on this in my own as-of-yet unpublished project, but I'm wondering now if it's worth trying to merge my efforts into junit-pioneer, as opposed to starting my own distinct open source project.

@nicolaiparlog WDYT?

[2018-04-25 10:54] nicolaiparlog commented on #27
@smoyer64 Could you give publishing a snapshot another try?

[2018-04-25 12:59] nicolaiparlog commented on #19
I just created #66 to document the only existing, not superseded feature: An adaption of JUnit 4's `@Test` annotation.

At the same time I'm working on the last blockers for the documentation (code highlighting doesn't work yet, but will soon), so this issue and discussion is coming to a close soon unless someone speaks up against my proposal.  :neckbeard:

[2018-04-25 13:34] nicolaiparlog commented on #1
@sormuras Can you take a look at my initial bullet point list and tell us which ideas Jupiter already ~~stole~~ implemented. :wink:

[2018-04-25 13:36] nicolaiparlog commented on #3
@sormuras This is pretty much covered by the JS inlining in conditions, right?

[2018-04-25 13:37] nicolaiparlog commented on #22
I will tackle this next and take the opportunity to edit the code formatter where I don't like it (rejoining lines; `} else` on different lines).

[2018-04-25 15:09] jbduncan commented on #22
@nicolaiparlog Sounds good to me! Glad to see this being tackled now. :)

[2018-04-25 15:14] sbrannen commented on #3
I'm not @sormuras, but... yeah... "generic" condition support is basically covered by the scripting support in `@EnabledIf` and `@DisabledIf` introduced in JUnit Jupiter 5.1. 😉

[2018-04-25 16:26] sbrannen commented on #1
I'm not @sormuras, but I'll update this issue's description to check off what's already covered. 😉

[2018-04-25 16:29] sbrannen commented on #1
done

[2018-04-28 19:06] sormuras opened #67 "Include and maintain `junit5-jupiter-extension` samples"
The @junit-team is show-casing some simple Jupiter extension samples at https://github.com/junit-team/junit5-samples/tree/master/junit5-jupiter-extensions Sometimes people ask for binary distributions of these examples to use them in their projects. Offering such binaries contradicts the purpose of the `junit5-samples` project: it shows simple and basic extension examples in source format.

I prop

[2018-05-02 05:30] nicolaiparlog commented on #27
Right, I didn't think of that. Let's change that when we have to.

[2018-05-02 05:35] nicolaiparlog commented on #3
If they clamor, they need to express themselves by opening a new issue. :wink:

[2018-05-02 05:35] #3 closed

[2018-05-02 05:39] nicolaiparlog commented on #1
@sbrannen: Thank you for the input. :smiley_cat:

@all: From the three unchecked ones, I consider each fair game, particularly `@DisabledUntil`. If anyone wants to tackle these, feel free to do so.

[2018-05-02 05:42] nicolaiparlog commented on #67
Yes. :wink:

Can you create a separate issue for each feature and give me two days to comment on them? I also had some ideas regarding randomization and would like to discuss them.

[2018-05-02 08:41] nicolaiparlog commented on #19
Behold, for we have [external documentation](http://junit-pioneer.org/docs/).

[2018-05-02 08:41] #19 closed

[2018-05-02 08:44] nicolaiparlog commented on #67
Oh, look at #49.

[2018-05-02 11:41] jbduncan commented on #65
@nicolaiparlog Thanks for getting back!

I actually went and semi-published my own project a few days ago (https://github.com/jbduncan/jupiter-collection-testers). It's not ready yet, for there's no documentation yet, and only `List#add(Object)` and `List#add(int, Object)` can be tested (or partially tested) so far. But I'd love to receive feedback!

[2018-05-02 11:42] jbduncan commented on #65
...and issues and PRs, for that matter. :)

[2018-05-02 13:11] smoyer64 commented on #1
@nicolaiparlog The conditional disabling of tests was something we were both working in before joining forces - there's a @DisableRest in the portion of selesy/junit-extension I had asked you to review a while ago (https://github.com/selesy/junit5-extensions/tree/develop/junit5-extensions-disable-rest-extension/src/main/java/com/selesy/testing/junit5/extensions/disable/rest).  Will this satisfy th

[2018-05-02 13:25] smoyer64 commented on #65
@jbduncan That's the first example of a kotlin build script I've seen in the wild.  I've read a bit about it but (being a Maven person) haven't actually tried it on anything.  What are you impressions?

[2018-05-02 13:49] sormuras commented on #49
And/or as a simple `ParameterResolver` [implementation](
https://github.com/junit-team/junit5-samples/blob/master/junit5-jupiter-extensions/src/main/java/com/example/random/RandomParametersExtension.java) show-cased by the _junit5-sample_:

Usage could look like:
[code]

[2018-05-02 13:51] sormuras commented on #67
Yay, one done. Will create a new issue for the `@CartesianProductTest` building on the `@TestTemplate` feature.

[2018-05-02 13:54] sormuras opened #68 "@CartesianProductTest extension"
## Overview

Provide a similar, but complete and fleshed-out, extension that provides a `@CartesianProductTest` annotation implemention.

### Usage outline

[code]

### Implementation idea

https://github.com/junit-team/junit5-samples/tree/master/junit5-jupiter-extensions/src/main/java/com/example/cartesian

### Todos

- [ ] Copy sources from `junit5-jupiter-extensions` and adopt to pioneers' (pac

[2018-05-02 14:45] marcphilipp commented on #1
In the Javascript frameworks I‘ve used that‘s usually called `only`.

[2018-05-02 15:17] jbduncan commented on #65
@smoyer64 The first Kotlin build script example I personally saw in the wild was over at https://github.com/tbroyer/gradle-errorprone-plugin. :)

On one hand, I find it's a PITA to find documentation for the Gradle Kotlin DSL. The only good reference I've found so far is https://github.com/gradle/kotlin-dsl/tree/master/samples, and sadly it doesn't cover everything.

On the other hand, it's forced

[2018-05-05 11:15] marcphilipp commented on #39
@smoyer64 If it's okay with you, I'd like to start working on this one.

[2018-05-05 11:31] smoyer64 commented on #39
SGTM

[2018-05-05 14:16] marcphilipp commented on #39
I actually rewrote it and submitted a PR. Looking forward to your feedback on #69. 🙂

Not sure about that one, yet. It would work, but we probably don't need it. 😉

[2018-05-08 08:35] nicolaiparlog commented on #64
Here are the ideas I alluded to over half a year ago.

## First try

The solution that I find the most compelling is this one:

* during development (i.e. `master` branch) depend on the most recent snapshots
* before each release, determine the minimum required JUnit 5 version and release against that

This gives us the chance to work with the latest and greatest and also gives JUnit 5 an addition

[2018-05-08 08:38] nicolaiparlog commented on #65
@jbduncan Does your work on your own project mean that you no longer consider adding this to Pioneer? That would be a little sad for us :cry:, but if so, this issue can be closed.

While I would love to take a closer look at your implementation, I'm afraid it would require a freak accident for an opening in my calendar that allows for that, so don't hold your breath. Sorry. :frowning_face:

[2018-05-08 08:40] nicolaiparlog commented on #39
For the record: Great that this is making progress, thanks @marcphilipp! :+1:

[2018-05-08 08:44] nipafx opened #71 "Create annotation that disables all other tests"
#1 contained this idea:

I'm no longer sure why I started working on `@DisableOthers`, `@DisableRest`, or `@EnableOnly` (whatever you want to call it): there seems to be little use for it since IDEs make it easy to run a single tests. Maybe for building from the command line? What other use cases could there be?

But we're here for experimentation, so any half-way believable use case is fine with

[2018-05-08 08:46] nicolaiparlog commented on #1
Opened #71 for `@DisableOthers`/`@DisableRest`/`@EnableOnly`/whatever.

[2018-05-08 08:49] nicolaiparlog commented on #49
My personal opinion is that however this is implemented, it should be possible to repeat the tests with the same random values. That makes it necessary:

* to have a deterministic entry point that spits out the seed value that is used
* to allow configuration of that entry point to pass the seed to it

As far as I see it (and as long as JUnit does not randomize test order), the only challenge for

[2018-05-08 08:51] nicolaiparlog commented on #67
Can you add a list of features to the issue description and check them off as soon as you created an issue? That makes it easier to track how far this issue here progressed.

[2018-05-08 08:54] sormuras commented on #67
Sure.

Closing this "umbrella" issue as all (two) `junit5-jupiter-extensions` samples are covered by their own issues now. #49 and #68. The latter one will receive some bullet points soon.

[2018-05-08 08:54] #67 closed

[2018-05-08 08:57] marcphilipp commented on #64
I would argue for keeping things simple until there's a real need for making them complicated, i.e. introducing different branches for different versions etc. The JUnit team is committed to keeping things backward compatible so there should be no reason for end users not to use the latest version at all times. However, I can see a point in requiring only the minimum version needed for pioneer. I t

[2018-05-08 09:00] nicolaiparlog commented on #64
Agreed.

But that means no work can be done in Pioneer that depends on unreleased JUnit 5 features / extension points. That qualified as my "real need", but if others don't see it like that, I'm fine with depending on released versions only - surely makes things simpler.

[2018-05-08 09:03] marcphilipp commented on #64
I think work that depends on unreleased features should be done in a branch that uses the unreleased version. This way, `master` would always be in a releasable state.

[2018-05-08 09:08] sormuras commented on #49
`@Random(seed = 123)` should suffice. When running with the default `@Random` it could be reported via the [TestReporter](https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/TestReporter.html) facility.

https://github.com/junit-team/junit5/issues/13 is still open...

[2018-05-08 09:48] nicolaiparlog commented on #64
I considered that, too, and I think it is worth making a full proposal out of it.

## Shadow master

I guess there would be one "shadow master" with all the "unreleasable" features, right? CI would have to build that branch, but that's simple. Then all PRs go onto `master` and as soon as one needs a newer released version of 5 `master` can be upgraded to it.

As soon as a new 5 gets released, all

[2018-05-08 18:00] jbduncan commented on #65
@nicolaiparlog Yeah, sadly I'm no longer considering adding my own project to Pioneer, mainly because of the amount of effort I've put into it thus far, and also because I want to use it as a platform for experimenting with tools like Refaster. :(

I eventually intend to link it in https://github.com/junit-team/junit5/wiki/Third-party-Extensions, so it can stand side-by-side with JUnit Pioneer and

[2018-05-08 18:00] #65 closed

[2018-05-09 07:32] nicolaiparlog commented on #65
Godspeed, then, and I hope to read from you again. :smiley:

[2018-05-09 16:11] sbrannen commented on #64
I agree with @marcphilipp: I don't see any need to make things unnecessarily complicated just for the sake of it.

Let's just stick with `master` using the latest GA releases of JUnit 5.x, have a separate build against latest snapshots (as a "heads up" for potentially upcoming incompatibilities), and only build new features against snapshots if absolutely necessary (i.e., in feature dedicated feat

[2018-05-09 17:01] marcphilipp opened #72 "Change license to EPL v2.0"
The JUnit team has released JUnit 5 under EPL v2.0 which came out just in time for the first GA release (cf. https://github.com/junit-team/junit5/issues/1045).

AFAIK Pioneer picked EPL v1.0 because of JUnit. Thus, it would make sense to follow JUnit's lead and "upgrade" to EPL v2.0. That would make it a no brainer to move code between the two projects.

@smoyer64 @nicolaiparlog If you agree, I ca

[2018-05-09 17:11] marcphilipp opened #73 "Upgrade to JUnit 5.1.1"
Among other things, 5.1.1 contains crucial improvements for extension authors:

- New methods to query annotations on constructor/method parameters (to workaround a JDK bug) to `ExtensionContext`
- Introduction of `CloseableResource` which makes implementing extensions like `TempDirectory` (#39) a lot simpler.

Thus, we should upgrade to 5.1.1 as the minimum required version.

[2018-05-09 17:13] marcphilipp opened #74 "Configure logging"
JUnit uses JUL as its logging framework. When testing extensions, we often need to check for error cases that sometimes produce quite verbose console output when running the Gradle build. Thus, we should add the necessary dependencies to redirect JUL to log4j2 and add a basic log4j config file.

[2018-05-11 12:32] sbrannen commented on #73
I vote that we skip 5.1.x and go straight to 5.2.

[2018-05-11 12:40] sbrannen commented on #72
I'd say that is actually essential to allow us to move code between the two projects.

In other words, having different licenses is in some ways a blocker for the success of Pioneer.

[2018-05-11 12:41] sbrannen commented on #74
We'll probably want to copy over the `@TrackLogRecords` support as well, but's that _blocked_ by #72.

[2018-05-11 12:49] smoyer64 commented on #72
Yes ... I think that's the intent.  Provide a place where community contributions could live and (possibly) mature into parts of the core JUnit 5 project.

[2018-05-11 15:21] smoyer64 commented on #64
@nicolaiparlog If I'm reading your "Shadow Master" paragraph correctly, that would only be required for new features that rely on Jupiter features that haven't been released yet right?

I'm far enough behind that I just need to get the extensions that I have moved over into Pioneer ... do you have any features that rely on > 5.2.0 at the moment?  (I have great plans for ScenariosTheories/Ordered t

[2018-05-12 10:36] marcphilipp opened #75 "Use Gradle's built-in JUnit Platform support instead of deprecated custom plugin"
Instead of using the now deprecated junit-platform-gradle-plugin, we should use Gradle's native JUnit Platform support for executing tests.

[2018-05-12 11:11] marcphilipp opened #77 "Move TriggerTravisTask from build.gradle to buildSrc"
It's a recommended practice to separate task declaration in the build script from task implementation. Gradle provides a convention based mechanism for this purpose: the [`buildSrc` project](https://docs.gradle.org/current/userguide/organizing_build_logic.html#sec:build_sources). Thus, we should adopt this approach to remove the Groovy code from the build script. Besides the considerable simplific

[2018-05-15 07:50] nicolaiparlog commented on #72
I agree that the license should be upgraded. Does that change need explicit agreement by all committers? If so, judging by the fact that the opened the issue, I guess @marcphilipp is fine with it and I am, too. I will just assume @smoyer64 agrees as well (can you tell us explicitly, though?) and will prepare a PR soon.

[2018-05-15 07:52] nicolaiparlog commented on #73
Over in #64 we seem to agree that depending on the oldest release that supports all extensions is the way to go. With that in mind, I prefer 5.1.1.

[2018-05-15 07:53] nicolaiparlog commented on #74
LGTM

[2018-05-15 07:57] #75 closed

[2018-05-15 07:59] sormuras commented on #73
+1 for 5.2

The bug-fixes and improvements are worth it. https://junit.org/junit5/docs/snapshot/release-notes/index.html#release-notes-5.2.0

[2018-05-15 08:08] nicolaiparlog opened #79 "No longer mention issue and PR numbers in commit title"
The [current contribution guidelines](https://github.com/junit-pioneer/junit-pioneer/blob/master/CONTRIBUTING.md#merging) define the following outline for commit messages, where the first line (let's call it "title") has an ideal length of 50 characters, with a maximum of 70:

[code]

Mentioning issue and pull request numbers in the title has the advantage of making them very visible, for example

[2018-05-15 08:16] sormuras commented on #79
70? [**2 8 0 !**](https://blog.twitter.com/official/en_us/topics/product/2017/tweetingmadeeasier.html)

Your proposal looks good to me.

[2018-05-15 10:14] smoyer64 commented on #72
@nicolaiparlog I agree

[2018-05-15 12:47] sbrannen commented on #79
I agree, but let's also use prefixes for the issue and PR numbers -- for example:

[code]

Where "Issue" can be:

- Issue
- Issues
- Fixes
- Closes

[2018-05-15 14:14] nicolaiparlog commented on #72
Yes, Spotless does that.

[2018-05-15 15:52] manueljordan opened #81 "Consier add API for Stress Testing"
I had the following idea or mostly request,  and for suggestion of Sam Brannen I arrived here:

And according with the [About the Project](http://junit-pioneer.org/junit-pioneer/) page, it contains:

Just curious, I want to know if has sense for `JUnit 5` ask for or suggest a new feature:

API to simulate and have automatization for _stress testing_ for some common scenarios:

* Network
* Database

[2018-05-15 19:18] marcphilipp commented on #72
Done in #80.

[2018-05-15 19:18] #72 closed

[2018-05-15 19:28] marcphilipp commented on #73
I went ahead and created a PR for 5.1.1 as we can always update to 5.2 later.

[2018-05-15 19:58] marcphilipp opened #83 "Simplify Gradle publishing configuration"
Currently, the build script defines two Maven repositories in the `publishing` block which leads to Gradle creating two publishing tasks:

https://github.com/junit-pioneer/junit-pioneer/blob/9ada30b5ce06d5dd9fc1793a11dd665aa80f8268/build.gradle#L260-L277

The build script then takes extra care to disable the `publish` lifecycle task (because it would attempt to publish to both) and only enable the

[2018-05-15 21:01] nicolaiparlog commented on #83
Yes, please!

Btw, I love your work on `build.gradle`. It's my first Gradle build file and I think it shows. :wink: If you're done with this, maybe you can tackle [this obscenity](https://github.com/junit-pioneer/junit-pioneer/blob/master/build.gradle#L223-L257). :blush:

[2018-05-15 21:10] marcphilipp commented on #83
I gladly will but that requires Gradle 4.8 which introduces a new [DSL to customize the POM](https://docs.gradle.org/4.8-rc-1/userguide/publishing_maven.html#sec:modifying_the_generated_pom) which I also have been working on. 😉

[2018-05-16 11:44] nicolaiparlog commented on #79
@sbrannen Are the replacements for "Issue" meant to be GitHub keywords? If so, we have to get rid of the colon, don't we?

[2018-05-16 12:03] nicolaiparlog commented on #79
I just looked over the [list of commits](https://github.com/junit-pioneer/junit-pioneer/commits/master) and I have to say, I really like what I see: the issue and PR numbers out in the open. Are we sure we want to give that up?

Since I seem to be the only one thinking "No" and ... team ... democracy ... yadda yadda yadda :wink: ... check #86.

[2018-05-16 12:08] nicolaiparlog commented on #81
We are the experts on JUnit 5 and Pioneer, but you are the expert on your use case. :wink: Can you describe in a little more detail what exactly Pioneer could do here? Maybe you can give an example of what such a test would ideally look like with regards to setup, execution, and assertion.

I have no experience with stress tests, but I could imagine that a user might want to specify an action, the

[2018-05-16 12:10] nicolaiparlog commented on #83
That would be awesome. In the meantime, feel free to work on this. :)

[2018-05-17 15:46] marcphilipp commented on #81
Have you tried [Gatling](https://gatling.io/)?

[2018-05-17 17:45] manueljordan commented on #81
Thanks for the valuable link. No never, I will do a research. Thank you.

[2018-05-17 18:11] #73 closed

[2018-05-17 18:43] marcphilipp opened #87 "Use ShipKit to release continuously"
The Mockito project has written [Shipkit](https://github.com/mockito/shipkit), a Gradle plugin to release with every commit to `master`.

From the readme:

I think we should seriously consider using it.

It looks like it currently only supports Bintray, though. @mockitoguy Is that correct?

Thoughts?

[2018-05-17 18:50] marcphilipp commented on #24
While the `$` looks very courageous, it might confuse people and tools.

I agree with what @jbduncan wrote:

I think we should listen to our users (when they share my opinion anyway)... 😉

@nicolaiparlog Would you be offended if we reopened this issue to discuss?

[2018-05-17 20:35] #26 closed

[2018-05-18 07:57] nicolaiparlog commented on #81
@manueljordan See, some expert showed up to help you. :wink: If your research shows that you don't need JUnit Pioneer to help you out, please remember to close this issue.

[2018-05-18 08:05] nicolaiparlog commented on #87
That sounds great (and would fix #53), but releasing every commit? Phew, I'm not sure whether I'm up to that. I mean, are we sure our code (and tests) are good enough, that every merged PR hits home? I know they technically _should_, but _will_ they?

We're still before `1.0`, so stability requirements are lower - we could just give it a try and observe. Although without users (that I know of), we

[2018-05-18 13:47] mkobit commented on #24
FWIW I was confused by the `$` in the package name in https://github.com/junit-pioneer/junit-pioneer/pull/63#issuecomment-331030489

[2018-05-18 15:52] sbrannen commented on #24
As we all know, naming things is one of the hardest tasks in computer science.

But in any case, usability and utility should take precedence over coolness/craziness whenever selecting a name.

In particular, the package name and automatic module name should follow the guidelines of the specifications as well as conventional wisdom (and common expectations).

The inclusion of a `$` in both of thos

[2018-05-18 20:11] manueljordan commented on #81
Thank you.

Even when exists the tool and is not free and is only for web development. Consider again the case to test the uses cases in the server side directly calling either a `@Service` or `@Repository`.

Just curious if is possible add the feature requested to this software.

I will do a research this weekend about `Gatling`

[2018-05-20 15:06] sbrannen commented on #79
Jein ("yes & no" for non-German speakers). 😉

It's a mix. See explanation here: https://github.com/junit-pioneer/junit-pioneer/pull/86#issuecomment-390488419

Nope. GitHub has no problem with the colon.

[2018-06-04 06:13] #39 closed

[2018-06-04 06:29] #79 closed

[2018-06-04 06:34] nicolaiparlog commented on #37
@smoyer64 This can be closed, right? If you want to work `@DisableRest` (or `only` or `other` or whatever :wink:), you can open a new issue for it.

[2018-06-04 06:43] nicolaiparlog commented on #37
Oh, look at that: #71

[2018-06-04 08:05] nicolaiparlog commented on #24
# Confusion

I would not follow conventional wisdom and common expectations if they don't add any value (on their own). And unless confusion makes it more likely that you make a mistake, I don't think it's a good argument. Many things are confusing until you get used to them (`method::references` anyone?).

# Specification

That counts! I agree that `junit$pioneer`'s deviation from the specificati

[2018-06-04 08:05] nicolaiparlog commented on #24
PS: Btw, I'm sure the public will back up the removal of `$`, so I don't have high hopes. :wink:

[2018-06-04 12:10] sbrannen commented on #24
I also considered publishing a poll on Twitter.

So.... yep.... let's see how people vote.

[2018-06-04 15:26] smoyer64 commented on #71
See my POC at https://github.com/selesy/junit5-extensions/blob/develop/junit5-extensions-disable-rest-extension/src/main/java/com/selesy/testing/junit5/extensions/disable/rest/DisableRestExtension.java - is there anything of worth in there?

[2018-06-04 15:35] smoyer64 commented on #24
@nicolaiparlog

IIRC (from our original discussion), I've admitted that I don't like names just appended together ... perhaps I'm old and my eyes just don't pick the words out as well?  But I don't like _ either so I specifically stated that  I didn't have a preference between those two separators.

My first choice would still be org.junit-pioneer (but dashes aren't allowed but this should still b

[2018-06-04 19:23] #83 closed

[2018-06-05 07:38] nicolaiparlog commented on #24
All the tools I use work fine for my use cases: IntelliJ, Gradle, JUnit, Mockito, javac, jar, java, javadoc...

[2018-06-06 00:59] mockitoguy commented on #87
Yes, correct. Is this a problem? Bintray is a great repo, very easy to use. We release to Maven Central via Bintray.

In Shipkit we want to support releasing directly to Sonatype. We haven't implemented it yet due to other priorities. It would be great if you tried out Shipkit!

It's a great forcing function. Your tests will have to be great. I absolutely recommend this model.

[2018-06-06 07:50] nicolaiparlog commented on #87
I can see up- and downsides and end up with not having a strong opinion either way. Everybody else (who chimed in) seems to think this is worth a try, so if nobody speaks up against this soon, we should do it.

[2018-06-16 10:12] Siedlerchr opened #89 "Confusing snapshots old 1.0.0.-Snapshot from 2017 vs 0.1-Snapshot from 2018"
Hi,

I noticed that the current Sonatype repository is confusing.
https://oss.sonatype.org/content/repositories/snapshots/org/junit-pioneer/junit-pioneer/

There is a version 1.0.0-Snapshot avaiable, which obviously has a greater version number as 0.1-Snapshot but an older date.  And there's even an older 0.001 version.
This is confusing for a lot of dependency update checker tools. I would propos

[2018-06-17 06:48] nicolaiparlog commented on #89
Thanks for pointing that out. :+1: Done.

[2018-06-17 06:48] #89 closed

[2018-06-24 11:21] marcphilipp commented on #87
First step:
https://github.com/junit-pioneer/junit-pioneer/commit/64afd4fd50c9f26019f5d3f881d1c31720668b4f

### Next steps:

- [ ] [Setup Bintray](https://blog.bintray.com/2014/02/11/bintray-as-pain-free-gateway-to-maven-central/)
- [ ] [Resolve TODOs in `gradle/shipkit.gradle`](https://github.com/mockito/shipkit/blob/master/docs/getting-started.md#shipkitgradle-configuration-file)
- [ ] [Setup Tr

[2018-06-28 07:40] nicolaiparlog commented on #87
Thanks @marcphilipp, for the lazy-friendly guide. :smiley: Of course, I'm not giving anybody my private GPG key, so I'll configure it to use Bintray's keypair (see **Update** in [this post](https://blog.bintray.com/2013/08/06/fight-crime-with-gpg/)). Could that be a problem?

[2018-06-28 08:19] nicolaiparlog commented on #87
I think, I've set everything up. Couple of things:

* It's not clear to me how Travis signs into Bintray - do we have to add credentials as environment variables?
* If anybody wants to become a member of the JUnit Pioneer organization on Bintray, tell me your Bintray username.
* @marcphilipp: Please have a look at [`CONTRIBUTING.md`](https://github.com/junit-pioneer/junit-pioneer/blob/master/CONTR

[2018-06-28 08:22] sormuras commented on #87
Yes. Generate user and pass/key tokens at Bintray and use them like:
https://github.com/sormuras/bartholdy/blob/master/gradle/shipkit.gradle#L12-L13

[2018-06-28 08:29] sormuras commented on #87
Caveat: before activating Shipkit we should wait until https://github.com/mockito/shipkit/issues/727 is fixed -- as we are running on Gradle 4.8

[2018-06-28 08:42] nicolaiparlog commented on #24
The [results](https://twitter.com/nipafx/status/1003547161248845824) are in:

Interestingly enough, even though I explicitly asked for this, none of the 60 people who thought `$` would cause trouble could add any concrete example of where it might.

But be that as it may, I'm not one to push through something as unimportant as a name. So what's it gonna be, `org.junitpioneer` or `org.junit_pioneer

[2018-06-28 08:43] sormuras commented on #24
`org.junitpioneer` +1

[2018-06-28 19:06] sbrannen commented on #24
`org.junitpioneer` +1

[2018-06-29 05:54] nicolaiparlog commented on #87
Thanks @sormuras, I just made my user name and API key available as environment variables `BINTRAY_USER_NAME` and `BINTRAY_API_KEY`.

[2018-06-29 05:55] nicolaiparlog commented on #24
Now you're just trolling me. :rofl:

@smoyer64: I let you have the last word and then prepare a PR with the new package name.

[2018-07-01 09:57] marcphilipp commented on #87
I've updated `CONTRIBUTING.md` in the branch.

@sormuras Since you've set it up successfully for [bartholdy](https://github.com/sormuras/bartholdy), could you take it from here?

[2018-07-02 16:35] smoyer64 commented on #24
Thanks (I guess) ... you're letting me be the bad guy?  After stating that I didn't care?

I hate underscores in package names, so I vote that Java 11 allows dashes in package names.

[2018-07-03 07:32] #64 closed

[2018-07-03 08:20] nicolaiparlog commented on #53
Assuming we use ShipKit as proposed in #87, what else needs to be done for a proper release?

* We got [the site](https://junit-pioneer.org) up and running.
* It includes [high-level documentation](https://junit-pioneer.org/docs/) and [JavaDoc](https://junit-pioneer.org/api/) - I wonder whether we have to version these?

Did I miss anything?

[2018-07-03 08:36] sormuras commented on #53
I'll compare the assets I configured/installed for bartholdy to find out what's missing.

Note: using javadoc.io ( like https://javadoc.io/doc/de.sormuras/bartholdy ) offers users versioned API docs for granted. Thus, showing only the latest API at https://junit-pioneer.org/api/ is fine with me.

[2018-07-03 08:59] nicolaiparlog opened #92 "Link to javadoc.io"
We are only hosting [current JavaDoc on junit-pioneer.org](https://junit-pioneer.org/api/). Fortunately, we don't need to add versions and can use [javadoc.io](https://javadoc.io) for that (like [Bartholdy does](https://javadoc.io/doc/de.sormuras/bartholdy). We should add a link to it, though.

[2018-07-03 09:00] nicolaiparlog commented on #53
Neat and as far as I see it, we don't need to do anything, right? I will include a link to it somewhere... see #92.

[2018-07-03 09:03] sormuras commented on #53
Just release to "central.maven.org". The javadoc jars are picked up from there. For details see: https://javadoc.io

[2018-07-03 11:20] sormuras commented on #87
**Add to JCenter** is missing: https://bintray.com/junit-pioneer/junit-pioneer/junit-pioneer

![image](https://user-images.githubusercontent.com/2319838/42216896-a779d1e0-7ec3-11e8-886d-8cce1f0f53f1.png)

[2018-07-04 05:17] nicolaiparlog commented on #87
Mmh, I'm sure I've tried that but got an error because we don't have any versions yet. Just tried it again, this time checking the box that we want to host snapshot build artifacts at https://oss.jfrog.org, and the request went out.

Re trying this out, I'm fine with you force pushing "the same commit" to master over and over while trying to get this to work as long as you use `--force-with-lease`

[2018-07-04 11:30] nicolaiparlog commented on #87
My request "to include [my] package /junit-pioneer/junit-pioneer/junit-pioneer in Bintray's JCenter has been approved."

[2018-07-04 11:41] sormuras commented on #87
Fine. Almost clear to go. Will look into the branch tonight.

[2018-07-04 11:46] sormuras commented on #87
The CI enviroment (Travis CI, I guess) needs similar secret tokens:

https://travis-ci.com/sormuras/bartholdy/jobs/132547102#L429
[code]

See https://github.com/mockito/shipkit/blob/master/docs/getting-started.md#shipkitgradle-configuration-file

[2018-07-09 10:29] sormuras commented on #87
_in progress_...

[2018-07-09 20:00] JLLeitschuh opened #95 "Publish non SNAPSHOT release"
I'm totally happy if you make API breaking changes in the future. But I'd love to be able to utilize the `@TempDirectory` annotation in my tests and I can't do that if this project keeps re-publishing over the same snapshot version.

[2018-07-10 06:39] nicolaiparlog commented on #95
Hi Jonathan, thanks for reporting. We're currently working on our release setup (see #87) and plan to have a first non-snapshot release soon. I will close this issue, but in the unlikely case that we didn't deliver, feel free to reopen it.

[2018-07-10 06:39] #95 closed

[2018-07-10 06:58] sormuras commented on #87
Proposed commit message:

[code]

[2018-07-10 08:28] sormuras commented on #87
`[performRelease] > Could not sync 'junit-pioneer/junit-pioneer/junit-pioneer/0.1.0' to Maven Central: HTTP/1.1 400 Bad Request [status:Sync Failed, messages:[Authentication failed.]]`

Needs some token love.

[2018-07-10 16:51] JLLeitschuh commented on #95
For now, hard coding the snapshot version works for me:
[code]

[2018-07-11 11:22] sormuras commented on #87
### Bintray

https://dl.bintray.com/junit-pioneer/junit-pioneer/org/junit-pioneer/junit-pioneer/ `0.1.2` ✔️

### JCenter

https://jcenter.bintray.com/org/junit-pioneer/junit-pioneer/ `0.1.2` ✔️

### Maven Central

_Sync in progress..._

http://central.maven.org/maven2/org/junit-pioneer/ *[404 Not Found]*

[2018-07-11 11:34] sormuras opened #96 "Build script clean-up"
Collection of various issues that need to be addressed:

1. Merge `./.infra/gradle/` into `./gradle/` -- why is the gradle-wrapper not in the default place anyway? Makes importing the project via the default wizards in IDEA impossible.
2. Use single source `pom.xml`: Shipkit generates one from project properties vs. `build.gradle` contains an obsolete(?) one.
3. Shipkit generates `./docs/release-n

[2018-07-11 11:36] sormuras commented on #87
Sync completed.

Now every commit to `master` is released and published.

[2018-07-11 11:36] #87 closed

[2018-07-11 11:39] sormuras commented on #95
Try version `0.1.2` now. It's available from `central.maven`.

[2018-07-11 11:40] sormuras commented on #53
Looks `Closeable` now, as #87 is integrated.

[2018-07-11 16:07] JLLeitschuh commented on #95
Seems to work. Thanks @sormuras !!

[2018-07-12 03:32] mockitoguy commented on #87
Fantastic!!! Thank you for using Shipkit!

[2018-07-12 08:24] nicolaiparlog commented on #53
:+1:

[2018-07-12 08:24] #53 closed

[2018-07-12 08:47] nicolaiparlog opened #97 "Publish release notes"
Shipkit generates release notes in `./docs/release-notes.md`. We should look into publishing them, maybe after manual editing, on junit-pioneer.org. This could be non-trivial because we're currently working with Asciidoc files and I have no idea how Jekyll reacts to mixing Markdown and Asciidoc and neither do I know whether it would be possible to have Shipkit generate Asciidoc.

[2018-07-12 08:47] nicolaiparlog commented on #96
Re:

1. GitHub, Checkstyle, Gradle, Travis, Appveyor, none of them are essential to the project and still their configurations eat up tons of attention and vertical space. I banished what I could into `.infra` to reduce the clutter. We should look into whether it's possible to move `shipkit.gradle` into `.infra/shipkit` or `.infra/gradle`.
2. If your assumption is correct that the one in `build.gr

[2018-07-13 12:28] sormuras commented on #96
- ad 1: I see. Guess it is not possible atm, right @mockitoguy? Maybe we need to open a question issue at https://github.com/mockito/shipkit/issues
- ad 2: Good suggestion. As as I can tell, Shipkit collects information for the `pom.xml` from different source. Didn't find a way yet to customize the resulting `pom.xml` directly.
- ad 4: 92 will tackle it -- missed that ticket

[2018-07-19 12:42] nicolaiparlog opened #98 "Show current version on junit-pioneer.org"
It should be easy for visitors to immediately see the latest version they can download.

A possible implementation would be to query the [Maven Central API](http://search.maven.org/#api) for the most recent version. Another would be to have Shipkit trigger a specific "publication" build that presents the version determined by Shipkit. The latter might be necessary anyway to publish release notes (

[2018-07-19 12:45] nicolaiparlog commented on #97
Turns out we're already mixing Markdown with Asciidoc (because Liquid tags only seem to be processed in Markdown files), so that's not a problem.

A problem is that Shipkit adds the release notes in a commit that does not trigger a build and so these information are not actually available when the page is built. It would make sense to have only Shipkit builds trigger a page rebuilt because only th

[2018-07-19 12:52] nicolaiparlog commented on #92
After a lot of internal back and forth I decided to rely entirely on javadoc.io:

Upsides:

* only a single link to a site for all versions
* reduces build time for junit-pioneer.org, because it no longer needs to build JUnit Pioneer just to get the Javadocs

Downsides:

* reliance on an external service that might disappear (but if it does, it is simple to start publishing our own Javadocs again)

[2018-07-20 07:39] nicolaiparlog commented on #98
Heroku badge: <img src="https://maven-badges.herokuapp.com/maven-central/org.junit-pioneer/junit-pioneer/badge.svg?style=flat" alt="Latest Junit Pioneer on Maven Central">

Shields.io: <img src="https://img.shields.io/maven-central/v/org.junit-pioneer/junit-pioneer.svg" alt="Latest JUnit Pioneer on Maven Central">

[2018-07-28 07:53] nipafx opened #99 "Include benchmark extension"
[My JUnit 5 demo](https://github.com/CodeFX-org/demo-junit-5) contains [a benchmark extension](https://github.com/CodeFX-org/demo-junit-5/blob/master/src/main/java/org/codefx/demo/junit5/BenchmarkExtension.java) that very naively uses `System.currentTimeMillis()` to report a test's wall clock time. Use:

[code]

Output:

[code]

I think this is worthy for inclusion in JUnit Pioneer. Thoughts?

[2018-07-28 08:15] nicolaiparlog commented on #99
Possible improvement:

* register extension globally
* activate for all tests if configuration property is set

[2018-07-28 09:50] nicolaiparlog commented on #99
Possible improvement:

* aggregate and output data after test suite ran
* e.g. show x longest running tests / containers

[2018-07-29 20:37] nicolaiparlog commented on #49
Possible features:

* set seed per class
* set seed globally via configuration parameter

[2018-07-31 15:09] JorisPotier opened #100 "TempDirectory is not cleaning himself after tests are finished"
Hi,

I try to use the TempDirectory extension in order to work to a clean workspace for each test, and finally delete this workspace. I'm using a custom FS (Jimfs) exactly like in this sample extracted from the docs :

[code]

My problem is that the output directory is not deleted (and also the files contained in it, because my tests successfully write in it) by himself after the tests are done. D

[2018-08-01 12:10] nipafx opened #101 "Support JSON as source for parameterized tests arguments"
Implement an `ArgumentConverter` that parses JSON and an `ArgumentSource` that parses JSON files and passes them as arguments to a parameterized test.

This is pretty straightforward for a single file and parameter:

[code]

It's a little unclear how to parse files for two parameters, though. There could be one file per parameter...

[code]

... but then customer/contract pairs would be far apart

[2018-08-01 18:08] nicolaiparlog commented on #100
Looking at [the code](https://github.com/junit-pioneer/junit-pioneer/blob/961177d5c4cd99f220870c96658f17a769137807/src/main/java/org/junitpioneer/jupiter/TempDirectory.java#L262-L288) it seems like files and the directory should be deleted once the test using it finishes.

@marcphilipp Any idea what is going on here?

[2018-08-06 12:41] marcphilipp commented on #100
Given the following slightly modified version of your test class, both `test.txt` and the parent folder created by the `TempDirectory` extension are deleted.

[code]

Could you please provide more details or, even better, a test that demonstrates the problem you're experiencing?

[2018-08-06 14:52] Frontrider commented on #100
I can confirm, that it does not happen properly, if the test has failed. That is a sure point.

[2018-08-09 18:27] marcphilipp commented on #100
@Frontrider I believe you but I cannot reproduce the issue. Could you please provide a minimal reproducible example?

[2018-08-09 18:41] Frontrider commented on #100
Upon further scans, It might have to do something with directory permissions being funky. I think that, because those tests started to behave.

[2018-08-09 20:15] marcphilipp commented on #100
Hmm, but `Files.delete()` should throw an `IOException` if it was unable to delete a file, shouldn't it?

https://github.com/junit-pioneer/junit-pioneer/blob/4ad92463dec8240bbf5f92d908c7915792fbf0f3/src/main/java/org/junitpioneer/jupiter/TempDirectory.java#L276-L286

[2018-08-14 19:59] fduminy commented on #99
Maybe you should use ```java.time.Clock``` and its subclasses (I also found one from junit5 : ```org.junit.platform.console.tasks.IncrementingClock```) or Guava's [Stopwatch](https://google.github.io/guava/releases/snapshot-jre/api/docs/com/google/common/base/Stopwatch.html) and [Ticker](https://google.github.io/guava/releases/snapshot-jre/api/docs/com/google/common/base/Ticker.html)

[2018-08-14 20:06] fduminy commented on #99
That sound also related to https://github.com/junit-pioneer/junit-pioneer/issues/38

[2018-08-21 14:14] nicolaiparlog commented on #99
@fduminy Thank you for the tips, I didn't know about `Stopwatch`. :+1:

[2018-09-05 05:56] seanf commented on #24
What ever happened about registering the domain **junitpioneer.org** (as suggested by @sbrannen)?

[2018-09-05 07:05] seanf opened #102 "Use Thread.interrupt from a Timer for tests which time out"
To me, the most valuable thing about the JUnit 4's `@Test(timeout)` was the ability to stop runaway tests.

The current version of Vintage `@Test` doesn't have any ability to terminate a test, but even with JUnit 5's threading model, this can be done using a background Timer thread which interrupts the main test thread after timeout. This won't stop tests which are busy on the CPU, but should stop

[2018-09-06 08:07] britter opened #103 "Setting Default Locale and TimeZone for a test"
Hi,

I'm currently migrating the Apache Commons Lang project to JUnit 5. Since we have `Locale` and `TimeZone` dependent tests, we wrote a [custom JUnit 4 rule](https://github.com/apache/commons-lang/blob/master/src/test/java/org/apache/commons/lang3/test/SystemDefaultsSwitch.java) for that. Since I need to migrate this to JUnit 5 some time, I thought about bringing it here. The JUnit 4 API looks

[2018-09-06 08:35] marcphilipp commented on #103
I think that would be very useful!

[2018-09-06 08:42] sormuras commented on #103
_PPP_

Please Provide PR. ;-)

[2018-09-06 09:27] britter commented on #103
okay, going to work on this!

[2018-09-06 09:32] nicolaiparlog commented on #103
Yes, absolutely! :1:

[2018-09-06 09:36] nicolaiparlog commented on #24
Domains cost money and I'm not made of it. :wink:

[2018-09-06 10:43] smoyer64 commented on #24
Our groupId is org.junit-pioneer ... are we proposing that that change as well?

[2018-09-06 11:47] sbrannen commented on #24
Yes, we should change the group ID accordingly.

[2018-09-06 12:51] smoyer64 opened #105 "Obtain junitpioneer.org domain"
As suggested in #24, we should move the also host the JUnit Pioneer project on the junitpioneer.org domain.

[2018-09-06 12:55] smoyer64 commented on #105
The domain has been purchased and the junitpioneer.org and www.junitpioneer.org records have been put into DNS (A and CNAME records respectively).  The junitpioneer.org host has been pointed to the existing website's IP address - 185.199.108.153. Where should the MX record be pointed?

[2018-09-06 12:59] smoyer64 opened #106 "Change project's groupId to org.junitpioneer"
As suggested in #24, the JUnit Pioneer projects ``groupId`` should match the selected package name.  This requires the following tasks:

- [ ] Register the groupId with Sonatype
- [ ] Change the groupId in the pioneer project

[2018-09-06 13:04] smoyer64 opened #107 "Update GitHub.io configuration to include new host names"
The JUnit Pioneer web-site should be available at the following sites:

- [ ] junit-pioneer.org (existing)
- [ ] www.junit-pioneer.org (existing)
- [ ] junitpioneer.org (new)
- [ ] www.junitpioneer.org (new)

[2018-09-06 13:09] smoyer64 opened #108 "Fix DNS record for junitpioneer.org and www.junitpioneer.org"
With the Google penalties that are incurred for duplicate content, only the "official" web-site location should be available via an A record in DNS.  Assuming the "official" web-site will become junit-pioneer.org, the following host names should be changed to CNAME records that point to the "official" web-site.

- [ ] www.junit-pioneer.org
- [ ] junitpioneer.org
- [ ] www.junitpioneer.org

As an a

[2018-09-06 13:11] smoyer64 commented on #105
Dig says that the new domain and host names are now being served by DNS.

[2018-09-06 13:20] nicolaiparlog commented on #106
I'm opposed to changing the group ID. The package name is a mixture of technical limitations and feebleness - it should not impact other representations of the project.

[2018-09-06 13:28] smoyer64 commented on #107
Do we want that to be the "official" site?  I do that pretty easily but it seems that others think the domain name, groupId and package name should be consistent.  As noted in #108, there is an error in how www.junit-pioneer.org is configured.  I'll change that issue to make junit-pioneer.org the "official" site.

[2018-09-06 13:46] smoyer64 commented on #105
I'm not so sure it was decided so much as assumed ... I really don't care about the groupId or web-site any more than I did about the package.  In any case, no slight was intended and I've updated #108 to point things "the other direction".

I should however state that I don't think we should be changing things beyond some point where users are relying on our stability - that point may have been r

[2018-09-06 13:47] nicolaiparlog commented on #108
Oops, fixed. Now both junit-pioneer.org as well as *.junit-pioneer.org point to `185.199.108.153`.

[2018-09-06 13:48] smoyer64 commented on #107
I should also have noted that GitHub.io seems to have some sort of virtual-hosting going on ... this issue was related to getting a 404 after the above domain names were in fact pointed at https://junit-pioneer.org

[2018-09-06 13:50] nicolaiparlog commented on #105
Sorry for being testy. :relaxed: Yes, we should be stable, but in this instance that is not my argument. I just _really_ don't like "junitpioneer" and only accepted it as a package name because there was a somewhat technical argument against my preferred solution.

[2018-09-06 13:52] smoyer64 commented on #108
and *.junit-pioneer.org is a CNAME?  (I just wildcarded *.junitpioneer.org too ... when the changes propagate even guacamole.junitpioneer.org will be valid!).  I'm still wondering what to do with the MX record.

[2018-09-06 13:53] nicolaiparlog commented on #107
Yes, I want _junit-pioneer_ as URL, group ID, StackOverflow tag, package name, whathaveyou because the project is called _JUnit Pioneer_. :smiley:

Re the 404, I know next to nothing about DNS, but all we need is a forward. The site can not appear as junit-pioneer.org and junitpioneer.org, so the latter needs to point to the former.

[2018-09-06 13:55] sormuras commented on #98
Do the colors have a meaning? What controls it?

[2018-09-06 13:59] smoyer64 commented on #105
You're absolutely right to feel that way ... and I caved way too easily ;)  I've stated my preference for the dash (and given up on the package name).  As an aside, I'm copying you on an email for another potential JUnit Pioneer project.

[2018-09-06 14:00] nicolaiparlog commented on #98
No. Can't be changed. (Both are guesses.)

[2018-09-06 14:03] nicolaiparlog commented on #108
* No, `*` is not a CNAME, it's A. Is that correct? (Did I mention, I don't know anything DNS? :wink:)
* I expected guacamole.junit-pioneer.org to work, but it doesn't.
* I have not added an MX entry - I wouldn't know where to. Let's just hope, nobody send us mail. :wink:

[2018-09-06 14:03] smoyer64 commented on #108
It turns out that wildcarding CNAMES doesn't include the base domain and my DNS host (Linode) doesn't allow a CNAME for the primary domain ... I've replace it with an A record.

[2018-09-06 14:06] smoyer64 commented on #108
I think your wildcard should be a CNAME (alias) so that Google doesn't apply the duplicate content penalty.  I would hope that (eventually) we'd show up on the first page when someone searches for JUnit 5.

I'll have to research the MX record a bit ... this would all be much easier under the umbrella of an OSS organization.

[2018-09-06 14:28] #107 closed

[2018-09-06 14:29] smoyer64 opened #109 "Create and host redirect pages for junitpioneer.org and www.junitpioneer.org"
Supercedes #107

[2018-09-06 14:31] #105 closed

[2018-09-06 14:31] nicolaiparlog commented on #107
Maybe we don't need guacamole.junit(-)pioneer.org to redirect. As long as the blank URLs and the www prefixes work, I'm happy.

[2018-09-06 14:35] smoyer64 commented on #107
Agreed ... I just thought it would be cool ;)

I opened #109 to take care of this via redirects (www is automatic with GitHub pages ... but only for the single domain you can configure in the "Settings").

[2018-09-21 20:14] nicolaiparlog commented on #102
Hi @seanf, thanks for the idea. This looks like it could work! Would you mind adding this as a comment to #10, which already covers the time out.

[2018-09-21 20:14] #102 closed

[2018-09-29 09:15] nicolaiparlog opened #113 "Document when to increment version"
Every commit to master triggers a release with ShipKit (see #87). That means pull requests may have to increment the version in `version.properties`. Document when and how that has to happen.

First thoughts:

* features increment minor, e.g. `0.1` ~> `0.2`
* bug fixes and other such changes don't
* are there more changes?
* mention to update `version.properties`
* mention `@since`

What have I mi

[2018-09-29 11:45] nicolaiparlog commented on #113
But for the ones that do trigger a release, ShipKit increments the patch version right? (E.g. [26255a8](https://github.com/junit-pioneer/junit-pioneer/commit/26255a875ae7a3b26b97d4de8189b18756382ef4#diff-bc55b3eee52006c2f01f15eacc733517)) How do we tell it to bump minor instead?

[2018-09-29 11:48] sormuras commented on #113
Copied from https://github.com/mockito/shipkit/blob/master/docs/features/version-bumps.md

_Every release, the version file is automatically updated with a new version number. The next version after "1.0.0" is "1.0.1", then "1.0.2", etc. If you need to release a specific version, like "1.1.0" or "2.0.0" just update `version.properties` file manually and include that in your pull request._

[2018-09-29 11:49] sormuras commented on #113
In short: the value of `version=0.1.3` in `version.properties` is the next version to be published.

Change it to `0.2.0`.

[2018-09-29 12:11] britter opened #114 "Make DefaultLocale configurable via language tag"
As discussed in #104 it would be convenient if `@DefaultLocale` could also be specified using a language tag of the from "en_EN".

[2018-10-04 15:40] #103 closed

[2018-10-04 16:15] sdavids commented on #114
My suggestion in #104 was using:

https://docs.oracle.com/javase/8/docs/api/java/util/Locale.html#forLanguageTag-java.lang.String-

`@DefaultLocale(languageTag = "en-US")`

Note it is "en-US" instead of "en_US".

[code]

[2018-10-05 07:07] britter opened #115 "Performance optimization for DefaultLocale and DefaultTimeZone"
As described in #104 the current code looks up the `DefaultLocale` and `DefaultTimeZone` annotations twice (once in `annotationPresentOnTestMethod(ExtensionContext)` and once in `setDefaultLocale/TimeZone(ExtensionContext)`). This should be avoided for example by returning an `Optional` from the first method and then continue with `ifPresent`.

[2018-10-05 07:11] britter opened #116 "Documentation for DefaultLocale and DefaultTimeZone is missing on junit-pioneer.org"
Maybe this is related to the [latest broken travis build](https://travis-ci.org/junit-pioneer/junit-pioneer/jobs/437200091)?

[2018-10-05 07:23] britter opened #118 "Build scans are not created by Travis build"
The command line for the travis build seems to be incorrect:

[code]

The build produces:

[code]

Accodring to the [Gradle Documentation](https://guides.gradle.org/creating-build-scans/#auto_apply_the_build_scan_plugin) the command line should contain `--scan` instead of `-Dscan`

[2018-10-05 08:03] britter opened #120 "Add YAML syntax check to CI build"
Invalid YAML files can cause the site build to break (#116, #119). This can be prevented by checking the YAML files used for site generation before the site is deployed.

[2018-10-05 08:07] britter commented on #120
Could be implemented using https://github.com/zierler-f/YAML-Validator-Plugin

[2018-10-05 08:12] #116 closed

[2018-10-05 09:13] #120 closed

[2018-10-05 10:36] #100 closed

[2018-10-05 10:56] nicolaiparlog commented on #118
A quick local test resulted in Gradle asking my manual permission before continuing the build. I have to admit, I don't even know what the scan thingy does. I'm sure, @sormuras knows. :)

[2018-10-05 11:02] sormuras commented on #118
Open https://gradle.com/s/se2dh2thsvtwo and you'll see.

With
[code]
included, it should work headless.

[2018-10-05 11:07] nicolaiparlog commented on #118
Hm. I doubt that we need that, but since it's easy to configure, let's keep it. :wink:

[2018-10-05 11:10] #106 closed

[2018-10-05 11:15] marcphilipp commented on #118
It's really convenient when the build fails or when you want to look into its performance. But I'm a bit biased... 😉

[2018-10-05 17:50] sdavids commented on #114
Things to consider:

`@DefaultLocale(languageTag = "en-US", language = "lkt")` => en-US? lkt-US? Exception?
`@DefaultLocale(languageTag = "zh-Hant", variant = "TW")` => zh-Hant? zh-Hant-TW? Exception?

Once you use _languageTag_:
1. _language_, _country_, and _variant_ are ignored
2. _language_, _country_, and _variant_ overwrite the corresponding part of _languageTag_
3. _language_, _country_, an

[2018-10-05 17:51] sdavids commented on #114
_value_ could be used instead of _languageTag_:

`@DefaultLocale("zh-Hant-TW")`

[2018-10-06 13:45] britter commented on #114
Using value for the language tag is a good idea.

I would say that using language tag is exclusive. So one has to choose between the language tag or the other fields. If both are configured a `ExtensionConfigurationException` should be thrown.

[2018-10-07 12:13] nicolaiparlog commented on #114
@sdavids @britter I agree with what you two hashed out. :+1:

[2018-10-10 19:38] sormuras opened #124 "Site build fails"
Triggering the site build fails with `code=403, message=Forbidden`.

https://travis-ci.org/junit-pioneer/junit-pioneer/jobs/439802792#L838

[2018-10-12 00:43] smoyer64 opened #126 "Add Visual Studio Code settings files to ignored files"

[2018-10-12 00:46] #126 closed

[2018-10-12 00:47] smoyer64 opened #127 "Gradle build doesn't work in Visual Studio Code (using Gradle plugin)"

[2018-10-12 08:14] #118 closed

[2018-10-27 13:32] beatngu13 opened #129 "System property extension"
While looking for a way to handle system properties in JUnit 5 tests [on Stack Overflow](https://stackoverflow.com/q/46846503/3429133), I came up with the following extension (see [this gist](https://gist.github.com/beatngu13/724a9a78bba61da96566ac5478c2d37b)) based on the provided answer:

[code]

After posting it [on Twitter](https://twitter.com/beatngu1101/status/1054723804822429696), @sbrannen

[2018-10-31 05:57] nicolaiparlog opened #130 "Improve Code Formatting"
Things I'd like to change:

* make `//@formatter:off` before each stream pipeline unnecessary (likely by not automatically joining lines)
* disable star imports
* enforce empty lines at start and end of class
* in `if`, closing `}` and `else` on the same line
* make sure line continuations are indented twice (see, e.g. `SystemPropertyExtension`)

[2018-10-31 07:16] nicolaiparlog commented on #129
Hi @beatngu13, thanks for opening this issue - idea and solution are looking really good! :+1:

Regarding the first issue, yes, making it repeatable was a good idea.

Regarding `null`: I don't have any concrete insight into whether one may need an empty string as system property, but it surely doesn't seem outlandish to have that requirement. (Oh, [look what I found](https://github.com/asciidoctor

[2018-10-31 12:02] sbrannen commented on #129
👍

I agree that empty values should be supported.

I agree with that: `@SystemProperty( key = "prop")` looks rather confusing.

[2018-10-31 12:40] beatngu13 commented on #129
Hey guys,

thanks for getting back to me—glad you like the idea.

I just thought that:

[code]

Is less verbose than:

[code]

But yeah, it is definitely not self-explaining.

So, as already suggested by @nicolaiparlog, how about:

[code]

This should make clear that the property is simply cleared (via `System#clearProperty( String )`). Any suggestions for the actual value of the `SystemProperty.C

[2018-11-01 07:34] nicolaiparlog commented on #129
I like `@ClearSystemProperty` - very clear, no ambiguity.

[2018-11-01 07:41] #114 closed

[2018-11-01 08:35] sdavids commented on #129
I like having this is in _JUnit-Pioneer_.

You might reach out to @stefanbirkner

https://stefanbirkner.github.io/system-rules/

[2018-11-01 09:44] sdavids opened #131 "DefaultLocale/DefaultTimeZone - ExecutionMode"
Both _DefaultLocale_ and _DefaultTimeZone_ can only be realistically used with [@Execution(SAME_THREAD)](https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/parallel/ExecutionMode.html#SAME_THREAD) or a [ResourceLock](https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/parallel/ResourceLock.html).

Maybe it should be enforced on a programmatic level?

Or their documentation

[2018-11-01 09:45] sdavids commented on #131
Execution was introduced in JUnit 5.3 whereas JUnit-Pioneer uses 5.1.1.

[2018-11-01 09:59] sdavids commented on #131
Maybe there is another way to indicate "this extension does not support @Execution(CONCURRENT)".

The [system properties extension](https://github.com/junit-pioneer/junit-pioneer/issues/129) will have the same issue.

[2018-11-01 11:44] beatngu13 commented on #129
I have implemented both variants in my fork:

* Using a `SystemProperty.CLEAR` constant: https://github.com/beatngu13/junit-pioneer/commit/69c18fff643a6bf740c8d06fa0d4bd1478ecc635
* Using separate `ClearSystemProperty` and `SetSystemProperty` annotations: https://github.com/beatngu13/junit-pioneer/commit/468ab912e9bfdba805725a16d604aac33e8ea67b

I think I prefer the latter. What about you guys? Ju

[2018-11-01 13:48] sbrannen commented on #129
I prefer the latter: no ambiguity.

[2018-11-01 18:39] nicolaiparlog commented on #129
Yes, the latter.

@sdavids, re _System Rules_: By the looks of it, Stefan runs a quite successful project over there and I'm sure he'll make it JUnit-5-compatible at some point. I don't think it would make sense to somehow join the two projects, but if people take individual ideas from there and reimplement them here, I'm fine with that. If it would be more than just a few ideas, it may make more

[2018-11-01 20:15] nicolaiparlog commented on #124
Looks like [the Pioneer CI setup](https://travis-ci.org/junit-pioneer/junit-pioneer/settings) simply didn't have an environment variable with the Travis API token. I/we must have accidentally deleted it at some point. 🤪

[2018-11-10 07:13] sormuras commented on #68
Ideally the `@CartesianProductTest` would be able to reuse any existing argument source, including the `@RangeSource` described in #123. For example:

[code]

[2018-11-27 20:39] mkobit opened #134 "Add declarative annotation for test authors to add test metadata for report entries"
Add in a simple way for test authors to declaratively add test metadata to test containers or methods.

basic example (needs better names in all places)

[code]

[2018-11-27 22:05] mkobit opened #135 "Add declarative annotations for "issue" type support and infrastructure"
For example, Spock has [`@Issue`](http://spockframework.org/spock/javadoc/1.0/spock/lang/Issue.html) which is used to

Which might look like

[code]

It can often be useful to annotate test with some external issue for reporting, conditionally enabling/disabling, or to build additional tooling on.

Shorthand may also be desired if the project itself has some known destination:

[code]

It would be

[2018-11-30 21:56] marcphilipp opened #136 "Deprecate TempDirectory extension once JUnit 5.4 is released"
By popular demand, the JUnit team has decided to include the `TempDirectory` in the `junit-jupiter-api` artifact in junit-team/junit5#1247. Thus, the `TempDirectory` extension in this project should be deprecated and point to the new location.

[2018-12-04 14:40] shollander opened #137 "Drop support for confusing Test annotation"
I believe that `@org.junitpioneer.vintage.Test` should be removed. It only introduces classpath pollution and confusion, and does not provide any real benefit. JUnit Jupiter provides much better methods for dealing with expected exceptions and timeout of tests. For those in migration, JUnit Vintage can be used. We should be encouraging users to use JUnit Jupiter improvements instead of helping the

[2019-01-03 08:42] mp911de opened #138 "Incubation of JMH engine"
We created a JUnit 4 runner/JUnit 5 `TestEngine` while working on JMH benchmarks and found it quite useful during development-time of JMH benchmarks. What is basically does, is configuring JMH's runner scoped to a benchmark class/method and report back the progress.

We found this is not only useful for ourselves but there's also interest from the community. However, it's not a typical Spring proj

[2019-01-03 09:06] dsyer commented on #138
I'd be happy to continue contributing here (as opposed to Mark's personal space). I'd also be fine with only supporting JUnit 5, if that makes any difference.

[2019-01-03 15:03] dsyer commented on #138
I'm not sure I agree with that. I would use the microbenchmark runner for JUnit 5 even if JMH had better IDE support, unless it worked exactly the same way (i.e. only used test-scoped dependencies, and could be hooked into the integration test phase of the build). I'm not sure it would be worth anyone's while to provide such support when JUnit 5 has already such a nice extension API.

[2019-01-03 16:38] smoyer64 commented on #138
I'll start by saying that I think this is a very cool project but I have some concerns.  I understand why the code is structured as a ``TestEngine`` ... the common code is (was?) based on a ``Runner``.  I've changed the title to reflect this.  In general, the problem with ``Runner`` is that you could only assign one per test class (or suite).  There are many more extension points in JUnit 5 and I'

[2019-01-03 17:08] beatngu13 commented on #129
Is there anything I can do so that we can move on with PR #133?

[2019-01-08 10:18] mp911de commented on #138
I get the feeling that dropping JUnit 4 support (`Runner`) seems a reasonable move. I also think this should be a separate project.

I had a chat with @sbrannen and his suggestion was a custom `TestEngine`. This way, we prevent lingering instances that are disconnected from the actual JMH execution.

[2019-01-17 20:25] marcphilipp commented on #68
The method would be called with {0, 1} × {0, 1} × {0, 1} = [(0,0,0), (0,0,1), ..., (1,1,1)].

[2019-01-17 20:52] matthieu-vergne commented on #68
I see. It seems to me quite specific and unnatural, though. I would prefer to write it with something more explicit, like:
[code]

It seems a lot clearer to me that way.
Just a piece of opinion.

[2019-01-17 21:05] marcphilipp commented on #68
@sormuras @sbrannen Does Java guarantee that annotations are returned by reflection in the order they are defined in the source code?

[2019-01-17 21:32] sbrannen commented on #68
Yes. According to the JLS, the order is “left to right” , which most humans understand better as “top to bottom”. Otherwise, the order of repeatable annotations _outside_ their container could not be guaranteed.

[2019-02-05 08:23] svenruppert opened #139 "Functional View on top of the JUnit Jupiter Extension API"
The Core API could be extended with an official functional view. Means, that the developer would have the choice between "oo" or "functional" approach. The functional API should be Core Java only, no ByteCode manipulation to be available from JDK8 up to JDKxx without changes.

## Example Ideas..

[code]

## Deliverables
I would like to deliver
- [ ] the Core Java API for the functional view on top

[2019-03-25 15:06] smoyer64 commented on #136
``TempDirectory`` has been released in the ``junit-jupiter-engine`` module ... I'll get a PR ready to take care of this issue.

[2019-05-27 15:58] beatngu13 commented on #129
@nicolaiparlog @sbrannen I know you do this in your spare time, so please don't get me wrong: PR has been open for almost 6 months now. Is there still interest in this feature?

[2019-05-28 15:16] sbrannen commented on #129
I'm not sure how soon @stefanbirkner will finish his support for JUnit Jupiter.

So, in the interim, it might make sense to go ahead and get the proposed `@SystemProperty` support in JUnit Pioneer.

@junit-pioneer/junit-pioneer-team, thoughts?

[2019-07-12 09:45] mp911de commented on #138
@nicolaiparlog Did you get a chance to look into this one?

[2019-07-12 12:47] smoyer64 commented on #138
@mp911de @dsyer

As I mentioned above, it's my opinion that this should remain a separate project but I'd be happy with it being a JUnit Pioneer project.  If you want to transfer the project to the junit-pioneer organization, I'll add you both as maintainers.  We'll need to discuss what documentation is required and how we'll merge the documentation for multiple projects into a single web-site.

@

[2019-07-12 13:38] smoyer64 commented on #138
Actually I see that @nicolaiparlog has documented how the site is built in the README at https://github.com/junit-pioneer/junit-pioneer.github.io.  I'm not sure I understand the process completely but it appears that the first step would be to create asciidoc pages in the /doc folder of your project.  (like https://github.com/junit-pioneer/junit-pioneer/tree/master/docs).

[2019-07-15 07:28] mp911de commented on #138
Sounds good.

Let me know what's required from my side and which groupId we should use for the Microbenchmarkl runner. Right now, it's `com.github.mp911de.microbenchmark-runner:microbenchmark-runner-core`/`com.github.mp911de.microbenchmark-runner:microbenchmark-runner-junit4`/`com.github.mp911de.microbenchmark-runner:microbenchmark-runner-junit5`.

[2019-07-15 16:01] smoyer64 commented on #138
I kind of like the way you phrased it in the title.  I think we should "reserve" ``org.junit-pioneer`` for the extensions project so how does ``org.junit-pioneer.jmh-engine`` sound for a groupId?

[2019-07-15 20:30] smoyer64 commented on #139
I remember seeing https://github.com/junit-team/junit5/issues/1743 ... sorry I missed that you added the issue here.

Since the junit-pioneer library is supposed to be community extensions, my opinion is that adding a functional "aspect" should be a separate library.  If you'd like to be the maintainer under the junit-pioneer umbrella, I can create a repository for you.  I think the groupId should

[2019-08-14 15:52] krzyk opened #141 "Add a FreePort extension"
This is quite similar to `TempDirectory`.

There are frequently tests that depend on network layer that need to use a port that is not already used by any other service (either to start a server on it, or to test a failure scenario where there is no service at given port).

Proposed usage:
[code]

[2019-08-16 06:13] marcphilipp commented on #141
How do you guarantee the port stays free between the time you've checked it and the test actually using it? Usually you can pass 0 to servers to assign a randomly allocated port and then query the port that's been allocated after they're started. This approach doesn't have the race condition problem. Do you have use cases where this approach wouldn't work?

[2019-08-16 07:27] krzyk commented on #141
Yes, race condition is problematic, but in some cases it can't be avoided, and the proposition is still better than hardcoding port number.

1. I have a test that needs to have nothing listening at the port (to test the application behavior for invalid host+port).
2. Some Java libraries allow passing a `0` as a port, but don't have a way to retrieve the assigned port back, so I need to pass a know

[2019-08-17 08:37] sbrannen commented on #141
You of course cannot guarantee that the port remains free, but there are use cases for it.

For example, Spring has [`SocketUtils`](https://github.com/spring-projects/spring-framework/blob/master/spring-core/src/main/java/org/springframework/util/SocketUtils.java) exactly for such use cases.

[2019-10-03 14:21] nicolaiparlog commented on #108
@smoyer64 At the moment, all *.junitpioneer.org and .junitpioneer.org lead to "404 - There isn't a GitHub Pages site here." Can you have a look at that?

[2019-10-03 14:51] nicolaiparlog opened #143 "Build on other Java versions"
We're building on Oracle JDK 8 and Oracle JDK 9. Instead it should be (at least) OpenJDK 8 and 11 (plus maybe 13 and 14-EA). I assume fetching them from AdoptOpenJDK would be the canonical choice.

@sormuras This is your specialty, right? :yum:

- [x] Use OpenJDK 8 and 11 on Travis CI (#144)
- [ ] Include 13 and current `-ea` version
- [ ] Update AppVeyor configuration or replace with Travis CI Wi

[2019-10-03 15:03] sormuras commented on #143
_"Wait for it..."_

[2019-10-03 15:28] sormuras commented on #143
Merge me! 🤗

[2019-10-03 15:50] #143 closed

[2019-10-04 09:46] sormuras commented on #129
Back-linked the associated PR #133 and...

...I second this. Let's get it in, @nicolaiparlog 🚀

[2019-10-07 07:16] almondtools opened #146 "DefaultLocale does not work with @Nested"
Following UnitTest will faile

[code]

I suspect that not all nested classes are scanned for the annotation.

[2019-10-07 22:00] nicolaiparlog commented on #146
Thanks, @almondtools for pointing this out. Does the test run and fail or (as it appears when I try to reproduce), do you get an `ExtensionConfigurationException` saying "The extension is active, but the corresponding annotation could not be found."?

@britter I get the mentioned exception and message when `DefaultLocaleExtension::readLocaleFromAnnotation` is called for the nested test method `tes

[2019-10-08 04:06] almondtools commented on #146
I confirm that the problem is the exception you mentioned.

[2019-10-08 06:24] aepfli commented on #68
is this still up for grabs? looks interesting and if okay, i will give it a shot!

[2019-10-08 09:51] britter commented on #146
@nicolaiparlog October is pretty packed on my site. I don't see a chance to look at this before November.

[2019-10-08 11:31] nicolaiparlog commented on #68
Yeah, it is, give it a shot. :+1:

Not sure about the others, but I really like the idea to make it interact with other argument sources. Maybe it could even _require_ that values for all arguments are provided by dedicated sources and `CartesianProductTestExtension` "just" orchestrates them?

Whatever you do, though, I recommend to start small and ask for feedback early. In my mind, the feature i

[2019-10-08 11:32] nicolaiparlog commented on #68
Let me know when you start on it and I'll assign the issue to you.

[2019-10-08 17:50] nicolaiparlog commented on #146
Thanks for letting me know and no problem. I'll see whether I can take a look at it. May be worth checking in in November to see whether I made progress. :wink:

[2019-10-08 19:35] marcphilipp commented on #136
We decided to omit support for custom file systems in the "official" version of `@TempDir`. Thus, I think it's worthwhile to keep it in Pioneer but point users to the "official" one in Javadoc and on the website.

@nicolaiparlog @smoyer64 WDYT?

[2019-10-08 22:28] nicolaiparlog commented on #136
Yeah, I think it shouldn't be deprecated. Instead the Javadoc and adoc should clarify where it's additional value lies, so it is clear why both are around.

[2019-10-08 23:00] smoyer64 commented on #136
Sounds good to me ... this version can become as feature-laden as we want ;)  Should a note be made in the official version's docs to look here if it's under-powered for your use case?

[2019-10-09 06:45] marcphilipp commented on #136
I think that's a good idea.

[2019-10-09 06:48] nicolaiparlog commented on #136
Yeah, free advertisement! 🥳

[2019-10-10 18:40] marcphilipp commented on #136
Who said anything about "free"? 🤪

[2019-10-11 18:22] beatngu13 opened #148 "(Automatically) update GitHub releases"
Latest release is 0.3.2 (although yet not available on [Maven Central](https://repo1.maven.org/maven2/org/junit-pioneer/junit-pioneer/)), but according to the [releases page](https://github.com/junit-pioneer/junit-pioneer/releases), it is 0.1.2.

I assume this is because nobody published the existing tags as actual releases on GitHub—as this gets easily forgotten.

However, one can automate this w

[2019-10-11 18:28] marcphilipp commented on #148
I think Shipkit also has an option to update GitHub releases.

[2019-10-21 19:02] nicolaiparlog opened #149 "Should Javadoc link to project site?"
Inspired by [@smoyer64's question on PR #110](https://github.com/junit-pioneer/junit-pioneer/pull/110#pullrequestreview-299638999), I want to discuss whether Javadoc on classes should link to the documentation of the corresponding feature on the project site.

E.g. should "Vintage `@Test`" link [here](https://junit-pioneer.org/docs/vintage-test/) with a line like this:

[code]

I think this is a g

[2019-10-21 19:29] marcphilipp commented on #149
The only downside I see is that it's a little hard to add the link when initially writing the Javadoc.

[2019-10-21 19:48] nicolaiparlog commented on #149
I think that's manageable. When creating the documentation for a feature, an entry has to be added to `docs-nav.yaml`:

[code]

The URL is `/docs/$NAME-OF-THE-DOC-FILE`. For absolute URL, just prefix with `https://junit-pioneer.org`.

If we settle on this approach, the contribution documentation needs to be updated anyway - I will make sure to include that explanation.

[2019-10-21 19:50] nicolaiparlog commented on #136
@marcphilipp Since you know the limitations of Jupiter's `TempDirectory` best, can you create a PR describing Pioneer's additional features in the extension's Javadoc and the doc site? :blush:

[2019-10-21 22:27] nicolaiparlog commented on #131
We just faced the same issue in #110. Having a look at `@Execution(SAME_THREAD)` / `ResourceLock` in the context of `DefaultLocale` or `DefaultTimeZone`, I get the impression that this wouldn't work well as all tests using these extensions would run sequentially / lock on the same resource. Yet I see no other way to ensure correctness, so we might as well add `@Execution(SAME_THREAD)` and (a comme

[2019-10-21 22:31] nicolaiparlog commented on #134
I'm finally having a look at this, but I don't entirely get what this is about, @mkobit. Are you suggesting to publish the entries via [`TestReporter`](https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/TestReporter.html)?

[2019-10-22 05:43] #113 closed

[2019-10-22 05:51] nicolaiparlog commented on #135
If this is just about showing the URL for an issue, a comment would do just fine. I would only use an annotation if the issue could somehow be relevant for test execution, but I struggle to see a use case for that. Do you have any idea, @mkobit?

[2019-10-22 06:07] nicolaiparlog commented on #148
@marcphilipp: Shipkit doesn't support this - see mockito/shipkit/issues/843 (I left a :+1:)
@beatngu13: A PR would be nice. :) The token already exists (Shipkit needs it) and is called `GITHUB_WRITE_TOKEN`.

[2019-10-22 06:14] nicolaiparlog commented on #34
Looking at the PR, it wasn't immediately clear to me what the extension is supposed to do. Can we discuss that here, so we have a frame of reference in which the implementation can be evaluated?

[2019-10-22 06:28] nicolaiparlog commented on #137
I understand your argument regarding import pollution and the annotation's limited use case. To clarify on the latter: My idea was that with this annotation, one can move from 4 to Jupiter with a full-text search/replace on `import org.junit.Test` before gradually updating those methods to Jupiter's superior facilities. I wish we could poll users of Pioneer and developers interested in a migration

[2019-10-22 07:08] marcphilipp commented on #137
I'd be in favor of deprecating it.

[2019-10-22 07:16] marcphilipp commented on #135
Related issue: https://github.com/junit-team/junit5/issues/1900

[2019-10-22 08:01] nicolaiparlog commented on #135
Thanks for pointing that out. So from what I gathered, there are two possible features:

* add given issue to report
* gather all test results for an issue and report them

The former is trivial and we could do that. The latter sounds much more interesting! I'm imagining a dynamically generated test tree where each issue is a node and each test belonging to that issue is a subnode. By storing the

[2019-10-22 12:00] smoyer64 commented on #34
It allows you to capture the output of stdout/stderr (or provide input via stdin) to test CLI programs.  I've also got a prototype that captures stdout/stderr to a file in a format that can be included in an adoc.  I was recently looking at this think I can get it updated and released this fall.

[2019-10-22 12:03] smoyer64 commented on #149
My original position was that all the documentation should be in the javadocs but that got down-voted.  I still like that model better than writing a website that can be easily be out-of-synch with the code.

If we're going to link these artifacts, it probably also means that we'll need to keep every copy of the documentation on the website so that links don't go stale for those using older versio

[2019-10-22 16:04] nicolaiparlog commented on #149
Uff, that's a ton of work and bad Google karma (searchability is one of the reasons I structured the site the way it is). I think we can cover that easier by having the text reflect version differences, e.g.:

That has the added advantage that we can mention bugs there and recommend updating to newer versions.

But given the current situation (less Javadoc, more doc on the site), I guess your vote

[2019-10-22 18:26] smoyer64 commented on #34
Feedback would be very welcome but it was more a PoC when I moved it over.  Closing the PR doesn't keep me from working on it so if it's in the way, we can open a new one or reopen the old one later.  I'm going to be working mostly in Go for a couple more weeks and then need to put some time into an Apache project I help with so we're probably 4-6 weeks away from me really remembering how it was w

[2019-10-22 18:45] marcphilipp commented on #135
I think "gather all test results for an issue and report them" should be done by a consuming reporting tool/generator. We'll just have to get that report format out...

[2019-10-22 18:48] marcphilipp commented on #131
I think `@ResourceLock(value = LOCALE, mode = READ_WRITE)` should be enough so they could run in parallel with other tests that use different resources.

[2019-10-22 19:00] sormuras commented on #135
1.7...

[2019-10-22 20:08] #136 closed

[2019-10-22 20:16] nicolaiparlog commented on #135
Ok, so unless users are clamoring for somehow gathering test results before the report format is out, let's table that discussion.

In the meantime, if anybody wants to add an annotations that reports a URL to the report, they can start working on it - I'll make this issue _up for grabs_. That said, the annotation's name still needs to be decided.

[2019-10-22 20:27] nicolaiparlog commented on #131
Makes sense. Will do that after #110.

[2019-10-22 21:06] nicolaiparlog commented on #34
To soothe my OCD, I'll close the PR, then, and give my feedback here.

I feel like in the current iteration, the extension is very technical and close to the streams it's interacting with. What about this?

[code]

It would automatically put itself in place of `System.out` in `BeforeEach` (and replace default in `AfterEach`), capture the content, expose with a simple data structure (could also be

[2019-10-23 07:25] #148 closed

[2019-10-23 19:01] Bukama commented on #135
As I opened junit#1900 I want to add some thoughts to this (Writing on phone so format will be most probably  bad - I‘ll fix this when back on desk tomorrow or the day after it):

I also see that a report builder and the annotation itselfs are two different things that can and should be implemented seperated from each other.

As @marcphillipp mentions here / in junit5#1900 the report format ( http

[2019-10-24 05:29] nicolaiparlog commented on #135
Thanks for your thoughts, @Bukama. I understand your qualms about the annotation's name. I think `@Requirement` would be too... specific (?) and think `@Issue` is better. If you think that sounds too much like a bug, we could use `@Ticket` as well.

Regarding the attributes:

* I like that you split `id` and `url` - that's a good idea. Wouldn't use `id`, though, but `value`, so it can be used with

[2019-10-24 05:38] sormuras commented on #135
Yes, they can: https://junit.org/junit5/docs/current/api/org/junit/jupiter/api/extension/ExtensionContext.html#getConfigurationParameter(java.lang.String)

[2019-10-24 07:44] marcphilipp commented on #135
@Bukama FWIW You can implement this today with a custom extension that reads your annotation and publishes it as a report entry. Then, you can register a `TestExecutionListener` (e.g., via service loader) that receives the report entry and writes it to your custom report.

[2019-11-01 13:38] nicolaiparlog commented on #138
Okay, just 10 months after Mark's initial request, I'm finally to here to take a look. Sorry to have kept you waiting. :blush: My opinions in short:

* the project is really interesting and I would love to make it part of JUnit Pioneer :smiley:
* I agree that this specific extension is better well-suited to become its own project under Pioneer's roof than part of the Pioneer Expansion Pack
* I agr

[2019-11-01 14:11] nicolaiparlog commented on #131
Note to self:

* check all extensions whether they need this (e.g. #129/#133)
* consider documenting the approach

[2019-11-01 14:11] mp911de commented on #138
No worries, we weren't just sitting around and waiting. I also felt kind of guilty of not pushing things.

How about the following steps:

1. You create a repo in this org
2. We're going to add all that code as PR so we all get a chance to review and align the code before it gets into `master`
3. I'm fine being a maintainer for the new repo.

This way, we have a clear IP transfer and once this is

[2019-11-01 14:53] nicolaiparlog commented on #139
@svenruppert I just took a look at the examples in junit-team/junit5#1743 and I have to admit that I don't quite see the connection to JUnit 5, either. As I see it, what you describe focuses on assertions, which are independent of the test framework. How does that relate to "the Core Java API for the functional view on top of the JUnit Jupiter Extension API"? In that light, I disagree with @smoyer

[2019-11-01 14:56] svenruppert commented on #139
ok

[2019-11-01 14:56] #139 closed

[2019-11-01 15:02] nicolaiparlog commented on #129
@beatngu13 Sorry for being unavailable for so long. I have my fingers in too many pies, but have recently been called out on letting this project and its many cool contributions starve and so I'm working my way through the open issues/PRs. I commented on #133. If you're still interested in pursuing this, you're more than invited to do that. If you don't want to anymore, that's ok, too, and I'll do

[2019-11-01 15:07] nicolaiparlog commented on #141
I think this is an interesting idea, but I don't have enough experience with testing port-reliant code to add anything to the discussion except a few (possibly naive) ideas. Here's one:

Would it make sense to design the extension so that the strategy to find a free port can be plugged in? That way, a Spring app (to use a random example) can use Spring's facilities to discover free ports and other

[2019-11-01 15:14] beatngu13 commented on #129
@nicolaiparlog don't worry, working on OSS can be difficult sometimes. I'm glad you found time now. And yes, I will take care of the PR and your comments ASAP. ✌️

[2019-11-30 20:43] #137 closed

[2019-11-30 21:35] nicolaiparlog commented on #138
There you go (quick as ever :grin:): https://github.com/junit-pioneer/microbenchmark-runner

I've invited you two to become maintainers, but I like the idea with vetting the code via PR. Once we've done that, I will create a PR to pull in the docs.

[2019-12-10 18:58] sormuras commented on #131
Is Pioneer already on 5.3?

[2019-12-10 19:19] sormuras commented on #131
Answer myself: yes.

https://github.com/junit-pioneer/junit-pioneer/blob/master/build.gradle.kts#L34

[2019-12-11 19:25] nicolaiparlog opened #155 "Simplify and align search for annotations"
All existing extensions and some open PRs either contain a (functionally) identical method `annotationPresentOnTestMethod` or use internal Jupiter APIs to achieve the same. These uses should be aligned and internal APIs avoided where possible.

[2019-12-17 20:15] Bukama commented on #99
Aside from elapsed time another interesting thing, at least for some tests, could be needed memory. If you consider that, then `@Benchmark` is not a very intuitive annotation for "only" meassuring the needed execution time. But maybe I'm too arrow-minded about the name.

[2019-12-17 20:32] Bukama opened #157 "CSS on notice-blocks are broken/overlapping"
On the [documentation page](https://junit-pioneer.org/docs/temp-directory/) of the `TempDirectory Extension` you see that the CSS of the noctice-blocks are broken / overlapping

See the page / this screenshot

[![Bild pioneercssbrokenquk9g.png auf abload.de](https://abload.de/thumb/pioneercssbrokenquk9g.png)](https://abload.de/image.php?img=pioneercssbrokenquk9g.png)

[2019-12-20 20:08] Bukama commented on #157
Maybe a bit more. The table-col is of class "icon" and is quite small. But the "huge" text (Note) is too large. In my opinion it's strange that the class is called "icon" but there's text in it - maybe there should be an image (like a pencil to visualize a note) and the text "Note"should be the alt-text of it?

[2020-01-07 18:58] #129 closed

[2020-01-07 19:08] #44 closed

[2020-01-07 19:43] #155 closed

[2020-01-07 19:53] jonas-jonas opened #158 "Remove Google+ button from Documentation page"
Google+ is not available anymore and the share button just leads to a 404 page. The button should be removed.

[2020-01-07 20:16] nicolaiparlog commented on #158
Anybody wants to grab this, have a look at [social-share.html](https://github.com/junit-pioneer/junit-pioneer.github.io/blob/site-source/_includes/social-share.html#L10).

[2020-01-07 20:34] nicolaiparlog commented on #138
All work is done here, right? If not, let me know and I'll reopen.

[2020-01-07 20:34] #138 closed

[2020-01-08 15:30] ggralak opened #160 "Show exception stacktrace on the last failed test iteration"
Hi All!

First of all thanks for the junit-pioneer! It's a really helpful library for us.

Unfortunately we have a problem with `@RepeatFailedTest` annotation.

In Jenkins when test fails only the last test run iteration's `AssertionError` is being shown. Unfortunately that `AssertionError` doesn't contain exception stacktrace if such happened. So every time a test fails in Jenkins we have to go t

[2020-01-13 11:54] simonenkoi commented on #146
@nicolaiparlog are there any updates on this one? I can try to fix it if there are no objections

[2020-01-13 11:56] britter commented on #146
I don't see myself doing this, so if you have the time, go ahead!

[2020-01-21 12:04] nishantvas opened #163 "Disable Parameterised tests selectively"
### **Current situation**
Currently any @Disabled extensions that are there in the junit5 framework disable any test at the class level or at the invocation level before any of the parameters are resolved and the tests are launched

This leads to disable all the tests that were potentially going to run from any of the Parameterized test sources and it reports the test as only one skipped test.

##

[2020-01-21 19:07] #146 closed

[2020-01-21 19:11] nicolaiparlog opened #164 "Require configuration failiure tests?"
Some extensions have tests that check whether broken configurations are handled as expected (e.g. `DefaultLocaleTests`). Should all extensions do that? (E.g. `DefaulTimeZoneTests`, which doesn't at the moment.)

[2020-01-21 19:18] nicolaiparlog opened #165 "Should we always use AssertJ assertions?"
Some tests use Jupiter's annotations (48 uses at the moment), some use AssertJ (123 uses). Should we always use AssertJ?

My argument in favor:

* more readable assertions and error messages
* uniform code base
* no discussion which one is better in specific cases :blush:

[2020-01-21 19:21] sormuras commented on #165
Did you mean: "Jupiter assertions"?

+3

[2020-01-21 19:28] nicolaiparlog commented on #165
Yes, totally. Updates the description to prevent confusion.

[2020-01-21 19:30] Bukama commented on #165
As written in chat: I vote for using AssertJ everywhere!

[2020-01-21 19:41] nicolaiparlog commented on #160
Seems to be a quite glaring oversight on my part. I opened #166 - maybe someone else can see a reason not to pass on the exception.

[2020-01-21 19:41] nicolaiparlog commented on #160
And thank you very much for the kind words, they are highly appreciated.

[2020-01-21 19:43] Bukama commented on #164
I my opinion it's important that a functioniality checks all of its parts. That's why I tried to check the annotation when I was trying to create the `@Issue` annotation. So I vote for _Yes they should do it_

[2020-01-21 20:31] nicolaiparlog commented on #163
That's a very interesting idea @nishantvas. I looked at the issues and thought about the use case. I don't think I'd like a reflection-based solution because it is too brittle, specifically across Jupiter versions (I try to avoid specific Pioneer versions only working for specific Jupiter versions). I played a little with argument converters, but they're not good fit for this either.

But why so c

[2020-01-22 08:34] nishantvas commented on #163
You're right, this does result in the same effect. For someone looking to build a straight forward solution this works perfectly.

Although I personally don't prefer programatic solutions for such things which need to be put in a test body. I incline more towards meta data like annotations themselves because they're more readable and indicate their purpose better. Also, I have some extra fields in

[2020-01-23 06:18] Hancho2009 opened #167 "Add Annotation for System Environment Variables"
Similiar to @SetSystemProperty and @ClearSystemProperty it would be useful if there were a option to set and clear System Enviroment Variables (java.lang.System.getenv).

"We can update [System] Properties at runtime while Environment Variables are an immutable copy of the Operating System's variables." [1].

I found a JUnit 4 Rule that does it [2] and a not released Lambda solution [3] from the s

[2020-01-23 07:00] nicolaiparlog commented on #163
You're right about that, I usually prefer such a solution for those exact reasons, but since it seems to come at quite a cost here, I think the programmatic approach can be ok.

I'd be curious to learn more about that to better understand the general use case. :blush:

I kinda like the idea, so I'm still thinking about implementing it. :grin:

[2020-01-23 07:08] nishantvas commented on #163
I'm using this with allure and am using the annotations to process tests which are disabled to link to their individual issue tags.

Since each failure in the parameterized tests can be due to a different bug, using an annotation let's me mark it better lest I take up the task of updating the test code to save this data in some common place. Which is never a good idea.

Let me know how you think t

[2020-01-28 20:28] nicolaiparlog commented on #157
Thanks for reporting, fixed by junit-pioneer/junit-pioneer.github.io@16e0c91.

[2020-01-28 20:28] #157 closed

[2020-01-28 20:28] #158 closed

[2020-01-28 20:44] nicolaiparlog commented on #165
Since everybody who shared their opinion was in favor of AssertJ over Jupiter's assertions, it is hereby decreed that only AssertJ shall be used to assert the code's holiness.

[2020-01-28 20:46] #165 closed

[2020-01-28 20:52] #160 closed

[2020-02-01 12:17] Bukama commented on #99
I was thinking about migrating one or both of them but I couldn't decide which one because of the following thoughts:

1. Copyrights: The `Stopwatch` is an example by JUnit - so would they allow it to be implemented in JUnitExtension (*wave* @marcphilipp  , @sormuras ). The `Benchmark` one is written by @nicolaiparlog
2. The purpose: Do we only want to measure time or do we perspectively also meas

[2020-02-01 12:21] Bukama commented on #149
I vote for including links.

[2020-02-01 12:24] Bukama commented on #134
I'm also not totally sure that @mkobit means, but If I then it would be a more general way like for example the #135

[2020-02-01 12:35] Bukama commented on #62
Just a side node: It was decided to *not* use the `Jupiter`-assertions but the `AssertJ` ones in #165 . Also the @junit-team included the `AssertJ` ones i `JUnit5`. So I'm not sure if this issue is still in focus of pioneer.

[2020-02-05 22:06] Hancho2009 commented on #167
https://stackoverflow.com/questions/318239/how-do-i-set-environment-variables-from-java/57274095#57274095

[2020-02-11 18:19] nicolaiparlog commented on #167
I totally understand why this feature could be useful. At the same time it's always questionable to use reflection to break into internal APIs. And then there's the module system's encapsulation on Java 9+ to deal with.

I think if faced with this decision, it really comes down to four choices:

1. not write the test at all
2. fiddle with VMs/containers to set the correct env variables
3. write yo

[2020-02-11 18:21] nicolaiparlog commented on #167
@Hancho2009, are you interested to give this a shot? It would mostly be a copy of the other two extensions you mention but with the reflection-based code to actually update the environment variables?

If anybody else wants to work on this, make sure to let us know here.

[2020-02-11 18:33] nicolaiparlog commented on #163
While I agree with your general preference to use an annotation-based approach, I still don't quite get whether it's actually _necessary_ or not. If you want to link to an issue for disabled argument combinations, we could do something like:

[code]

Anyway, I convinced myself that this is a valid feature request, so if anybody wants to implement it, leave a comment here and go for it!

[2020-02-11 18:45] nicolaiparlog commented on #99
Thanks for the write-up @Bukama! :+1: Your thoughts about naming make sense. I'm not sure whether measuring memory consumption is reliable and without overhead, so let's not commit to that. Instead, let's call this `@Stopwatch` and focus on that use case. If we later want to measure memory consumptiom (or whatever) we can do so in dedicated extensions and then maybe combine them in `@Benchmark`.

[2020-02-11 18:54] nicolaiparlog commented on #134
I think I get it now. Just to clarify: Test methods can always declare a parameter of type `TestReporter` and Jupiter will inject an instance that the test can then use to publish messages.

By creating an annotation that essentially does the same thing, we get:

* a little less code (no parameter and no instance to call `publishEntry` on)
* more structured approach to publishing messages (on top

[2020-02-11 19:12] nicolaiparlog commented on #130
For the record: [Spotless configuration](https://github.com/diffplug/spotless).

[2020-02-11 20:40] nicolaiparlog commented on #130
Current state of affairs:

* :heavy_check_mark: make `//@formatter:off` before each stream pipeline unnecessary (likely by not automatically joining lines) ~> there's a magic value (two actually, `80` is ok as well) - they correspond to _Line Wrapping ~> Wrapping Settings ~> Function Calls ~> Qualified Invocations_ in Eclipse's formatter settings.

[code]

* disable star imports ~> working on it
*

[2020-02-12 13:07] Michael1993 commented on #163
I'd like to give this a try.

[2020-02-12 17:15] Michael1993 commented on #134
I could have something but I'd like some guidance:
- What should the annotation/params be called?
- Should it be repeatable (makes sense to me)?

[2020-02-12 17:22] Bukama commented on #134
When grab the example of `@ReportEntry` as the annotation name, then a simple `key/value` pair is fine for me as the context is clear enough by the annotation name.

Repeatable annotations make sense to me too

[2020-02-13 11:03] Michael1993 commented on #163
I do have a related question, though. Say, you disable the tests and your build runs fine. How will you remember to enable the tests later? Wouldn't it be better to create a separate test for the specific test case and annotate it with `@DisableUntil(/*planned date of fix*/)`?

[2020-02-13 22:37] Hancho2009 commented on #167
Here is my shot. It works for me with Windows JDK8. It would be good if others with different systems run the tests too, because I have no linux, mac, android etc.

@nicolaiparlog I did not implement this because I did not know exactly how and where. Maybe you can give me an example of the how and a hint for the where.

I have a ProcessEnvironmentClass (Windows) and a SystemEnvClass (Linux (not te

[2020-02-15 10:58] Bukama commented on #38
As I'm struggeling at the same as when I tried to implement the `@Issue` annotation I'll post a link to the branch here and if anyone want's to adapt the current state feel free to do so.

https://github.com/Bukama/junit-pioneer/tree/stopwatch

My problems are:

1. Entering the extension context inside a test to verify if the values of another store are beeing stored
2. Verifiy if the `TestReporte

[2020-02-15 13:17] beatngu13 opened #171 "GitHub release provider not triggered"
Remeber #151? We introduced this release provider to a) properly mark releases on the release page (which suddenly was managed by Shipkit) and b) to add additional artifacts (JARs) to the release.

The problem is that the GitHub release provider, as we configured it, is [only triggered on tags](https://github.com/junit-pioneer/junit-pioneer/blob/master/.travis.yml#L43), which is typical for releas

[2020-02-18 06:39] nishantvas commented on #163
You can always mark them as `@Disabled("Planned` fix `DD-MM-YYYY")`
Since even if they start working after the fix date, I imagine you would want to go back and remove the now unused DisableUntil annotation.

Alternatively, like many people do, you can mark the fixing issue on the @Disabled annotation, and with each fixed issue, go find it's occurences and run them.

What I'm trying to say is, you

[2020-02-18 06:44] nishantvas commented on #163
@nicolaiparlog, so my idea with disabling parameterized tests was to support allure reporting.

Namely, I could use allure meta annotations to point to individual failing tests and to enable me to assign an Issue property to the parameterized tests.

Creating as an extension would allow people to meta annotate the extension and achieve something similar.

[2020-02-18 15:44] Michael1993 commented on #134
I'll open a pull request shortly, please review.

[2020-02-18 18:10] nicolaiparlog commented on #134
I agree with @Bukama, your proposals `@ReportEntry` and repeatable make sense.

[2020-02-18 18:13] nicolaiparlog commented on #171
This seems complicated and I don't wanna think about it right now. :blush: I will take a look at some other time. Thanks for reporting, though! (No irony, I mean it.)

[2020-02-18 18:24] nicolaiparlog commented on #163
Let me see if  got this right, @nishantvas. Say we would create an annotation that works as we want, e.g.:

[code]

Then you would like to combine it with allure reporting (which I know nothing about, so I may totally misunderstand you) to create your own annotation:

[code]

If that's what you're after, I have bad news: There's no way for my extension to get to `"foo"` and `5` - `@DisableParamter

[2020-02-18 18:37] #130 closed

[2020-02-19 10:25] nishantvas commented on #163
@nicolaiparlog so It's almost how you're putting it, however, as I mentioned when I raised this

junit-team/junit5#1139
junit-team/junit5#1668
junit-team/junit5#1884

The Extensions could very easily have access to `"foo"` and `5` if the `ExtensionContext` api has access to `Arguments`, unfortunately it doesn't.

Since we don't want to go with the option of using reflection to access the `Argument

[2020-02-19 14:21] nishantvas commented on #163
I pushed an example PR to should what I meant.
https://github.com/junit-pioneer/junit-pioneer/pull/175

[2020-02-25 18:50] aepfli commented on #50
I add my few cents here.

I am actually a fan of sonarqube/cloud, the tool integration is really good, the insights and overview about different issue types is also great, and it supports a lot of additional analyzers too. eg. SpotBugs/findbugs, CheckStyle etc.

I think there is by now also a really good github integration to decorate pull requests more specifically.

I also have to say that i am

[2020-02-25 18:50] aepfli commented on #28
also sonarqube can handle codecoverage ;)

[2020-02-29 15:16] aepfli commented on #127
okay i tried this, and i had no issues running the tests, are there any special tasks which are not running properly?

[2020-03-03 18:17] nicolaiparlog commented on #28
Since you mention sonar here and in #50, we should look at both issues at the same time.

[2020-03-03 19:41] aepfli commented on #127
![image](https://user-images.githubusercontent.com/9987394/75812935-61c18380-5d8f-11ea-887c-d8b5a5470067.png)

[2020-03-03 20:36] nicolaiparlog opened #179 "Improve ReportEntry Extension"
Once #134 is fixed by #173 we could add more features to the extension. Random ideas:

* introduce variables, e.g. for test name or arguments
* introduce switch when to log, e.g. before or after or on failure
* should there be a way to specify multiple key/value pairs in a single annotation, so they can be put into a map and published as a single report entry?

[2020-03-03 21:08] aepfli commented on #50
What does sonarqube offer:
- quality gates
![image](https://user-images.githubusercontent.com/9987394/75819083-43ad5080-5d9a-11ea-8098-420ede882980.png)
- different quality profiles
![image](https://user-images.githubusercontent.com/9987394/75819141-60498880-5d9a-11ea-9787-be4ab70a98fb.png)
- branch based analyses with short living branches see example
![image](https://user-images.githubuserconten

[2020-03-03 22:01] nicolaiparlog opened #180 "Reduce duplication"
Once #173, #174, #187 are merged, there's some duplication in the code that we could remove it seems helpful to do that:

* `EnvironmentVariableExtension` and `SystemPropertyExtension` are basically identical
* `findRepeatableAnnotations` should be replaceable by the new method in `Util`

More?

[2020-03-03 22:16] nicolaiparlog commented on #50
Thank you for putting this together, this looks really promising. Besides my TODOs (tokens, etc.) I'm most interested atm to discuss how exactly we want to use this. My thoughts:

* run on master to see where we need to improve
* run on branches to see where they fall short
* let's keep it casual for a while (i.e. not preventing the merge) until we've tuned the analysis to our needs

What are your

[2020-03-04 07:20] aepfli commented on #50
that would be a good starting point, we can tweek rules afterwards (like codesmells and assertions, there are some pitfall due to our testclasses within tests ;))

:+1:

to generate some easy and dettached progress i thought of setting up the fork fully with travisCI etc. so i can show off and tweak all the functionality to a really usable status without downsides. We also will have a playground t

[2020-03-04 07:47] aepfli commented on #50
additionally i will provide a guide to configure SonarLint - so people can have sonar issues already visible within their IDE

[2020-03-06 08:23] aepfli commented on #50
Update from the front, in my fork is set up everything accordingly. And it is working, i even added codecov because i thought there is an issue with coverage, which is not ;D YAY.

I will prepare a pull request next, i did a lot of strange commit, to verify everything is working with travis. need to clean that up. Furthermore, i also need to investigate some more granular build setup. It is more l

[2020-03-07 11:05] beatngu13 commented on #171
Just let me know what you prefer (prevent Shipkit from skipping tagged builds, remove the release provider from the Travis CI config, …) and I will take a look.

[2020-03-07 15:00] beatngu13 commented on #180
I can have a look at this once the PRs have been merged.

[2020-03-11 18:20] Michael1993 commented on #179
Yeah, sure, I would like to try this.

I'm not really keen on the third option but the other two is sorely needed for the extension to feel more 'complete'.

[2020-03-17 17:51] aepfli commented on #127
![image](https://user-images.githubusercontent.com/9987394/76885918-4c188780-6880-11ea-9a9a-db9568f8f86c.png)
and a linux screen

[2020-03-17 18:31] Bukama commented on #141
I would guess that for such things testcontainers are the right thing to use as they handle the port things out of the box?

[2020-03-17 18:38] Bukama opened #186 "Tests for the Util class"
On the current stream we are debugging the `Util` class as the method which is described to find an annotation on a test method or on a meta level doesn't finds annotations on class level.

e.g. The `findAnnotation` finds annotations on nested classes, but not above of them. (Current commit should be https://github.com/junit-pioneer/junit-pioneer/commit/595298c73ee23b22b08be835f341c770d089cad2 )

[2020-03-17 19:05] Bukama commented on #55
* Temporary Folder was implemented with PR #69
* StopWatchExtension has its own issue with #38

[2020-03-17 20:08] nicolaiparlog commented on #186
#187 can address this (doesn't yet, though)

[2020-03-17 20:14] nicolaiparlog commented on #127
Thanks ton @aepfli for trying this out. Because this seems to be working, I will close the issue. If anybody has problems with Gradle / VS Code integration, let us know here.

[2020-03-17 20:14] #127 closed

[2020-03-17 21:31] nicolaiparlog opened #188 "Honor behind-the-scenes-contributors"
So many have been helping out with JUnitPioneer, some without ever appearing in the commits. @Bukama, @aepfli, @Michael1993 and a few more. This project would not be where it is today (humble as that is) without their support and it's time I publicly recognized that and put their names and contributions somewhere visible.

Do that.

[2020-03-18 05:55] krzyk commented on #141
@Bukama Running docker just for a single test (or even for the whole suit) is a overkill in majority of projects.

[2020-03-18 07:10] nicolaiparlog commented on #55
Thanks for tracking this @Bukama. Here's more:

* External Resource is covered by Jupiter's [Limited JUnit 4 Rule Support](https://junit.org/junit5/docs/current/user-guide/#migrating-from-junit4-rule-support)
* Timeout seems to be covered by "StopWatch plus assertions" (see [poc](https://github.com/selesy/junit5/blob/issues/343-document-testrule-compatibility/documentation/src/test/java/example/te

[2020-03-18 07:10] #55 closed

[2020-03-18 20:36] Bukama commented on #135
If #182 gets merged you, @nicolaiparlog , could assign this issue to me. I'll then start another run on it with a little more experience now.

[2020-03-18 20:43] Bukama commented on #50
Totally missed this issue...
I see much value in the usage of SCA tools, especially `Spotbugs` and `PMD` provide useful things. I detect myself quite regular when reading the reports `Oh yeah I missed that possible bug`.

Sonarqube seems like a good place as history can be views.

Maybe we should implement it (thanks @aepfli for setting up #181) and start to gather data. If we have a feeling about

[2020-03-22 11:05] Bukama opened #190 "Config files are not discovered by tools"
I just updated IntelliJ to the current Community 2020.1 BETA using the IntelliJ toolbox. When I tried to build pioneer I saw that IntelliJ was installing `Gradle 6.1` and the build failed because the `com.gradle.build-scan` plugins version (`2.4.2`) is not compatible to `Gradle 6.x` (for this version the plugin must be switched to https://docs.gradle.com/enterprise/gradle-plugin/ ).

While analyzi

[2020-03-22 15:30] Bukama commented on #190
Just saw #96 in which was also talked about the as-is structure of `.infra`

[2020-03-22 18:38] aepfli commented on #190
I add my 2 cents here, as i can understand the decision to clean the root folder, as nobody wants to have a lot of clutter in there. But on the otherside, everyone is expecting that the tools work easily, and with little to none configuration. And that is imho the biggest problem regarding gradle.

Everyone expects the gradle wrapper to be under gradle/wrapper as this is normally the default. Whic

[2020-03-25 19:24] Bukama commented on #190
Just saw that other projects also don't have the file on root level, e.g. [hibernate-orm](https://github.com/hibernate/hibernate-orm/tree/master/gradle/wrapper)

[2020-03-26 20:20] Bukama opened #191 "Extend contributor docs about writing 1sentence per line"
A note should be added to the contributors documentation that there should only be one sentence per line in the ascii docs. Background is to ensure the readbilty of the code to ot wrapping sentences manually.  This pattern should be applied to short sentences as well - even if two or three would fit a line.

(From stream on 2020-03-26)

[2020-03-26 20:27] sormuras commented on #191
![image](https://user-images.githubusercontent.com/2319838/77693409-926c9580-6fa8-11ea-92ef-92c9aedae0f9.png)

[2020-03-26 20:27] #134 closed

[2020-03-26 21:00] nicolaiparlog opened #192 "Move from Travis CI to GitHub Actions"
GitHub Actions seem the be hot new thing and everybody's using it, including JUnit 5 itself, so let's do that, too. (Yes, that's all the reason I need to give it a try. :) )

[2020-03-26 21:00] nicolaiparlog commented on #192
@aepfli started working on this is #185.

[2020-03-26 21:01] nicolaiparlog commented on #50
Related to #192.

[2020-03-26 21:01] Bukama commented on #192
Just wanted to add: We already discussed that on Discord and in chat. See also comments on #181 and #185

[2020-03-26 21:09] nicolaiparlog commented on #190
@Bukama That's the default place as well (`gradle/wrapper`).

[2020-03-26 21:16] nicolaiparlog commented on #190
Ok, through clenched teeth I agree that inconviniencing tools THAT DON'T PROCESS `build.gradle` (:point_down: ; excuse the yelling) is not the best thing to do. Let's move the wrapper into its default place.

[code]

The other three tools in `.infra` seem to work fine, though, so I hope we can leave it there. Please? 🥺

[2020-03-26 21:17] nicolaiparlog commented on #190
Who's up for playing with the wrapper? :grin:

[2020-03-26 21:28] nicolaiparlog opened #193 "Evaluate ShipKit"
We currently use ShipKit to deploy every commit. This works well enough, but there are a few things we may want to conisder:

* We move to GitHub Actions (see #192), which also offers shipping - why not consolidate the number of tools?
* The `version.properties` file in the top-level folder is annoying me (see #96); if we stick with ShipKit, I need to open an issue to see whether that could be cha

[2020-03-26 21:32] Bukama commented on #190
I'll try it.

[2020-03-26 21:33] nicolaiparlog commented on #96
Current state of affairs:

1. this got sidetracked:
	a. in #190, we just decided to move the Gradle wrapper :heavy_check_mark:
	b. for ShipKit, see #193 :heavy_check_mark:
2. folded into #193 :heavy_check_mark:
3. see #97 :heavy_check_mark:
4. see #92 :heavy_check_mark:

[2020-03-26 21:33] #96 closed

[2020-03-26 21:56] Bukama opened #194 "Add Discord channel to readme"
From todays streaming session:

There's a Discord chat channel where we talk about `junit-pioneer`. We agreed to add a link to the projects readme to make people / contributers aware of it.

[2020-03-27 08:48] aepfli opened #196 "Update builds to run with JDK 14"
As JDK 14 got release, we would also love to run our builds against that JDK.

Therefore we need to add Java 14 to our build matrix in the GitHub Actions.

This ticket is blocked by #197

[2020-03-27 08:50] aepfli opened #197 "Update to recent gradle version"
As we want to upgrade to java 14 in #196 we need to also upgrade to at least gradle 6.3. As this is the release with official Java 14 support.

This ticket blocks #196

[2020-03-27 09:31] sormuras commented on #197
JUnit 5 already is running on [Gradle 6.3](https://github.com/junit-team/junit5/commit/f87314fecbaf0220525c88e762bfe7f9c4af5e0d).

[2020-03-27 18:54] aepfli opened #198 "Sonarcloud analysis is not working"
Sonarcloud analysis still fails to fetch project data from sonar cloud.

Might this be related with miss configuration, anyhow, we need to check, or at least remove the step from the build console

[2020-03-27 19:00] aepfli commented on #198
seems to be a configuration issue, it works from https://github.com/aepfli/junit-pioneer/runs/540306148 fine, just not in the main repo, and my repo is pushing to the same sonarcloud project

[2020-03-27 19:06] aepfli opened #199 "Github Actions for Deployments"
JUnit Pioneer currently still relies on travis for the releasing process.

Goal of this ticket is to also migrate this deployment and releaseing process to GitHub Actions

We want to migrate following code to GitHub Actions, maybe in an own build just for master, or as a sub step of the existing  #actions.
https://github.com/junit-pioneer/junit-pioneer/blob/4f3647f88bb3131b19fa77efaac1eb2edf11962c

[2020-03-27 19:28] aepfli opened #201 "GitHub Actions for Sitebuild"
Currently we rely on a travis, shell scripts and `gradle magic` to generate the side. There is a lot of knowledge involved, what does what, and how.

We want to migrate as much as possible to GitHub Actions. Therefore we should check our possibilities.

eg. instead of triggering it via gradle we could simply use [Repository-Dispatch](https://github.com/peter-evans/repository-dispatch) to trigger t

[2020-03-27 19:29] aepfli commented on #192
I created #199 and #201 as the next steps for this ticket. We should keep this ticket also for the cleanup, so we can than remove travis.yml when all the others are finished

[2020-03-27 19:31] Bukama commented on #191
I'll add one

[2020-03-27 19:50] aepfli opened #202 "Generate additional Organization team with some additional rights"
@Bukama and others are currently creating a lot of issues and pull requests and they are investing time into this project.
There is a lot of information that could actually be supplied - like labels etc. As they are not part of the JUnit Pioneer team, they can not do this.

Sidenote: i also count me to those "others" who would love to do more.

We do understand that we might not be suitable curren

[2020-03-28 21:19] Bukama commented on #171
I think this ticket will be obsolet as we decided to move to Github actions (see #193 and #199 ).

@aepfli / @nicolaiparlog What do you think?

[2020-03-28 21:23] Bukama commented on #109
@smoyer64 Can you provide an update to this issue?

[2020-03-28 21:32] Bukama commented on #192
Don't forget #28 (it was already linked to #50)

[2020-03-28 21:36] Bukama commented on #25
@aepfli @sormuras @marcphilipp As you three know gradle better: What's your tought about this?

@nicolaiparlog What other concerns do you have?

[2020-03-29 08:50] aepfli commented on #192
uh 28 is done with sonarcloud, when it finally works :)

[2020-03-29 10:08] nicolaiparlog commented on #141
I think this idea is sound enough to give it a go. One more idea, maybe don't pas the port as an int, but as an instance of a class `(Free)Port`. This removes the need for a `@FreePort` annotation on the argument and allows for a richer API if it's ever needed, e.g. checking whether a specific port is free at the moment.

[2020-03-29 10:09] nicolaiparlog commented on #141
If anybody wants to work on this, let me know and I will mark it as in progress.

[2020-03-29 10:11] nicolaiparlog commented on #171
Agreed.

[2020-03-29 10:11] #171 closed

[2020-03-29 10:14] nicolaiparlog commented on #199
This effectively removes Shipkit, right? If so, can we discuss this in #193 first?

[2020-03-29 10:32] nicolaiparlog commented on #179
The prerequisite #134/#173 are done. Let me know, when you (or anybody else) starts working on this.

[2020-03-29 10:46] nicolaiparlog commented on #193
Whatever we end up doing, we probably need to update [`CONTRIBUTING.md`-'s section on ShipKit](https://github.com/junit-pioneer/junit-pioneer/blob/master/CONTRIBUTING.md#versioning).

[2020-03-29 10:46] aepfli commented on #199
question is what we favor first. Evaluating shipkit or moving the Build infrastructure to github actions :) - both can be done at the same time. and i see the testing part as the more crucial one, which is taking more time than actually implementing it :)

[2020-03-29 10:56] nicolaiparlog opened #205 "Document underlying tools and processes for new contributors"
Starting to contribute to a new project can appear daunting, particularly if the developer does yet know all used tools and the default processes (e.g. fork ~> clone ~> branch ~> code ~> commit ~> request pull). This becomes apparent when looking at `CONTRIBUTING.md`, which explains project-specifics, but not the underlying technologies.

Can we improve the situation, so new developers have an eas

[2020-03-29 10:58] nicolaiparlog commented on #205
I like the goal of documenting this process, particularly for newbies and think the text in #204 does a good job at it. It's just not the right place.

Years ago, I had the idea to create an article series on contributing to and starting open source project. Maybe we should revive it and, because I'm notoriously unreliable on delivering on my ideas, you could contribute. What do you think?

[2020-03-29 11:53] nicolaiparlog commented on #202
Great idea and a good way to start working on #188. It wasn't immediately obvious to me how this works, but I created a team and invited you, @aepfli, so we can try out how this works. Once we have, I'll invite others.

[2020-03-29 12:12] nicolaiparlog commented on #180
I added #187 to the list of things to fix first and assigned the issue to you, @beatngu13, to start working on it afterwards.

[2020-03-29 12:27] Bukama commented on #205
I understand and part your point. As I like clear and divided structures I wrote the documentation as an appendix. This way the needed knowledge for new contributors is in the place with the project they want to start working on.

I see the "danger" that new contributors stop their try to add value to the project because they don't know how to start and won't google for it. Maybe I'm worrying too

[2020-03-29 12:32] nicolaiparlog commented on #25
I think this issue doesn't fit the current structure. This here project is technically identified as "JUnit Pioneer Expansion Pack (junit-pioneer-xp)" and other projects like junit-pioneer-uprest or junit-pioneer-weld would be created next to it under the same organization. They are independent of one another (with the exception of the website that needs to be built whenever one of them gets relea

[2020-03-29 12:32] #25 closed

[2020-03-29 13:34] #196 closed

[2020-03-29 13:45] #190 closed

[2020-03-29 13:51] aepfli commented on #197
resolved togehter with #196

[2020-03-29 13:51] #197 closed

[2020-03-29 13:56] aepfli opened #208 "Update Badges in readme"
as we are now also using SonarCloud.io and GitHub Actions, we might want to update the badges in the head of the ReadMe.

SonarCloud badge for master:
 [![Quality Gate Status](https://sonarcloud.io/api/project_badges/measure?project=junit-pioneer_junit-pioneer&metric=alert_status)](https://sonarcloud.io/dashboard?id=junit-pioneer_junit-pioneer)

GitHub action badge for master:
![JUnit Pioneer Flow

[2020-03-29 14:17] Bukama commented on #6
I asked for an update yesterday and Marc replied as this

So we can remove the classes

[2020-03-29 14:19] Bukama opened #209 "Upgrade JUnit version to 5.4.2"
We still use `JUnit Jupiter 5.3.x`. Some days ago `5.6.1` was released.

To be able to resolve #6 we need to upgrade to at least `5.4.2`, but I suggest to upgrade to the lastest available version.

`Jupiter 5.6.1 | Vintage 5.6.1 | Platform | 1.6.1 ` (as of 2020-03-29 16:20 CEST)

[2020-03-29 14:45] Bukama opened #211 "Switch from Continuous Deployment to Continuous Delivery"
At the moment we create releases every time we merge. This can be stoped by adding `ci skip-release` to the merge message.

But it already happend, that this was forgotten and a release was made unitended (e.g. the release of `0.5.5` about one hour ago).

So we should think about change from Continuous Deployment (push to PROD automatically) to Continuous Delivery (push to prod manually). Maybe by

[2020-03-29 16:36] aepfli commented on #193
i am just taking a closer look into shipkit, and i think this tooling is fine. but i also think,  we do have some code duplciation. I mean we have configured a bintray plugin, which has a maven central sync. And (i might be wrong here) is maven central not oss.sonatype.org ?? because our publication is than redundant, if we really do have a sync from bintray setup to maven central.

Hence that i d

[2020-03-29 17:22] Bukama commented on #208
I think we should add the sonarcloud build after we have some experience with it and analysed the issues from there.

As said today in voice chat I'll have a look at the sonarcloud analysis when the build errors are fixed and build process is stable again.

For the pioneer thing: Do we even need it? I mean when we release something it was successfully build?

[2020-03-29 21:39] aepfli commented on #199
i opened the Pull Request, for using this with shipkit, and so far i fell in love with Shipkit and how they use releasing. We just had a lot of additional steps in between.

There is just one down side as described in #171 - if we want to add our jars to the release on github releases, we need to put in manual effort. I skipped that for now, because this was never really working so we do not lose

[2020-03-30 15:45] #198 closed

[2020-03-30 15:49] nicolaiparlog commented on #6
Great, lets do that!

[2020-03-30 15:50] nicolaiparlog commented on #6
And thanks for following up on this! :+1:

[2020-03-30 15:54] nicolaiparlog commented on #209
Unless there's a specific need for 5.6.1, we should go with 5.4.2. As [the README says](https://github.com/junit-pioneer/junit-pioneer/blob/master/README.md#dependencies):

The intention is not to force users into a higher version than we require.

[2020-03-30 16:03] nicolaiparlog commented on #211
I don't this can be discussed separately of the ShipKit evaluation in #193 and should hence be a part of it. You bring up a good point, though, and I added it to the list of grievances.

[2020-03-30 16:03] #211 closed

[2020-03-30 16:09] nicolaiparlog commented on #205
I should have mentioned that once we publish those tutorials somewhere, we should add a very obvious link to `CONTRIBUTING.md` saying something like "IF YOU'RE UNSURE ABOUT WHAT ANY OF THIS MEANS, READ THIS HANDY GIT(HUB) GUIDE WE WROTE FOR YOU" (maybe fewer caps).

[2020-03-30 16:15] nicolaiparlog commented on #208
I'm a little lost in this rush of build/CI related issues/changes that are happening right now. Note: Next time, we need a rough overview over the goals and possible steps, so we have a simple way to track where we're at and where we're going.

On to the topic: It seems to me we need to replace the Travis badge in the issue/PR that replaces the rest of Travis with GitHub Actions. Is there an issue

[2020-03-30 16:21] #191 closed

[2020-03-30 16:24] nicolaiparlog commented on #208
Oh, found it, it's #192.

[2020-03-30 16:24] #208 closed

[2020-03-30 16:25] nicolaiparlog commented on #192
As pointed out by #208, we also need to update the badges in the README once we don't build on Travis anymore.

[2020-03-30 17:57] aepfli commented on #208
sorry i am a little of a jira guy, and i love to create more granular tasks, which normally reference other issues. yes, this is not working good with github, at least it seems so.

[2020-03-30 18:36] nicolaiparlog commented on #6
I realize right now that I never considered whether Marc's answer applies to what we specifically are doing with the internal API. Did you give this a try? Maybe we should. :) If you didn't and don't want to, we can do it tomorrow on stream.

[2020-03-31 15:56] nicolaiparlog commented on #202
The team has triage rights (let's see how far that gets us) and I just invited @Bukama and @Michael1993. If the permissions don't suffice or other people should be invited, open a new issue.

[2020-03-31 15:56] #202 closed

[2020-03-31 17:18] Michael1993 commented on #179
I have something in the works but it might take some time as I'm figuring things out. I don't want to make another half-cooked PR and dumb hours of work on you. :worried:

[2020-03-31 18:40] #209 closed

[2020-03-31 18:44] nicolaiparlog commented on #6
We gave this a try and it looks like the API does everything we need. I'll merge #210 momentarily and then we can get to work on this. I created a proof of concept in [issues/6-testkit-api](https://github.com/junit-pioneer/junit-pioneer/tree/issues/6-testkit-api). Let's do it as follows:

* replace all uses of the internal API with the new one
* open a PR, so we can have a look and see how we can

[2020-03-31 19:19] Bukama commented on #180
blocked by #174

[2020-03-31 19:53] aepfli commented on #198
We decided on checkin in the token, as we do not see any big harm, which can happen with that token. It is used to administer the sonarcloud project (sidenote currently it is even mine) and has no effect on releasing etc. We expect that the worst thing possible, would be somebody manipulating the sonarcloud analysis. So we decided on checkin this in, but within the action and not within build.grad

[2020-03-31 19:55] aepfli commented on #198
furthermore we will keep an eye on github actions and as soon, as there is a way to provide this differently, we will do so

[2020-04-01 08:00] Michael1993 commented on #205
What about [this project](https://github.com/verhas/openregime)?

[2020-04-02 20:02] Bukama opened #215 "Clean up / align internal structure, names, etc."
The current milestone we work on is called ["Cleaner Pioneer"](https://github.com/junit-pioneer/junit-pioneer/milestone/6) and includes issues covering several different like infrastructure, refacotring, polish and more. Goal is to build a solid base for future work (goal is `version 1.0`). But in my opinion one aspect of the term "Cleaner Pioneer" is missing: The current state of the lib itselfs

[2020-04-03 17:40] Bukama commented on #35
After reading the linked (and from that one further linked) issue(s) in JUnit repository it seems that it will at some point get included in JUnit itself. When the general availablity to define dynamic "test suites" [JUnit-Jupiter-744](https://github.com/junit-team/junit5/issues/744) there should be an own annotation be introduced [JUnit-Jupiter-330](https://github.com/junit-team/junit5/issues/330

[2020-04-03 18:51] Bukama commented on #10
This has been merged. That‘s why I remove the blocked label. (If i get it done in the app... - no but vis mobile browser)

[2020-04-03 19:41] smoyer64 commented on #108
Ugh ... how did I miss this thread?  I'll take a look at it over the weekend!

[2020-04-03 22:23] Michael1993 opened #217 "Evalute 'code smell' usefulness"
As can be seen in #216 SonarCloud code smells can often result in "false positives". Should this particular feature be disabled?

Most common false positives are the empty tests we don't actually execute just record with `TestExecutionRecorder`.

[2020-04-04 07:00] Bukama commented on #217
At this particular: Definitly as it doesn't fit for our environment.

In General? I don't think so as we then can skip many things. When @aepfli confirms that he has finished setting up sonar then we should evaluate all active rules (not only code smells) and also fix violations of rules we want to keep

[2020-04-04 07:04] aepfli commented on #217
Sonar is setup ;)

[2020-04-04 09:48] Bukama commented on #217
Okay, I'll try to go through it. Maybe this evening then the others play Stellaris

[2020-04-05 19:17] aepfli opened #219 "Enable Checkstyle for the whole codebase"
Curently checkstyle is only testing "production code" as only the Gradle task "checkstyleMain" is actively integrated into the build pipeline. But there is also a task called "checkstyleTest' which would evaluate test sources. Or we do not evaluate the test sources by configuration

To enable this, we need to fix some issue with the test code. Currently the task is failing due to missing package-i

[2020-04-06 07:50] nicolaiparlog commented on #219
Your PR #220 shows that we'd need some contortions to make the current CheckStyle settings work on our test code. Any chance we can configure a different configuration for the `checkstyleTest` class?

[2020-04-06 11:21] aepfli commented on #219
good suggestion excluded test srcs for package info rule

[2020-04-06 12:02] beatngu13 commented on #193
My two cents:

I believe @nicolaiparlog once brought it up during a stream, if making a release is as easy as creating a tag, why struggle with CI skips etc. to avoid accidental releases? Especially since we as library maintainers somewhat still have the concept of releases that may bundle multiple patches—in contrast to e.g. web service development, where one almost always wants to continuously d

[2020-04-06 15:23] Bukama commented on #219
When I look at the checkstyle file than I'm wondering why we even check `Javadoc` if we allow everything to be empty.

[code]

Because when we allow missing Javadoc on our message, why do we enfore it for packages and enforce parameter descriptions?

[code]
For me this is an contradiction. As we are a public library we should enfore `Javadoc` at the public methods (which is the default - missing d

[2020-04-06 15:30] Bukama commented on #217
As this said, I'll assign the issue to me as long as I have a look at the checks.

[2020-04-06 17:33] Bukama commented on #215
#217 also effects clean up.

[2020-04-06 17:33] Bukama commented on #217
From `src/main`
1. Generic `Exceptions` or `Thrownables` are used, this is correct as you should aways use a particular exception depending on your context, e.g. `IllegalArguementException` for invalid parameters
2. Several local variables don't follow the naming conventions (`^[a-z][a-zA-Z0-9]*$`, e.g. `__` - yeah such names are used! So we have to decide if want these naming convention. As they

[2020-04-06 17:41] Bukama commented on #215
Added a section in opening post about the github tags, based on chat last weekend.

[2020-04-06 17:45] Bukama commented on #50
@aepfli In my opinion its quite strange that sonarqube doesn't throw violations on as the underlying base (`master` branch) has issues. Does it only checks new/changed code?

[2020-04-06 18:01] aepfli commented on #50
yes, sonarqube-scanner with pr analysis only validates your current changed code, so you do not add new issues. This is also a big strength of the sonarqbe imho. Because rules can change, there can be new ones, there can be ones with updated severity, and this can happen during your development. So instead of blocking you with already existing issues, it just forces you to get your changes passed

[2020-04-06 18:12] aepfli commented on #217
Some issues are `false positives` some definitely not. I agree that 5. makes no sense in our context. and i already mentioned that.

Regarding 6. and `Thread.sleep()` - i think the rule is valid, and sonar is not the last instance of sanity - it is us developers. But in this case we definitely want this, so i would suggest to add a line comment like: `Thread.sleep(): //NOSONAR wanted behaviour for

[2020-04-07 15:19] Bukama commented on #50
Thanks for explanation 👍

[2020-04-07 16:37] Bukama commented on #217
As you are admin: Can you disable the rule in Sonar?

Thanks for the `//NOSONAR` hint. I added this (will push later)

Can you add a single exception for the specific class?

I would try to fix them, aside `peek()` I would need help most probably.

[2020-04-07 18:45] #115 closed

[2020-04-07 18:46] nicolaiparlog commented on #186
Closed by #187.

[2020-04-07 18:46] #186 closed

[2020-04-07 19:13] nicolaiparlog commented on #180
I just saw this in the `EnvironmentVariableExtension`:

[code]

It seems weird to me to check the presence on the container annotations. Can you check whether this makes sense? (Also present in `SystemEnvironmentExtension`.)

[2020-04-07 20:14] #194 closed

[2020-04-07 20:31] nicolaiparlog commented on #219
I think it would be it great if we could configure the CheckStyle tasks for checking main code and test code with different configuration files instead of having to mentally evaluate the configuration and the suppression files to understand which checks apply to tests.

But since that doesn't seem to be possible without quite a lot of customization, we can just do what @aepfli proposes in #220.

[2020-04-07 20:33] nicolaiparlog commented on #219
@Bukama I think your points are valid. I don't think it makes sense to discuss Sonar and Checkstyle checks separately, though, so let's widen the scope of #217 and talk about it there.

[2020-04-07 20:35] #167 closed

[2020-04-07 20:45] Bukama opened #222 "Should SystemPropertyExtension use closest or enclosing annotations"
In stream and while discussing (the already merged) #187 we were thinking about following thing:

At the moment the `SystemPropertyExtension` only looks for the `closest` annotation. When @nicolaiparlog was doing #187 he kept it that way to keep the tests passing, but we both asked ourself if that's the correct way the extension should work or if it should also take the `enclosing` annotations int

[2020-04-07 20:46] Bukama commented on #180
#174 was merged, so I removed the blocked label

[2020-04-08 11:40] nicolaiparlog commented on #193
Took a little time to research this a bit. Some comments...

Because I didn't think about this very much, beforehand, I hadn't quite realized that ShipKit is actually pretty cool and does a lot of useful but menial tasks (version bumps, tags, release notes, etc.,). :+1: I think it is worth keeping them automated.

I didn't check whether there's an alternative tool and instead wondered how we can m

[2020-04-08 11:46] aepfli commented on #193
please see https://github.com/junit-pioneer/junit-pioneer/pull/213/files#diff-392475fdf2bc320d17762ed97109a121L144-L199 regarding that, this information is duplicated for no reason :) - so far not heavily tested, but it looks good on my bintray clone

[2020-04-08 11:51] nicolaiparlog commented on #193
Wait what? Ok, then. :joy: What about stuff like the project description, or my blog URL, though? (Ok, we can ignore the latter.) And shouldn't the project site (https://junit-pioneer.org) be mentioned somewhere?

[2020-04-08 12:06] aepfli commented on #193
![image](https://user-images.githubusercontent.com/9987394/78782320-232c7380-79a2-11ea-9401-a85a446d0c81.png)
i am pretty sure there is an overwrite somewhere for that, but it defaults to github

[2020-04-08 13:38] aepfli commented on #193
https://github.com/bintray/gradle-bintray-plugin#buildgradle here we see which properties we can use to make it more junit pioneer-ish

[2020-04-08 15:06] nicolaiparlog commented on #192
It looks like there are two more things to do before we can remove Travis entirely:

* trigger ShipKit via GitHub Actions - see #199 (we can ignore the discussion around ShipKit in #192 for now)
* trigger site built via GitHub Actions - see junit-pioneer/junit-pioneer.github.io#5

Since the site built is currently broken anyways, we're not loosing functionality if we move to GitHub Actions without

[2020-04-08 15:26] nicolaiparlog commented on #193
@aepfli, @Bukama, and I just had a call and we decided that ShipKit's feature set is valuable enough to keep it around. We would like to exert more control over the release process, though, and want to trigger them manually. We had a few ideas how this can be done:

* build locally on command line
* commits to master with a marker trigger a release
    * marker could be `[ci release]` in the commi

[2020-04-08 15:41] nicolaiparlog commented on #205
Another place to publish such content would be a personal blog or we create on junit-pioneer.org (as we're using Jekyll, that should be fairly simple).

[2020-04-08 17:30] Bukama commented on #205
@nicolaiparlog Nicolai and I talked about his comment from last week and the whole topic itself and we both agree that it's nice to provide links to the basic stuff. But as we don't want to duplicate external tool documentation and we only want describe project related things (like our explicit branch strategy) those should not be in our docs.

Therefore I updated #204 and only put a short paragra

[2020-04-08 17:51] Bukama commented on #219
I think so too, so let us merge #220 and close this issue. Discussion about rules in total in #217.

[2020-04-09 16:24] Bukama commented on #193
Discussion about this was short as it needs a full local setup including full knowledge of credentials for all tools for everyone who should be able to release. Also quite much manual steps which leads to much errors. So we discarded that option.

The first of this options is quite the opposite of the current situation. But we see the problem on not being able to release without a dummy commit (wh

[2020-04-09 16:31] Bukama opened #225 "Update docs before releasing version 1.0.0"
The [Cleaner Pioneer](https://github.com/junit-pioneer/junit-pioneer/milestone/6) milestone targets on creating a solid infrastructure and clean code base. Current plan is to release version 1.0.0 when all the milestone related issues are solved.

Before the release can be done the docs must be updated, as in the `CONTRIBUTING.MD` file it says:

[code]

So the line about major version must be edit

[2020-04-09 16:33] Bukama commented on #135
As I opened a draft (#189) I'll assign this to myself

[2020-04-09 16:36] Bukama commented on #109
@smoyer64 Hope you are allright in these current days. Did you have any time to check this? Thanks and greetz from Germany 👋

[2020-04-09 16:36] Bukama commented on #108
@smoyer64 Hope you are allright in these current days. Did you have any time to check this? Thanks and greetz from Germany 👋

[2020-04-09 16:39] Bukama commented on #28
I agree as code coverage is a part of doing SCA. And sonar is already doing CC yet (see sonarbot messages on PRs). So I'll close this 😇

[2020-04-09 16:39] #28 closed

[2020-04-10 15:18] nicolaiparlog opened #226 "Create team of maintainers"
So far, I've been the only active maintainer of this project, meaning I was the only one who could make direct changes to this repo and the tools' configurations. Most of that work has been done on the weekly JUnit Pioneer streams on Twitch and supply and demand of my time have been somewhat balanced for a while. This has already started to change and will do so even more in the future, though: Du

[2020-04-10 16:18] nicolaiparlog commented on #188
#226 will turn some recent contributors into maintainers, which is a big part of honoring their contributions. Beyond that, I think they should be mentioned elsewhere, though. Also, beyond these new maintainers there are (and hopefull will be) people who contribute and deserve praise.

Effectively, everybody already gets some exposure because the release notes list everybody who commits, but the t

[2020-04-10 18:25] aepfli commented on #226
I like the idea, and it will definitly hellp @junit-pioneer/junit-pioneer-team grow (pun intended).

I would just recommend to take a few things into consideration, and recommend to clarify some things first:

1. How does the team align? will there be regular meetings, or will it be kept slack, on demand?
2. What is the merge policy for code changes of maintainers? do they need to wait for an appr

[2020-04-10 18:46] Bukama commented on #226
My first reaction was (and my feeling is still) `Wow!?! Did he really ask me to become a maintainer?`

I'm feeling vey honored, but I'm not blind to ignore that becoming a maintainer of a public libary like this comes with huge responsibility. So I asked myself if I'm convinced of myself able to take this and if I'm able to keep the high level of quality Nicolai's putting into the lib. Especially

[2020-04-10 18:50] Bukama commented on #217
To give you an update: I've updated #221 and cleaned the violations at 1 and 2. I'm not sure if all of 3 occurence can be "fixed" and I would need help at this. @aepfli tried to update the sonar rules to get rid of 4. We'll have to see if the exclusions work, after #221 was merged.

[2020-04-11 17:47] aepfli commented on #226
For me it was the same feeling like @Bukama - i felt honored and baffled. i mean it is cool i can be a maintainer of a project which actually has some stars, and is used. Which will be a great addition to my cv, and definitly put some good reputation to my name. But this is the biggest issue for me, i am actually not using pioneer. Sounds odd and strange, but i do not have the chance to upgrade to

[2020-04-12 15:29] Michael1993 commented on #49
I don't quite see the use-case for this. You should always control your input to your tests which means no randomizing.

[2020-04-13 14:34] Michael1993 commented on #34
Since this issue seems to be inactive, I took it upon myself to create a very basic implementation.

As far as I can see, the extension is supposed to help test code that reads from StdIn (System.in) or writes to StdOut (System.out).

[2020-04-13 14:53] beatngu13 commented on #180
I have two weeks off now, so I will likely soon start working on this.

Is there something else that should be discussed beforehand (we can also arrange a call for this)?

[2020-04-14 15:10] Bukama commented on #180
Personally I don't see something. As we already have replaced all calls of the `findXXXAnnotations` calls in #187 this issue comes down to check if `EnvironmentVariableExtension` and `SystemPropertyExtension` are identical and merge them into one.

[2020-04-14 15:22] beatngu13 commented on #180
@Bukama thx for the summary, will take care. ✌️

[2020-04-14 19:21] #205 closed

[2020-04-14 19:51] nicolaiparlog commented on #215
First of all, thank you for spotting these issues and taking the time to report and research them. I appreciate that.

# Definition of annotations

I concur with everything except nesting the "plural" annotation inside the repeated one. This would mean that when users check an annotations source file, they show up inside the annotation they're interested in and that's a but weird. I was going to p

[2020-04-15 16:11] Bukama commented on #215
Thanks for your response!

I personally don't see the forth as good option as its clutters two things together in one class while having to two different tasks, just for hiding one.
The second and third option are quite close, but I prefered the third to hide the "plural" one completly (and not only for other packages). If someone checks the sourcefile, he/she will find quite the same construction

[2020-04-16 19:01] Bukama commented on #215
In #228 I started to work on the settled point. I did the first three but didn't start to document the naming conventions etc. as I wanted to wait for feedback where and how. My guess would be `CONTRIBUTING.md`. But where in there? Appendix or listing them in the "Fixing Bugs, Developing Features" chapter?

[2020-04-17 09:26] nicolaiparlog commented on #226
Thanks for your honest and insightful replies. Leaving @aepfli's numbered list of concrete and important questions aside for a moment, I want to address the larger picture.

# What does it mean to be a maintainer?

As I see it, the job description is similar to that of a project lead. Yes, the lead occasionally writes code, but that's not their core task. The rest of the team does that and in this

[2020-04-17 13:17] Bukama commented on #226
Thank you @nicolaiparlog for your words, washing something like a light feeling of pressure away. I like your suggestions and I think we should don't forget that's a small project we support in our spare time next to jobs, family and other things. This doesn't mean that we don't take it serious and somehow professional, but it should be possible to take a step back when the important things in lif

[2020-04-17 13:42] Bukama opened #229 "Providing features for specific IDE"
Today there were two PR at JUnits repository merged that draw @nicolaiparlog s attention and he likes to discuss them:

* [2241 - GitHub issue links in IDEA Git log](https://github.com/junit-team/junit5/pull/2241)
* [2240 - Add icon for JetBrains Toolbox](https://github.com/junit-team/junit5/pull/2240)

As you can read from the link description both things don't target the JUnit code itself, but f

[2020-04-17 14:04] Bukama commented on #229
The JUnit team was also discussing if they should improve support for specific IDE and they first decline the icon thing, but accepted the link thing, because it saves time for all users of this IDE. After that they reverted their rejection of the icon thing, because their argument "we don't want to add IDE specific configuration files" was gone.

I think (don't know) they changed their mind becau