[2021-04-28 20:38] beatngu13 commented on #467
I like the idea. Some thoughts: I contrast to e.g. JUnit's [`@EnabledOnOs`](https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/condition/EnabledOnOs.html) or [`@DisabledOnOs`](https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/condition/DisabledOnOs.html), I wonder if such an annotation is a bit different in its nature.

If, for

[2021-04-29 07:13] beatngu13 commented on #469
You mean the version passed via the GitHub Action workflow must be written to `version.properties`?

[2021-04-29 12:45] nipafx commented on #469
Not precisely. What I'm pretty sure would work would be `1.4.*`, so only minor increments need to be written there. But since pretty much every feature changes that, that still sucks. Maybe `1.*.*` can work as well? Need to try that.

Alternatively, we could try to remove the auto-version-plugin together with the file. As I understood, since we set the future version explicitly, the only thing it

[2021-04-29 12:54] nipafx commented on #467
@Bukama: I did not imply any order. As soon as one of the tests fails, the remaining ones should not run, no matter their order.

@beatngu13: Can we prematurely abort tests? Isn't that a thing that only happens during/after test execution?

[2021-04-29 19:31] beatngu13 commented on #467
@nipafx what I've found so far:

* [`TestSkippedException`](https://ota4j-team.github.io/opentest4j/docs/1.2.0/api/org/opentest4j/TestSkippedException.html): "[…] used to indicate that a test was skipped _prior_ to execution (e.g., _disabled_ or _ignored_)."
* [`TestAbortedException`](https://ota4j-team.github.io/opentest4j/docs/1.2.0/api/org/opentest4j/TestAbortedException.html): "[…] used to ind

[2021-04-29 20:47] jbduncan commented on #348
I just wanted to say that this issue is of interest to me, and that I've just signed up for hack.commit.push so that I can dedicate some time to work on it.

I'll see if I can find the time beforehand to submit a proposal, but worst case scenario I'll draft it up on the day.

Is this the right place for me to discuss proposals, or would Discord or some place else be better? :)

[2021-04-29 21:12] Michael1993 commented on #348
Feel free to discuss it here, on Discord, on Twitter, via smoke signals, over telegram or carrier pigeon (or any other way). We'd love to hear from you!

Personally, I'd use Discord, for quick/casual feedback and the GitHub issue for a more formal proposal (because the latter is a bit more permanent) but any way you want is fine.

[2021-04-30 08:09] nipafx commented on #467
I'm not even sure where we would throw those exceptions. During _condition evaluation_? That seems to go against the grain of that extension point. Or in _before each_?

[2021-04-30 08:16] nipafx commented on #348
I want to amend this: In the end, a summary of the conversation and the proposal needs to land here for future reference. So while preliminary conversations are a better fit for Discord et al, showing the actual proposal here would be easiest.

[2021-04-30 08:24] nipafx commented on #431
We should probably discuss how to best provide support during the event. I'll definitely be live-streaming my side of it, so coming to Twitch is one way to get in touch. Then there are the issues and pull requests here on GitHub that we can monitor and reply to. The question is, do we need more?

* We could offer a Jitsi room for people to come into and have a high-fidelity conversation with a mai

[2021-04-30 10:16] fbiville commented on #431
FYI, we're going to use https://workadventu.re/ for the event (it may change if we face any unexpected difficulties but that's the current plan). Every group is of course free to use its own tooling.

[2021-05-02 17:09] Thihup opened #472 "Add a way to repeat all test suit"
Currently, the JUnit has the option of using the @RepeatedTest to allow a test to run multiple times.

Using the JITWatch, we can see how the application is behaving, so using the test suit would be a great way to get this information. However, running the tests one time each we cannot give the JIT enough time to really optimize.

In summary, to achieve this, now I'm replacing all `@Test()` with `

[2021-05-02 21:20] oliviercailloux opened #473 "ExtensionConfigurationException on system properties annotations example provided in the doc"
I copied the [example](https://junit-pioneer.org/docs/system-properties/) provided in the doc to a [test class in my project](https://github.com/oliviercailloux/JARiS/blob/pioneer/src/test/java/io/github/oliviercailloux/jaris/credentials/MySystemPropertyTest.java). When executing `mvn test`, I get this [exception from pioneer](https://github.com/oliviercailloux/JARiS/runs/2487957466?check_suite_fo

[2021-05-02 22:10] Michael1993 commented on #473
It's very likely that this is actually a bug related to #460. Please give us some time while we look into it.

Pinging @beatngu13, just in case.

[2021-05-03 06:39] beatngu13 commented on #473
@oliviercailloux thx for reporting, I can confirm that this test fails.

@Michael1993 not sure if related, all I can say so far is that [this (nested) test](https://github.com/junit-pioneer/junit-pioneer/blob/main/src/test/java/org/junitpioneer/jupiter/SystemPropertyExtensionTests.java#L143) obviously doesn't test what we want it to test.

I will further investigate this issue.

[2021-05-03 07:17] beatngu13 commented on #473
Update: [Our test](https://github.com/junit-pioneer/junit-pioneer/blob/main/src/test/java/org/junitpioneer/jupiter/SystemPropertyExtensionTests.java#L143) passes because it's like adapting Olivier's test as follows:

[code]

* Before all callback:
  * Entries to clear: `some property`
  * Entries to set: n/a
* Before each callback:
  * Entries to clear: `another property`
  * Entries to set: `some

[2021-05-03 08:15] Michael1993 commented on #460
Okay, let me present another case I'm unsure about:
[code]

[2021-05-03 14:41] nipafx commented on #472
Hi @Thihup, I'm not sure whether this is possible in general. Actually, I'd be surprised if it worked for all cases, but it may work for many (e.g. the `@Test` annotated ones).

That said, I think this would be a nice feature for junit-platform. To run the entire suite repeatedly for a fixed number of times or even until aborted. Have you checked whether _junit-platform-console-standalone_ has suc

[2021-05-03 14:42] Michael1993 commented on #468
Hm, I'm not a 100% sure that an annotation is the proper place for what is essentially an [assumption](https://junit.org/junit5/docs/current/user-guide/#writing-tests-assumptions).

[2021-05-03 14:54] Michael1993 commented on #467
My best guess is that it would be a combination of a [`TestWatcher`](https://junit.org/junit5/docs/5.5.1/api/org/junit/jupiter/api/extension/TestWatcher.html) and an [`ExecutionCondition`](https://junit.org/junit5/docs/5.5.1/api/org/junit/jupiter/api/extension/ExecutionCondition.html).

[2021-05-03 15:22] nipafx opened #474 "Restructure build matrix"
Our current build configuration operates on the following sets:

* operating systems `OS` = { Ubuntu, Windows, macOs }
* Java versions `J` = { 8, 11, 16 }
* modularity `M` = { `true`, `false` }
* JUnit versions `U` = { 5.7.0, 5.7.1, 5.8.0-M1 }

But we don't build all possible combinations `OS x J x M x U`, which would be 54 builds and slightly above the [20 builds GitHub runs in parallel for free]

[2021-05-03 15:54] sormuras commented on #472
There's no such feature nor an option for `junit`.

Would running the `java ... --scan-classpath` in a loop (and merging log files) do the trick?

[2021-05-03 16:21] Thihup commented on #472
@sormuras I guess not, because the JVM will start from a cold state every time it is restarted, so it will lose some JIT optimizations.

[2021-05-03 16:29] nipafx commented on #469
It Idea worked! :) #475

[2021-05-03 16:35] nipafx commented on #431
I think that will be fine, thanks @fbiville!

[2021-05-03 16:46] nipafx commented on #468
Thinking this over, I realized that I couldn't draw a clear boundary between uses cases for conditions (i.e. disabling a test) and for assumptions (i.e. aborting it). [JUnit says](https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/Assumptions.html):

That strongly suggests that this should indeed be an assumption. (I'm not 100% sure whether JDK versions and OSes

[2021-05-03 16:51] nipafx commented on #468
Whoever wants to implement this, should note that the issue will probably cause a few discussions because it would be our first assumption. That means:

* there are no tests that can be copied and adapted
* it is unclear how exactly we will document this
* it is unclear what exactly the package structure will be

Not trying to discourage anyone, just saying that it may not be the quick win it migh

[2021-05-03 16:57] nipafx commented on #467
@Michael1993 If we want to disable, then yes. But if we want to abort (as @beatngu13 proposees), I wouldn't know where to throw said exceptions.

Since a few people looked at this and no serious concerns were brought up, I'll go ahead and mark this as good to go.

[2021-05-03 17:25] nipafx commented on #366
After a few months of not thinking about this, I settled on the following:

General:

1. Don't limit how far in the future the date can be. Nobody's forced to use `@DisabledUntil`, so if the limit bothers them, they'll just use `@Disabled` and nobody wins.
2. n.a.
3. Emit a warning as a report entry. (We can always make this stricter.)

Extensions:

1. Create an extension `@DisabledUntil`, where t

[2021-05-03 17:29] nipafx commented on #469
Fixed by the three PRs cross-linked above.

[2021-05-03 17:29] #469 closed

[2021-05-03 17:35] nipafx commented on #474
An obvious solution would be to define a baseline combination and then explore each set from there, keeping the others fixed, i.e.:

* `{ Ubuntu } x { 8 } x { false } x { 5.7.1 }` as baseline (1 build)
* `OS x { 8 } x { false } x { 5.7.1 }` (`|OS|` builds)
* `{ Ubuntu } x J x { false } x { 5.7.1 }` (`|J|` builds)
* `{ Ubuntu } x { 8 } x M x { 5.7.1 }` (2 builds)
* `{ Ubuntu } x { 8 } x { false } x

[2021-05-03 17:51] aepfli commented on #474
I would also evaluate what do we really need on a merge request and what can be handled as an action on a merge into develop.

Generally speaking it is nice, if everything runs during a merge request - but is it really needed or is it needed all the time?

For verification if the code works (which imho the CI should guarantee) a small build is enough (to be honest we need it to get reminded of spo

[2021-05-03 17:53] aepfli commented on #474
another thought which came to my mind, we could merge the JAVA VERSION builds into one build with the tool chain support of gradle, and execute them sequentially.

Normally we would only have a little overhead and the test execution time, as gradle should be able to use the cached output of the previous gradle runs. At least worth an experiment to check feasibility

[2021-05-03 21:29] beatngu13 commented on #467
What could work: Let an extension implement [`TextExecutionExceptionHandler`](https://junit.org/junit5/docs/5.5.0-RC2/api/org/junit/jupiter/api/extension/TestExecutionExceptionHandler.html) to keep track of thrown exceptions. If the given exception is present, use [`BeforeTestExecutionCallback`](https://junit.org/junit5/docs/5.5.0-RC2/api/org/junit/jupiter/api/extension/BeforeTestExecutionCallback

[2021-05-04 08:55] nipafx opened #477 "Create annotation that limits disabling extensions"
#366 will introduce an annotation `@DisabledUntil` that disables a test until a certain date. It was discussed whether other disabling annotations should get an attribute that has the same behavior. I don't think that's a good idea. Currently it's only planned to disable a test _until a date_, but _until a project version is reached_ or _until an issue is fixed_ are conceivable as well (and maybe

[2021-05-04 08:56] nipafx commented on #477
I'm gonna mark this as _in discussion_ until I get some feedback on the idea and as _blocked_ until #366 is implemented.

[2021-05-04 09:04] nipafx commented on #472
I recommend to open an issue with [Junit 5](https://github.com/junit-team/junit5) because adding an option `--repeat n` to the launcher sounds like it deserves a discussion (there seems to be some benefit and I assume it would be quite easy to implement).

I'll go ahead and mark this issue as blocked until that discussion was resolved (or it was stated that it can't be had there).

[2021-05-04 09:14] nipafx opened #478 "Guarantee reproducible builds with limited disabled tests"
We need to discuss how to make tests that are disabled until some external condition is fulfilled (see #366 and #477) can be configured, so they don't cause problems with reproducing a build. Thoughts:

1. unless we write each execution's external state (date, version, issue state, etc.) to disk and commit (which users might not appreciate a whole lot), I see no way to make builds precisely reprod

[2021-05-04 09:30] nipafx commented on #478
Another use for the "external configuration"-mechanism, would be to selectively disable the disabling, e.g. fake a future date or fake the resolution of some issue to impact that has (e.g. see [this tweet](https://twitter.com/stitzl/status/1389483530640633857)).

[2021-05-04 10:29] Michael1993 commented on #477
I disagree. Instead it should check for the presence of a meta-annotation that is common among all "additional logic on disabling"-types. E.g.:
[code]
where `UntilExtension` implements
[code]
I.e.: `class UntilExtension implements DisablingLogicCallback<Until>`

This way any additional logic can be seamlessly implemented without the need to further modify the behaviour of the disabling extensions

[2021-05-04 17:43] #473 closed

[2021-05-04 18:11] nipafx opened #479 "Enclosing classes vs Before/AfterAll"
In #473/#476 we removed the search for annotations on enclosing classes because it's handled by the Before/AfterAll callbacks. That made me wonder whether there are other extensions that misuse `PioneerAnnotationUtils::findClosestEnclosingAnnotation`. I looked at two extensions:

* Issue extension uses it correctly because it needs to file a report entry for each test based on the annotation on so

[2021-05-04 18:22] nipafx commented on #473
Thank you @oliviercailloux for reporting the bug and giving such a clear explanation. That made it easy to reproduce.

@beatngu13 fixed it and we just released v1.4.1 with the fix. Have fun!

[2021-05-04 19:15] keturn commented on #282
Hmm, yeah, if you only have a single function in there and it's using Groovy's XmlSlurper, there's not really a pressing argument to convert it to Kotlin.

Ideally this would be supported by gradle-idea-ext and then you wouldn't have to have this code that makes assumptions about some other application's internal storage format. Sounds like you've already looked in to that: https://github.com/JetB

[2021-05-04 19:47] keturn commented on #348
I had a want for this the other day: https://github.com/junit-team/junit5/issues/1786 : Support @TempDir tags in extensions

[2021-05-04 20:02] keturn commented on #49
When you get to the point of wanting to have reproducible runs, this looks like it might be of use: [java.util.SplittableRandom](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/util/SplittableRandom.html)

[2021-05-04 20:28] nipafx commented on #49
In lieu of fleshing out this issue, I created [a proof of concept](https://github.com/junit-pioneer/junit-pioneer/tree/lab/random-arguments). 😁

[2021-05-04 20:40] oliviercailloux commented on #473
It is a pleasure to contribute (very modestly) to such an efficient workflow as yours.

[2021-05-05 13:56] nipafx commented on #415
While developing the proof of concept for #49 yesterday, I created annotations `@RandomString` and `@RandomInt` to be used as follows:

[code]

That worked really well. I think there's potential to revamp the Cartesian product extension and make it much more powerful by more easily interacting with a wide variety of different annotations:

[code]

[2021-05-05 14:34] Bukama commented on #479
Maybe (obviously) I don't get it: When the two extensions use it correctly then why change them?

[2021-05-05 14:42] Bukama commented on #468
I'm totally with you: This cleary is an assumption.

[2021-05-08 12:43] nipafx commented on #479
I find it a bit weird that different extensions take two different approaches to achieve the same goal. As I see it, this is not an "it depends" situation - the extensions have the exact same requirements, so one solution should suffice. Maybe one of them is better and we should pick that one, but even if not - having just one eases learning and maintenance.

[2021-05-09 05:28] Bukama commented on #479
Ah okay, thanks for clarification. I agree with you that we should have one approach for the same thing and not multiple

[2021-05-10 08:04] Michael1993 commented on #479
Does it really matter? Both approaches solve the same problem just in different ways. Personally, I think _not_ implementing `BeforeAll` and `AfterAll` leads to better control of the extension lifecycle (basically meaning there is no weird bug from finding the same annotation in both `BeforeEach` and `BeforeAll`), so that's my preference.

[2021-05-11 17:33] fknittel opened #480 "SetSystemProperty / SetEnvironmentVariable broken for nested classes"
Looks like 3ecf1338f552d99a5192999ee142d09760413d78 had the side effect of breaking SetSystemProperty and SetEnvironmentVariable when used in nested classes. Example for SetSystemProperty:

[code]

This is due to `SystemPropertyExtension.entriesToSet()` now only returning the property "PROP" for the outermost `ExtensionContext` in `AbstractEntryBasedExtension.beforeEach()`. While this is fine duri

[2021-05-11 18:00] beatngu13 commented on #480
Thanks for reporting, will look into this.

[2021-05-11 21:37] beatngu13 commented on #480
So, I investigated that issue and can confirm that this indeed is a problem. But thanks to your excellent analysis (kudos!), it wasn't that hard to come up with a quick fix. As you already pointed out:

I did this:

[code]

Determining the store key via the display name of the current test or container seems to do the trick.

Would you mind giving this a try? You can obtain [my fork's branch](http

[2021-05-12 09:39] fknittel commented on #480
Thanks for your impressively quick response and fix! Looks good. (Still a bit unhappy, that JUnit doesn't provide a nicer/more obvious API for this scenario.)

I'll give your fork a spin, but I don't expect to uncover any surprises - your "failing test" looks sane.

[2021-05-12 10:45] fknittel commented on #480
I can confirm that your fork/branch fixes my issue.

@beatngu13 Side-note: For some reason the [JitPack build](https://jitpack.io/#beatngu13/junit-pioneer/issue~480-nested-sysprop-envar-SNAPSHOT) contains [no artifacts](https://jitpack.io/com/github/beatngu13/junit-pioneer/issue~480-nested-sysprop-envar-v1.3.0-g0788c62-34/). While building locally, I had to disable signing to allow `publishToMaven

[2021-05-12 17:53] beatngu13 commented on #480
Glad it worked out! 🥳 I just opened #481 and assume the fix will be shipped via v1.4.2.

Also thanks for pointing to the JitPack failure. We recently changed our build/publishing mechanism, which apparently leads to this problem. I will create a separate issue and PR for this.

[2021-05-12 19:44] beatngu13 opened #482 "Sign artifacts conditionally"
As pointed out by @fknittel in [this comment](https://github.com/junit-pioneer/junit-pioneer/issues/480#issuecomment-839670979), JUnit Pioneer currently can't be used via JitPack. This is because `publishToMavenLocal` fails as it tries to sign the artifacts ([JitPack log](https://jitpack.io/com/github/junit-pioneer/junit-pioneer/v1.4.1/build.log) on v1.4.1):

[code]

According to the [Signing Plug

[2021-05-13 10:22] beatngu13 commented on #460
Sorry for the late reply! If the extensions are meant to implement `BeforeAllCallback`, I would say yes. If we switch to `BeforeEachCallback` only, this is no longer the case.

Apparently, this is unspecified behavior at the moment. 🤷‍♂️ [Docs](https://junit-pioneer.org/docs/system-properties/) don't say anything about this, and the [Javadoc of `@SetSystemProperty`](https://github.com/junit-pionee

[2021-05-13 20:58] jbduncan commented on #348
Just wanted to follow up and say that I'm still interested in this, I've just been feeling tired from work lately, so I've dedicated some time in my calendar to revisit this a week before hack.commit.push to get an initial proposal out there.

[2021-05-15 12:29] nipafx opened #486 "Create scenario test extension"
In junit-team/junit5#48, the JUnit team and users discuss whether and how to allow _scenario tests_, generally understood to mean a linear sequence of test cases where each step needs to complete successfully before the next one is started. I think such a way to write tests is very interesting and should be supported somehow. Since [Marc Philipp asked|https://github.com/junit-team/junit5/issues/48

[2021-05-15 14:11] jbduncan commented on #348
When I do get around to this and submit my proposal, I should ensure that my implementation satisfies the following JUnit 5 bug report too: https://github.com/junit-team/junit5/issues/2609.

@nipafx Would you mind amending the OP to link to this issue as well? :)

[2021-05-15 14:31] nipafx commented on #348
@jbduncan Done.

[2021-05-15 14:32] jbduncan commented on #486
I'm personally a fan of the [Robot Pattern](https://medium.com/@igor.brishkoski/ui-testing-in-android-robot-pattern-cce0bf1f3d34), which allows one to define more declarative "steps" inside a single test.

It works great when one has to write assertions with a library like Android Espresso, which are naturally a bit hard to read. But it only works if one has access to a DSL-oriented language like

[2021-05-17 05:16] Bukama commented on #486
Will reply later when reading this huge issue on Junit5 project page, but in short: I like it.

[2021-05-17 08:25] Michael1993 commented on #486
Solution given in original thread looks fairly straightforward. I propose we add this to "ready to get started" in `hack.commit.push`.

[2021-05-18 09:30] nipafx commented on #486
You mean the one in the opening post? I don't like it:

* linking to the (single) next test to run doesn't allow "splitting" the test graph
* linking by method names is fragile

Generally, I think it makes more sense to link to the previous test, thus expressing "that one needs to be successful before this one makes sense". Just like linking to the next prevents splitting, this prevents "joining",

[2021-05-18 16:56] Bukama commented on #474
We just decided to have a two tier build by default with `Ubunto`, `Java 8` and multiple `JUnit` versions by default and a full matrix build triggerable manually. We see value in the second tier (JUnit) because it's our main dependency and changes there have a high(er) chance to break something internal (e..g test kit) and external (extensions).

If possible we want to trigger builds by labels, so

[2021-05-18 17:00] aepfli commented on #474
[code]
https://github.community/t/do-something-if-a-particular-label-is-set/17149/2

As a note, might be worth to investigate into, and seems like an easy and feasible solution

[2021-05-23 19:12] jbduncan commented on #348
I now have an initial proposal for what an API for solving this overall issue could look like. (See below.)

Many thanks to @sormuras for the inspiration with his [proof-of-concept](https://github.com/sormuras/brahms#temporary-directory-as-resource)!

(I've not yet taken all the issues linked in the OP into account, so any feedback on anything that I've missed would be most appreciated!

I'm also

[2021-05-23 19:17] jbduncan commented on #348
My most up-to-date work can be found at https://github.com/jbduncan/junit-pioneer/tree/issue/348-temp-dir-extension.

[2021-05-23 19:29] sormuras commented on #348
For the record: using my own dog-food "internally" here https://github.com/sormuras/bach/tree/main/test.base/test/java/test/base/resource

[2021-05-23 23:04] jbduncan commented on #348
...and I've just seen I forgot to explain something called `@Singleton` in my proposal, so I'll see if I can submit an amendment later this week.

[2021-05-25 08:19] slawekjaranowski commented on #407
what do you think about providing some random suspend value?

we can have `suspendForMs` with minimal suspend time value
and second property `suspendForMsFactor` (or similar)

behavior
 - only set `suspendForMs` - wait this time
 - only set `suspendForMsFactor` wait `Random.nextInt(suspendForMsFactor)`
 - set `suspendForMs` and `suspendForMsFactor` wait `suspendForMs + Random.nextInt(suspendForMsF

[2021-05-25 08:33] Michael1993 commented on #407
@slawekjaranowski I'm curious - what's your use case? Seems very specific.

[2021-05-25 08:49] slawekjaranowski commented on #407
No specific case - just proposition for more elastic configuration

[2021-05-25 09:13] Michael1993 commented on #407
Okay, I updated the original issue with an approach that should cover your proposal and we can have a discussion about it.

My personal take on it is that if a retrying test needs to wait, then it's not a big difference if it has to wait a specific or a random amount of time. Do you have a use case where this would be useful?

[2021-05-25 09:52] slawekjaranowski commented on #407
When test depends on external resource (eg. web service) and project is developed by many developers, run on many ci systems it can happen that test from each environment will retry in the some similar time.

Of course I think about some of IT, system tests - unit test shouldn't depends on external resources.

[2021-05-25 21:00] jbduncan commented on #348
Here's the new version. [issue-348-proposal.md](https://github.com/junit-pioneer/junit-pioneer/files/6542314/issue-348-proposal.md)

Or if you prefer, here's the associated [Git diff](https://github.com/jbduncan/junit-pioneer/commit/7501c015b300b3d051b329083f657ae21b5cb83c) and the above new version as a [branch on Git](https://github.com/junit-pioneer/junit-pioneer/compare/main...jbduncan:issue/3

[2021-05-25 21:01] jbduncan commented on #348
I've decided to not include the before-mentioned `@Singleton` annotation, because I'm not sure if I'll have time to implement it on top of the rest of the proposal.

[2021-05-26 09:37] Michael1993 commented on #416
After #487, we need to think of a new approach to this extension. Perhaps if `@CartesianCsvSource` provided values to all parameters?

Personally, I think instead of this:
[code]

Now we can have this:
[code]

What's your thoughts @scordio?

[2021-05-26 10:05] scordio commented on #416
If I understand your proposal correctly, each line would provide all the possible values for each parameter. So, with:

we would have 2 x 3 x 3 = 18 tests, while my original proposal was targeting only 2 x 3 = 6 tests, where the "2" comes from values { 1, 2 } for the `i` parameter, and the "3" comes from the three pairs { (A, B), (C, D), (E, F) } for parameters `s1` and `s2`.

I think the new `@Ca

[2021-05-27 16:10] nipafx commented on #49
I think the best use for this extension is to become part of the revamped Cartesian product extension, so I don't think it makes sense to invest more time here before #415 is done.

[2021-05-29 08:24] nipafx commented on #415
While reviewing a part of #487, I [wrote this comment](https://github.com/junit-pioneer/junit-pioneer/pull/487#discussion_r641905335):

Thoughts?

[2021-05-29 08:25] nipafx commented on #415
I want to point out that we didn't have subpackages so far, so starting to do that would be quite the change and open the "which extensions need their own packages" can of worms that we prevented so far.

[2021-05-29 09:00] filiphr commented on #101
I'd like to give this a go. What is my current thinking about this is the following.

We would expect the json files to contain array of values or a single object:

Array of values:
[code]

Single object:

[code]

Then using `@JsonSource` we would support the following:

[code]

Basically if you have one parameter we try to map into that object. If you have multiple parameters then it would be tre

[2021-05-29 09:11] nipafx commented on #482
Sounds reasonable.

[2021-05-29 09:13] aepfli opened #490 "Evaluate jreleaser instead of shipkit"
we are using:
- shipkit for changelog
- our own version approach
- signing
- uploading   maven central
- using shipkit for releases

We can evaluate jrleaser doing a lot of those parts in one configuration and additionally more, like announcements etc. just out of one tool like:
- discord, twitter announcements
- changelog with emojis :D - not sure maybe shipkit supports that too
- and many more

[2021-05-29 09:30] nipafx commented on #482
While reviewing #483, we came across the fact that because `project.version` is "unspecified" (that's the actual value!) except when `-Pversion` is set for a release build, `gradle publishMavenPublicationToMavenLocal` publishes an artifact with that version, which is at least unexpected, maybe it even breaks some tools. I'm not sure whether fixing this issue will be enough to use Pioneer with JitP

[2021-05-29 09:33] #482 closed

[2021-05-29 09:41] jbduncan commented on #348
In response to feedback during hack.commit.push, here's my latest proposal!

Git diff: https://github.com/jbduncan/junit-pioneer/commit/22ed80ce7b4e0e757124e50b2d03b41b95109677
Entire Git branch: https://github.com/junit-pioneer/junit-pioneer/compare/main...jbduncan:issue/348-temp-dir-extension

[2021-05-29 09:44] nipafx commented on #101
I like your approach, @filiphr. Having a single JS object per invocation makes more sense than what I proposed above. I also like deconstruction in `testCustomerFields`. 👍🏾

Regarding @aepfli's proposal for default data, I think we should not implement that in the first try but that raises the question whether we already want to prepare for such a scenario by requiring the actual data on a top-lev

[2021-05-29 09:45] nipafx commented on #101
The thing with the dependencies is a bit more complicated. I'd need to look into your proposal at another time. But that wouldn't touch the code you write, so you can already go ahead with that. Let us know when you do. :)

[2021-05-29 09:46] nipafx commented on #490
But... we just got Shipkit to work. 😭

[2021-05-29 09:47] nipafx commented on #348
I'm just gonna publish your proposal here. Verbatim in the next message.

[2021-05-29 09:48] nipafx commented on #348
Extension `ResourceManager` looks for fields and
parameters annotated with `@New` `@Share` and `@Shared`.

`@New` is a field/parameter-level annotation that accepts
a Class that implements `ResourceSupplier<T>`. For example,
`@New(TemporaryDirectory.class)`

`@Share` is a class-level annotation that accepts a Class
that implements `ResourceSupplier<T>`, as well as a String
name. For example,
`@Sha

[2021-05-29 09:52] aepfli commented on #490
just because there is a issue, it does not mean, we really have to work on it. but we can collect thoughts (and prayers) - and see if this is actually feasible or not. but it might help us in the future, if we again evaluate shipkit :)

but it looks nice doesnt it?

[2021-05-29 10:53] nipafx commented on #490
😂

[2021-05-29 11:13] nipafx commented on #348
I really like this proposal. I do recommend a different approach to closing resources, though:

[code]

Then, in the `ParameterProvider`:

[code]

Btw, adding shared resources to the store will make it easy to retrieve them from there.

[2021-05-29 11:16] nipafx commented on #348
Another thought - how can we have arguments for resource creation, e.g.:

[code]

Oh wait, can we just have an attribute `Object[] arguments` on `@New` whose values get passed to the `ResourceFactory` constructor?

[2021-05-29 11:22] jbduncan commented on #348
For posterity, I discussed @nipafx's proposal above with him over his Twitch stream, and I'm happy to give it a shot!

[2021-05-29 11:25] aepfli commented on #474
something like
![image](https://user-images.githubusercontent.com/9987394/120068504-4e2fc600-c081-11eb-8237-51f7a440332c.png)

with an own action which fails, when the maintainer run is missing?

[2021-05-29 11:39] #480 closed

[2021-05-29 11:47] nipafx commented on #480
I just released 1.4.2 with the fix. I'm sorry it took 2.5 weeks (particularly after @beatngu13 created the fix in a day). 😔

[2021-05-29 12:40] #460 closed

[2021-05-29 12:48] #313 closed

[2021-05-29 15:43] aepfli commented on #474
here is a little sneak peak:
https://github.com/aepfli/junit-pioneer/pull/9

if the mr does not have the label merge-ready, it will trigger a minified build. with a failing action notifying us, that a maintainer needs to do something.
![image](https://user-images.githubusercontent.com/9987394/120076307-310cee80-c0a5-11eb-8c11-11e67090d4d0.png)

if it has the label the whole pipeline is executed.
!

[2021-05-29 17:20] aepfli commented on #474
@nipafx @Bukama @beatngu13 what do you think about such an approach? good bad ugly?

[2021-05-29 19:50] jbduncan commented on #348
I've just created a draft PR with my ongoing work: https://github.com/junit-pioneer/junit-pioneer/pull/491

Even though it's a draft, feedback is very much welcome.

[2021-05-30 16:50] filiphr commented on #101
I like the `data` idea approach.

I went ahead and did PR #492. Documentation is missing, but I wanted to first get your feeling about the proposal before diving into docs.

[2021-05-30 22:40] aalmiray commented on #490
Pitch: I can help you get going with JReleaser. Could be done as a couple of sessions over Twitch stream 😉

[2021-05-31 17:59] aepfli commented on #474
so, i was bored, and added a finalizing step with Java 17 ea and gradle RC - also on windows, linux and macos :D

![image](https://user-images.githubusercontent.com/9987394/120228039-a2d26d00-c24a-11eb-9c89-e5d676fbb43e.png)

[2021-05-31 18:10] aepfli opened #494 "CleanUp GitHub Actions"
Our Github actions are a mess, we started and improved them over time, we renamed them etc. But now we do have some old Actions in there, which we do not need anymore.
Sadly there is no GUI way of deleting them, but we can delete them via api.

We should delete all GitHub Actions which are deactivated:
- [JUnit build](https://github.com/junit-pioneer/junit-pioneer/actions/workflows/actions.yml)
-

[2021-05-31 18:11] aepfli commented on #494
if this topic is agreed upon, i can execute it :)

[2021-05-31 20:20] beatngu13 commented on #474
I like that idea!

When it comes to the [current implementation](https://github.com/aepfli/junit-pioneer/pull/9), the workflow file looks a bit "packed" at first sight. (The duplicated caching stuff causes quite some noise… 😕)

I think I tend to prefer multiple workflows over a single workflow with multiple jobs, but I'm not sure if that is feasible and/or idiomatic (related: [Single workflow vs m

[2021-06-01 16:02] Bukama commented on #474
I like!

[2021-06-01 16:10] Bukama commented on #494
Throw away your television 🎶 aehm your github actions :D

[2021-06-01 16:55] nipafx commented on #494
Yes, please!

[2021-06-01 19:02] aepfli commented on #474
https://github.com/junit-pioneer/junit-pioneer/actions/runs/897069483 is an action as an example and #495 is the pull request

[2021-06-01 19:26] nipafx commented on #431
HCP is over now, so we've obviously done everything. 😊

[2021-06-01 19:26] #431 closed

[2021-06-02 11:43] aepfli commented on #494
links to !474

[2021-06-03 20:36] jbduncan commented on #348
Real life commitments are getting in the way of me progressing with this issue right now, so I'll let you know when I've found the time to work on this again.

[2021-06-04 09:10] rweisleder opened #497 "Website refers to old release version"
The homepage https://junit-pioneer.org/ currently refers to version 1.3.0 as the current release while 1.4.2 is the newest available in Maven Central.

Looks like some automation is not working properly.

[2021-06-04 12:27] beatngu13 commented on #497
Hi @rweisleder,

Thanks for raising this issue. The problem is that our (outdated) [website build](https://github.com/junit-pioneer/junit-pioneer.github.io/blob/grandmaster/build.gradle#L118) still expects a `version.properties` file, which has been removed as part of #475.

@nipafx @aepfli I believe we can quite easily fix that by using the `client-payload` input from [`peter-evans/repository-dis

[2021-06-04 15:36] Michael1993 commented on #497
[See related PR](https://github.com/junit-pioneer/junit-pioneer.github.io/pull/24)

[2021-06-04 16:21] beatngu13 commented on #497
@Michael1993 thx for pointing to that PR, I wasn't aware of it.

I think I would prefer the above approach. Pioneer's release build already triggers the website build, so why not hand over the _exact_ version? I believe this is less error-prone than picking the last tag via `ls` output. We could also get rid of `insertProjectVersion` and related "command line thingies" (to quote @aepfli 😉).

What'

[2021-06-04 20:06] aepfli commented on #497
Here is some additional background, why we do not want to provide the version within the future. JUnit Pioneer was initially designed as a basis for multiple project and till the recent past, there was only JUnit Pioneer. This has changed with [Test-Reports](https://github.com/junit-pioneer/test-reports). Now we actually do have multiple repositories which should trigger the website build.

We can

[2021-06-04 20:37] beatngu13 commented on #497
OK, thx for the great explanation. 🙏

[2021-06-09 14:11] Michael1993 opened #499 "Evaluate using API Guardian"
JUnit 5 uses [API Guardian](https://github.com/apiguardian-team/apiguardian) to mark their API as stable or experimental (and for other purposes too).

Should we use this?

It might be that this is a stupid question because by the nature of the project all our extensions should be considered experimental.

[2021-06-12 05:23] Bukama commented on #499
I see this and the more need of (imo unnecessary) micro managing as points to not use it.

[2021-06-12 12:10] beatngu13 commented on #499
Hmmm, I always thought we are a "serious" project and, therefore, provide stable APIs unless stated otherwise. 😬

From the [API Guardian Javadoc](https://apiguardian-team.github.io/apiguardian/docs/current/api/org/apiguardian/api/API.Status.html#EXPERIMENTAL):

Personally, I also understand experimental APIs as potentially breaking between minor releases.

Anyway, I find the use of API Guardian qu

[2021-06-15 18:03] nipafx commented on #497
Fixed! Thanks @rweisleder for the issue (we didn't know we had such attentive users, so we didn't prioritize the fix so far 😋 ) and thanks @Michael1993 for the PR.

[2021-06-15 18:03] #497 closed

[2021-06-15 18:20] nipafx opened #502 "Discuss approach to optional dependencies"
One of Pioneer's cornerstones is not to add to user's dependency hell and so we don't want to require any run-time dependencies beyond JUnit (and its dependencies). But we've recently encountered two situations that don't work without at least compile dependencies. We need to discuss how to handle such situations.

## Adding dependencies

### For Integration

#426 aims at making Pioneer support Pl

[2021-06-15 19:23] nipafx commented on #415
While working on #487, we stumbled on a very interesting question: Now that we consider adding a new package for Cartesian product tests, can we shorten the names of the annotations that work with it? While discussing this, we discovered five ways to organize and name things.

Side note: In any of the following summaries, I'll assume we'll rename `@CartesianProductTest` to `@CartesianTest`, but if

[2021-06-15 19:40] nipafx commented on #415
My thoughts:

* **Long Names**: Most obvious default, but cumbersome and inelegant.
* **Short Names**: Clash with Jupiter, so I think it's off the table
* **Very Short Names**: Ballsy, I like it, but runs the risk of clashing with other extensions who also take an aggressive approach to naming
* **Nested**: Interesting middle ground - devs can use short versions (e.g. `@Values`; with appropriate i

[2021-06-20 13:37] Bukama commented on #415
I like the **Long** and the **Nested** names, cause they are clearly associated with the CartesainProduct-Extection
From those two the **Long** are somehow clumsy, so I would like to go with the **Nested**

[2021-06-22 14:28] jbduncan commented on #348
As a future note for myself, it looks like JUnit 5 has a [`CloseableResource`](https://github.com/junit-team/junit5/blob/43638eb6a870e0d6c49224053dfeb39dcf0ef33f/junit-jupiter-api/src/main/java/org/junit/jupiter/api/extension/ExtensionContext.java#L405) type that I could reuse as part of my work over at https://github.com/junit-pioneer/junit-pioneer/pull/491. It looks safe to use as it's marked as

[2021-06-28 07:21] nipafx opened #503 "Create parameter resolver fot class path resources"
An extension that makes it easy to read resources from `src/test/resources` as discussed [in this tweet](https://twitter.com/mikemybytes/status/1408009639703232518).

[2021-06-28 07:39] nipafx commented on #503
One possible approach is shown in [this reply to the tweet](https://twitter.com/khmarbaise/status/1408140392839720960):

[code]

Another approach would be to always annotate the parameter (I'll keep using `ResourceRead` for continuity; I'm not proposing it as the annotation's name):

[code]

Since we then know which parameter to provide a value for (and thus its type), we can resolve a wide variet

[2021-06-28 08:12] Michael1993 commented on #503
JUnit does not register extensions from parameter annotations.

[2021-06-28 11:25] nipafx commented on #503
Ah right, I seem to forget this quite often... 🤦🏾 See linked issue - maybe that can change.

[2021-06-28 15:09] jbduncan commented on #503
As a side note, we might want to name the annotation `@ResourceRead` something like `@ClasspathResource` (or `@ModulePathResource`?), because my [ongoing](https://github.com/junit-pioneer/junit-pioneer/issues/348) [work](https://github.com/junit-pioneer/junit-pioneer/pull/491) will introduce another concept which so far is also called "resource".

But perhaps that indicates that I need to improve

[2021-06-29 16:21] Bukama commented on #503
Would really like to see this, to easily have the possibility to offer XML-Strings.

[2021-06-29 17:10] Bukama commented on #502
Yeah I want to follow this. We should stay with our strict rule of no additional dependencies. If we want to have new features with additional dependencies we can have more projects under umbrella.

[2021-06-29 19:46] beatngu13 commented on #502
Build tool approaches, as brought up [here](https://github.com/junit-pioneer/junit-pioneer/issues/426#issuecomment-771996825):

* Maven: [optional dependencies](https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html)
* Gradle: [feature variants](https://docs.gradle.org/current/userguide/feature_variants.html)

Personally, I like @Michael1993's suggesti

[2021-06-30 19:04] Michael1993 commented on #503
[We are just too slow, it seems.](https://github.com/khmarbaise/resources-extension)

[2021-07-06 19:17] nipafx commented on #502
As I can see, we have five options:

* **EACH**: create a new project for each integration / ease of use
* **ALL**: create a single project for all integrations / ease of use cases
* **ALL_OPTIONAL**: same as **ALL** but add each dependency as optional
* **ADD**: add a dependency for each feature - out of the question by project cornerstone
* **ADD_OPTIONAL**: add optional dependencies / feature v

[2021-07-06 19:27] nipafx commented on #502
My option:

* **EACH** Looks really bad. All we get is purity, but we give up ease of use and maintainability and invite a combinatorial explosion in the future. I think it's out!
* **EACH_INTEGRATION**: Better. Feels like classic middle ground.
* **ALL**: I don't see the point in this. As soon as a user needs one of these cases, they're in the same situation as **ADD** (which we abandoned early!)

[2021-07-06 19:36] nipafx commented on #494
[This comment](https://github.com/junit-pioneer/junit-pioneer/pull/492#pullrequestreview-677080985) made me think that, if #502 decides to pull in optional dependencies, modular builds should be part of the basic builds.

[2021-07-11 22:07] jbduncan commented on #348
Note for myself: I thought at some point that `@Share` and `@Shared` were redundant, because I can adapt the following example:

[code]

...to this, using `@New` and a test class constructor:

[code]

However, this doesn't help if a resource needs to be used across more than one test class, like a database. So I'll pursue `@Share(d)` after I'm done with `@New`, maybe in a subsequent PR to break th

[2021-07-12 13:59] Bukama commented on #503
Shall we ask him to integrate it into pioneer?

[2021-07-13 18:23] #474 closed

[2021-07-13 19:31] beatngu13 commented on #486
Just thinking out loud: another approach could be inspired by dynamic tests. Consider the example from the [JUnit 5 user guide](https://junit.org/junit5/docs/current/user-guide/#writing-tests-dynamic-tests):

[code]

If we apply this to scenario tests, it could look like (based on the example from the [JUnit 5 proposal](https://github.com/junit-team/junit5/issues/48#issue-120273784)):

[code]

Typ

[2021-07-20 16:51] beatngu13 commented on #486
Had a closer look and I believe it's not a good idea to reuse dynamic tests, because, for instance, "[l]ifecycle callbacks and extensions are not applied around the invocation of a dynamic test" (see https://github.com/junit-team/junit5/issues/378).

In the meantime, I've also created a poor man's scenario test using `@TestMethodOrderer`, `TestExecutionExceptionHandler`, and `BeforeTestExecutionCa

[2021-07-22 13:42] jbduncan commented on #348
Here is my TODO list for my [PR](https://github.com/junit-pioneer/junit-pioneer/pull/491):

- [ ] I currently use `System::identityHashCode` to uniquely identify resources and resource factories, but this is [error-prone](https://github.com/plume-lib/plume-util/blob/ccdb37b4393bdbbc0087e3317b9a1d1b4827b78b/src/main/java/org/plumelib/util/UniqueIdMap.java) apparently, so use an atomic counter like

[2021-07-23 20:52] bes1002t commented on #100
This issue still persists with Junit 5.7.

Both, the directory and the file still exist after the test has finished. Additionally it would be good if @TempDir would not point to the project root, but a "tmp" directory in project root. Otherwhise issues like this could be a mess to cleanup.

`
    @TempDir File tmpDir;

    @Test
    public void testContextCreationSuccess() throws IOException {

[2021-07-27 18:00] nipafx commented on #348
While [reviewing this](https://github.com/junit-pioneer/junit-pioneer/pull/491#pullrequestreview-716186194), I wondered whether we also need a way to prevent users of shared resources to run tests that use them in parallel. The only way I could come up with to do that would be to add a lock to `Resource` that we can then use to synchronize on. Use of the lock could either be activated by based on

[2021-07-27 19:39] nipafx commented on #503
Hi @khmarbaise, we'd like to have something like this in Pioneer. Would you be interested to integrate your project here (i.e. republish an adapted version of the code in this project)? :)

[2021-07-27 19:44] nipafx commented on #499
Feels like too much micromanagement for a project of our size. And as @Michael1993 said, it's all experimental anyway. 😂

[2021-07-27 19:44] #499 closed

[2021-07-27 19:46] nipafx commented on #502
Side note: If we add optional dependencies, we need to add at least one modular build to the base set to verify the correctness of the module declaration.

[2021-07-27 19:51] nipafx commented on #494
@aepfli I've cleaned out two of them manually but have capitulated for the third, which must have hundreds and hundreds of builds. Can you delete them automatically? 🥺

[2021-07-27 19:53] nipafx commented on #490
Frankly, I don't have a lot of time for Pioneer at the moment, so I'd rather not spend it fiddling with the release process now that it works. That said, if anybody wants to give it a go (switching to the new tool; listing all new (and lost?) capabilities), I won't stand in their way.

[2021-07-27 20:34] nipafx commented on #486
I thought this is pretty clever:

[code]

It allows to create nested dependencies of steps, in this case:

[code]

Unfortunately, it requires `@ScenarioStep` to have an attribute `Enum<?> value()`, which it can't - only concrete enums are allowed. 😭

Back to the drawing board...

[2021-07-29 20:02] khmarbaise commented on #503
Hi @nipafx sure sure why not ...

[2021-08-01 17:08] Bukama commented on #502
Which means that all of the dependencies must be modular too. In the test reports the CSV dependencies is non-modualr so I cant setupo a modular build.

[2021-08-04 22:23] jbduncan commented on #348
@nipafx Ah, I hadn't considered parallel execution yet! Thanks for starting this conversation. It's in the ever-growing [TODO list](https://github.com/junit-pioneer/junit-pioneer/issues/348#issuecomment-884922323) now, for me to think about or discuss later.

[2021-08-08 14:12] filiphr commented on #502
I know that my vote does not count, but I'd like to add my 2 cents. I think that *ADD_OPTIONAL* is the best approach. It makes it easy from a maintenance point of view, since everything is part of one module.

In the scope of #492 the Json parsers which is available (currently there is only support for Jackson) will be used, this means that we are meeting the users where they are. They will also m

[2021-08-09 20:38] beatngu13 opened #506 "Sync actions/setup-java versions/usage"
Our GHA workflow currently mixes actions/setup-java v1 and v2, i.e., with and without explicit distribution. All jobs should be upgraded to v2 and use AdoptOpenJDK ("adopt") as distribution.

[2021-08-11 05:48] sabrinahou opened #508 "SetEnvironmentVariable and SetSystemProperty annotation cannot work in Junit 5"
I write below test case, but it cannot work. Please help check it.

[code]

Below is my Gradle Settings:

[code]

[2021-08-11 12:56] beatngu13 commented on #508
Hi @sabrinahou,

What Java version are you using?

[2021-08-11 14:47] Michael1993 commented on #508
What's the actual problem? Does it throw an exception when you try to run it? Do the tests fail?

[2021-08-15 11:26] cescoffier opened #509 "Setting environment fails on Java 17-ea"
I have a few tests using the `@SetEnvironmentVariable` annotation. Unfortunately, at the moment, they fail on Java 17 (EA) with:

[code]

[2021-08-16 09:54] Michael1993 commented on #509
There is really no nicer way to say this: you should have read the documentation. Here is the relevant section:

## Warnings for Reflective Access

As explained above, this extension uses reflective access to change the otherwise immutable environment variables.
On Java 9 to 16, this leads to a warning like the following:

[code]

On Java 17 and later, you get this error instead:

[code]

The best

[2021-08-16 09:54] #509 closed

[2021-08-16 09:59] Michael1993 commented on #509
We can't (and shouldn't try to) work around this issue. You can read more about it on the Oracle blog: [A peek into Java 17: Continuing the drive to encapsulate the Java runtime internals](https://blogs.oracle.com/javamagazine/java-runtime-encapsulation-internals).

The next best thing I can suggest is looking into testcontainers. Sorry!

[2021-08-16 10:00] cescoffier commented on #509
Oh sorry, I missed that in the doc.

[2021-08-17 12:19] slawekjaranowski opened #510 "Missing public key on keyservers"
From version `1.4.0` new pgp key is used to sign released artifacts with id: `0x6746229D0F629EDB`

Public key is not published to any public key servers, so verification of artifacts is impossible.

To reproduce please run maven plugin (in any directory):

    mvn org.simplify4u.plugins:pgpverify-maven-plugin:show -Dartifact=org.junit-pioneer:junit-pioneer:1.4.2

[2021-08-17 16:19] Bukama commented on #510
Thank you for you information. I assigned @nipafx as he's the key holder.

[2021-08-17 20:56] scgerkin commented on #508
Having this same issue as of today. Here is the full stack trace:
[code]
Here's the relevant POM info:
[code]

[2021-08-17 21:04] scgerkin commented on #508
Downgrading JUnit to 5.7.2 fixed the issue for me.

[2021-08-17 21:35] beatngu13 commented on #508
@scgerkin not sure if that is related to the given issue (or Pioneer at all). In general, using special version markers (i.e. `RELEASE` or `LATEST`) in your POM is discouraged and produces warnings as of Maven 3.5.2 (see [MNG-6206](https://issues.apache.org/jira/browse/MNG-6206)).

You said you are having problems as of today, note that JUnit Jupiter [5.8.0-RC1](https://github.com/junit-team/junit

[2021-08-17 22:31] scgerkin commented on #508
@beatngu13 I agree the issue is from using `RELEASE`, likely from the RC1 release considering using 5.7.2 resolved the issue. I'm working to resolve this issue in a few other repos we use.

The issue was resolved when removing Pioneer and the offending test code that relies on Pioneer.

Not entirely sure if it's related to the original issue either, but this was what I first saw when debugging the

[2021-08-18 05:13] Bukama opened #512 "Update JUnit Matrix to new version"
New JUnit versions were releases. We should update the build matrix.

_Here for you lazy guy_ 👼  💋

[2021-08-18 07:08] beatngu13 commented on #100
@bes1002t from the [`TempDirectory` docs](https://junit-pioneer.org/docs/temp-directory):

Please reach out to the [JUnit 5 team](https://github.com/junit-team/junit5) if you have issues with Jupiter.

[2021-08-19 21:57] #512 closed

[2021-08-30 20:25] beatngu13 opened #513 "Use new setup-java cache for Gradle to reduce workflow size"
As of today, ["`setup-java` supports caching for both Gradle and Maven projects"](https://github.blog/changelog/2021-08-30-github-actions-setup-java-now-supports-dependency-caching/). More details can be found in the [corresponding docs](https://github.com/actions/setup-java#caching-packages-dependencies).

We should give it a try as this will help to reduce the size of our workflow file.

[2021-08-31 08:33] #513 closed

[2021-09-02 05:46] beatngu13 opened #515 "Switch build to Eclipse Temurin"
As mentioned in https://github.com/junit-pioneer/convert-junit4-to-junit5/pull/43, AdoptOpenJDK is now Eclipse Adoptium. We should adapt our builds accordingly.

References:

* https://blog.adoptopenjdk.net/2021/08/goodbye-adoptopenjdk-hello-adoptium/
* https://github.com/actions/setup-java#supported-distributions

[2021-09-02 18:52] #515 closed

[2021-09-02 19:57] #415 closed

[2021-09-02 19:58] #406 closed

[2021-09-02 20:32] beatngu13 opened #517 "CartesianTest clean-up"
After merging #487, code duplication went over 3%, which was part of [Pioneer's quality gate](https://sonarcloud.io/organizations/junit-pioneer-xp/quality_gates/show/39036). In order to get back a successful build on `main` (and elsewhere), we increased that metric to 7%.

What's left to do:

* Remove duplication
* Reset quality gate
* Publish Pioneer v2.0

We aim to do that in December 2021.

[2021-09-05 09:25] nipafx commented on #510
Just [uploaded it to Ubuntu's key server](https://keyserver.ubuntu.com/pks/lookup?search=junit-pioneer.org&fingerprint=on&op=index) (took me quite some time to find a still-working server 🙈 ) and it's checked by Maven, so it already works:

[code]

For other tools using other key servers, it may take a while before they pick up the key.

[2021-09-05 09:25] #510 closed

[2021-09-12 10:12] filiphr opened #520 "CartesianArgumentsProvider is not intuitive to implement"
If I am a library developer that would like to implement a `CartesianArgumentsProvider` I would have to make my class be stateful and I would have to make my implementation implement `ArgumentsProvider` (even if I don't want to do that).

The current API looks like this:

[code]

This means that if my implementation is both for `@CartesianTest` and `@ParametrizedTest` then I have to have a state i

[2021-09-12 10:58] filiphr commented on #520
While working on some tests for PR #519 which is linked to this issue. I came to something which confuses me.

It is

https://github.com/junit-pioneer/junit-pioneer/blob/bd6d99478cf2c53caef592ba3c42b4abbfe47165/src/main/java/org/junitpioneer/jupiter/cartesian/CartesianTestExtension.java#L75-L77

That error makes it like method level argument sources are allowed. However, if we do that it is not wo

[2021-09-12 11:46] Michael1993 commented on #520
There are currently no method-level argument sources for `@CartesianTest`. In another PR, I hope to add `@FactorySource` (and perhaps `@SingleSource`).

[2021-09-12 12:41] filiphr commented on #520
Thanks for the clarification @Michael1993. My changes in PR #519 could actually help with that as well. You could pass each parameter to the method cartesian argument source. That way your custom implementation also has access to the aprameter.

[2021-09-12 16:18] Bukama commented on #520
Thank you for opening the requested issue. It's more clearer for me now!

[2021-09-16 19:05] Thihup opened #521 "Add JDK 17 to the build matrix"
Currently it is blocked because Gradle doesn't support Java 17 yet.

[2021-09-16 19:06] Thihup opened #522 "Generate Javadoc using JDK 17"
~It allows to have the Javadoc from JDK 17.~

~Blocked by #521~

Advantages: https://github.com/junit-pioneer/junit-pioneer/issues/522#issuecomment-985885702

[2021-09-18 09:38] beatngu13 commented on #521
Corresponding Gradle issue: https://github.com/gradle/gradle/issues/16857

[2021-09-19 13:38] filiphr opened #523 "@CartesianTest not working with array arguments"
If I implement my own `CartesianArgumentsProvider` which returns arrays as arguments. Then the arguments are flattened.

e.g. with the following custom `CartesianArgumentsProvider`

[code]

In the following test

[code]

There will be 4 tests. However, there should be only 2. The reason for this happening is flat mapping of the provided argument in [this line](https://github.com/junit-pioneer/juni

[2021-09-23 17:48] nipafx opened #524 "Order tests with failing/slow tests first"
Since 5.8, JUnit offers [an API to order test classes](https://junit.org/junit5/docs/current/user-guide/#writing-tests-test-execution-order-classes). As a use case, it mentions this feature:

It doesn't offer it out of the box, though. As I see it, we'd need the following to implement that:

* measure run times of tests (~> [stopwatch extensions](https://junit-pioneer.org/docs/stopwatch/)?)
* writ

[2021-09-23 17:59] nipafx opened #525 "Allow `@DisableIfArgument` on arguments"
Since 5.8, JUnit supports extension discovery on fields and parameters. That should allow us to apply `@DisableIfArgument` directly to the argument. So instead of...

[code]

... it could be...

[code]

Assuming this works, we could either

* allow `@DisableIfArgument` on methods and on parameters
* give parameter annotation a new name
* only allow `@DisableIfArgument` on parameters (after depreca

[2021-09-23 18:06] nipafx opened #526 "Allow range sources on arguments"
Since 5.8, JUnit supports extension discovery on fields and parameters. That should allow us to apply range sources directly to the argument. So instead of...

[code]

... it could be...

[code]

Assuming this actually works, do we want that? Usually parameterized test arguments are provided in method-level annotations and this would break that expectacion.

[2021-09-23 18:09] filiphr commented on #526
I think that this already works with 5.8 out of the box. The reason for that is because `IntRangeSource` already has `@Target({ ElementType.METHOD, ElementType.PARAMETER })`.

Therefore, your both examples are identical.

However, if you write something like:

[code]

will fail because the `RangeSource` provides a single argument and `@ParametrizedTest` will fail it. However, it will work with `@C

[2021-09-23 19:39] nipafx commented on #523
That's indeed not correct. When fixing this, please make sure that we don't accidentally break something else (there must be a reason for that `flatMap` - probably).

[2021-09-30 10:17] Bukama commented on #525
I really like the idea of moving the `@DisabledIfArgument` to the argument - I mean it's already in the name, isn't it?
But I think we should think about keeping it also at method if it should be check for all arguments.

[2021-10-06 16:25] gdiegel commented on #366
Hi @nipafx,

I'd love to contribute this feature. I have the implementation basically ready to go, all that's missing is the documentation in AsciiDoc. What do I need in order to be able to push my feature branch?

Thanks and best regards,
Gabriel

[2021-10-07 17:06] Bukama opened #530 "Pioneer build status image is not shown"
The build status image is not shown in the readme.md front page view:

![pioneer_build-status_broken](https://user-images.githubusercontent.com/4354359/136431426-fd8a9636-dd6a-4e59-b888-411524921934.png)

[2021-10-08 15:09] nipafx commented on #530
That's very nice of you, @johnlehne, go for it! :)

[2021-10-08 16:26] #530 closed

[2021-10-15 20:44] jbduncan commented on #348
Great news, I've fixed [the illusive bug](https://github.com/junit-pioneer/junit-pioneer/issues/348#issuecomment-938925966)! So now the only thing I think I have to do is address the thread safety.

[2021-11-01 23:12] Michael1993 commented on #526
Range sources have `@Target([...]PARAMETER)` _only_ because of `@CartesianTest`. Previously this was fine, because the annotations (e.g.: `IntRangeSource`) were discovered "indirectly" by `CartesianTestExtension`, but if going forward Jupiter will also discover them, then we have to modify this behaviour. The way I see it we have 2 options:
 1) Disallow this behaviour (only allow it for `@Cartesia

[2021-11-07 13:20] Bukama commented on #521
five days ago Gradle 7.3 RC5 was released, so I think we are getting close to a Java 17 compliant Gradle release

[2021-11-08 09:43] Michael1993 commented on #447
The new recommendation for anyone encountering this issue is: try `CartesianTest` instead of `CartesianProductTest`!

(...and if you still have trouble, feel free to open a new issue.)

[2021-11-08 09:43] #447 closed

[2021-11-09 22:48] Thihup commented on #521
https://docs.gradle.org/7.3/release-notes.html

[2021-11-10 18:21] beatngu13 opened #534 "Disable environment variable tests on Java 17+"
While reviewing #533 I realized a bunch of failing tests:

https://github.com/junit-pioneer/junit-pioneer/runs/4137127092?check_suite_focus=true#step:8:82

This also happens when re-running current `main`:

https://github.com/junit-pioneer/junit-pioneer/runs/4158038127?check_suite_focus=true#step:8:82

This is due to #509. Therefore, we should disable the corresponding tests on Java 17+.

[2021-11-11 21:51] #534 closed

[2021-11-11 22:08] #521 closed

[2021-11-11 23:55] jbduncan commented on #348
I've been on @nipafx's Twitch stream tonight - thank you very much for your help, Nicolai! - but I now have to solve some other seemingly concurrency-related bugs that have cropped up (noted in my uber TODO list further up). I'll report back when I have the time to delve into things further.

[2021-11-14 09:30] nipafx commented on #479
I found another dimension to this triggered by what @beatngu13 [wrote](https://github.com/junit-pioneer/junit-pioneer/pull/496#discussion_r730126465) on #496:

Checking the Javadoc, it says:

The last sentences can indeed be easily misunderstood to mean that the property is cleared before each test. And _at the moment_ (i.e. before #496 is merged), the default locale / time zone extensions _do_ be

[2021-11-14 09:32] #382 closed

[2021-11-14 09:55] nipafx commented on #479
Just so it doesn't get overlooked: #496 changes the behavior of default locale / time zone extensions inasmuch that a class-level annotation no longer sets a value before each test, which means if users manually set locales or time zones, their test behavior changes.

[2021-11-14 12:28] nipafx commented on #101
As I see it, we essentially offer three ways to provide JSON:

* inline
* from files
* from class path resources

At the moment #492 splits this across two annotations and two provider classes, just like Jupiter does with the CSV source. I think there's a more uniform approach possible. First and foremost, I think there should only be one "core provider" that, given some JSON (node?) and other arg

[2021-11-14 12:41] nipafx opened #538 "Support mutliple JSON converters"
As a follow-up to #101, which only needs to support one JSON converter, it would be nice to support several.

[2021-11-14 12:49] nipafx commented on #538
Two core questions:

* which converters to support
* how to let the user choose

## Which Converters?

We could wait for community demand to decide which to add or just add a few commonly used out of the gate. My opinion on which way to choose depends a bit on how much work supporting a converter.

## How to Choose?

If there's only one (supported) converter available at run time, we can default t

[2021-11-14 12:56] #523 closed

[2021-11-14 13:17] nipafx commented on #366
Hi @gdiegel, thanks for taking this on! 👍🏾 And sorry for not getting back to you sooner. I'll check the PR in a minute. Just one request: Please don't include the issue number in every commit as it will create a lot of noise here (see above). Thanks! :)

[2021-11-14 15:59] sormuras opened #539 "Missing opens directive in module descriptor"
### Problem

Using Pioneer on the module path fails with:

[code]

when using an extension located in package `org.junitpioneer.jupiter`.

### Possible Solution

Open packages that contain types using JUnit Platform's reflection support to module `org.junit.platform.commons`.

[code]

### Work around

Pass `--add-opens org.junitpioneer/org.junitpioneer.jupiter=org.junit.platform.commons` on the co

[2021-11-14 16:17] sormuras commented on #539
Find an external reproducer here: https://github.com/junit-team/junit5-samples/compare/sormuras/use-junit-pioneer

Would be better if there was an integration test within Pioneer's build asserting it can be consumed on the module path.

[2021-11-14 17:06] sormuras commented on #539
🤔

I wonder whether Jupiter may provide a better way when trying to instantiate 3rd-party extensions. From the stack trace...

[code]

...you can see, that Jupiter Engine detected an extenion type and asks the JUnit Platform to create an instance of that extension. That's why 3rd-party code, here Pioneer, needs to allow JUnit Platform Commons to reflect deeply into their packages containing extens

[2021-11-14 18:42] #366 closed

[2021-11-15 07:24] sormuras commented on #539
Making `IssueExtension`, `StopwatchExtension`, and friends `public` should also do the trick.

[2021-11-15 09:30] filiphr commented on #539
If the path of using service implementations is taken then there is the chance that Jupiter will auto detect those extensions automatically if the user has explicitly enabled that through a property. I am not sure that this is entirely desirable.

[2021-11-15 09:47] sormuras commented on #539
Sure, there needs to be some (late) filtering in place in order to not register all provided impls only because a single extension wants to get registered locally. On Java 8 that filtering would basically result in instantiating all `Extension`-implementing instances just to find the one we are looking for, on Java 9+ a lazy stream using [ServiceLoader.Provider](https://docs.oracle.com/en/java/jav

[2021-11-19 15:17] jbduncan opened #542 "Catch stateful extensions at test time"
As I've been developing https://github.com/junit-pioneer/junit-pioneer/pull/491, I've fallen into the trap where I added an instance field to my extension, only to realise later on that the JUnit 5 User Guide implies that state should be stored in an `ExtensionContext.Store`. (I don't know when extensions actually get reinstantiated, as my tests haven't caught this scenario, and the JUnit 5 User G

[2021-11-19 20:50] beatngu13 commented on #542
Hmmm, not sure if it is worth the effort of creating and maintaining automated tests for this. Usually, such things get caught in PR reviews.

But, if anyone disagrees and we want to implement this, I think a custom SonarQube rule would fit best – which is not possible with SonarCloud AFAIK. 😕

[2021-11-20 14:10] Bukama commented on #542
I am with @beatngu13.

[2021-11-20 15:29] jbduncan commented on #542
@beatngu13 @Bukama Fair enough, I understand!

Nicolai did catch my mistake in the first place, and having played around with creating an ArchUnit-based test just now (see below), it took me a while to figure out how to make it, and the test doesn't look that intuitive to me anyway. So I'll leave this open for a few more days in case anyone else disagrees, but feel free to close it anytime you lik

[2021-11-24 15:16] sleberknight opened #547 "DisableIfDisplayName javadoc incorrect as of 1.5.0"
As of 1.5.0, the online docs for `DisableIfDisplayName` have this [note](https://junit-pioneer.org/docs/disable-parameterized-tests/#disableifdisplayname):

And it then goes on to provide additional background information.

But the javadoc in `DisableIfDisplayName` still says that both can be configured:

I only found this when I updated a project to 1.5.0 and it had a test that was using _both_ `

[2021-11-24 15:40] sleberknight commented on #547
Suggested javadoc update:

[code]

[2021-11-24 15:41] sleberknight commented on #547
If this makes sense I'd be happy to submit a PR with this minor fix.

[2021-11-24 15:49] Michael1993 commented on #547
Sounds great! If you'd like to do this, go ahead!

[2021-11-27 00:08] #547 closed

[2021-11-29 09:08] helpermethod opened #549 "Provide a @FailAt annotation"
Inspired by https://twitter.com/mikeveerman/status/1464162014444638258

It would be nice to provide an annotation that fails at a specified date, with on optional reason. Something like this:

[code]

This could be a great way to remind oneself of unpaid technical debt but could probably also be used in other contexts.

[2021-11-29 10:26] Michael1993 commented on #549
What's the upside of the annotation over this one-liner:
[code]

[2021-11-29 10:27] Michael1993 commented on #549
Hm, I guess, you could say that this assumption/assertion is meta - it's not really an assertion or assumption that is part of the test and therefore should be moved out from the method body? 🤔

[2021-11-29 11:10] helpermethod commented on #549
@Michael1993 Exactly, IMHO it should be separate from the actual assertions.

An annotation would also give you a visual clue that this is something you need to be aware of, and makes searching for the existence of such tests simpler (e.g. by grepping for the annotation).

But maybe the annotation is too esoteric to be included in JUnit Pioneer 😄 .

[2021-11-29 11:29] Michael1993 commented on #549
Not at all! Our `@ReportEntry` annotation uses the same reasoning (report entries are meta and not part of the test), so this would be a great fit for Pioneer.
Let me know if you want to implement this yourself or if we should go ahead and make it ourselves.

[2021-12-01 06:39] helpermethod commented on #549
Hi @Michael1993,

I can take a stab at it 🙂!

[2021-12-02 17:31] Bukama commented on #549
Hm I see this is the same as `DisableUntil` annotation #366

[2021-12-02 17:50] Bukama commented on #522
Closed through #536

[2021-12-02 19:02] beatngu13 commented on #522
Hey @Thihup,

@Bukama already closed this issue, but I wonder what exactly was your intention behind it, especially compared to #521? Did you mean moving the entire project to 17? Only for Javadoc generation? … ?

[2021-12-02 19:55] Thihup commented on #522
@beatngu13 In the most part it was because of Javadoc, but still targeting JDK 8. So it would be able to use the search box in the Javadoc and still be compatible with all clients 😄
And with JDK 18, maybe use the @snippet tag to improve the docs 🤓

[2021-12-03 22:29] beatngu13 commented on #522
@Thihup thanks for clarification, I have adapted the issue title accordingly.

Advantages of using JDK 17 for Javadoc include [JEP 224 (HTML5 Javadoc)](https://openjdk.java.net/jeps/224) and [JEP 225 (Javadoc Search)](https://openjdk.java.net/jeps/225) (and the aforementioned `@snippet` tag from [JEP 413](https://openjdk.java.net/jeps/413) once Java 18 is GA).

[2021-12-03 23:46] beatngu13 commented on #508
Running the following test:

[code]

With the following build / Maven config:

[code]

I wasn't able to reproduce the errors described above.

Therefore, I will close this issue. Feel free to reopen/comment if the problem pops up again.

[2021-12-03 23:46] #508 closed

[2021-12-04 00:24] beatngu13 commented on #539
Pushed a fix to [`539-fix-module-descriptor`](https://github.com/junit-pioneer/junit-pioneer/compare/issue/539-fix-module-descriptor). However, need to add a proper IT.

[2021-12-04 14:51] Bukama opened #550 "Extensions / Annotations to remind user about unfinished work"
In the past few weeks several issues and PRs came up with ideas for extensions/annotations to "remind" the user a certain test

* is disabled because it fails until a fix / the propper implementation
* works now, but the underlying implementation has mistakes or needs to be refactored / has technical debts)

The following came up:

* Annotation that at test fails from a certain date on (`@FailsAt`

[2021-12-04 14:55] Bukama commented on #549
We talked about this at our last team meeting and want you to invite to take part in a discussion to think about this and similar use cases in a more global view.

Feel free to write down your thoughts and ideas in #550 - thank you!

[2021-12-04 14:59] Bukama commented on #550
If anyone comes with a better idea for the issue title I'm open to change it!

[2021-12-04 15:13] Bukama opened #551 "Provide annotation that a test currently fails by given circumstances"
Creating an issue as base for the PR for a `@NotWorking` annotation. Text comes from the PR by @Marcono1234

---

Often tests fail due to a bug in the tested application or in used dependencies.
Traditionally such a test method would be annotated with JUnit's `@Disabled`.
However, this has the following disadvantages when the bug causing the test failure
is fixed:

* the developer might not notice

[2021-12-04 15:32] Bukama opened #552 "Naming convention for test classes"
During our preparations for Pioneer 1.0 release we discussed about naming conventions for almost all of our classes etc (see #215 ). But we didn't talked about naming test classes.

@Marcono1234 revealed in #543 that currently test classes must (**^1**) end with `Tests` (plural) to be picked up by the correspondending Gradle action. This issue extracts his question if we shoul also allow the singu

[2021-12-04 15:41] Bukama commented on #141
PR opend by @p1729

[2021-12-04 19:08] Bukama commented on #542
Thanks for the draft of the test. My only dislike is the name as I wouldnt expect that `checkArchitecture` checks that no extension is stateful but uses the `ExtensionContextStore`.

Aside that huge :+1:

[2021-12-04 21:10] jbduncan commented on #542
@Bukama Good to hear that you like the idea, at least. :smile:

What if the test name were something like `checkThatExtensionsUseExtensionContextStoreOverFields`? Would that be clearer?

[2021-12-06 07:18] helpermethod commented on #550
So this is about the naming / grouping of those annotations?

[2021-12-06 09:02] beatngu13 commented on #550
Yes. The names are already expressive I think:

* `@DisableUntil`
* `@FailAt`
* `@NotWorking`

But since they target similar problems, "aligning" the naming scheme might help the user to pick the right annotation.

[2021-12-06 16:43] Bukama commented on #550
Yes and thinking if we find other use cases similar to the ones listed above

[2021-12-07 17:40] Bukama commented on #552
I would add the singular `Test` too, as I sometimes write singular and sometimes plural, depending on the number of tests in a class.

[2021-12-07 18:49] Marcono1234 commented on #552
the AbstractEntryBasedExtensionTest class and I'm quite sure it is picked up (as it sometimes fails).

At least for me Gradle does not seem to execute the test class when its name ends with `Test`. Note however that IDEs might perform test class detection in a different way and therefore can end up executing that test class.

[2021-12-08 20:50] beatngu13 commented on #552
the [AbstractEntryBasedExtensionTest](https://github.com/junit-pioneer/junit-pioneer/blob/main/src/test/java/org/junitpioneer/jupiter/AbstractEntryBasedExtensionTest.java) class and I'm quite sure it is picked up (as it sometimes fails).

@Bukama the test isn't executed via Gradle:

https://sonarcloud.io/component_measures?id=junit-pioneer_junit-pioneer&metric=tests&selected=junit-pioneer_junit-pi

[2021-12-09 16:37] Bukama commented on #479
If I understood @nipafx correctly than one way of implementation it will break the extension, while the other way does not?

[2021-12-09 17:18] nipafx commented on #552
I'd rather live with the rare case that a class called `...Tests` only has a single test than the inevitable mixture of `...Test` and `...Tests` classes. My vote is to stick to `...Tests` and document that in the contribution guide.

What about inner classes that we execute manually, though? They're usually (always) called `...TestCase(s)`, sometimes singular, sometimes plural. This should probabl

[2021-12-09 18:24] nipafx commented on #479
We just had a lengthy discussion about what this should means:

[code]

Namely, is `@CoolExtension` gonna do its thing once before/after all tests (meaning it "brackets" the test class) or once before/after each test (meaning it "brackets" each test method).
This results in different behaviors.
Assume the extension sets a global state (say, a system property or default locale) before and then rese

[2021-12-09 18:24] nipafx commented on #479
@beatngu13 Can you update #496 according to my last comment? 😬

[2021-12-09 19:00] nipafx commented on #141
Blocked until #348/#491 is resolved as ports may turn out to be good resources.

[2021-12-09 19:21] nipafx commented on #551
I really like this idea, it just makes sense to have the option to bake the assumption that the test fails into the enable/disable logic. Straight-up winner on that front.

But I'm wondering, whether it isn't still too close to `@Disabled`. All the requirements that exist for (disable on OS, on JDK version, until a date, for a specific parameter, etc.) could apply here as well and reimplementing a

[2021-12-09 21:45] nipafx opened #554 "Clean up package-info"
The `package-info.java` file in `org.junitpioneer.jupiter` contains a number of mistakes:

* links to `StdIoExtension`, which is not public
* only mentions `params` "subpackage", but neither `issue` nor `cartesian`

Not sure what to do about the second one (add other packages or remove the sentence). When fixing this, make sure to check whether all extensions are present.

[2021-12-09 23:34] Marcono1234 commented on #551
I only had a brief look at how `@Disabled` is implemented by JUnit, but to me it appears ideally the `@NotWorking` code would hook into `org.junit.jupiter.engine.execution.ConditionEvaluator.evaluate`. However, I am currently not seeing a way how this could be done easily.

[2021-12-12 13:26] Bukama opened #555 "Cleanup merged branches"
We have a ton of already merged branches that were not removed after being merged, building up a constantly growing mess.

![pioneer](https://user-images.githubusercontent.com/4354359/145714139-b53bc8a5-d3aa-4e81-8567-2c4333a52e39.png)

[2021-12-12 13:49] Bukama commented on #551
Just found: #468 (Abort tests if URL is unreachable)

[2021-12-12 13:49] beatngu13 commented on #555
To prevent this in the future, I suggest to check "Automatically delete head branches " under [settings](https://github.com/junit-pioneer/junit-pioneer/settings) (I can't because I don't have the corresponding priviliges).

[2021-12-12 17:47] jbduncan opened #557 "Resources extension: `TemporaryDirectory`: Introduce cleanup mode"
Consider introducing a configurable cleanup mode to our `TemporaryDirectory` that matches JUnit 5 `TempDir`'s own cleanup mode.

This issue is a follow-up to https://github.com/junit-pioneer/junit-pioneer/issues/348 | https://github.com/junit-pioneer/junit-pioneer/pull/491.

Relevant JUnit 5 issues:
- https://github.com/junit-team/junit5/issues/1814
- https://github.com/junit-team/junit5/issues/21

[2021-12-12 18:04] jbduncan opened #558 "Resources extension: `TemporaryDirectory`: Allow custom parent directory"
Consider introducing the ability to change where our `TemporaryDirectory` writes its temporary directories to. Currently it writes all directories to the filesystem path in the `java.io.tmpdir` system property. Users can adjust the property [in their build tool](https://github.com/junit-team/junit5/issues/2088#issuecomment-574049472) or [directly in their tests](https://github.com/junit-team/junit

[2021-12-12 18:11] jbduncan opened #559 "Resources extension: `TemporaryDirectory`: Support custom filesystem"
Consider introducing the ability to change the filesystem that our `TemporaryDirectory` writes its temporary directories to. Currently it writes all directories to the local on-disk filesystem, but one may want to use [jimfs](https://github.com/google/jimfs) or another filesystem instead to have more reliable tests or to be able to test unhappy paths more easily.

junit-pioneer used to have a `Tem

[2021-12-12 18:21] jbduncan opened #560 "Resources extension: `TemporaryDirectory`: Restore mint permissions before closing context to avoid `AccessDeniedException`"
Consider introducing [this fix](https://github.com/junit-team/junit5/issues/2609) that the JUnit 5 team accepted for their own `TempDir`, to our own `TemporaryDirectory` class. It will allow tests that use our `TemporaryDirectory` to restore file permissions for temporary directories/files, so that they can be successfully removed after each test no matter what.

Note: we should consider applying

[2021-12-12 18:24] jbduncan opened #561 "Resources extension: Add a new `TemporaryFile` resource factory"
Consider adding a new `TemporaryFile` resource factory. This would allow users to create temporary files more easily than with `TemporaryDirectory`, if files are all they need.

This issue is a follow-up to #348 | #491.

[2021-12-15 09:17] helpermethod commented on #550
Maybe something like

[code]

[2021-12-15 18:30] Michael1993 commented on #550
I just had a talk with @verhas about this and he brought up an interesting point:
`@FailAt` and `@DisabledUntil` are _**incorrect**_ from an architectural standpoint.

Unit tests are supposed to be independent from external factors - including time.

Let's say you have a library, where you have a couple classes and some tests. Some (one or more) tests are annotated with `@DisabledUntil` or `@FailA

[2021-12-16 20:22] helpermethod commented on #550
That makes perfect sense to me. I guess creating something like a report entry would be a better solution, as you could still react to it.

[2021-12-16 21:17] beatngu13 commented on #550
Tests annotated with `@FailAt`, `@DisableUntil`, and the like are not necessarily unit tests. But I agree with your/@verhas' actual message. When checking out a version from the past, e.g., for `git bisect`, the build should be stable. Or at least it should be easy to make it stable again after the "expiration date".

Via Discord @nipafx suggested a "global option" to make such tests pass and pers

[2021-12-19 21:08] Bukama commented on #550
Thank you for your thoughts @Michael1993 & @verhas! I share these thoughts and think that it comes down to the question, if we want to support this architecutal "misdesign"? From an architectual point of view I don't. From a developers pov I want (documentation, save code I need for later) and don't want (the programm does not behaivor how it should [in the end]). More and more I come to the point

[2021-12-20 16:33] Bukama opened #562 "Update to Log4J 2.17.0+ due to CVE"
Log4J versions lower than 2.17.0 contain vulnerabilites with CVE-Scores of 9+

As of now (2021-12-20) it's recommended to upgrade to 2.17.0

[2021-12-20 17:02] #562 closed

[2021-12-21 09:01] nipafx commented on #381
I agree that referencing a method may be too limiting and it's pretty boilerplatey. Also, it would be nice to bring our resetting machinery to the table. What about this?

* provide arguments for parameters of type `SystemProperties` and `EnvironmentVariables`
* they can be used to clear and set properties/variables
* on clear and set, they store the initial value and reset it after the method

Th

[2021-12-21 13:23] beatngu13 commented on #381
[System Rules](https://stefanbirkner.github.io/system-rules/#RestoreSystemProperties) has `RestoreSystemProperties`. We could do something similar:

[code]

"Reset…", "Restore…", "Backup…", … ? In any way, it should be clear what the extension is all about.

[2021-12-23 16:21] nipafx commented on #555
That's outdated info, [the list of branches](https://github.com/junit-pioneer/junit-pioneer/branches/all) is much smaller and all of them are ok to exist. You need to run `git fetch upstream --prune` (I think) to remove the branches from your local repo.

@Bukama

Done.

[2021-12-23 16:21] #555 closed

[2021-12-23 16:30] #554 closed

[2021-12-23 16:52] nipafx commented on #539
The best test for whether Pioneer works on the module path is probably to "just" run the entire build on the module path since those tests use our extensions. Don't we already do that? Although if we do, we already need to have `--add-opens` in play because Jupiter needs to find our tests and they are in the same packages as the code that trips the exception above.

Someone should investigate...

[2021-12-25 14:20] nipafx commented on #551
Thanks for looking into it, @Marcono1234. This is the relevant code:

[code]

It makes obvious that there's no way for us, as one of many `ExecutionCondition`s, to interact with another, and so there's nothing fancy we can do here except we go with the "one weird trick" I described above, but that's a really extreme step that I'd like to avoid.

So we're stuck with `@NotWorking` (although I don't

[2021-12-25 14:56] Marcono1234 opened #564 "`org.junitpioneer.jupiter.params.RangeClass` should be package-private"
It appears `org.junitpioneer.jupiter.params.RangeClass` is only used internally as meta-annotation, however currently it is `public`.

This leads to the inconvenient situation where `RangeClass` refers to the internal `Range`, which might be confusing for users, see:
https://javadoc.io/doc/org.junit-pioneer/junit-pioneer/latest/org/junitpioneer/jupiter/params/RangeClass.html
![Javadoc screenshot](

[2021-12-25 15:58] nipafx commented on #551
Two thoughts...

## Name

We need to see whether there's a better name: `@NotWorking` describes expectations about the test ("it doesn't work"), but not about the test execution ("will it run?" "if so, what happens if it fails/succeeds?"). I'm not sure we can express all of that in a name, but hopefully more than we do now.

I have something like `@ExpectFailing` in mind, but am not very happy wit

[2021-12-25 18:30] Marcono1234 commented on #551
The reason why I wanted to avoid such name containing "expect" is that it makes it sound like the developer intentionally wants the exception. While actually the developer only acknowledges that there is currently a bug which prevents the test from succeeding. `@ExpectFailing` could be misunderstood as an alternative to `assertThrows` which this feature is not.

I am afraid that when you want to i

[2021-12-25 23:47] Marcono1234 opened #567 "Simplify Gradle build"
It appears currently the project is built multiple times by CI with different JDK versions and different modularity settings. Maybe I am overlooking something, but I think the following should be done to simplify the build and to also increase its reproducibility:
- The source and target Java version (or better the `--release` version) should be fixed and independent of the JDK version a user (or

[2021-12-26 11:22] Michael1993 commented on #564
If I remember correctly, it's public so people can make their own range sources. Does the documentation have anything on that? 🤔

[2021-12-26 11:31] Bukama commented on #567
@aepfli @beatngu13

[2021-12-26 17:25] Marcono1234 commented on #564
The [documentation](https://junit-pioneer.org/docs/range-sources/) does not seem to mention that, and in its current form users cannot create their own range sources because neither `RangeSourceArgumentsProvider` nor `Range` or its subclasses are public.

[2021-12-26 17:55] Marcono1234 commented on #381
Is the `SystemProperties` parameter really needed? Wouldn't it be easier and cover more cases, e.g. when the tested code modifies system properties, to cover regular `System.setProperty` usage?

Currently this issue is mainly about environment variables; would it be ok if I created a new issue for a `@RestoreSystemProperties` annotation (should also be decided whether that should include the `@Bef

[2021-12-28 11:25] bvfalcon opened #569 "NoSuchMethodError: org.junit.platform.commons.util.AnnotationUtils.findAnnotation(Ljava/lang/Class;Ljava/lang/Class;Z)Ljava/util/Optional;"
With Java 11, JUnit 5.8.2, JUnit-Pioneer 1.5.0 I have an error

<details>
<summary>NoSuchMethodError: org.junit.platform.commons.util.AnnotationUtils.findAnnotation(Ljava/lang/Class;Ljava/lang/Class;Z)Ljava/util/Optional;</summary>
org.junit.platform.commons.JUnitException: TestEngine with ID 'junit-jupiter' failed to discover tests
	at org.junit.platform.launcher.core.EngineDiscoveryOrchestrator.

[2021-12-28 13:55] bvfalcon commented on #569
The reason is conflict between different versions of junit-platform-commons (5.7 and 5.8)

[2021-12-28 13:55] #569 closed

[2021-12-30 17:03] Bukama commented on #522
Can't assign @Marcono1234 - ask Github why the user doesn't show up in the assign list...

[2021-12-30 17:06] scordio commented on #522
@Marcono1234 needs to comment on this issue to appear as a possible assignee.

[2021-12-30 17:29] Marcono1234 commented on #522
Hello

[2021-12-30 18:05] beatngu13 commented on #550
Summary from today's maintainer meeting (with @Michael1993, @Bukama, and myself):

* We are OK with having these annotation in the Pioneer code base
* We suggest to have some kind of usage warning (like Mockito does for e.g. [deep stubs](https://javadoc.io/static/org.mockito/mockito-core/4.2.0/org/mockito/Mockito.html#RETURNS_DEEP_STUBS))
* We prefer a somewhat similar naming scheme (like @helperm

[2022-01-04 04:40] renannprado opened #573 "Make EnvironmentVariableUtils public"
Sometimes one might need to set the environment variables programmatically instead of via the `@SetEnvironmentVariable` annotation, as there may be values that are not known before the test is run.

Therefore IMHO it makes sense that `EnvironmentVariableUtils` is public as well as its methods (if not all, at least some if that makes sense).

[2022-01-04 09:03] beatngu13 commented on #573
Hey @renannprado,

you are right, and we already have an issue for that:

#381

Feel free to join the discussion.

[2022-01-04 09:03] #573 closed

[2022-01-04 11:26] beatngu13 commented on #381
If we do create a backup of all system properties, the parameter is basically not needed. However, it is needed for environment variables as there is no `System#setenv(String, String)`. So I think it is more or less a matter of taste, if we want to keep the API design of both extensions similar.

Thank you for the Log4j issue link, interesting discussion! And yes, you could create a separate issue

[2022-01-06 00:45] Marcono1234 opened #574 "Add extension / annotation for restoring system properties"
Based on https://github.com/junit-pioneer/junit-pioneer/issues/381#issuecomment-1001221833

In some situations the existing annotations for clearing and setting system properties are not sufficient:
- When the property name is dynamic
- When the property value is dynamic and the currently described workaround of using `@ClearSystemProperty` is considered too error-prone (especially when setting mu

[2022-01-07 13:04] william-ferguson-au opened #575 "@SetSystemProperty not working"
This is my test:
[code]

This is the result I'm getting:
[code]

Am I expecting too much from junit-pioneer, or should this test case work?
If it should work, what am I doing wrong?

[2022-01-07 13:14] Michael1993 commented on #575
Could not reproduce. I don't mean to insult you but is it possible you have a typo somewhere? That'd be the simplest explanation.

[2022-01-07 13:23] william-ferguson-au commented on #575
That's a copy and paste.

Running on Java8.

[2022-01-07 13:35] Michael1993 commented on #575
I copy-pasted this and it works for me... Do you use this system property in other tests? My next best guess is that you are running your tests in parallel and another test modifies/clears this property.

[2022-01-07 13:50] william-ferguson-au commented on #575
No it was simpler (and dumber) than that.
That build module was sucking in Junit4.

It works as advertised - thanks for your help.

[2022-01-07 14:14] william-ferguson-au commented on #575
OK, ensuring we are using Junit5 appears to make @setSystemProperty work.
But it doesn't seem to really be setting the system property because it exhibits different behaviour that when I run the test and set the system property on the command line.

[code]

[2022-01-07 14:49] Michael1993 commented on #575
Hm. How do you set your system property on the command line? Could you paste that here as well?

[2022-01-07 15:09] william-ferguson-au commented on #575
I'm running the test in IntelliJ
But essentially passing "-Djava.locale.providers=HOST,JRE,SPI" in the run configuration

<img width="905" alt="image" src="https://user-images.githubusercontent.com/670599/148563406-6b37e70e-9ef9-4f2c-a52c-24b13690d661.png">

[2022-01-07 15:23] beatngu13 commented on #575
Hi @william-ferguson-au!

I've created this test:

[code]

POM:

[code]

All are green. This is also the case when I remove `assertNull` from `test_null` and pass in `-Djava.locale.providers=HOST,JRE,SPI`.

Could you please provide an [MWE](https://en.wikipedia.org/wiki/Minimal_working_example)?

[2022-01-07 16:22] Michael1993 commented on #575
I tested your configuration in IntelliJ and it works for me. Do you use `@ClearSystemProperty` anywhere?

[2022-01-07 16:56] Bukama opened #576 "Review all Javadoc of the project"
It seems that there are several javadocs outdated and should be reviews.

@Michael1993 please fill in some examples

[2022-01-07 17:31] Michael1993 commented on #576
Here are some examples:
Outdated package description:

org.junitpioneer.jupiter.params | Disable @ParameterizedTest executions based on conditions.
-- | --

`DisableIfNameExtension` shows up - either make it not `public` or update it to have a proper Javadoc.

[2022-01-07 17:32] Michael1993 commented on #576
This is just after a minute - so I think a review is in order.

[2022-01-08 08:51] william-ferguson-au commented on #575
Thanks for sticking with this.

The sample you provided above works fine when I run the tests in IntelliJ against Java16.

But I'm running against Java 8.
When I run against Java 8 (in IntelliJ) and set "-Djava.locale.providers=HOST,JRE,SPI" then all 3 tests fail.

NB I needed to mod it slightly to run against Java8.
See https://github.com/william-ferguson-au/pioneer-test

This is the output
[code

[2022-01-08 09:26] beatngu13 commented on #575
@william-ferguson-au thx for setting up that example! 👍

Have you tried invoking `System.setProperty(String, String)` before and/or within the test? Because this is essentially what the extension does.

[2022-01-08 15:54] filiphr opened #577 "CartesianTest should support conversion of parameters like ParameterizedTest"
If we have the following test:

[code]

The `parametrized` test will be green, but the `cartesian` one will fail with:

[code]

There is some a way to support this through the `ArgumentConverter` of junit params. If using the internal API of JUnit it is also possible to get a hold of the default converter and use that for the example above to work out-of-the-box.

In addition to the out-of-the-box

[2022-01-08 16:57] william-ferguson-au commented on #575
Yes I have.

Doing so changes the value of the property according to ```System.getProperty(String)```  but doesn't change the behaviour.
I suspect this is because StdDateFormat or something it relies on is being prepped prior to that.

[2022-01-08 17:00] william-ferguson-au commented on #575
Now that I understand how junit-pioneer works, I'm happy to close this.
I don't think junit-pioneer is going to be able to help us test this.

[2022-01-08 17:00] #575 closed

[2022-01-09 19:04] Bukama commented on #577
@Michael1993 Could you take a view on it?

[2022-01-10 12:20] ashleyfrieze commented on #509
This issue could be solved - see https://github.com/webcompere/system-stubs/blob/main/system-stubs-core/src/main/java/uk/org/webcompere/systemstubs/environment/EnvironmentVariableMocker.java

The solution involves depending on `mockito-inline`, but is easily adopter. You could reasonably copy the above code, or could add the above as a dependency for JUP.

I'm the author of the above class, so fee

[2022-01-10 16:13] Michael1993 opened #579 "Environment variables and system properties not resetting after tests"
Opened retroactively for #578.

As seen in the PR, some tests do not reset the system property/environment variable they modified.
Is this unintended or intended behaviour?

[2022-01-15 19:46] #576 closed

[2022-01-15 20:58] Marcono1234 opened #581 "Use GitHub secret for SonarCloud token"
It appears currently the GitHub workflow has the SonarCloud token hardcoded. This might allow malicious misuse of that token.
It would probably be better to use a [GitHub secret](https://docs.github.com/en/actions/security-guides/encrypted-secrets), similar to how it was done for the other secrets.

[2022-01-15 21:03] beatngu13 commented on #581
Please follow that thread:

https://twitter.com/beatngu1101/status/1407008608118771717

Do you have another idea? Otherwise, I would close this issue.

[2022-01-15 22:06] Marcono1234 commented on #581
I am not very familiar with SonarCloud, but to me it sounds that these tokens should be kept private because they can be used for more than just to "ruin our statistics" (which was mentioned in the Twitter thread):

- > We cannot recommend adding secrets to version control.

    [Source](https://community.sonarsource.com/t/how-to-use-sonarcloud-with-a-forked-repository-on-github/7363/10)

- > Why

[2022-01-16 14:32] beatngu13 commented on #581
Yes, the token _shouldn't_ be public. We already voted for the analysis of external PRs, but until then we have three options:

1. Skip SonarCloud analysis
2. Failing SonarCloud analysis (token hidden)
3. Working SonarCloud analysis (token exposed)

As we want to give contributors the possibility to analyize their PRs, we decided to go with option 3.

Looking at the [SonarCloud Web API](https://so

[2022-01-16 14:37] beatngu13 commented on #579
I guess this is my "fault".

The system property and environment variable test keys/values are completely made up, so when I wrote the tests for the system property extension — which I believe acted as a template for the environment variable tests — I thought resetting them is not necessary.

But yes, in the end the tests leave a dirty state behind.

[2022-01-16 14:56] Bukama commented on #579
So what's the solution @beatngu13 ?

[2022-01-16 15:26] beatngu13 commented on #579
Besides making the tests a bit more verbose, #578 doesn't cause any harm and makes our tests less error-prone. So merging the PR is probably a good idea.

[2022-01-16 15:28] beatngu13 commented on #509
@ashleyfrieze thx for informing us – we will have a look! 🙏

[2022-01-17 08:25] Michael1993 commented on #564
I recently did a review of our classes and it seems some of them were unnecessarily `public` instead of package-private... This is probably the case with `RangeClass` as well. It has some Javadoc and that kind of threw me off. 😓

[2022-01-22 00:45] bfett2005 opened #582 "Can't set/clear same environment variable bug or design intent?"
Noticed this documentation here:
https://junit-pioneer.org/docs/environment-variables/

Note that class level configurations are overwritten by method level configurations:
[code]

When attempting the same thing on a Java 8 unit test, the following exception is produced:
[code]

Just wondering is the documentation incorrect? I was hoping to use this functionality to set a common value and then cle

[2022-01-22 17:26] beatngu13 commented on #582
This test doesn't fail (see checks/builds):

https://github.com/beatngu13/junit-pioneer/pull/8

You only get this exception if you clear and set an environment variable on the same container (e.g. test method).

Feel free to re-open if you run into this issue again. ✌️

[2022-01-22 17:26] #582 closed

[2022-01-26 19:12] #522 closed

[2022-01-27 16:54] ashleyfrieze commented on #509
Thanks @OrangeDog  - please see the issue here - https://github.com/webcompere/system-stubs/issues/40 - I have a PR which "fixes" that. Please feel free to review and comment before I merge and release later.

[2022-01-28 17:48] Michael1993 opened #586 "Create `@Flaky` extension"
In https://github.com/junit-team/junit5/issues/1558 there was the following comment:

(1) When we want to disable a test, we don't go and replace the `@Test` annotation with a `@DisabledTest` annotation - we add the `@Disabled` annotation next to the `@Test` annotation. Having flakiness annotations behave differently is inconsistent.
(2) When you want to mark a `@ParameterizedTest` as flaky, now y

[2022-02-05 09:16] #467 closed

[2022-02-05 09:25] Bukama commented on #586
@nipafx @beatngu13

@Michael1993 and me talked about this on a team meeting you could not attending, so discussion needed :)

[2022-02-10 17:12] aepfli opened #587 "Improve GitHub Actions to provide more Feedback within Pull Requests"
Our GitHub Actions do not provide a lot of information to the user why they are failing. There is always a second click needed to get to the action log.

Instead of this, we want to have more Feedback on the Pull Request:
[](url)

1. Use a reporter to post Unit Test Reports directly onto the Pull Request:
    - [JUnit Report Action](https://github.com/marketplace/actions/junit-report-action)
    -

[2022-02-10 17:16] aepfli opened #588 "Provide IDE specific configuration for Code Formatting"
A big struggle within our project is code formatting. A lot of people struggling with Spotless and that we do not offer configuration for certain IDEs (at least the favorite ones) makes it even harder.

I suggest to provide basic code style settings for following IDEs:

- IntelliJ IDEA
- Eclipse

This should reduce the pain for an initial contribution

[2022-02-10 17:20] aepfli opened #589 "Add Issue Templates"
So far we do not have a lot of Issues created, but there is still an inconsistency about the creation process.

Some are labelled, some are not, and some are totally differently labelled.

To reduce the efforts for us maintainers, we should provide at least following types of templates to reduce the initial effort:

- Feature request
- Bug
- Question
- Other

Based on this types we can easier labe

[2022-02-10 17:23] aepfli opened #590 "Add a Code of Conduct"
We are missing a Code of Conduct and we should have/provide on.

JUnit5 is utilizing https://www.contributor-covenant.org/ which looks like a good fit, but i am open for a general discussion.

[2022-02-10 17:31] aepfli opened #591 "Add CLA-Bot"
Currently our CLA is just a text within the Pull Request. So far I (in me aka @aepfli) can not remember that i really checked when merging if the user agreed upon it.

Therefore i suggest to use https://github.com/apps/cla-bot which can automate this with an additional check. (as suggested by @beatngu13 )

As this is a change/application which needs certain permissions, we should discuss it, and d

[2022-02-11 08:56] beatngu13 commented on #591
Regarding yesterday's discussion during the maintainer meeting, whether we need a CLA at all, I found [this](https://ben.balter.com/2018/01/02/why-you-probably-shouldnt-add-a-cla-to-your-open-source-project/) interesting blog post. [Here](https://ben.balter.com/2018/01/02/why-you-probably-shouldnt-add-a-cla-to-your-open-source-project/#if-a-license-isnt-good-enough-for-maintainers-you-shouldnt-sub

[2022-02-12 06:27] RishiKumarRay commented on #589
@aepfli do you want the templates in the same format or you wish to add any other fields?

[2022-02-13 08:44] Bukama commented on #588
Wait didnt we had something about this in the past with some config.xml and the github link issue?

[2022-02-13 09:21] beatngu13 commented on #588
There is now an IntelliJ IDEA plugin to run Spotless:

* https://github.com/diffplug/spotless/issues/200#issuecomment-1003646129
* https://github.com/ragurney/spotless-intellij-gradle

[2022-02-14 12:30] p1729 commented on #587
@aepfli can I give this a try ?

[2022-02-14 12:31] aepfli commented on #587
Sure give it a try

[2022-02-14 12:36] Michael1993 commented on #588
Should we update `CONTRIBUTING.md` with the recommendation to use the plugin?

[2022-02-14 15:41] aepfli commented on #588
or we add a plugins configuration for intellij
https://www.jetbrains.com/help/idea/managing-plugins.html#required-plugins
- so people get informed while using the project. might be invasive - but a
good helper

On Mon, Feb 14, 2022 at 2:40 PM Mihály Verhás ***@***.***>
wrote:

--
Simon Schrottner, BSc
0043 660 526 59 53
Schloßstraße 1
8132 Pernegg an der Mur

[2022-02-15 12:29] beatngu13 commented on #539
JPMS noob here, so please bear with me...

While there's indeed `modularBuild`:

https://github.com/junit-pioneer/junit-pioneer/blob/main/build.gradle.kts#L26

Could it be that this has no effect when it comes to testing, as we still test on the classpath? Relevant section from the Gradle docs:

https://docs.gradle.org/7.3/userguide/java_testing.html#sec:java_testing_modular

So, what currently do

[2022-02-16 20:10] Marcono1234 commented on #581
To me this sounds like you have carefully considered the consequences, so I don't mind if you want to close this issue since there seems to be no better alternative at the moment.

[2022-02-17 09:46] #502 closed

[2022-02-17 10:12] nipafx opened #594 "Update JUnit to 5.8"
The temporary directory/resource extension proposed in #348 / #491 requires parameter-level extension registration, which [was added in JUnit Jupiter 5.8.0](https://junit.org/junit5/docs/5.8.0/release-notes/index.html). Updating from 5.7 to 5.8 requires no code changes.

As per [contribution guidelines](/https://github.com/junit-pioneer/junit-pioneer/blob/main/CONTRIBUTING.md#junit-5), this update

[2022-02-17 17:04] p1729 commented on #587
@aepfli Could you please let me know for which test-executing job(s) we need the test result reporter action. Currently, we have 4 test-executing jobs in all. Will it be fine if we add this for the `basic` job?

[2022-02-17 18:40] filiphr commented on #101
I thought that we were waiting for other people from the JUnit Pioneer team to respond to the last comment.

I personally prefer to be as close as possible to JUnit Jupiter, since it reduces the complexity and it keeps it simple for the users to use the annotations. JUnit Jupiter currently has:

* `@CsvSource` with `value` and the recently added `textBlock`
* `@CsvFileSource` with `resources` and

[2022-02-17 18:47] #590 closed

[2022-02-17 20:19] nipafx commented on #591
That would be really great! That means, we'd not only avoid the CLA bot, we could even remove the CLA and instead explain what you described - mostly just copy/paste your comment. :D

[2022-02-17 20:23] nipafx commented on #539
I agree. Is there a chance to do that with Gradle, though?

If we can't maybe we can (ab)use [the demo project](https://github.com/junit-pioneer/junit-pioneer-demo) I recently created to reproduce this error and test out the fix (it's configured for Gradle and Maven). That would of course be a manual process, but at least we'd have code in our repos that can validate the fix.

[2022-02-17 20:30] aepfli commented on #539
we could setup own gradle project within our project and try to use the gradle testkit - i mean this is like executing a gradle build just with a GradleRunner within a unittest - we could even provide multiple tests for that (just ideas, i only used that for testing gradle plugins)

[2022-02-17 22:20] Michael1993 opened #595 "Migrate to AsciiDoc snippets"
Once #334 gets merged, the rest of the documentation should be migrated to use the new approach.

[2022-02-18 14:10] Michael1993 commented on #581
This ticket is now indefinitely on hold, contingent on sonar implementing the new feature (analyze external PRs).

[2022-02-18 21:29] beatngu13 commented on #539
How about this: I will open a PR with the fixes. If we come up with a proper modular test setup before the next release, fine. If we don't, I suggest to merge it anyway and create a separate issue for the modular integration tests.

After all, users shouldn't suffer because our test setup lags behind.

Thoughts?

[2022-02-19 09:24] beatngu13 commented on #539
@scordio thx for the heads up! I already stumbled over [this](https://docs.gradle.org/7.3/userguide/java_testing.html#blackbox_integration_testing):

I believe all maintainers are using IntelliJ IDEA, but this makes it harder for outside contributors who use Eclipse.

[2022-02-19 11:05] #335 closed

[2022-02-19 17:15] beatngu13 opened #596 "Set up modular integration tests"
This issue stems from #539. To ensure Pioneer's compatability with JPMS, we have to set up modular integration tests and execute them during our build.

Open for discussion: should these tests be a separate module, a separate project, … ?

Helpful links:

* https://docs.gradle.org/7.3/userguide/java_testing.html#sec:java_testing_modular
* https://sormuras.github.io/blog/2018-09-11-testing-in-the-m

[2022-02-21 10:02] #539 closed

[2022-02-22 10:17] #564 closed

[2022-02-22 12:02] Michael1993 opened #599 "Add `@ParametersByName`"
As described in [this issue in JUnit 5 proper](https://github.com/junit-team/junit5/issues/2671).

I think with version 5.8, it should be relatively straightforward to implement this (with some caveats).

[2022-02-24 01:06] mathieufortin01 commented on #407
Hi, just discovered this project. This feature seems an adequate candidate to dive into the code base. so, if thats ok, some questions/comments:
- I would go with `suspendForMs`. Splitting into value and unit has some flexibility, but feels like its not really needed for tests (is there a need to suspend for minutes/hours/etc ?)
- Do I include the fuzzy/random factor? If yes, I would propose a ran

[2022-02-25 15:34] abelsromero opened #600 "`RetryingTest` Running always twice"
We are seeing in a simple example that `RetryingTest` always runs at least twice, which does not seem aligned with docs:

[code]

[2022-02-25 15:38] abelsromero commented on #600
Nvm, I just saw we should be adding `@Test`

[2022-02-25 15:38] #600 closed

[2022-03-01 08:34] nipafx commented on #407
Hey @mathieufortin01, thanks for offering to contribute. 👍🏾 You can definitely give it a go. I'm not 100% sure what would be the best way to implement this, so I recommend to start with a proof of concept (basic implementation and a few demos/tests to demonstrate) without polish (no documentation, tests don't need to assert anything if that turns out to be complicated) and open a draft PR with tha

[2022-03-03 10:56] crw614 opened #601 "Add name attribute for @RetryingTest"
﻿Using @RetryingTest overwrites test names and causes a mess in test reports.  @DisplayName does not work. Could you add an attribute to @RetryingTest that allows you to specify the format of the test name?
For example @RetryingTest(value = 3, name = "Custom name {currentTry}")

Example from junit5 https://www.baeldung.com/junit-5-repeated-test#configuring-the-test-name

<img width="1556" alt="ima

[2022-03-03 11:47] Michael1993 commented on #601
Hi @crw614 👋

I wanted to let you know that `@DisplayName` works with the _test container_, but you have a valid point about a missing `name` attribute for _test invocation_. I'll try to get something done about this soon.

[2022-03-08 11:58] nipafx opened #605 "Explore support for custom IP address resolution"
[JEP 418](https://openjdk.java.net/jeps/418), shipped with JDK 18, allows customizing IP address resolution via an SPI. We should explore whether tests may benefit from temporarily redirecting host names to customizable IPs, e.g:

[code]

Hard-coding IP addresses into test code is probably not a good idea, so there's probably need for more maintainable options, maybe an external configuration file

[2022-03-10 19:35] nipafx commented on #101
I 100% agree with your `@JsonSource` argument: It should accept a string (or array thereof - that looks good, too!) as `value`, so the attribute doesn't need to be specified.

Regarding two-vs-three annotations, I definitely like three annotations, i.e. one per use case, better. It seems cleaner and makes those easier to use as well (because they can rely on `value`). First question: Do you agree?

[2022-03-10 21:53] nipafx opened #606 "Update JDK used for builds"
We currently build with JDK 8. This turned out to be a problem in #565 because that compiler version creates unsuppressible deprecation warnings, which that PR turns into errors - hence the build fails.

Building on JDK 11 should be straightforward. Right? 🧐

[2022-03-10 22:31] Marcono1234 commented on #606
Possibly related to #567 (depending on how far you want to go for solving this issue here)

[2022-03-11 14:30] delanym opened #607 "Crashes the surefire JVM"
Im using maven-surefire-plugion:3.0.0-M5 and junit 5.8.2

In a project I simply add the dependency and it crashes the JVM.

[code]

I was fine with 1.3.8

[code]

[2022-03-11 15:54] beatngu13 commented on #607
Hi @delanym,

JUnit Pioneer 1.4.0 is an old release from 28 April 2021, that was [depending on JUnit Jupiter 5.7.1](https://github.com/junit-pioneer/junit-pioneer/blob/v1.4.0/gradle.properties#L1). From the ["Dependencies" section of our `README.md`](https://github.com/junit-pioneer/junit-pioneer#dependencies):

To avoid dependency issues (e.g. in [junit-pioneer#343](https://github.com/junit-pione

[2022-03-11 16:01] delanym commented on #607
I'm saying its been crashing since v1.4.0. Of course I tried with the latest first.

[2022-03-11 16:02] delanym commented on #607
I don't have any permissions to reopen this issue

[2022-03-11 16:10] Michael1993 commented on #607
Please let us know what JUnit version you are using @delanym

[2022-03-11 16:14] beatngu13 commented on #607
@delanym please provide an [MRE](https://en.wikipedia.org/wiki/Minimal_reproducible_example), ideally a minimal `pom.xml` / Maven project.

And have you tried using the `junit-bom`?

[2022-03-12 09:51] delanym commented on #607
It was API incompat - solved using junit-bom.

I came here because a unit test is now failing building under JDK11. The JVM loads locale providers in a different order.
I wanted to switch the test off if the locale was something different from what it was expecting, but the @DefaultLocale annotation sets the locale rather than filtering the test based on the locale.

In the end I just used @Disabl

[2022-03-12 09:51] #607 closed

[2022-03-12 11:14] Michael1993 commented on #606
Building on JDK 11, sure. It can be done in like 15 minutes. But I think we shouldn't stop there - let's update the whole codebase to Java 11!

[2022-03-17 17:55] #606 closed

[2022-03-18 19:21] aepfli commented on #567
i took a look at the tool [Toolchains](https://docs.gradle.org/current/userguide/jvm_test_suite_plugin.html#test_suite_target) - and based on

We might be a little bit early for jdk changes, but it could for sure work for the JUnit versions - but still seems to be a little bit tideous. i would wait for gradle to improve the build.

[code]

something i tried, but i might be totally off into the wro

[2022-03-19 16:37] Bukama commented on #591
I'm not a lawyer, so I leave decision if we need/change this to others.

[2022-03-19 16:38] Bukama commented on #589
I think it were just some thoughts of most probably helpful things, but not a stoned list

[2022-03-24 17:32] beatngu13 commented on #579
Fixed via #587.

[2022-03-24 17:32] #579 closed

[2022-03-24 21:20] nipafx commented on #479
PR is ready to merge. We need to discuss whether this requires a 2.0 release.

It's definitely a "breaking change" in the sense that tests may behave differently afterwards. Then again, this could easily be considered a bug fix ("prevent leaking state from one test to another"). I guess philosophically, since [somebody always relies on bugs](https://xkcd.com/1172/), fixing those could be considere

[2022-03-27 15:40] Bukama opened #613 "Upgrade Gradle and pipeline when Java 18 is supported"
As of writing Gradle does not support Java 18, according to: https://docs.gradle.org/current/userguide/compatibility.html

This means we can't upgrade our build pipeline to use it, which is what we want to

[2022-03-27 16:05] aepfli commented on #613
I am pretty sure we are not blocked here. There is a difference within our experimental build, regarding which version of java Gradle is using, and which one we are using for the actual build. Yes Gradle is not java 18 compatible, but it does not need to be. We only need to execute the build itself with 18 and Gradle with eg. 17

[2022-03-27 17:56] #591 closed

[2022-03-31 15:48] #594 closed

[2022-03-31 16:57] #479 closed

[2022-04-05 13:08] chaganiu commented on #426
@nipafx perhaps this already solves the issue: https://github.com/uchagani/junit-playwright

[2022-04-10 12:28] Bukama opened #617 "Upgrade Pioneer to JDK 11"
We think about to lift Pioneer require JDK 11, resulting in Pioneer 2.0 does not support Java 8 anymore.

In this issue we want to discuss pros and cons about that as well list things to be done, like improve module build. Check / update dependencies etc.

[2022-04-10 12:31] Bukama opened #618 "Update AssertJ to a newer version"
Our assertion library `AssertJ` should be updated to a newer version. But not to just bumping the version number, but make then proper / improving the use of generic `SELF` assertions.

[2022-04-10 12:32] #101 closed

[2022-04-10 12:32] Bukama commented on #596
link to #617

[2022-04-10 12:44] nipafx commented on #617
Things we should do on update:

* move module declaration into source tree
* remove modular build flag (all builds will be modular)
* if we put module descriptor in in `META-INF/versions` right now, we can move it to root folder

More?

[2022-04-10 12:47] nipafx commented on #618
Thanks to the harsh compiler flags, the build fails after the update with raw types in one of our classes. I didn't investigate but it feels like we can improve the API by returning a more specific type, maybe `SELF`?

[2022-04-10 13:59] filiphr commented on #617
My 2 cents regarding the bump to JDK 11. In my opinion of you are doing a bump of a major Java version then I would strongly suggest doing a bump to JDK 17. The number of users that you are going to lose with a bump to JDK 11 or JDK 17 is the same in my opinion.

I believe that the Java ecosystem will move faster to JDK 17 in the next year.

[2022-04-10 15:31] beatngu13 commented on #617
@filiphr hmmm, not sure about that:

* [Adoptium](https://dash.adoptium.net/): Java 11 6,570,025 vs. Java 17 4,742,938 (GitHub) Downloads.
* [InfoWorld](https://infoworld.com/article/3652408/java-8-still-dominates-but-java-17-wave-is-coming-survey.html): "[…] 37% of respondents in the Perforce-sponsored survey answered Java 8. The runner-up was Java 11, used by 29% of those surveyed. […] Following

[2022-04-10 18:21] filiphr commented on #617
Some of those numbers are actually showing that Java 17 has better adoption.

* Adoptium - Java 11 has been released on 25th of September 2018 and Java 17 on 14th of September of 2021. Which makes those Java 17 numbers quite impressive. In addition to that, the numbers from Adoptium are more towards what users are using to run their applications and not their baselines. The Java 8 numbers there ar

[2022-04-10 18:22] filiphr commented on #617
In my opinion, as a maintainer of a different open source project. The amount of users that you will lose if you baseline to Java 11 or Java 17 will be the same.

[2022-04-11 08:37] nipafx commented on #617
I'd love to follow your argument, @filiphr, but we know for a fact that we will lose at least 3 users when going to 17 instead of 11 and they're all maintainers. 😬  It may sound egoistic not to update just because we can then no longer use Pioneer ourselves, but it's not that clear cut:

* The detriment of not updating is borne by the same people (plus contributors) because they can't use all the

[2022-04-11 08:44] nipafx opened #621 "Improve documentation of JSON argument source"
Two things:

* reduce code snippet line length to max ~60, so they fit into the narrow code boxes on the website (i.e. no horizontal scroll bar)
* explain how parser integration works:
    * so far only Jackson
    * it's an optional dependency, so if you want to use the extension, you need to do $THING_A in Gradle (feature variant) and $THING_B in Maven (just add dependency, I think) - see https:

[2022-04-11 17:50] beatngu13 opened #622 "Improve changelog"
We currently use the [shipkit-changelog](https://github.com/shipkit/shipkit-changelog) Gradle plugin to generate changelogs for releases. For example, this is the generated changelog for [v1.7.0](https://github.com/junit-pioneer/junit-pioneer/releases/tag/v1.7.0):

As can be seen, and as described in the [plugin's readme](https://github.com/shipkit/shipkit-changelog#shipkit-changelog-gradle-plugin

[2022-04-11 17:53] beatngu13 commented on #622
Here's an example for GitHub's native generator, which I set up for the [gluonfx-maven-plugin](https://github.com/gluonhq/gluonfx-maven-plugin):

* Configuration: https://github.com/gluonhq/gluonfx-maven-plugin/blob/master/.github/release.yml
* Generated changelog: https://github.com/gluonhq/gluonfx-maven-plugin/releases/tag/1.0.13

[2022-04-12 10:14] nipafx commented on #621
@Bukama Thanks, updated the description.

[2022-04-12 16:42] JoergSiebahn opened #623 "Execution order of extensions changed with 1.7.0"
Since 1.7.0 some extension annotations at class level are not applied before `@RegisterExtension` any more.

Specifically `@SetSystemProperty` is using `beforeEach` now but used `beforeAll` and has been executed before `@RegisterExtension` annotated extension fields in the test class.

We are using [DropwizardAppExtension](https://github.com/dropwizard/dropwizard/blob/master/dropwizard-testing/src

[2022-04-12 20:08] beatngu13 commented on #623
Hey @JoergSiebahn,

thank you for the detailed issue description! 🙏 [We actually considered this a bug](https://github.com/junit-pioneer/junit-pioneer/issues/479#issuecomment-1078361099), but your use case is definitely valid.

We will look into this and try to come up with something.

[2022-04-13 07:27] JoergSiebahn commented on #623
Hey @beatngu13,

thank you for the quick response and for looking into this. For the moment [I prepared my idea of a quick fix](https://github.com/SDA-SE/sda-dropwizard-commons/pull/1555/commits/fb2d47d7b8b1ede7eb8bffa4740ccedceaeecea2) in the update PR. We have to discuss internally if we consider it as a breaking change for the consumers of our library to decide for a merge or waiting for our ne

[2022-04-13 07:36] Michael1993 commented on #623
The easiest and (in my opinion) obvious solution would be to make this behaviour configurable. We could introduce an enum, e.g.:
[code]

The problem with this approach is that we basically re-introduce the "bug" we were trying to fix - extensions behaving kind of unpredictably...?

[2022-04-13 12:58] nipafx commented on #623
Thanks for opening the issue @JoergSiebahn. This is a complicated topic because the semantics aren't clear. As you said, in the past annotating a class meant (A) "set system property before all tests", but we got feedback from some users that were surprised by this because they saw annotating the class as a shorthand for annotating each method and so thought it meant (B) "set system property befor

[2022-04-13 13:27] JoergSiebahn commented on #623
Thanks for giving an outlook to possible future changes @nipafx. I appreciate how you all take feedback into account for a little feature that has much more perspectives than I initially saw.

[2022-04-13 19:36] beatngu13 commented on #623
Due to our new reset mechanism, I think we can no longer combine `BeforeEach`/`BeforeAll`. But as @Michael1993 said, we could provide a configuration option:

[code]

Thoughts?

[2022-04-14 09:17] nipafx commented on #623
If at all possible, I'd like to avoid an option because it makes the user choose.

That would be too bad. Can you explain why that may be the case?

[2022-04-14 11:03] beatngu13 commented on #623
Let's recall your comment [here](https://github.com/junit-pioneer/junit-pioneer/issues/479#issuecomment-990109197):

    E.g. you could set a specific default locale before the test class starts, and then the (probably ordered) test methods can successively change the state and rely on previous changes.
    Then again, all changes to that state will carry from test to test, which may be detrimenta

[2022-04-14 16:55] beatngu13 commented on #623
After today's maintainer meeting: we would first try to keep the current/new behavior, but make the extension additionally visible in `@BeforeAll`. That is:

[code]

@JoergSiebahn would that work for you?

[2022-04-18 20:22] Michael1993 commented on #618
I'm not really sure what improvements could be made. Could you give me an example @Bukama ?

[2022-04-19 08:29] JoergSiebahn commented on #623
Hey @beatngu13, sorry for the late response. It sounds reasonable to me, that an annotation at class level applies to everything in the class. That would work for our case.
A little remark to the missing dependency of `test1` and `test2` in your example: I would avoid such prerequisites and requirement of the order to another test case. Independent tests are much easier to read in my opinion. I as

[2022-04-20 12:09] virtual-machinist opened #624 "JSON argument source fails with LocalDate property deserialization"
For some odd reason I get an exception while deserializing `java.time.LocalDate` properties:

[code]

The JSR-310 Jackson datatype dependency is in the classpath, but upon further inspection the ObjectMapper instance in `org.junitpioneer.jupiter.json.JacksonJsonConverter` has no registered modules.

Any way to fix this? Or better yet provide a way to customize the used ObjectMapper instance? Right

[2022-04-20 20:35] beatngu13 commented on #623
Hi @JoergSiebahn,

thanks for the feedback! 👍 So, we will first follow the aforementioned approach, where we "try to keep the current/new behavior, but make the extension additionally visible in `@BeforeAll`".

PS: I only used the `@Order` annotation to make it more clear how the extension would behave. From the [JUnit 5 user guide](https://junit.org/junit5/docs/current/user-guide/#writing-tests-t

[2022-04-20 20:36] beatngu13 commented on #624
Hi @virtual-machinist,

thx for reaching out – we will look into this.

[2022-04-21 16:32] Bukama commented on #622
I like customizeable changelogs :)

[2022-04-21 16:34] scordio commented on #618
Gradle noob question: how to reproduce the offending warnings/errors? I did a few builds but didn't spot anything strange with the branch from #619.

[2022-04-22 14:21] scordio commented on #559
Hey Pioneer team, are you still willing to tackle junit-team/junit5#2400?

I'm also interested in that feature due to assertj/assertj-core#2567 so I'd be happy to give it a try, but you were in line first 😉

[2022-04-28 19:15] beatngu13 commented on #574
Related (via https://github.com/junit-pioneer/junit-pioneer/issues/381#issuecomment-1001221833):

https://github.com/apache/logging-log4j2/pull/658#issuecomment-1001159235

[2022-04-28 19:17] nipafx commented on #574
This is a good proposal, I like it. Generally speaking, the system property extension already stores and resets extensions so we can probably reuse some of that machinery.

`@RestoreSystemProperties` would have to back up and restore all system properties. Maybe an easier first stab at the problem would be `@RestoreSystemProperty("foo")`.

To your questions:

* I think it should be possible to com

[2022-04-28 19:21] nipafx commented on #549
Since this seems to overlap a lot with #366 and #550, I'll close this as a duplicate. Feel free to comment of you disagree.

[2022-04-28 19:23] nipafx commented on #549
Ooops, not so much of a duplicate after all. 😊 Still, let's first discuss in #550.

[2022-04-28 19:31] nipafx commented on #542
I really like the rule and was super close to including it, but I'm hesitant to add - after compiler (warnings = errors), Checkstyle, Spotless, and SonarQube - a fifth tool that lints our code, particularly for only one check. If we come across more situations where ArchUnit is the solution and we end up including it, we can definitely have this rule as well.

[2022-04-28 19:32] #542 closed

[2022-04-28 19:35] nipafx commented on #416
Can you two take another look at this and come to a decision whether something could be done here given the new approach to Cartesian tests and what that "something" could look like?

[2022-04-28 19:37] #618 closed

[2022-05-08 16:01] robtimus commented on #624
You'll need to register the JavaTimeModule (see https://github.com/FasterXML/jackson-modules-java8).

[2022-05-10 18:24] robtimus commented on #624
`ObjectMapper` instances don't register modules that are available on the class path automatically. There is a method though, [findAndRegisterModules()](https://fasterxml.github.io/jackson-databind/javadoc/2.7/com/fasterxml/jackson/databind/ObjectMapper.html#findAndRegisterModules()).

[2022-05-10 19:40] virtual-machinist commented on #624
That's actually the first thing I've tried before eventually resorting to `objectMapper.registerModule(new JavaTimeModule())`. For some reason no modules were found. I'll recheck this next week. I'm betting either `ServiceLoader` broken and finds no modules in classpath or me looking the wrong way while debugging :see_no_evil: .

Anyhow. That's beside the point. At the moment I cannot access the `

[2022-05-10 19:45] robtimus commented on #624
Aren't you simply missing a dependency? `JavaTimeModule` isn't in the default databind dependency, but instead this one: https://mvnrepository.com/artifact/com.fasterxml.jackson.datatype/jackson-datatype-jsr310

[2022-05-10 20:19] virtual-machinist commented on #624
Yes, I understand that it's not in the default databind dependency. The error message in the issue post already suggests this. :wink:

And yes, I have it in classpath. To be clear the tests that use JSON argument source are part of a larger test suite using among many other things [Spring Boot JSON starter](https://mvnrepository.com/artifact/org.springframework.boot/spring-boot-starter-json), that

[2022-05-11 18:56] robtimus commented on #624
Sorry, I thought you were a Pioneer developer. I'm not either, I am just someone who's interested.

I was trying to work on a pull request, but I added a single test and without any other changes it succeeded. That's not what I was expecting. This is the test method signature:

[code]

Can you show your test method signature? Maybe you're doing something I'm missing.

[2022-05-11 19:09] virtual-machinist commented on #624
Sorry, not at the moment, I have no access to either the code or the tests. But there's pretty much the original exception thrown by Jackson in my original post. Try creating a DTO with this property, not referencing it through `@Property("testDate")`.

[2022-05-11 19:35] robtimus commented on #624
I could recreate it with a POJO. Adding the `.findAndRegisterModules()` then fixes the test. If I then remove the JSR310 dependency the test fails again.

I'll create a pull request shortly.

[2022-05-11 19:48] robtimus commented on #624
See #629

[2022-05-12 08:35] Bukama commented on #624
@robtimus and @virtual-machinist Thank your for adding the discussion and the PR!

[2022-05-12 09:49] Bukama commented on #596
@beatngu13 Is this still relevant, when upgrading to Java 11 (in #627)

[2022-05-12 14:27] nipafx commented on #551
I thought about the name a bit more. We basically want to communicate three things:

1. the test is executed
2. a failing result isn't reported
3. a succeeding test is marked failed

I talked to a few people at DevoxxUK just now to get their input. Two proposals:

* `@Silenced` - This would be a new concept similar to "disabled". It contains the notion of the test being executed and a (failing) re

[2022-05-12 14:50] Michael1993 commented on #551
I don't like `@Silenced` - to me that communicates that the test is silenced _regardless of outcome_, which misses point 3 from the list (a succeeding test is marked failed).

I also don't like `@Fails` because it seems to communicate that the test itself fails, which misses point 2 from the list.

Honestly, I like your original idea, `@ExpectFailing` or something similar (e.g.: `@ExpectedToFail`)

[2022-05-12 16:58] Bukama commented on #595
Shall I delete the docs of `TempDir`, as we removed the extension in 1.0 and want to completely recreate it in #348?

[2022-05-13 12:38] Bukama commented on #517
Will clean this up as the docs say version 1 will be removed in 2.0

[2022-05-13 19:19] sleberknight opened #633 "CartesianTest fails with ParameterResolutionException when have injections into BeforeEach / AfterEach methods"
If you use `@CartesianTest` and have `@BeforeEach` or `@AfterEach` methods that have parameter injection, for example a `TestInfo` or a `@TempDir`, a `ParameterResolutionException ` is thrown and the test never executes.

Here's a simple example:

[code]

`test1` works as expected with the two setup methods called in order, then the test.

But `test2` throws a `ParameterResolutionException` after

[2022-05-13 19:39] sleberknight commented on #633
I forgot to mention that this worked fine in Pioneer 1.5.0 but not in 1.6.x or 1.7.0. Using 1.5.0, the tests run and I see output like (for `CartesianWithTempDirTest `):

[code]

[2022-05-14 12:19] nipafx commented on #622
I think this is a good idea, go for it!

[2022-05-14 13:26] nipafx commented on #464
Started on the team mail account, but it doesn't receive mails yet, possibly because of the A Record pointing at GitHub. I opened a support ticket with my hoster, but it's low priority and on a weekend, so I don't expect a fast turnaround time.

[2022-05-14 13:53] nipafx commented on #581
Reading up on this I can confirm that Sonar still doesn't support this feature. There are (at least) two threads covering that topic:

* [Code analysis on pull request from forked repository with GitHub Actions](https://community.sonarsource.com/t/code-analysis-on-pull-request-from-forked-repository-with-github-actions/43986)
* [How to use SonarCloud with a forked repository on GitHub?](https://co

[2022-05-14 13:54] nipafx commented on #581
'tis already marked as blocked 😊

[2022-05-14 13:56] nipafx commented on #464
Once the email address works, these accounts need to be transferred/created:

* Sonatype
* SonarQube

[2022-05-14 14:17] nipafx commented on #633
Can confirm - the bug as well as that it works in 1.5.0. Paging Dr. @Michael1993 😁

[2022-05-14 15:29] nipafx commented on #595
Neither, so we don't break existing URLs. Will add a comment to #348 re existing docs, though.

[2022-05-14 15:31] nipafx commented on #595
No need for a comment. #491 already updated the files as needed.

[2022-05-15 19:22] filiphr commented on #577
I think that this one could be resolved by using the new `ExecutableInvoker` from JUnit Pioneer 5.9 M1. It needs an analysis.

[2022-05-15 19:22] filiphr commented on #633
This could be related to #577. In addition to that, I think that using the new `ExecutableInvoker` from 5.9 M1 could solve the problem as well. An analysis is needed.

[2022-05-15 20:07] Michael1993 commented on #633
Whoops.

This is actually a bug we (probably just me?) introduced - `@CartesianTest` is a bit overzealous when checking if it can support parameters and throws an exception if it can't. This was supposed to help the user realise they forgot a parameter but it's actually not that helpful and actually clashes with other parameter injections (e.g.: those by JUnit).

[2022-05-16 07:25] #621 closed

[2022-05-17 13:01] #633 closed

[2022-05-17 18:56] #456 closed

[2022-05-19 10:24] beatngu13 opened #638 "How to handle (transitively) required modules?"
The Jupiter API `requires transitive org.opentest4j`:

https://github.com/junit-team/junit5/blob/r5.8.2/junit-jupiter-api/src/module/org.junit.jupiter.api/module-info.java#L17

We don't declare it in our `module-info.java`, but use opentest4j classes directly, e.g. here:

https://github.com/junit-pioneer/junit-pioneer/blob/0a8d9fc5308c0f69ce0110461bb95fd9e61e551b/src/test/java/org/junitpioneer/tes

[2022-05-19 10:44] beatngu13 commented on #581
After login:

<img width="454" alt="grafik" src="https://user-images.githubusercontent.com/11643714/169275752-9fb1619e-0ae7-4ace-b1a5-3760c4671464.png">

Nice… 😅

[2022-05-19 10:51] beatngu13 commented on #464
I assume we all have to login with our GitHub account (see ["Connection with SonarCloud"](https://github.com/settings/connections/applications/Iv1.dc610988574d1724)) and then make everyone an owner?

https://docs.sonarcloud.io/organizations/managing-members/#permissions

[2022-05-19 17:21] Michael1993 commented on #622
I had a lame idea that I think is worth considering: keeping a manual changelog.

I can already hear the masses gasping in terror, "manually doing a task that could be automated?!", but yes, I've seen projects do this and it _always_ makes for a nice, clean and easy-to-digest changelog. It adds a little bit of work for each PR author (or maintainer) but it's fairly minimal and it provides a degree

[2022-05-19 18:05] beatngu13 commented on #638
We could also ask ourselves whether it makes sense to include such modules as dependencies. For instance, here is what [Maven](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#transitive-dependencies) says:

However, I personally don't have a strong opinion on that and I'm also unsure what's "best" in our context.

[2022-05-19 18:23] nipafx commented on #551
To keep this issue and the related PR from stalling, I'm just gonna make the call and say the extension should be named `@ExpectedToFail`.

@Marcono1234 Are you ok with that? Or at least ok enough to finish the PR? 😉 If not, that's ok, too, just let us know and we'll finish it.

[2022-05-19 19:09] nipafx commented on #624
I have a few thoughts on how to handle this issue, but they are rather general and potentially tainted by my lack of deep understanding of Jackson (and other JSON parsers for that matter). Let me know, when I'm being stupid. 😉

Ideally, we'd have a configuration mechanism that gives users full control over the JSON parser:

* which parser to use (if there are several)
* how to configure it

That m

[2022-05-19 19:11] nipafx commented on #624
We also need to consider the common case that users will only want to define very few or even just one parser for their entire test suite. That means, we can't just rely on annotations on a method in the test class.

[2022-05-19 19:13] #595 closed

[2022-05-19 19:59] filiphr commented on #624
I was waiting for the stream to discuss all this options, but I missed it in the end.

I was already having these things in mind when I was working on this feature.

What I had envisioned back then were the following options:

* `@JsonParser("jackson")` or `@JsonParser("gson")` that can be used on a method or a class. This has highest precedence and we can use it to let the user decide which parse

[2022-05-19 21:03] beatngu13 commented on #622
I did use ["Keep a Changelog"](https://keepachangelog.com/de/1.0.0/) in some other projects and we (me and my teammates) often forgot to update the `CHANGELOG.md`. It also caused merge conflicts sometimes.

I _believe_ it is easier for us to leverage our already nice PR titles/descriptions and labels, and generate the changelog. We already have `type: new feature` and `type: bug` for categorizing

[2022-05-21 06:49] Bukama commented on #617
Just wanted to post this announcement by @nipafx

Means we will update to Java 11 short before 2.0

[2022-05-21 11:21] robtimus commented on #624
For #629 I have some uncommitted changes that register a `Jdk8Module` and a `JavaTimeModule` if these are available, and a `KotlinModule` if it's available and so is Kotlin (check on class `kotlin.Metadata`). I can create a new PR for that.

Maven users indeed would need to add `jackson-datatype-jdk8` and `jackson-datatype-jsr310` to their dependencies, but odds are that they already have these as

[2022-05-21 12:57] sherlockEix opened #639 "JsonClassPathSource support generics type?"
Hello. I've tried the demo below but it doesn't work. I think `JsonClassPathSource` can't deserialize json array to java list. Is there any other way to implement it? Thanks.

Java code:
[code]
Json file:
[code]

[2022-05-21 13:01] Michael1993 commented on #639
Hi there @sherlockEix !

Just for the sake of completeness, could you also copy here your `Person` class and the exception message (I assume) you get when trying to execute the test above?

[2022-05-21 13:17] sherlockEix commented on #639
yes. this is my demo. i hope that `jedisList` can be deserialized from `JEDIS` path

- java code
[code]
- jedis content
[code]
- error
[code]

[2022-05-21 13:21] Michael1993 commented on #639
Oh, yeah, I see where the problem is - you pass a list of objects to your test that expects a list of lists. See, when you execute a parameterized test, it expects an input (a list) which it converts to single parameters. In your example your parameter is a list, so the test tries to convert your input to a list but it can not do that because you supplied a simple list not a list of lists.

To dem

[2022-05-21 13:26] Michael1993 commented on #639
This actually makes me wonder _why_ you would want to use a `List` as an input parameter. Do you want to test something on a collection of objects at the same time? Carefully examine your test - if you use a `for` loop or any other method to iterate and/or examine single objects in your passed `List` you might want to reconsider letting the `ParameterizedTest` do the iteration for you and just wri

[2022-05-21 13:35] sherlockEix commented on #639
i want use `@JsonClasspathSource` to prepare my integrate test data. i would like to write data to json file. it's a complex struct. maybe single object or list. then. i will use injected object(list) to do test. my first idea is i write a utils to load data and deserialize to object. but i found `@JsonClasspathSource` so i use it to prepare my  complex test data.

[2022-05-21 14:25] #639 closed

[2022-05-21 17:16] beatngu13 commented on #587
#611 improved the GHA build, but didn't address the lack of feedback mentioned in this issue, therefore, reopened.

[2022-05-21 17:18] beatngu13 commented on #587
While I'm here: the new job summary feature might be helpful.

https://github.blog/changelog/2022-05-09-github-actions-enhance-your-actions-with-job-summaries/

[2022-05-21 21:09] Marcono1234 commented on #551
I still think that "expected", especially in the context of unit tests, might erroneously give the impression that it is desired that the test fails, while it is actually merely "acknowledged", see also my comment https://github.com/junit-pioneer/junit-pioneer/issues/551#issuecomment-1001058349 above.

However, I am not strongly opposed to this, so if you want to call it `@ExpectedToFail`, then th

[2022-05-22 15:33] Bukama commented on #638
We (@beatngu13 @Michael1993 and me) discussed it at our last meeting and none of us had a strong opinion about it. I personally like to make my dependencies clear and therefore would go the Maven way and declare the dependency in Gradle build file and module-info, as for me there is a difference if I use a class directly (like in this case) or truly indirectly (which i _also_ true at the moment fo

[2022-05-22 16:31] Bukama commented on #517
Merge Blocked until 2.0

[2022-05-25 09:21] nipafx opened #642 "Review README"
Give the README a general review to see if everything's still up to date. Things that are known to need fixing:

* remove Steve Moyer from list of maintainers
* sort all contribution lists lexicographically (there are some mistakes here and there)

[2022-05-25 09:29] aepfli commented on #642
we could also increase our quality by using markdownlint to reduce issues with formatting and style - might be worth to add as a criteria :)

[2022-05-25 10:26] nipafx commented on #622
I agree with both of you. 😁 It seems overkill to try and automate this in detail (which label combinations, exactly?) but a manual log is error-prone as well.

What if we try better automation as @beatngu13 proposes, but don't try to hit the nail right on the head with what exact issues are included (because I assume that'll be complex and also prone to then-automated errors). Instead, following a

[2022-05-25 10:29] nipafx commented on #596
@beatngu13 If you want, you can start a new branch based on #627 and start experimenting with the integration tests there.

[2022-05-25 10:33] nipafx commented on #559
It has been a long time in the making, but #491 should be merged soon-ish. At that point it should be really easy to provide a custom file system as temporary resource. If you're particularly enthusiastic, you can start off of that PR (chances are very high that the code won't be changed at all or at least not much before the merge) and already work on that extension.

[2022-05-25 10:36] nipafx commented on #551
I understand, but I still think it's the best option.

I'll take another look and let you know over there.

I don't think I'll do that, but good to know there's the option (you never know when boredom presents itself 😉). Will let you know if that happens. 👍🏾

[2022-05-25 10:38] aepfli commented on #589
maybe it is also worth to maybe extract this into a .github repository like described here https://www.freecodecamp.org/news/how-to-use-the-dot-github-repository/

[2022-05-25 11:14] nipafx commented on #638
At the moment, Gradle build file and module declaration list all Jupiter artifacts we depend on (API, parameterized, commons, and launcher), but not their transitive dependency OpenTest4J even though we use its classes. This is possible because Gradle puts all transitive dependencies on the compile path and the module system lets us read them because Jupiter uses `requires transitive`.

I'm genera

[2022-05-25 14:47] nipafx commented on #642
`TooMuchToolingException`

[2022-05-25 14:57] nipafx commented on #464
Everybody except for @Bukama is an owner now. (Note for future me: I configured that [here](https://sonarcloud.io/organizations/junit-pioneer-xp/members).)

@Bish: You don't show up in the list of members. Did you ever go to https://sonarcloud.io and log in with your GitHub to link the accounts? If not, you probably need to do that before I can make you an owner. If you want to be one and have log

[2022-05-25 14:57] #464 closed

[2022-05-25 15:16] nipafx commented on #638
Sure we do [TDD](https://twitter.com/nipafx/status/1529481362528473091), here!

[2022-05-25 15:18] #407 closed

[2022-05-27 11:36] nipafx commented on #550
As I see it, this issue has the following open discussion threads...

## Non-Reproducibility

@Michael1993 and @verhas are correct that a non-reproducible test suite is a problem. The minimum we can do is to have warnings to that effect. At the moment, only `@DisabledUntil` can cause that and I've prepared a branch (can't push right now, will do so later) that adds a warning to the documentation a

[2022-05-27 11:39] nipafx commented on #550
It appears to me that all of these threads are resolved; with the exception of the non-reproducibility warnings, for which I will open a PR soon. If nobody objects in the coming days, I will close this issue with the PR.

If you read this after that happened and think there's more to discuss, feel free to reopen.

[2022-05-27 12:40] #461 closed

[2022-05-27 21:06] Michael1993 commented on #642
Also remove JSR-305 from the README#dependencies section.

[2022-05-28 05:29] #642 closed

[2022-05-28 19:15] #550 closed

[2022-05-29 08:59] Michael1993 commented on #638
Poll says `NO`. To me this basically sums it up:

[2022-05-29 09:48] Bukama commented on #638
Most commons on Twitter tends towards this too. So I'll close the issue.

[2022-05-29 11:56] nipafx commented on #638
Uhm, but _no_ means not relying on transitive dependencies, which implies adding OpenTest4J as a dependency and module. But judging by the few conversations the poll sparked, it made it too easy to give an opinion without considering the problem. Proposals were relatively unspecific and easy to "counter" with the respective opposite opinion as expressed above. I will hence ignore it.

I talked to

[2022-05-31 18:53] Bukama opened #647 "Extension to execute test multiple times in parallel"
In one of our apps at work we recognized an error which somehow/sometimes happens when executing it in paralell. To be exactly it's an app with an REST-API and the error occurs sometimes, when it's called multiple times in short interval.

While trying to reproduce the error and writing a test for it a team mate asked me if I know a way to execute the same JUnit test multiple ties in parallel. But

[2022-06-01 15:35] jbduncan opened #648 "Resources extension: `TemporaryDirectory`: Allow `@Dir` to accept arguments"
Consider adding an `arguments` field to `@Dir` similarly to `@New` so that code like the following...

[code]

...could be shortened to...

[code]

Note that this would require a change in how `ResourceExtension` works, to allow annotations with an `arguments` field and which are indirectly/meta-annotated with `@New(TemporaryDirectory.class)` to have their `arguments` read by the extension.

This

[2022-06-01 17:43] jbduncan opened #649 "Resources extension: `TemporaryDirectory`: Create a `@SharedTempDir` shorthand"
At time of writing, we have a `@Dir` annotation (might be renamed to `@TempDir` soon) that allows temporary directories to be created in tests with minimal code.

We should consider having an equivalent for "shared" temporary directories. It should probably be named `@SharedTempDir`, but this is open to discussion.

Like #648, this would require a change in how `ResourceExtension` works, to allow

[2022-06-05 15:28] #638 closed

[2022-06-05 16:15] Bukama commented on #589
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository

That's the official Github docu to create issue templates.

[2022-06-09 21:30] Michael1993 commented on #647
I've been thinking about this the last couple of days. Unfortunately I'm not really familiar with the multithreading in Java. 😔
I've been reading up a bit and I think I might have an idea. Will try a draft this weekend hopefully 🙏

[2022-07-12 14:22] rweisleder opened #650 "Add StdErr to StdIoExtension"
Currently, the `StdIoExtension` can only mock/replace `System.in` and `System.out`. This extension should also support `System.err`.

[2022-07-13 16:37] Michael1993 commented on #650
Makes sense. Would you want to take this up yourself @rweisleder?

[2022-07-14 16:41] Bukama commented on #613
Java 18 is now supported by Gradle 7.5 according to the matrix

[2022-07-14 19:10] beatngu13 commented on #613
Regarding:

We currently "only" include 11 and 17:

https://github.com/junit-pioneer/junit-pioneer/blob/main/.github/workflows/build.yml#L120

Adding 18, not just replacing 17, will increase build time as we include an additional element to combine. Also, JUnit Jupiter 5.9.0-RC1 has been released:

https://junit.org/junit5/docs/snapshot/release-notes/#release-notes-5.9.0-RC1

Since we probably als

[2022-07-14 20:01] beatngu13 opened #652 "Include JUnit 5.9 in build"
JUnit 5.9.0-RC1 has been released:

https://junit.org/junit5/docs/snapshot/release-notes/#release-notes-5.9.0-RC1

So the final release is probably just around the corner.

Including 5.9.0-RC1 into our build:

https://github.com/junit-pioneer/junit-pioneer/pull/651/commits/12edd783323165fd6b514942a909a691bc2c2dca

Currently causes the following error:

[code]

We should fix this and include JUnit

[2022-07-15 10:22] Michael1993 commented on #650
Okay, I'm going to start implementing this.

[2022-07-28 09:26] bartsimp opened #654 "Convert ArrayNode to List"
I'd like to convert a json array into a java List, but I got this error:

[code]
Here my test:
[code]

items.json:

[code]

what am I missing?

[2022-07-29 09:28] TimeInvestor opened #655 "Disable Parameterized Test extensions not able to handle runtime input value(s) due to Java annotation attributemust be a constant expression"
A practical use case for a Disable Parameterized Test extension e.g. DisableIfAnyArgument is to select test cases to run when a test case's target test env matches current test env which is provided via an environment variable or system property.

Sample code:
[code]

However, the line `@DisableIfAnyArgument(contains = TEST_ENV)` will throw error
`The value for annotation attribute DisableIfAnyArg

[2022-07-29 10:09] Michael1993 commented on #655
Hi @TimeInvestor ! 👋

Have you tried [DisableIfSystemProperty](https://junit.org/junit5/docs/5.2.0/api/org/junit/jupiter/api/condition/DisabledIfSystemProperty.html) and/or [DisableIfEnvironmentVariable](https://junit.org/junit5/docs/5.2.0/api/org/junit/jupiter/api/condition/DisabledIfEnvironmentVariable.html)?

[2022-07-29 10:12] Michael1993 commented on #654
Hi @bartsimp!

Unfortunately, I don't have a lot of time right now, but I wanted to call your attention to this issue:
https://github.com/junit-pioneer/junit-pioneer/issues/639

Your problem is in the JSON file.

[2022-07-29 10:47] TimeInvestor commented on #655
Not work for my case as I need to match current test env with target test env of a test case, not simply checking current test env value.

[2022-07-29 17:48] beatngu13 commented on #654
Hey @bartsimp!

We use [Jackson](https://search.maven.org/artifact/com.fasterxml.jackson.core/jackson-databind) as our [JSON parser](https://junit-pioneer.org/docs/json-argument-source/#json-parser-integration). Jackson creates an [`ArrayNode`](https://fasterxml.github.io/jackson-databind/javadoc/2.13/com/fasterxml/jackson/databind/node/ArrayNode.html) from `items`, which implements [`Iterable`](h

[2022-07-29 20:07] beatngu13 commented on #655
Hey @TimeInvestor,

as you correctly noticed, the value of an annotation attribute must be a constant expression (see [JLS, Java SE 18 Edition, 9.7.1. Normal Annotations](https://docs.oracle.com/javase/specs/jls/se18/html/jls-9.html#jls-9.7.1)).

Would a method source be feasible for you?

[code]

Note that this more of a "poor man's version". Arguments, i.e. test cases, aren't disabled but disapp

[2022-07-29 20:07] #655 closed

[2022-07-31 12:46] Michael1993 commented on #655
Hi (again) @TimeInvestor!

Just a side-note, you might find this a good approach as well: host your own extension. It's a fairly trivial exercise to copy-paste the [`DisableIfArgumentExtension`](https://github.com/junit-pioneer/junit-pioneer/blob/0a8d9fc5308c0f69ce0110461bb95fd9e61e551b/src/main/java/org/junitpioneer/jupiter/params/DisableIfArgumentExtension.java) from our code base (including ann

[2022-07-31 12:54] Michael1993 commented on #652
I guess we could implement it without the `@Override` annotation? Is that what you were thinking?

[2022-07-31 12:57] TimeInvestor commented on #655
That's really super nice of you @Michael1993 👍

It surprises me how responsive and supportive this extension community is!

Thank you for all of your help ❤️

[2022-07-31 13:00] Michael1993 commented on #655
Sure, just let me know when you no longer need the branch so I can delete it - the maintainers like everything nice and tidy 😅

[2022-07-31 15:49] Michael1993 commented on #655
I just realised I made an error initially with the branch. I went back to verify the behaviour and realised I forgot to update the input verification step. 😭

Sorry! But it's fixed now!

[2022-08-01 08:52] bartsimp commented on #654
Thanks for suggestions but I'm afraid is not exactly what I'm looking for...
I'd like to test a method like
[code]

using a json parameterized test which contains also the expected response

[code]

do you think is possible?

[2022-08-01 14:26] TimeInvestor commented on #655
Thanks @Michael1993
I made a clone of the code and am studying it.

[2022-08-06 06:59] Bukama commented on #652
Final version of 5.9.0 was already released

[2022-08-06 20:09] Michael1993 commented on #647
I have something that I have no idea how to test. 😅

[2022-08-09 18:22] Bukama commented on #652
I'll give a try in spare time

[2022-08-09 20:10] beatngu13 commented on #647
I assume such an extension would also require some kind of "special" setup and/or `TestInstance.Lifecycle`, since one doesn't want the class under test to be reinstantiated during the parallel execution?

[2022-08-09 20:26] beatngu13 commented on #654
@bartsimp I actually made a mistake, [my suggestion above](https://github.com/junit-pioneer/junit-pioneer/issues/654#issuecomment-1199799097) throws the following exception once you dig a little deeper:

[code]

A workaround (I don't like it though):

[code]

---

The "problem" is this method:

https://github.com/junit-pioneer/junit-pioneer/blob/main/src/main/java/org/junitpioneer/jupiter/json/Jac

[2022-08-11 17:36] Michael1993 opened #656 "Convert Markdown files to AsciiDoc"
GitHub supports the .adoc format. I propose we move all our `.md` files to `.adoc`.

[2022-08-13 11:36] Bukama commented on #656
I'm fine with both :)

[2022-08-14 23:52] TimeInvestor commented on #655
Hi @Michael1993
I am done with the code and solved my issue.
You could remove the branch.
Thanks again.

[2022-08-17 11:26] beatngu13 opened #658 "Avoid use of Locale constructor in default locale extension"
The `Locale` constructors have been [deprecated](https://download.java.net/java/early_access/loom/docs/api/java.base/java/util/Locale.html#%3Cinit%3E(java.lang.String)) in Java 19. From the constructor implementation notes:

Several [alternatives](https://download.java.net/java/early_access/loom/docs/api/java.base/java/util/Locale.html#ObtainingLocale) exist to obtain a `Locale`, but, e.g., [`Loca

[2022-08-17 11:28] beatngu13 opened #659 "Upgrade build to use Java 19 as experimental version"
Blocked by #658, see also #651.

[2022-08-21 16:44] Bukama commented on #658
Locale is the same for 8 and 11 with
* Constructors (with language/country/variant)
* Factory-method "forLanguage(language-String), which takes IETF BCP 47 language strings, but does not makes syntax checks on the strings (as far as I understand the docs)
* Constants, e.g. Locale.US
* Builder which allows setting language/country/variant but with checking the " syntax requirements defined by the L

[2022-08-25 17:04] Michael1993 opened #660 "Make `@DefaultLocale` and `@DefaultTimeZone` more flexible"
We could provide new interfaces (`TimeZoneProvider` and `LocaleProvider`) and a way for the user to pull their own implementation into `DefaultLocaleExtension` and `DefaultTimeZoneExtension`. I.e.:

[code]

This way people can have custom logic evaluated at runtime to decide the locale/timezone for any given test.

Note: We can instantiate such classes with JUnit 5's `ReflectionSupport.newInstance

[2022-08-25 17:08] Michael1993 commented on #660
This could "make up" for the fact that we chose the restrictive `Locale.Builder` in #658.

[2022-08-25 17:09] Michael1993 commented on #660
Please provide feedback.

[2022-08-26 12:03] Bukama commented on #660
As discussed yesterday: I'm open for it, but I think it's a very special case that I need to provide a  user defined provider. For me it's important that the default implementation we provide should cover 99%+ usage, so users can normally use the extension in the same way as the current one, meaning without defining a provider

[2022-08-28 07:21] #652 closed

[2022-09-01 16:34] Michael1993 opened #663 "Review 3rd-party application access"

[2022-09-03 10:21] Bukama commented on #589
A first draft for a bug report to get some response if the base tune is okay. Would then make a draft for a feature request too.

My goal is to request all useful information, without overloading the template. I'm even not sure if the JUnit Jupiter and Java version are that relevant.

![image](https://user-images.githubusercontent.com/4354359/188266203-362100ec-07de-48d9-95ab-500dda759fdb.png)

So

[2022-09-03 10:29] Bukama commented on #663
I assign this to @nipafx as he has access to security tokens, but I think he removed all unneeded ones in the past.

[2022-09-03 10:35] Michael1993 commented on #589
LGTM

[2022-09-07 16:14] Josheek1 commented on #405
Is there a way to utilize Junit's @BeforeEach and @AfterEach annotations with Pioneer's RetryingTest?
As a workaround, we are currently calling those methods from within the tests.

[2022-09-09 18:36] Michael1993 opened #665 "Outdated documentation with `@CartesianTest`"
The static factory method part says that it _must be static_ but the demo snippets feature non-static factory methods.

[2022-09-10 08:01] Bukama commented on #589
Example for feature request. I'm not totally happy with it, but that's more that I'm not very creative what people might suggest and I didn't want to make the template too complex.

![featurerequest](https://user-images.githubusercontent.com/4354359/189474712-55e7b842-eba0-4ed3-8b1e-3dbdb16d5fde.png)

[2022-09-14 09:13] nipafx commented on #613
As you propose in #651, we should build against 18/19, though, so let's do that.

[2022-09-14 09:21] nipafx commented on #659
After next week, make it 20"

[2022-09-14 12:44] nipafx commented on #587
@aepfli @p1729 or really @ anyone who's interested: Please let me know if you will work on this in the near future. If not, I might kick it out of the 2.0 milestone to get that one closer to the finishing line.

[2022-09-14 13:33] nipafx commented on #494
Works almost as described, I just had to add a `--silent` to the delete command because my bash would open less (or something like that?) to display the 0 byte return. 😬 So (minus line breaks):

[code]

[2022-09-14 13:51] nipafx commented on #494
![gone gif](https://user-images.githubusercontent.com/6537432/190172739-55b4d0fc-3955-4ec6-8c4f-c775f6f050d1.gif)

[2022-09-14 13:51] #494 closed

[2022-09-14 13:52] nipafx commented on #622
@beatngu13 : Please let me know if you will work on this in the near future. If not, I might kick it out of the 2.0 milestone to get that one closer to the finishing line.

[2022-09-14 14:00] nipafx commented on #472
That discussion was resolved and no change made to JUnit. The conversation can continue here.

[2022-09-14 14:11] nipafx commented on #589
These look good to me. I think you can open a PR with those - if we find room to improve, we can always do that down the road. IIRC, there's always a button to create an empty issue, so I don't think we need templates for Question or Other.

Please also look into CONTRIBUTING.md to see whether this change needs to be mentioned there. (Maybe not, in which case, we don't need to add anything, either

[2022-09-14 19:40] aepfli commented on #663
- Travis CI
- bintray
- AppVeyor CI
- AppVeyor

definitely not anymore, about the other two I am not sure if anybody is using them, they look like convenience tools to me

[2022-09-14 19:54] nipafx commented on #663
I denied all access. If something breaks, somebody will notice and we can allow access again. 😁

[2022-09-14 19:54] #663 closed

[2022-09-18 10:22] beatngu13 commented on #622
@nipafx I don't think I will find time soon. I will remove it from the milestone, so it doesn't block our progress towards 2.0.

[2022-09-19 15:47] Bukama commented on #490
If none feels interested in working on this in the near future (about  seven to ten days) I'll remove it from the Pioneer 2.0 milestone, so that it is not blocked by this.

[2022-09-19 16:51] #589 closed

[2022-09-19 17:11] #613 closed

[2022-09-19 17:11] #659 closed

[2022-09-19 17:38] #665 closed

[2022-09-22 22:35] beatngu13 commented on #517
Closed via #635.

[2022-09-22 22:35] #517 closed

[2022-09-22 22:43] beatngu13 commented on #658
Closed via #662.

[2022-09-22 22:43] #658 closed

[2022-09-24 06:39] Bukama opened #669 "Merge lab/2.0 branch before releasing Pioneer 2.0"
We are preparing the Pioneer 2.0 release on the `lab/2.0` branch to give us the possibility to still merge non-breaking changes into the 1.x main branch and maybe do 1.x releases.

When we ready to release 2.0, meaning all 2.0 tickets are done, we need to merge the branch and do the release.

[2022-09-24 09:40] Bukama commented on #617
First part of this (updating the base Java version) has been merged into the `lab/2.0` branch.
Second step now could be changing code, like using `var` or something.

[2022-09-25 11:32] Bukama commented on #596
@beatngu13  wasn't that also done with #651 ?

[2022-09-25 12:03] beatngu13 commented on #596
@Bukama you are right, this should be done now. 🥳

[2022-09-25 12:03] #596 closed

[2022-09-26 07:26] #654 closed

[2022-09-26 08:33] Michael1993 opened #671 "Make RangeSource annotation non-repeatable"
Initially, `RangeSource` annotations were non-repeatable. They were made repeatable for the `CartesianProductTestExtension`. Since that has been/will be removed in 2.0, it no longer makes sense for the `RangeSource` annotations to be repeatable, so we should make them non-repeatable again.

Additionally, they should work with other `ArgumentsSource` annotations that are not `RangeSource`, since th

[2022-09-26 15:03] Bukama opened #673 "Build pipeline workflow does not trigger"
The build pipeline does not trigger.
According to @aepfli we introduced a bug in the branches section

[2022-09-26 15:11] Bukama commented on #673
I don't think it has to be a double star as @aepfli thought. Git history shows that we have used a single star for pull request since ages.

[2022-09-26 15:15] aepfli commented on #673
Yeah but `*` matches simple paths like `main` - be aware for pull requests it is the target branch ;) - but not branches with "nested paths" like `lab/name`

[2022-09-26 16:34] Michael1993 commented on #673
I like just removing the `branches` line - as far as I understood it's a filtering option where we don't want to do filtering.

[2022-09-27 07:06] aepfli commented on #673
Should we do a separate pr, or is it acceptable that we fix this with #670?

[2022-09-27 08:15] Michael1993 commented on #673
For me it's acceptable - it's really minor, does not affect anyone outside the project and we (kind of) already agreed on the solution.

[2022-09-27 12:02] Bukama commented on #673
I vote for a separate PR to identify the commit with the fix easier in the future (I would not assume that it's in a commit name "update range sources").

[2022-09-27 15:30] Bukama commented on #617
I had a look at the code and except some minor `var` usage (in test classes) I didn't find anything useful. That's why I close this issue.

If someone wants to make use of Java 9+ language features feel free to open PR referencing to this issue.

[2022-09-27 15:30] #617 closed

[2022-09-28 08:55] #673 closed

[2022-09-28 10:36] Michael1993 opened #675 "Replace com.google.jimfs with memoryfilesystem"
Requires an investigation if it's possible. See https://github.com/marschall/memoryfilesystem.

The nice thing about this project that it comes as a module! 🥳

[2022-09-28 16:52] beatngu13 commented on #675
Related: https://github.com/google/jimfs/issues/204

[2022-10-01 02:30] Marcono1234 commented on #551
I just came accross this project implementing a similar idea: https://github.com/MartinWitt/GithubIssue

Probably not that relevant for this implementation, but maybe interesting nonetheless that someone else had a similar idea, and how they implemented it.

[2022-10-01 06:24] Bukama commented on #675
So if I understand that correctly we use and JSR conform memory filesystem (most probably for the TempDir extension) but the `com.google.jimfs` does not provide a module file.
So someone should investigate if `memoryfilesystem` can solve that, to make the TempDir modular?

[2022-10-01 20:43] Michael1993 commented on #675
We use jimfs only for tests, actually.

[2022-10-06 17:30] #623 closed

[2022-10-06 17:49] Bukama commented on #660
On today's maintainers meeting also @beatngu13 noticed that he's open to give users the possibility to create their own provider.

[2022-10-08 12:55] beatngu13 opened #677 "JitPack fails building Pioneer: "invalid flag: -Xlint:all,-exports""
[JitPack](https://jitpack.io/#junit-pioneer/junit-pioneer/v1.7.1) fails building Pioneer (v1.7.1), from the [build log](https://jitpack.io/com/github/junit-pioneer/junit-pioneer/v1.7.1/build.log):

[code]
I assume this is because we are building with 11 (targeting 8), whereas JitPack is using 8, which doesn't know the `Xlint` key `exports`.

[2022-10-08 17:05] Bukama commented on #677
But why our builds are green then?

[2022-10-08 17:44] beatngu13 commented on #677
The lowest Java version we use in our build is 11, but we target Java 8 (i.e. bytecode version 52.0):

https://github.com/junit-pioneer/junit-pioneer/blob/main/build.gradle.kts#L30

However, there are parts of the Gradle script that can only be built with JDK 11+, e.g.:

https://github.com/junit-pioneer/junit-pioneer/blob/main/build.gradle.kts#L227

JitPack doesn't know that:

Therefore, I think w

[2022-10-09 11:21] Bukama commented on #677
But why do we care, as we build with GitHub Actions?

[2022-10-09 15:12] beatngu13 commented on #677
JitPack allows user to use unpublished (in terms of Maven Central) Jupiter versions, such as a specific branch or commit, without checking out the project and building it locally. In the past, we were trying to make JitPack work, too (e.g. #482).

[2022-10-09 17:01] #677 closed

[2022-11-08 07:19] nipafx commented on #677
@beatngu13 Should we not configure JitPack to run the modular build?

[2022-11-08 07:45] nipafx commented on #405
JUnit's Jupiter engine executes lifecycle methods for tests that use the test template extension point. Jupiter's own parameterized tests use that and so do Pioneer's retrying tests. That means `@BeforeEach` and `@AfterEach` work out of the box.

That means, this...

[code]

... prints "Hello, World!" twice - once for each test execution.

[2022-11-08 09:13] nipafx commented on #647
Hey @Michael1993 , you wanna let us know about the magic implementation you created? 🧐

[2022-11-08 09:16] nipafx commented on #656
Sure, go for it! 😃

(That's addressed at anybody who's interested to do this, not just Michael. 😉)

[2022-11-08 09:21] nipafx commented on #671
I think this should've been closed by #670. I'll do that now - feel free to reopen if I missed something.

[2022-11-08 09:21] #671 closed

[2022-11-08 17:00] Bukama opened #679 "Rename "merge-ready" label to "full-build""
The wording "merge-ready" label is misleading since we restructured our build scripts as it's only there to trigger the full build (e.g. for testing purposes), regardless if the PR is ready to merge or not.

In Discord @nipafx suggested to rename it to "full-build". This issue is to discuss it here on Github

[2022-11-08 17:03] Michael1993 commented on #679
Doesn't need a discussion IMO. Let's rename it!

[2022-11-09 07:56] robserm opened #680 "Issue when using @RetryingTest annotation"
from time to time we are getting the following exception on a test which is marked with @RetryingTest
we are using junit-pioneer:1.7.1

[code]

[2022-11-09 11:11] nipafx commented on #679
I agree, we should rename it. But lets wait for the build crew to hear their opinion. 😉

cc @beatngu13 @aepfli

[2022-11-09 11:12] aepfli commented on #679
Not strong opinion regarding that ;) I do agree it makes more sense ;)

[2022-11-09 11:27] nipafx opened #681 "Improve SEO for documentation"
It is not easy to find our extensions when searching for related terms online. I suspect that this is mainly due to our use of the technical term "Jupiter" instead of the more colloquially used "5", particularly in our extensions' page descriptions. That can easily be changed while also adding a few more words to describe the extension.

Bonus points for also checking [junit-pioneer.github.io](htt

[2022-11-09 12:31] robserm commented on #680
The problem is that it happens in our nightly tests suite. Not always, but from time to time. I am trying to reproduce it locally, but without success :( For now I bumped up JUnit 5 from 5.7 to 5.91, maybe it will help.

[2022-11-09 12:38] nipafx commented on #680
Maybe also bump Pioneer to 1.7.2 while you're at it. 😃

[2022-11-10 08:00] nipafx commented on #622
Just for fun, after releasing 1.7.2, I went into the generated [changelog](https://github.com/junit-pioneer/junit-pioneer/releases/tag/v1.7.2) and filtered out the more user-facing issues/PRs (it's a bit weird that we include both) and placed them on top under the heading "Prominent changes". That was pretty quick, so I think it's doable.

We should really look into including issues _and_ PRs, tho

[2022-11-10 08:30] nipafx opened #683 "Knock Nicolai down a peg"
CONTRIBUTING.md contains lines like:

And:

What an ego! I think it's time to take this dipshit down - once 2.0 gets released, we depose him. All with me post ✊🏾!

[2022-11-10 08:44] #679 closed

[2022-11-10 16:35] Bukama commented on #683
You know I'm an offical of the government - so no ⛔

[2022-11-11 00:11] #551 closed

[2022-11-11 00:40] nipafx commented on #683
Fixed by c379221.

[2022-11-11 00:40] #683 closed

[2022-11-13 18:03] jbduncan opened #685 "Resources extension: Consider running tests sequentially when lifecycle methods have resources"
When tests and lifecycle methods share the same `@Shared` resource, they are forced to run sequentially, even if parallel tests have been enabled. This prevents methods from mutating the resource at the same time.

However, it is a common pattern in JUnit to save some data in a field from inside a lifecycle method. This is error-prone because if a resource is saved in a field by a `@BeforeAll` met

[2022-11-14 15:02] #348 closed

[2022-11-14 15:20] nipafx opened #686 "Fix compile error in build.gradle.kts on Gradle 7.6"
The build file (`build.gradle.kts`) does not compile on Gradle 7.6-rc-3:

[code]

See, e.g., [this build](https://github.com/junit-pioneer/junit-pioneer/actions/runs/3462615798/jobs/5781942468#step:6:97).

[2022-11-14 16:23] melix commented on #686
You should be able to use `implementation(project(":junit-pioneer"))` instead (if `:junit-pioneer` is the path of the current project, if I got it correctly).

[2022-11-14 16:27] carterkozak commented on #686
I've pushed #687 which provides more standard syntax (with the caveat that I don't have experience with Kotlin, but it's what I'd do in groovy!)

[2022-11-14 18:34] jbduncan commented on #413
I'm still interested in this issue, but after how long the resources extension took to complete, I'm wondering how we could break this down or reduce the scope.

Two options come to mind:

1. Introduce a tester for just `Iterator`s or `Iterable`s at first, then create new issues for all the other collection types (or even better, for each individual method).
2. Given that guava-testlib returns JUn

[2022-11-15 07:45] #686 closed

[2022-11-15 16:16] jvandort commented on #686
While you cannot use `project` directly as a dependency, you can use the new syntax `implementation(project())`. The `project()` method is provided by [Dependencies](https://github.com/gradle/gradle/blob/master/subprojects/core-api/src/main/java/org/gradle/api/artifacts/dsl/Dependencies.java#L55-L60), an interface which `JvmComponentDependencies` implements, and returns a `ProjectDependency` for y

[2022-11-15 17:09] nipafx commented on #686
Thank you @carterkozak! 🙏🏾 I just pulled `main` to apply your proposal [as given on Mastodon](https://mastodon.social/@carter_kozak/109343067748504287) and was surprised to already see it in action. Very cool!

@jvandort That looks like the cleaner syntax but it only works on Gradle 7.6, not on 7.5 yet and we need to build on both. (Because the "real" builds run with 7.5 and experimental ones with

[2022-11-15 17:49] nipafx commented on #685
Storing something in a static field _and then_ mutating it _and then_ turning on parallel tests is really asking for problems - `@Shared` or not - so I'm not sure it's on us to try and fix that. (The same applies to non-static fields with a "per-class" test instance lifecycle, but I'm not sure those are even parallelized.

I'm inclined to "fix" this by adding a sentence or two to the documentation

[2022-11-15 18:19] nipafx opened #688 "Create global "execution date" parameter for @DisabledUntil"
The `@DisabledUntil` documentation contains this warning:

This could be fixed by introducing a [configuration parameter](https://junit.org/junit5/docs/current/user-guide/#running-tests-config-params) that `@DisabledUntil` interprets as "today", so tests that builds can be reproduced.

If we implement this, a no-longer-disabled test that fails should probably emit a message pointing this option be

[2022-11-15 18:53] Bukama commented on #685
We could also considered ‚Isolated“

[2022-11-15 19:48] nipafx opened #689 "Create interaction between `@Stopwatch` and `@Issue`"
If a test is annotated with both `@Issue` and `@Stopwatch`, the test's run time could be included in the information published for each test.

[2022-11-15 19:49] nipafx commented on #685
I don't follow. Can you elaborate?

[2022-11-15 20:49] jbduncan commented on #685
Oh, I'd forgotten that `@BeforeAll` methods can only be static (unless they're in a class with a "per-class" lifecycle), so that's a good point indeed.

The following blurb [already exists](https://junit-pioneer.org/docs/resources/#thread-safety) in the documentation, so I'm wondering if we even need to say any more?

[2022-11-15 20:53] nipafx commented on #685
I think that's ok. I'm editing the docs as we ~speak~ write - should I add this sentence?

[2022-11-15 21:17] jbduncan commented on #685
I like it! It makes it clear what the user should be doing instead.

[2022-11-17 13:01] #681 closed

[2022-11-17 13:01] #685 closed

[2022-11-17 17:49] Bukama commented on #587
On our today's team meeting @beatngu13 and I decided to remove this issue form the 2.0 milestone as we don't want to block the release and as it is a feature not directly related to the final jar, but "only" to our build pipeline.

[2022-11-17 17:58] Bukama commented on #669
@nipafx suggested in Discord that we could release a 2.0.0-RC1 as soon as all issues from the milestone are done and merged. On today's team meeting @beatngu13 and I agreed that this is good idea to show people that there is a new major release coming. Biggest concerns we had was that people won't try the RC because the RC shows that it might not be stable. So feedback may not be as much as we hop

[2022-11-17 20:23] jbduncan opened #691 "Docs for resources extension has broken links and a typo"
Specifically:
- On the [top-level docs page](https://junit-pioneer.org/docs/), it says, "[Creating and Sharing Resourced](https://junit-pioneer.org/docs/resources/)". (Typo at the end of "Resourced".)
- On the [resources page](https://junit-pioneer.org/docs/resources/), the link with text "[Temporary directory](https://junit-pioneer.org/docs/resources/docs/temp-directory)" accidentally points to "

[2022-11-18 07:14] Bukama commented on #691
Thank you for the report!

[2022-11-18 11:24] #691 closed

[2022-11-18 11:25] nipafx commented on #691
Most of those errors were fixed by #690 - we just didn't trigger a website build, yet, and that's why the changes weren't reflected. I've done that now. The only one that remains is the broken link that I've just fixed in a7a639a together with a bunch of others.

[2022-11-18 11:54] nipafx commented on #691
FFS, I missed the one @jbduncan pointed out. How did that happen?! 🤬

[2022-11-24 13:34] marcphilipp commented on #405
Hey, sorry for the delay in answering the summons. 🙂

Unfortunately, I also don't see how we can make this work with the current extension points.

[2022-11-25 19:24] Bukama opened #693 "Upgrade to Gradle 7.6"
Gradle 7.6 with support for Java 19 was released on 2022-11-25. so we could upgrade our build pipeline

[2022-11-26 09:35] beatngu13 commented on #693
Only one the `lab/2.0` branch I guess? Probably not worth the effort to do it on `main` too, given we are relatively close to 2.0. When we went from 7.4 to 7.5. in #651, this required quite some changes.

[2022-11-26 10:00] Bukama commented on #693
I'm fine with only upgrading the lab branch for 2.0

[2022-11-27 11:17] #693 closed

[2022-11-28 03:18] eeverman opened #695 "Fully publish and support PioneerAnnotationUtils"
A thought:  This project's support classes are just as valuable (maybe more so?) than its current set of extensions.

I'm creating custom JUnit extensions for a separate project:  [AndHow](https://github.com/eeverman/andhow) (a configuration utility).
JUnit's [AnnotationSupport](https://github.com/junit-team/junit5/blob/732a5400f80c8f446daa8b43eaa4b41b3da929be/junit-platform-commons/src/main/java/

[2022-11-28 04:15] eeverman opened #696 "Add support for composed annotations to all annotations"
Looking through the source code of the annotations used to register extensions, it looks like none of them (or none that I could find) support [composed annotations](https://junit.org/junit5/docs/current/user-guide/#writing-tests-meta-annotations), that is, reusing the annotation in another annotation.

JUnit's user manual has a few examples of this in the [declarative extension registration secti

[2022-11-28 04:40] eeverman opened #697 "Remove @Inherited from annotations and upgrade utils to find them"
This is ultimately related to #696

Remove `@Inherited` from all annotations used to register extensions and upgrade the `PioneerAnnotationUtils` to find annotations on superclasses, even if they are not `@Inherited`.

From JUnit's perspective, there is no requirement that annotations on a test superclass be marked as `@Inherited`.  And the meaning is  not correct:  When an extension-registering a

[2022-11-28 10:15] Michael1993 commented on #696
Hi @eeverman! Thank you for opening the issue.

I've looked through our annotations and it seems we do have some of them that do not support composed annotations (namely `@StdIo` and `@ReportEntry`). All our other annotations types either have `ANNOTATION_TYPE` or `TYPE` in their `@Target`.

I also looked at `PioneerAnnotationUtils` and I can _kind of_ see your issue? The line you are pointing out

[2022-11-28 10:35] Michael1993 commented on #695
Hi @eeverman ! Thank you for the suggestion. We will discuss and get back to you.

JUnit's `AnnotationSupport` is a very robust tool, so I'm kind of wondering what you are trying to do to find it lacking. Could you tell us a bit more about your project?

[We had an issue open a while ago about marking our API with API Guardian like you suggested.](https://github.com/junit-pioneer/junit-pioneer/iss

[2022-11-28 11:24] Michael1993 commented on #697
`PioneerAnnotationUtils.findClosestEnclosingAnnotation` specifically does not find not `@Inherited` annotations on superclasses. [That is _intentional_](https://github.com/junit-pioneer/junit-pioneer/blob/main/src/main/java/org/junitpioneer/internal/PioneerAnnotationUtils.java#L235).

I am closing this as the premise is incorrect.

[2022-11-28 15:26] eeverman commented on #696
Nice fix - Thank you!

I had been looking at StdIo when I reported the issue.... and I guess forgot that `TYPE` included the annotation type.  I also had a test that was trying to verify that composed annotation worked, but I see now that it included some other assumptions.

Thanks again!

[2022-11-28 17:58] eeverman commented on #695
My project, [AndHow](https://www.andhowconfig.org), is a project configuration util.  It lets you declare strongly type configuration parameters anywhere in your code like this:
`static final StrProp DATABASE_URL = StrProp.builder().startsWith("jdbc:").build();`
...and then finds and validates the configured values for them from any source (env vars, jndi, sys props, etc.) at startup.

The JUnit e

[2022-11-30 04:31] eeverman commented on #574
I'm interested in taking a pass at this one if no one else has.

I read through your contribution guide - It is excellent!  I may have to copy some of those ideas back to my project...

[2022-11-30 09:00] nipafx commented on #405
Thank you, @marcphilipp! In light of your reply, I'll close this issue but if new ideas come up, they can be added here of course.

[2022-11-30 09:00] #405 closed

[2022-11-30 09:10] nipafx commented on #574
Welcome @eeverman and thank you! 😊 Looking forward to your contribution. I'll assign you this ticket and mark it as in progress. Let us know if you need any help. Feel free to open a WIP PR for that if you want to share some code.

[2022-11-30 09:19] nipafx commented on #695
It's great to learn that `PioneerAnnotationUtils` provides value beyond its internal use. 😃 I hesitate to spin it into its own project, though. That class has quite a [tumultuous history](https://github.com/junit-pioneer/junit-pioneer/commits/main/src/main/java/org/junitpioneer/internal/PioneerAnnotationUtils.java) and we have [ideas](https://github.com/junit-pioneer/junit-pioneer/issues/648#issue

[2022-11-30 09:25] nipafx commented on #413
To your options:

1. Good idea, I think we should go with it. Particularly because it would allow us to prototype various approaches (I'm sure there's more than one) without too much effort due to `Iterable`s limited API.
2. The issue with adapters like these (or [the vintage `@Test` annotation](https://junit-pioneer.org/docs/vintage-test/) I created) is that it gives the illusion of compatibility

[2022-11-30 09:29] #696 closed

[2022-11-30 12:23] jbduncan commented on #413
Thanks for your thoughts on this, @nipafx. 😁

Good point about (2) not supporting JUnit 4 extensions, I hasn't considered that. So I agree, let's consider other options first.

Two ideas for approaching (1) come to mind. What do you think, team?

1. Make a builder of `DynamicTest`s for `@TestFactory` methods.
    1.  Pros:
        1. It [mimics guava-testlib's approach](https://nipafx.dev/test-col

[2022-11-30 13:48] nipafx commented on #697
It doesn't matter much, which exact public method from `PioneerAnnotationUtils` are used the most, they all eventually call into `findOnType` (that's the method @Michael1993 pointed out), so that's where the issue lies.

I typed out a full reply why we should keep the code as is and then almost changed my mind. I'll put both arguments here.

# Keep as is

I agree, but I don't see how that is an ar

[2022-11-30 18:20] eeverman commented on #697
Wow, thank you for all the analysis on this!

IMO, tests happening as a result of default interface methods is a degenerate/unplanned case.  I think that possibility opened up when default methods were added to the JLS and the JUnit people never really thought through the implications.  Perhaps that should be a JUnit feature request:  Throw an error if tests are discover in an interface's default

[2022-11-30 19:56] jbduncan commented on #697
@eeverman I think they have thought about it, actually, but I'm not sure to what extent. I say this because somewhere in this [section](https://junit.org/junit5/docs/current/user-guide/#writing-tests-test-interfaces-and-default-methods) in the user guide, they describe how to test _interface contacts_, which is useful for testing common behaviour across a number of units. For example, it can be us