[2020-04-17 15:04] sormuras commented on #229
💯

[2020-04-17 19:55] Bukama opened #230 "Discord inivite link is invalid"
Laying here on my couch and wanted to join discord, but the link in the `README.md` is invalid (most probably outdated). As we should not rely on temporal links we should search for a permanent link and replace the current one in the file.

[Here](https://support.discordapp.com/hc/en-us/articles/208866998-Instant-Invite-101) is shown how this can be made.

[2020-04-21 17:12] #230 closed

[2020-04-21 17:18] #219 closed

[2020-04-21 17:44] Bukama commented on #215
From stream:

We want to discuss the naming of

* InvocationContext (`RepeatFailedTestInvocationContext implements TestTemplateInvocationContext`)
* ParameterResolver (`RangedSourceProvider`)
* ArgumentProvider

[2020-04-21 18:04] nicolaiparlog commented on #229
I really like the idea if improving the project's integration into IntelliJ (since I use it day in day out). I hear @aepfli investigated whether [Gradle's IDEA plugin](https://docs.gradle.org/current/userguide/idea_plugin.html) can do this, which makes sense as this is clearly in its domain - more so than in ours. If we can add to `build.gradle` instead of `.idea/...` I would prefer that. Let's se

[2020-04-21 18:06] nicolaiparlog commented on #229
One thing on the Eclipse config files: They are in there because Spotless uses them ~~to constantly break my PRs~~ to verify the code style. In that sense, they are not so much IDE configuration as build tooling.

[2020-04-21 18:21] aepfli commented on #229
As @nicolaiparlog already stated, i would favor to add this to the gradle idea plugin. this plugin is widely used and a default gradle plugin (https://github.com/junit-team/junit5/blob/master/build.gradle.kts#L95 even junit is using it)

So i will try to investigate, if i can configure it, within our project, so it will generate the necessary data. and if not, i mean i have to see, where they host

[2020-04-21 18:28] aepfli commented on #226
Thank you for clarificatio @nicolaiparlog. as i think all my questions have been answered in a way that i can easily comply with, i am ready for the next step - bragging about being a maintainer on twitter :)

[2020-04-21 19:26] Bukama opened #232 "Provide pioneer own AssertJ assertions"
When checking `ExcecutionResults` inside a test class for `Throwable`s you have to go through the results and filter them. While doing this, already assertions are made that there are such results. Furthermore to avoid repeated codes some assertions were moved into a method inside the test class and were so hided when only looking at the acutal test case.

We also have some private `assertThat...`

[2020-04-22 09:55] mp911de opened #233 "RepeatFailedTest causes sporadically PreconditionViolationException"
A failed test repeated through `@RepeatFailedTest` sporadically leads to:

[code]

Link to a failed build: https://travis-ci.org/github/spring-projects/spring-data-mongodb/jobs/678085125

Reproducer: https://github.com/spring-projects/spring-data-mongodb/blob/46ab6b4c945fa5eef1acc000c9d9735a715c8f31/spring-data-mongodb/src/test/java/org/springframework/data/mongodb/core/messaging/ChangeStreamTests

[2020-04-22 15:00] Bukama opened #234 "AppVeyor's caching mechanism throws error"
The caching mechanism of our build seems to have problems in every builld, e.g. [on of many example logs](https://ci.appveyor.com/project/nicolaiparlog/junit-pioneer/builds/32317746)

[code]

[2020-04-22 16:33] nicolaiparlog commented on #233
Thanks for opening the issue, Mark. I'll look into it tomorrow.

[2020-04-22 17:15] MarkRKar commented on #234
Is this blocking the 0.5.7 release on maven central?

[2020-04-22 18:33] aepfli commented on #234
actually currently releasing is still done on travis.yml and appveyor has actually no usage, as far as @nicolaiparlog told me ones.

So we can remove the appveyor file and not use appveyor anymore.

Is there also an issue with release 0.5.7 ?

[2020-04-22 19:28] MarkRKar commented on #234
I was just wondering when version 0.5.7 will appear on maven central not sure if there is a problem.

The [GitHub Release](https://github.com/junit-pioneer/junit-pioneer/releases/tag/v0.5.6) for version 0.5.6 was created on Mar 31, 2020 and that is also the date from [Maven Central](https://mvnrepository.com/artifact/org.junit-pioneer/junit-pioneer/0.5.6).
The [GitHub Release](https://github.com/j

[2020-04-22 19:40] aepfli commented on #234
actually there is no release 0.5.7 currently. We skipped that release, but this might be related to https://github.com/mockito/shipkit and how it works. The release notes also state that we did an CI skip, and it is not marked as an current release. Therefore i assume that this is related to shipkit and how this is handled. But i will take a closer look if i find time, to undermine my assumption.

[2020-04-23 16:53] nicolaiparlog commented on #233
Immediate solution is simple: Remove [superfluous `@Test` annotation](https://github.com/spring-projects/spring-data-mongodb/blob/46ab6b4c945fa5eef1acc000c9d9735a715c8f31/spring-data-mongodb/src/test/java/org/springframework/data/mongodb/core/messaging/ChangeStreamTests.java#L200).

I'll post a longer explanation as soon as I'm done writing it. :grin:

[2020-04-23 17:06] Bukama commented on #215
Updated the [list](https://docs.google.com/spreadsheets/d/1UlQYPaxRW2IkKRYrwmJpnX9ZRXBkjOdovU9n5FPqqmQ/edit#gid=0) with my proposal.

[2020-04-23 17:14] nicolaiparlog commented on #233
# What's going on?

The `@RepeatFailedTest` extension is mainly a [test template](https://junit.org/junit5/docs/current/user-guide/#writing-tests-test-templates), which means it becomes it's own container for the tests it generates and doesn't need an additional `@Test` annotation (just like `@ParameterizedTest`).

In the linked example, the test method is annotated with `@Test` _and_ `@RepeatFail

[2020-04-23 18:40] mp911de commented on #233
Thanks a lot for the elaborate response. A validation failure would be indeed helpful. Meanwhile, I’m going to fix our tests.

[2020-04-23 21:11] Bukama commented on #233
While working on this I noticed that there is already a warning for such misconfiguration. See my draft  #236

[2020-04-23 23:00] Hancho2009 opened #237 "EnvironmentVariable annotations/extension documentation problems"
@nicolaiparlog  I noticed during watching a past recording of your stream that during the work on #174 the warnings went into the wrong file.

https://github.com/junit-pioneer/junit-pioneer/blob/master/src/main/java/org/junitpioneer/jupiter/ClearSystemProperty.java#L33

Should be in https://github.com/junit-pioneer/junit-pioneer/blob/master/src/main/java/org/junitpioneer/jupiter/ClearEnvironmentVa

[2020-04-24 08:46] nicolaiparlog commented on #226
Great, let's flesh this out, then. I propose to extend `CONTRIBUTING.md` with a section that contains what I wrote in the longer message above (particularly the bullet point list) as well as my answers to @aepfli's point:

Since nobody objected, I'll propose the team call for Tuesday 1630 UTC / 1830 CEST. Whatever we discuss/decide there, needs to be filed into tickets/PRs/etc., so it's observable

[2020-04-24 09:48] aepfli commented on #188
Actually every committer is in the pom file generated by shipkit ;) - just as a side note

[2020-04-24 09:49] nicolaiparlog commented on #188
Ha, indeed. TIL.

[2020-04-24 09:52] aepfli commented on #188
I like the idea of such a list. For me such lists just always provide one issue, the maintaining part. I think we should try this, and put effort into this.

There is also something additional, which we could do, as a thank you. I know from one project which actually sends sometimes chocolate or other sweets and some swag as a thank you. Which might be also something we could think of. ;)

But men

[2020-04-24 12:57] nicolaiparlog commented on #188
Sending chocolate is a legal nightmare (addresses, GDPR). 😱 But I like the idea and we can consider it for our 1.0 release.

That aside, with maintainers and contributors listed in README and pom, I consider this done once #238 is merged.

[2020-04-24 13:15] nicolaiparlog commented on #233
Thanks for pointing out the warning, @Bukama, I did not know about it. For the sake of discussion, I copied it:

That still doesn't conclusively answer, what we should do, though. I think the documentation update is obvious, but beyond that? Options:

* Nothing, this is a configuration error warned against in the documentation and by Jupiter, so users are on their own.
* Handle the case where `con

[2020-04-24 13:54] #6 closed

[2020-04-24 14:12] nicolaiparlog commented on #188
@beatngu13: A while ago, we created the team @junit-pioneer/pioneer-10 so regular contributors could tag issues, work with PRs, etc. ([triage permissions](https://help.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization)). When creating the list of contributions, I noticed that you're up there as well. If you want, I'd happily invit

[2020-04-24 14:39] beatngu13 commented on #188
@nicolaiparlog although I don't have that much time and #180 is still on my to-do list, I'd be super happy to help where I can. So yes, please add me to that team. 🙏

[2020-04-24 15:19] Bukama commented on #237
Good spot! Thank you!

(Just to mentioned it: Due  #180 the two extensions may become one)

[2020-04-24 15:48] Bukama commented on #188
@aepfli  Which pom file? I don't see one. And I don't see where [the list of developers on Maven central](https://mvnrepository.com/artifact/org.junit-pioneer/junit-pioneer/0.5.6) is generated either. The Text "Core developer" is nowhere in the projects file 🤷‍♂️

[2020-04-24 16:46] aepfli commented on #188
https://dl.bintray.com/junit-pioneer/junit-pioneer/org/junit-pioneer/junit-pioneer/0.5.6/:junit-pioneer-0.5.6.pom

[2020-04-24 17:29] nicolaiparlog commented on #188
That's Shipkit's doing - it parses Git authors.

[2020-04-24 17:47] nicolaiparlog commented on #229
We could also ask @marcphilipp whether the know anything about this (he works for Gradle).

[2020-04-24 17:50] nicolaiparlog commented on #188
Great, just invited you.

Re #180, I'm not sure how much there is to do anymore. At least the entire annotation duplication got removed when we refactored that.

[2020-04-24 18:09] aepfli commented on #233
I think a lot of this issue is related to the Annotation name `@RepeatFailedTest` does not sound like it is an annotation which represents a tests, it sounds more like an annotation which configures a test. Hence that maybe `@TestWithRetry` would be much easier to grasp, at least in my mind.

[2020-04-24 18:14] nicolaiparlog commented on #233
Hm... It is common to specialize types "to the left", e.g. `List` and `ArrayList`. Also, would that argument not apply just the same to `@ParameterizedTest`? Maybe not because it "parameterize the test", but "this is a parameterized test" - maybe it should be `@RepeatedTest`, then? But then the "failed" part is missing...

[2020-04-24 18:48] aepfli commented on #233
i still feel that `retry` more suggests that this is happening in an error case, than `repeat`. And i totally agree with `left typing` so i start another approach `@RetryingTest`. maybe this is just my lack of english knowledge. For me it just sounds way clearer than `@RepeatFailedTest`

[2020-04-24 19:25] Hancho2009 commented on #237
As fare as I understand #180 this is a behind the scenes change and the exposed annotations and other places I mentioned will continue to exists after the issue is resolved.

[2020-04-24 19:55] Hancho2009 commented on #222
This also effects `EnvironmentVariableExtension` because both extensions should probably operate equally in that regards #180

[2020-04-25 06:55] Bukama commented on #229
Or @britter ;)

[2020-04-25 08:33] #237 closed

[2020-04-25 08:38] nicolaiparlog commented on #237
Stupid me for putting the docs in the wring places. :see_no_evil:

Re #180, yes, that will most likely be just a refactoring that remains invisible to the user.

[2020-04-25 12:50] marcphilipp commented on #229
Gradle's core `idea` plugin predates IntelliJ's import feature for Gradle projects. It provides an `idea` task that generates `ipr` files. However, IntelliJ's import reads any [configuration supported by the plugin](https://docs.gradle.org/current/userguide/idea_plugin.html#sec:idea_configuration). There's an additional [idea-ext Gradle plugin](https://github.com/JetBrains/gradle-idea-ext-plugin)

[2020-04-25 14:22] Hancho2009 opened #241 "No EnvironmentVariableUtils Tests if a SecurityManager is set"
There are not tests for `org.junitpioneer.jupiter.EnvironmentVariableUtils` when a SecurityManager is set.

[2020-04-25 17:23] Bukama commented on #233
I think it's a problem of lacking documentation in first place. But I see your point, it's not very intuitve. I like the idea of renaming it to `@RetryingTest` or maybe something like `@RepeatTestWhenFailed`

[2020-04-25 17:53] Bukama commented on #50
@aepfli @nicolaiparlog  Shall we close this bishue? We have introduced sonar and even that #192 is not done yet, I think it's not so important to keep this here open.

[2020-04-25 18:11] aepfli commented on #50
Agree, if we want other tools, we could evaluate them separately

[2020-04-26 08:09] nicolaiparlog opened #243 "Extend Beginner Guide in CONTRIBUTING.md"
I just stumbled across [opensource.guide](https://opensource.guide) and it looks like a great fit for our _If you're new to Open Source_ section in `CONTRIBUTING.md`. E.g.[_Opening a pull request_](https://opensource.guide/how-to-contribute/#opening-a-pull-request) (re [this comment](https://github.com/junit-pioneer/junit-pioneer/pull/239/files#r415049123)) would be something valuable to link to.

[2020-04-26 10:27] Bukama commented on #243
I think we should go somehow both ways with keeping Pioneer in mind. For example the whole [How to Contribute to Open Source](https://opensource.guide/how-to-contribute/) section is great and we should link it the general beginners guide but maybe also in the particular sections. The information we've already added would maybe have help @Hancho2009 to avoid the "pr on master branch" thing, but may

[2020-04-26 10:32] Bukama commented on #241
Thank you for pointing at this. As you already opened a PR which addresses this issue I have assigned it to you.

[2020-04-26 10:42] Bukama commented on #222
I think we should improve those extensions so they also take the outer configuration to allow less redundance, but also adding a `@IgnoreSetOrClearSystemProperty` annotation if one test should not be affected by that, e.g.

[code]

[2020-04-26 11:57] Bukama commented on #180
As I wasn't sure if this bishue still has some use I looked at both extensions and their tests (current master as of 2020-04-26 13:40):

Inside the test there is nothing which can be reduced in my opinion. All overhead was removed / handled by the refactoring while introducing the [Pioneer TestkitEngine](https://github.com/junit-pioneer/junit-pioneer/pull/218).

For the extensions: As we know both

[2020-04-26 12:11] Bukama commented on #215
More more point we should have in focus: Java docs!

[Pioneer JavaDocs](https://javadoc.io/doc/org.junit-pioneer/junit-pioneer/latest/index.html) point our that there are several classes (especially the "container plural repeatable annotation classes") without JavaDoc.

[2020-04-26 15:27] Bukama commented on #217
After #221 was merged we are down to [three violations](https://sonarcloud.io/project/issues?id=junit-pioneer_junit-pioneer&resolved=false)

1. Two usages of `peek()`, where I don't know how to replace them
2. One notice to remove the deprecated `@Test` annotation in `vintage`

As for the second: @aepfli Can we create an exclusion here?

[2020-04-26 15:37] Michael1993 commented on #217
As far as I know the best way to replace `peek()` is with a `forEach()` or a `forEachOrdered()` because these are the methods of the `Stream API` that take a `Consumer` as parameters.

Somewhat like this:
[code]
into
[code]

This is the most straightforward way that I know, however it's ugly. Sometimes a clever `map()` can replace `peek()`, e.g.:
[code]
can be replaced with
[code]
but that might l

[2020-04-26 16:09] Bukama commented on #38
I opened a PR, but @Michael1993 wants to work on it before it gets merged. So I assign this bishue to him.

[2020-04-26 16:21] Bukama commented on #35
As you, @aepfli , were promoted: What are your thoughts?

[2020-04-26 16:42] Bukama commented on #217
Thank you @Michael1993 I created a PR for this, which should allow us to close this issue after @aepfli  has excluded the deprecated `@Test` from sonar checks

[2020-04-26 19:15] aepfli commented on #217
here is the thing with peek. this is merely a warning, as a lot of developers used it, or still using it incorrectly. based on our usecase those are correct. There are three ways of handling that

1. the good old `// NOSONAR`
2. a `@SurpressWarning` for that rule on that method
3. a mark in sonarqube as `False positive` or won't fix.

All of them are legit ways to tell sonar, we know what we are d

[2020-04-26 19:19] aepfli commented on #35
this is a rather old issue, and a lot of discussion going on :) - too much for me to read, at this time of the day. :) - will try to check in the next days. but it seems like i have to aggregate some background knowledge to actually put together some thoughts on this.

[2020-04-27 12:23] Bukama commented on #135
I closed the draft as I noticed I'm far away from done and also blocked by a possible bug in the TEL. Created an issue at JUnit ([Junit 5 - #2277](https://github.com/junit-team/junit5/issues/2277)).

[2020-04-27 15:30] beatngu13 commented on #180
@Bukama maybe a common base class makes sense, but I have to further investigate this (and personally I prefer KISS over DRY). Anyways, will have a closer look on Thursday and then update the issue accordingly.

[2020-04-28 16:09] Bukama commented on #215
Open points:

1. Decision on  where we place repeatable "plural" annotations
2. Decision on tags we want to use
3. Naming Convetion of InvocationContext, etc (see above)
4. Documentation (started in `CONTRIBUTING.md`)
5. JavaDocs

Points I call done
* Location of annotations and other files -> All in same package as of now.

I ask everyone to post their feedback up to new tuesday (2020-05-05). Tha

[2020-04-28 16:20] Bukama commented on #229
As of this I suggest to close this issue as an issue at IDEA / Gradle would be a better way.

[2020-04-28 16:22] Bukama commented on #234
What's the task of `appveyor` in general? Just a travis thing?

[2020-04-28 16:27] Bukama commented on #164
As nobody argues against this I remove the `in-discussion` label and set `up for grabs`.

[2020-04-28 16:31] Bukama commented on #50
As we have introduced sonar and we both see shipkit unrelated to SCA I'll close this ticket.

[2020-04-28 16:31] #50 closed

[2020-04-28 16:40] aepfli commented on #215
nice tagging me, now i need to read the wall of text you to left behind ;) - just kidding

## definition of annotation

I do not have a strong opinion regarding that, although i believe a project is most easy to adopt and to follow, as long as you follow some defacto standards. As it makes it easier to adopt for others. hence that i will try to find some time and look into other projects, and what

[2020-04-28 18:33] Bukama opened #246 "Deprecated Gradle features used in project version 0.5.6"
When building the project (version 0.5.6 which uses Gradle 6.3) there is a deprecation warning by Gradle. We should have a look at it:

[2020-04-28 19:06] aepfli commented on #246
as we right now do not have plans to migrate to gradle 7 (which is not a thing currently) i would not invest to much time into this, also there is the travis site build trigger, which might get removed quiet soon, which also might be the cause of a lot of those warnings

[2020-04-28 19:06] aepfli commented on #234
appveyor offers builds on windows machines, so the same thing as travis or githubactions just dedicated to windows

[2020-04-28 19:17] nicolaiparlog commented on #179
On the next iteration you (or somebody else) has to add your contribution to the README.

[2020-04-29 05:30] Bukama commented on #246
At the moment we use Gradle 6.3 which is the most current version (yesterday 6.4. RC3 was released), so there's no option to migrate. But anyway we should have a look at the warning and evaluate whats deprecated and want to to to migrate it to wanted way as long as we have no pressure on that.

[2020-04-29 05:32] Bukama commented on #234
And as Github actions can build on windows anyway it's redudant now?

[2020-04-29 06:57] aepfli commented on #234
excatly

[2020-04-29 10:41] Bukama commented on #234
Then we should consider of removing it as part of the steps taken to migrate to Github Actions. We don't need redundant builds which only increase build response.

[2020-04-29 11:48] Bukama commented on #108
We decided to move the issues related to the web site to the junit-pioneer.github.io repo. So I moved the issue there. Link is: https://github.com/junit-pioneer/junit-pioneer.github.io/issues/8

[2020-04-29 11:48] #108 closed

[2020-04-29 11:48] #109 closed

[2020-04-29 11:52] Bukama commented on #98
We decided to move the issues related to the web site to the junit-pioneer.github.io repo. So I moved the issue there. Link is: [junit-pioneer/junit-pioneer.github.io#9](https://github.com/junit-pioneer/junit-pioneer.github.io/issues/9)

[2020-04-29 11:52] #98 closed

[2020-04-29 11:54] Bukama commented on #97
We decided to move the issues related to the web site to the junit-pioneer.github.io repo. So I moved the issue there. Link is: [junit-pioneer/junit-pioneer.github.io#10](https://github.com/junit-pioneer/junit-pioneer.github.io/issues/10)

[2020-04-29 11:54] #97 closed

[2020-04-29 12:07] Bukama commented on #179
To give a short information what was implemented and what is open for discussion / implementation from my personal point of view:

This seems quite useful to me. For arguments I understand something like this:

[code]
and for names something like `{displayName} or `{classDisplayName}`, which would result in @ReportEntry(value = "Some entry for {displayName}")`

Was talked about yesterday at stream

[2020-04-29 13:22] Michael1993 commented on #232
I've been thinking about writing an entire separate part for single test assertions (because we do a LOT of single test assertions)
So instead of saying:
[code]
We could write:
[code]
Or maybe even:
[code]
But that seems slightly overkill to me.

[2020-04-29 14:58] aepfli commented on #232
Generally speaking, and from an API point of perspective. i would recommend to think what would a user need, and not just what is sufficient for our usecase. Hence that i would actually prefer a way where i can request a specific amount of tests like

[code]
and based on that we could further test for
[code]
so we can use the same asserts on one or 2 or n test results. if we than create a wrapper

[2020-04-29 15:43] Michael1993 commented on #232
What I meant was:
Are there enough assertions that assert a single test to create a whole different interface for those assertions. You don't really answer that question.

[2020-04-29 19:31] Michael1993 commented on #232
Where do we stop, though? You could even do something like this:
[code]
But that seems like a lot of effort for something that's meant to be used internally only.
I mean, I'd love to do it, but it does kind of look insane (and not really practical).

[2020-04-29 19:51] aepfli commented on #232
well the initial goal is to use it internally, but what if your code and the usage is so beautiful and intuitive that this might even be used in other junit5 extension for assertions :) who knows.

[2020-04-30 12:31] beatngu13 commented on #180
@Bukama just working through this, but regarding:

Not sure about the "System" prefix. If we adapt all environment variable classes, it would break public API. If we only change the non-public parts, it would be inconsistent. So, I would rather leave it as it is.

What do you think?

[2020-04-30 14:46] Bukama commented on #180
I know that it's an API change, but as for me it okay in our steps to clean up / align (and the docs would be updated too, so its documented). Don't know what the others think about it.

[2020-04-30 15:13] Bukama commented on #180
Good idea. Then I suggest to add a new, proper named annotation. Renaming the extension and the util class is no public API anyway, so there's no problem to rename them anyway.

[2020-04-30 16:43] Bukama commented on #149
As no further response, but at least three (@NPException, @Michael1993 and me) voted for including links to examples, I label it this `up-for-grabs` (and remove the `in-discussion`).

[2020-04-30 20:19] aepfli commented on #215
regarding github tags, we might also want to start use `good-first-issue` as this is available and easily accesible via https://github.com/junit-pioneer/junit-pioneer/contribute

not sure how this is configured

[2020-04-30 20:26] aepfli commented on #193
i am not sure if we really need this ticket in the cleaner pioneers milestone, i do think this can be handled later too, and is not as important as other tasks. more like a nice to have

[2020-04-30 20:41] aepfli commented on #246
as we do not have pressure on that, i will remove the milestone, as it will also not block a release

[2020-04-30 20:46] aepfli commented on #217
i marked the two issues as false positives so i think we are good to go to close this issue, arent we?

[2020-04-30 20:57] aepfli commented on #226
this is now closable, or is there anything missing?

[2020-05-01 06:28] Bukama commented on #217
I think so.

![sonar](https://user-images.githubusercontent.com/4354359/80787039-aa29d180-8b85-11ea-9228-f668deb61ffd.png)

[2020-05-01 06:28] #217 closed

[2020-05-01 06:40] Bukama commented on #215
Where does this come from? At we use the [up-for-grabs](https://github.com/junit-pioneer/junit-pioneer/issues?q=is%3Aissue+is%3Aopen+label%3Aup-for-grabs) which is also linked in this "do you look for an open source project" site (which I don't find in Discord and Twitter history atm)

[2020-05-01 06:45] aepfli commented on #215
This contribute page is a GitHub default to allow easier ways into the project. And they have the spec to use good-first-issue. I am not sure how the current issues on that page were found.

[2020-05-01 07:00] Bukama commented on #215
okay it's machine learning...maybe we should contact Github and add tell them to search for "up-for-grabs" too :D

https://github.blog/2020-01-22-how-we-built-good-first-issues/

[2020-05-01 13:40] Bukama commented on #246
At the moment we have two warnings.

tArchiveTask.html#org.gradle.api.tasks.bundling.AbstractArchiveTask:baseName for more details.

I think this comes from the `jar` task, but I don't get it removed, as I don't know where the `baseName` is used (and never worked with gradle before):

What did **not** help:

* Upgrade plugins to newest version
* Remove travis task
* setting the property inside the

[2020-05-01 18:00] Bukama opened #251 "Correct automatic module name of pioneer"
As of now the following entry inside the `MANIFEST` is created:

`"Automatic-Module-Name" to "org.junitpioneer"`

But URL is `https://junit-pioneer.org/`

Maybe @nicolaiparlog wants to add further information as in Discord he only asked to open an bishue about the topic :)

[2020-05-02 11:31] beatngu13 commented on #180
@nicolaiparlog this seems to be necessary since `isAnyAnnotationPresent` internally uses `findClosestEnclosingAnnotation` and not `findClosestEnclosingRepeatableAnnotations`. However, I switched to `isAnyRepeatableAnnotationPresent`, now it is possible to omit the containers.

[2020-05-02 11:47] Bukama commented on #131
I had a view on this and enabled the [parallel execution](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parallel-execution-config), so that the jupiter engine executes classes and methods inside the classes in parallel.

I then noticed following extensions / tests get flaky

* DefaultLocale
* DefaultTimeZone
* SystemEnvironment
* SystemProperty (heavly)
* TempDir (heavly)
* Pione

[2020-05-02 12:19] Bukama commented on #180
May I ask to discuss this in #222 and focus in this PR on the duplication reduction? 🙏

[2020-05-02 13:22] marcphilipp commented on #131
The problem is that the executions you trigger via `EngineTestKit` also pick up the configuration parameters, i.e. also run in parallel. If you add `.configurationParameter("junit.jupiter.execution.parallel.enabled", "false")` in `ExecutionResults` and `@ResourceLock(Resources.LOCALE)` to `DefaultLocaleTests` most of the failures go away. I think this is unexpected when using `EngineTestKit` and J

[2020-05-02 13:46] nicolaiparlog commented on #251
Thanks for creating the issue. Just like packages, module names can't contain dashes, so _org.junit-pioneer_ is out of the question. But I wonder whether it should be _org.junitpioneer.xp_ (_xp_ = extension pack).

Because otherwise, if Pioneer launches other projects, their module name (e.g. _org.junitpioneer.foo_) would make it appear as if there's a super/sub relationship between these modules

[2020-05-02 13:57] nicolaiparlog commented on #246
Oh, didn't see that @aepfli removed the milestone on purpose - thought it was just missing. Let's not start seeing Cleaner Pioneers as the release milestone, though. We don't necessarily have to clear up all the things in there for 1.0. Let's continue chipping away at it and consider the remaining issues some time in summer.

[2020-05-02 13:58] nicolaiparlog commented on #246
This issue is marked as blocked because, currently, there seems to be no way to get rid of the warning. We'll have to check again in a few months.

[2020-05-02 14:07] nicolaiparlog commented on #251
Module and package names are drafted with the same process: Take a domain (example.org) and reverse it (~> _org.example_ for modules, `org.example` for packages). Package names are then often extended to appear as a deeper hierarchy (~> `org.example.foo`), which makes the module name a prefix of the package name.

That is not required at all by the module system, but it's aesthetically pleasing an

[2020-05-02 14:10] Bukama commented on #251
Let's assume pioneer would have been a modularized project, next to others like the site. Then we would need an identifier for the project anyway.

Let's take a view from the GitHub page: organisation is "(org.)junit-pioneer" project is "junit-pioneer". So there's some type of duplication, but well you could say because we don't have a name for the extension pack project: Our package-names represe

[2020-05-02 14:16] Bukama commented on #246
I don't want to sign this. Only because a _never have use gradle-guy_ (read "I / me") can't figure out where we you the command, we somewhere use it. And there is already a non-deprecated method we should use instead.

[2020-05-02 14:33] aepfli commented on #246
well we do use a lot of plugins, and it might easily an issue from another plugin.

eg when starting everything in debug mode you will see those lines
[code]

which show that this happens when we apply shipkit to our project, they use the basename in some places for comparison as it seems like.

[2020-05-02 14:56] Bukama commented on #131
Thank you very much @marcphilipp for the information! I've created an issue for you (_OK actually two - one more for documentation 👼 _).

[2020-05-02 15:48] nicolaiparlog commented on #251
Pointing to GitHub is a good idea. If we'd go with xp as the project name, it should then also be junit-pioneer/xp on GH, right? Eh... Three options:

1. Ignore the hierarchical module name "problem" and keep everything as is.
2. Acknowledge that the project is called XP and rename all the things to (org.)junit(-)pioneer(.|/)xp
3. Try some mix of junit-pioneer/xp on GitHub and in module/package na

[2020-05-02 15:48] #251 closed

[2020-05-02 16:10] nicolaiparlog commented on #243
I wrote a long blog post on extensions and there's also the JUnit 5 user guide. If anything's not covered between the two of those, e.g. the "I want to..." examples you give, they should be blog posts or something, but not hidden in our documentation.

[2020-05-02 16:14] nicolaiparlog commented on #243
I went through GitHub's guide and considered these sections to be relevant:

* [Orienting yourself to a new project](https://opensource.guide/how-to-contribute/#orienting-yourself-to-a-new-project)
* [How to submit a contribution](https://opensource.guide/how-to-contribute/#how-to-submit-a-contribution), particularly
    * [Opening a pull request](https://opensource.guide/how-to-contribute/#openin

[2020-05-02 16:37] nicolaiparlog commented on #243
I like the idea of providing targeted how-tos as @Bukama describes them above. Articles that dissect existing extensions to explain how they work and why they're designed the way they are may also be interesting. If anybody's interested in writing something like that, I can help. Just open an issue.

Otherwise I will close this with #254.

[2020-05-02 16:44] #199 closed

[2020-05-02 16:49] Bukama commented on #234
#213 removed _AppVeyor_ so this issue can be closed.

[2020-05-02 16:49] #234 closed

[2020-05-02 16:51] nicolaiparlog commented on #233
Getting closer to `@ParameterizedTest`, what about `@RetriedTest`?

@mp911de Since you ran into the issue, any idea which of these names (see last four comments) may have prevented the mistake?

[2020-05-02 16:57] #243 closed

[2020-05-02 17:27] nicolaiparlog commented on #229
@marcphilipp Thanks for the information. I went back and forth where to create an issue for that:

* Gradle's plugin is the farthest away from such a "nice-to-have" feature
* idea-ext has seen very little development recently
* JetBrains issue tracker makes the least immediate sense (how can IntelliJ read this info if no plugin allows its configuration?)

The latter two just don't seem particularl

[2020-05-02 17:29] aepfli commented on #233
back to your suggestion, with putting it into a sentence like "this is a parameterized test", i think `retrying` fits perfectly as in `this is a retrying test`

[2020-05-02 17:31] nicolaiparlog commented on #188
I think this is done now. If anybody doesn't feel sufficiently honored, let me know. :wink:

[2020-05-02 17:31] #188 closed

[2020-05-02 17:32] nicolaiparlog commented on #226
Closed by #238 and #239.

[2020-05-02 17:32] #226 closed

[2020-05-02 17:54] nicolaiparlog commented on #193
Thanks @Bukama for going into detail on all the options. IIRC, I promised to write a bit of that and I didn't, so double-thanks. :)

Chewing this over, I think the reused tag is the best option:

* everything on CI (i.e. no local credentials)
* all information end up in `master` (instead of some release branch)
* no spurious commits

@aepfli Can you take a look at implementing this? As I see it, t

[2020-05-02 20:52] aepfli commented on #193
the question is, do we really have to remove the tag? when i think closely about it, is a tag something which can only happens ones, so if we do not delete it, we will have a tag in there, which is not used, but which we can simply move forward, which would trigger the action. - will it be bad, if we have one wandering tag?

[2020-05-03 05:49] Bukama commented on #193
tags are just labels for specific labels and therefore their name is unique, meaning you can only have one label with name `X` at one time. That's why we have to delete and recreate it.

[2020-05-03 07:10] Bukama commented on #246
Thanks for the hint that its shipkit. And there is already an [issue about that there](https://github.com/mockito/shipkit/issues/848). So we have to upgrade shitkit after that has been solved.

As of this the blocked label is needed.

[2020-05-03 09:41] marcphilipp commented on #229
Yes, since it's a core plugin that's the right place.

[2020-05-03 19:04] aepfli commented on #193
yeah but we do not need to delete the tag, we just simply would need to move it aka a wandering tag. but that is not needed any more, tag will be deleted in my proposal, i even cleanup the build a and it is cleaner now

[2020-05-04 12:19] nicolaiparlog commented on #229
Blocked by gradle/gradle#13004.

[2020-05-04 12:45] nicolaiparlog commented on #193
@aepfli's PR triggered a discussion about when to remove the `release` Tag.

@Bukama [wrote](https://github.com/junit-pioneer/junit-pioneer/pull/256#issuecomment-623061935):

I [wrote](https://github.com/junit-pioneer/junit-pioneer/pull/256#discussion_r419383240):

Discuss!

[2020-05-04 12:48] nicolaiparlog commented on #193
I'd rather not use the tag for actual communication and while I agree that it appeals to our desire for symmetry to have the tag's lifetime encompass the build's lifetime, I think that doesn't have any actual value and the manual work it implies is annoying.

[2020-05-04 12:52] aepfli commented on #193
As i am not on either side, i just want to put in one additional point, that if t inhe releaseTrigger is still in place, when you try to release, you will realize that there is an issue with the build, which forces some kind of investigation. It might be that somebody triggers release and leaves right afterwards, or forgets to wait for it to be finished. With the releaseTrigger tag still place, we

[2020-05-04 14:29] Bukama commented on #193
@aepfli writes what my indent is of deleting the tag in the last step. We see that there was a problem we have to investigate. If we don't want to handle the risk of deleting the tag we would be back to commit messages I think.

[2020-05-06 06:22] vlsi commented on #229
Hi there.

I see you are discussing various plugins for Gradle, however, it looks like Gradle overhead is neglected.
One can't execute a Gradle build in order to "figure out the icon for the project". It does not work like that. For instance, if my file manager wants to display an icon, I don't expect it to execute Gradle build for each folder. The same for JetBrains Toolbox: it shows a list of pr

[2020-05-06 07:28] aepfli commented on #229
https://github.com/editorconfig/editorconfig/issues/425 just for a reference, thank you @vlsi

[2020-05-06 09:26] nicolaiparlog commented on #229
@vlsi I've never used the Gradle IDEA plugin so far, so I may be misunderstanding something, but I interpreted the first sentence in the documentation...

... to mean that I use the plugin to configure IntelliJ-specific options and then run `gradle idea` (once), so it can generate the files in `.idea` for IntelliJ to read.

The issue navigation link and the icon are part of that configuration, so

[2020-05-06 09:27] nicolaiparlog commented on #229
For future reference: The issue navigation link is discussed in JetBrains/gradle-idea-ext-plugin#88.

[2020-05-06 13:12] vlsi commented on #229
I don't think that's used often. In practice, IDEA opens build.gradle.* files automatically, and it does much better than Gradle trying to generate project files.

The plugin can generate vcs options, however, that does not scale across IDEs and build systems.
What if I edit the project via both Visual Studio Code and IDEA? Do you suggest to add Gradle configuration for both of them?
What's the po

[2020-05-06 16:32] Bukama opened #258 "Documentation about SystemEnvironment not available"
The [documentation about SystemEnvironmentExtension](https://junit-pioneer.org/docs/environment-variables/) is not available and throws 404 error, when acces via navigation.

When accessed via [overview page](https://junit-pioneer.org/docs/) page is loaded

[2020-05-06 18:14] Michael1993 commented on #258
The problem was a typo in the name of the file (enviroment-variables.adoc instead of enviro _n_ ment-variables.adoc)

[2020-05-07 15:25] #258 closed

[2020-05-09 10:45] Bukama commented on #215
As no further comments were added about the labels I updated them according to my suggestion (link see above)

[2020-05-10 06:34] Bukama commented on #215
If #260 gets merged I think this issue is done. Targeted tasks:

We are on the same line that the "plural" ones should not be public. The resulting two options (top level class or inside non-repeatable) are close. After more thinking about it I still vote for putting them inside the non-repeatable files together with a short comment. Doing this helps to reduce cluttering and when someone looks int

[2020-05-12 16:43] aepfli commented on #229
For now we will implement a somewhat intermediate solution, where we will do an additional logic after the idea task, which will manipulate the xml files. This will currently only work for intellij idea.

We might want to think about adding this for eclipse too, but for now, we are fine with just intellij

For the logos i am not sure, where we will add the default logos, should we put them into th

[2020-05-15 07:06] vlsi commented on #229
Is `idea` task any better than IDEA's own import?

[2020-05-15 15:50] marcphilipp commented on #229
No, I think it's rather the other way around.

[2020-05-15 16:09] vlsi commented on #229
That is why the following looks suspicious to me:

[2020-05-15 18:05] aepfli commented on #229
Maybe i was not good at explaining or writing things down as it was in a hurry. but a prototype would be something like

[code]
in `buildSrc/build.gradle` - this is currently just a prototype, but working, my plan is to investigate also into a kotlin version, to have just one type of dsl in the project, but this might take a while.

[2020-05-19 17:32] #193 closed

[2020-05-19 17:42] nicolaiparlog commented on #192
Closed by 80b3e45

[2020-05-19 17:42] #192 closed

[2020-05-25 05:58] Bananeweizen opened #263 "Typo in documentation: assertThat().isEqual_s_To()"
The website examples all say
`assertThat(...).isEqualsTo(...)`
That's probably a typo, since the correct method in AssertJ is
`assertThat(...).isEqualTo(...)`
(without the additional 's').

[2020-05-25 06:24] aepfli commented on #263
hi, thank you for your issue.

I would kindly ask you to put all context into the ticket, regarding what files do you specifically are talking about, or where do you see the error. Addtionally it would be highly appreciated to add links to the methods you are referencing in AssertJ. It seems like you did already some research and it  would be good, and easier for us, if you could share all the kno

[2020-05-25 06:38] Bananeweizen commented on #263
![grafik](https://user-images.githubusercontent.com/406876/82785468-edb0ec00-9e62-11ea-87b2-f2a6340b2d8a.png)

The same error is contained in _every_ extension example. I.e. if you select any other of the yellowish extension names in the upper left of the screenshot, the code blocks there contain the same issue.

[2020-05-25 14:08] Bukama opened #264 "Shall the issue number be mentioned in commit title?"
In #229 IDE specific configuration files / support for specific IDE features are discussed.
One of them are clickable issue/PR links inside IDEAs git history. As long as there is no build-in functionality for that provided by IDEA itself, we decided to provide an intermediate solution (see discussion in #229 and PR in #262).

To make use of this feature, we would have to decide to mention the issu

[2020-05-25 14:09] Bukama commented on #264
My opinion: I vote for writing the issue number inside the title. I'm open for putting the PR number also into it, but this costs further space in the titles ~70 chars.

[2020-05-25 14:16] aepfli commented on #264
although it seems to be useful, the interesting part to mention is, that the issue link navigation not only applies to the header, but everywhere the git commit message is parsed:

- in the git log
![image](https://user-images.githubusercontent.com/9987394/82820597-d2fe6780-9ea2-11ea-9eed-94be6fed69ba.png)
- in the annotate
![image](https://user-images.githubusercontent.com/9987394/82820666-e61137

[2020-05-25 14:21] Bukama opened #265 "Documentation: Personal or formal style"
@aepfli brought up this documentation topic inside a PR, which I cut out into this issue, as we have to decide, have to update the `CONTRIBUTING.md` file and maybe several documentation files.

[2020-05-25 14:51] #263 closed

[2020-05-25 14:54] aepfli commented on #263
Thank you @Bananeweizen

[2020-05-26 16:23] Bukama commented on #265
I always thought that I'm the only one that tries to write formal style, but nice to see that I'm not alone.

The formal one has several advantages in my point of view:
* More serious
* Better focus on technical description, which brings up "better" text (with personal one you easily fall into a more conversational style)
* No one feels "touched personally"

This said I vote for keeping our docume

[2020-05-26 17:15] Michael1993 opened #267 "SonarCloud update to Java 11"
[SonarCloud will stop supporting Java 8 by October 2020.](sonarcloud.io/documentation/upcoming)
Note that this link points to upcoming changes, not this specific issue.

GitHub actions should be updated.

[2020-05-26 17:18] Michael1993 commented on #267
@aepfli I assigned this to you because it seemed you already know how to do this.

[2020-05-26 17:19] aepfli commented on #267
https://github.com/junit-pioneer/junit-pioneer/blob/1121f77446595061f1fc32050f0eb31d5584d191/.github/workflows/actions.yml#L41 is the line where we need to swap from 8 to 11 - everyone can take this

[2020-05-26 17:27] Michael1993 commented on #265
This is probably a non-issue because it seems I'm the only one who wrote informal style documentation so far - in [the report entries documentation](../tree/master/docs/report-entries.adoc) and in #227.

If @nicolaiparlog agrees that formal documentation everywhere is the way to go, I'll fix these.

[2020-05-26 19:06] beatngu13 commented on #267
Thanks for the hint @Michael1993. Unfortunately, the link is dead. I assume you meant:

https://sonarcloud.io/documentation/upcoming/

[2020-05-26 19:29] #267 closed

[2020-05-26 19:31] aepfli commented on #265
i do not have a dedicated opinion on that, i just prefer consistency :D but as it seems like we do have an agreemet, we should at least use this ticket to persist it some how in the documentation and in the end close this topic

[2020-05-27 07:59] Bukama commented on #265
I had a short talk about this with @nicolaiparlog and he will write his opinion down when he finds the time. But he mentioned that there are other things to consider, e.g. Mannings (the publisher of his book) wants the authors to address their readers directly.

[2020-05-27 15:16] NPException commented on #101
Since this issue is more than a year old now, which of the suggested approaches would be preferred?
I personally would prefer the "single-file-with-top-level-container" variant. I feel one file per parameter could lead people to an unnecessarily large number of small JSON files.

[2020-05-27 15:40] aepfli commented on #101
i like the idea of a top level container, as it is quiet intuitive, and the testdata always belongs together. furthermore with the toplevel container in an array, we could also define a default object outside of the container, with default values. Sometimes you need all to have some data, and it needs to be the same. So we could utilize this, without duplicating data. just an idea.

[code]

But i

[2020-05-28 07:35] #34 closed

[2020-05-28 12:56] NPException commented on #149
I'd like to pick this one up, as it's (probably) a non-destructive first contribution. 😄

[2020-05-28 13:15] aepfli commented on #149
go for it, please let me know, when you start with it, than i assign you to the task, and remove the label

[2020-05-28 13:30] NPException commented on #149
I'm already on it. I'll just need to make the build pass on Windows first. :D I'll create a separate PR for that.

[2020-05-30 17:32] Bukama commented on #222
Linked to #248 (PR for #180)

[2020-05-31 07:52] Bukama commented on #222
Just to note: In #248 it still uses `findClosestEnclosingRepeatableAnnotations`, So discussion still open.

[2020-05-31 08:28] beatngu13 commented on #222
`AbstractEntryBasedExtension` probably should serve as a central place to control the annotation processing, like I said [here](https://github.com/junit-pioneer/junit-pioneer/pull/248#issuecomment-623609796):

This way, we get consistent behavior for all subclasses such as `SystemPropertyExtension` and `EnvironmentVariableExtension`.

I am not sure if I would go for stuff like `@IgnoreSetOrClearSy

[2020-06-04 17:43] Bukama commented on #164
Note: Aside from the opened PR in #272 I would like to create a list of all extension which lack of such tests, so we have an overview before starting (and maybe doing double work).

As I don't have much time at the moment, feel free to have a look at the code and add such a list here - thank you.

[2020-06-06 08:34] Bukama commented on #81
When doing stress or performance testing you have an large amount of different requirements for this parallel execution and the endpoints you want to test. As there are a large amount of tools who focus on this part of testing, like `Gatling`, `SOAPUI`, `JMeter`, `LoadRunner` and much much more I don't think Pioneer can provide an extension which could compete with those specialized tools. Even be

[2020-06-06 09:14] Bukama commented on #164
If I have not overseen anything this should be the extensions which as of today (don't) check if the configuration is correct:

Checks config:
* RangeSourceArgumentsProvider
* DefaultLocaleExtension
* EnvironmentVariableExtension
* IssueExtension
* RepeatFailedTestExtension
* ReportEntryExtension
* StdIOExtension
* SystemPropertyExtension
* TempDirectoryExtension

Does not check / do they need to?

[2020-06-09 14:26] nicolaiparlog commented on #81
I think such features can have a place in JUnit Pioneer and if anybody wants to open a PR, that would be ok. I agree that this has a large scope, so it could even become its own project under the Pioneer umbrella.

That said, I don't see us implementing and maintaining this at the moment and will close the issue.

[2020-06-09 14:59] #215 closed

[2020-06-09 15:58] nicolaiparlog commented on #233
I like `RetryingTest`, particularly because it's in active voice. I updated #233 accordingly.

I decided against trying to detect failure cases because the Jupiter engine already warns and it seems difficult to figure these cases out reliably. Once #233 is merged, I consider this done.

@mp911de, if you're seeing this in time, I'd be interested to hear your opinion on the new name.

[2020-06-09 16:19] Bukama commented on #81
*Pushing the button for Nicolai*

[2020-06-09 16:19] #81 closed

[2020-06-09 16:27] nicolaiparlog commented on #264
This is essentially a reversal of #79 and I agree very much with it. I think removing issue and PR numbers from the commit message's "title" wasn't a good decision. I'd like to reinstate the old rule. I'll open a PR.

[2020-06-09 16:38] nicolaiparlog commented on #264
See #273.

[2020-06-09 16:57] nicolaiparlog commented on #265
While I tend to write somewhat formal (judging by the amount of passive voice that is used (see what I did there?)), I was told by my publisher that an active voice and addressing the reader with "you" is preferred. If you read carefully, you may see that this style is indeed more engaging and thus better to transport information.

I tend to go with the more active, less variant form, here. That d

[2020-06-09 18:05] Bukama commented on #265
After reading the documentation page several times again and checking your comment too, I think we are fine the state we are, as long as we don't you the personal form in Javadoc. Websites documentation is fine I think.

Would say we check that, maybe remove it and then close this issue.

[2020-06-09 18:16] Bukama commented on #222
@beatngu13 It's more about how deep the extension should look inside class hierarchie to look for annotations to apply. I think the way it is implemented now is fine and especially clear for the users - so no magic surprised in such a "dangerous zone".

So I think we are fine the way it is done now (and still with the reduce duplication PR).

@Michael1993 @aepfli What are you thoughts on this? Sha

[2020-06-09 18:23] mp911de commented on #233
No strong opinion on naming. It probably doesn’t make sense to rename and cause downstream effort as current proposal are mostly different but not significant more comprehensive.

[2020-06-11 09:59] Bukama commented on #164
For the `DefaultTimeZoneExtension´ @Michael1993 has opened PR #272 .

The other is still up for grabs.

[2020-06-11 10:01] Bukama commented on #222
@NPException What do you think? (sorry forgot to add you to the list above)

[2020-06-13 08:55] aepfli commented on #222
I think `@Ignore...` annotations are an overkill, and might polute the API with unnecesary interfaces. Furthermore the user is not really blocked by this, as their are multiple solutions to it. yes they most likely end up in duplication (either with annotations, or with testclasses) but it is not unsolveable and not a nutcracker. Where as having a lot of annoations which serve just a minor edge ca

[2020-06-16 18:32] nicolaiparlog commented on #232
Also, interface implementations should probably all be package-visible.

[2020-06-16 19:03] nicolaiparlog opened #274 "Improvements to StdIOExtension"
I had a look at the `StdIOExtension` and I think it's pretty neat. Some details that could be improved:

# Class Name

We never settled this anywhere, but I consider abbreviations as a single word, when it comes to capitalization, so I'd rename `StdIOExtension` to `StdIoExtension` (lower case "o"). For comparison: `DVDReader` vs `DvdReader` and `ASMRMic` vs `AsmrMic`.

# Reset standard reader/writ

[2020-06-16 19:06] nicolaiparlog commented on #274
The branch is [274-improve-std-io](https://github.com/junit-pioneer/junit-pioneer/tree/issue/274-improve-std-io).

[2020-06-18 16:37] Bukama commented on #264
#273 was merged, so closing this issue

[2020-06-18 16:37] #264 closed

[2020-06-18 16:40] Bukama commented on #222
As most of us stated out that we are fine with the way it is (reading: the work of @beatngu13 in #180 ) I close this discussion with result: No change needed.

[2020-06-18 16:40] #222 closed

[2020-06-19 19:40] Michael1993 commented on #274
# Class name
Class renamed to `StdIoExtension`.

# `@ExtendWith`
I renamed `@StdInSource` to `@StdIo` and the extension now requires methods taking either `StdIn` or `StdOut` as parameters to be annotated with it.

# Unexpected behaviour
Documentation updated with an example.

[2020-06-19 20:57] Michael1993 commented on #274
# Reset standard in/out
Extension now properly resets `System.in` and `System.out`

[2020-06-20 04:34] nicolaiparlog commented on #274
Once #253 is merged, we need to look into making this extension thread-safe.

[2020-06-20 06:30] nicolaiparlog commented on #274
More thoughts on the matter of thread-safety: We should probably wrap the original `System.out` and forward everything to it (so that parallel tests' output doesn't disappear) and only keep output that comes from the same thread that created the wrapper (so that parallel tests don't pollute the captured output).

[2020-06-20 08:55] #149 closed

[2020-06-20 09:52] nicolaiparlog opened #276 "Improve parallel execution of `RetryingTest` formerly known as `RepeatFailedTest`"
At the moment, the `@RetryingTest` extension works by sequentially issuing new `TestTemplateInvocationContext`s depending on the result of the previous test execution. This does not work under threading, so #253 used `@Execution(SAME_THREAD)` to force the execution onto a single thread, which is the parent node's thread. This has the disadvantage that several retrying tests in the same class will

[2020-06-20 09:59] nicolaiparlog opened #277 "Evaluate and possible improve `TempDir`"
The `TempDir` extension may or may not be thread-safe - it's hard to say because its tests definitely aren't (many static fields). The tests need to be made thread-safe, so we can then evaluate the extension itself. Right now, I see no reason why it shouldn't be possible to make it thread-safe (if it isn't already).

Also, can we change the name to `TemporaryDirectory` or something else that doesn

[2020-06-20 10:00] nicolaiparlog commented on #131
This issue spawned: #274, #276, and #277.

[2020-06-20 10:32] #233 closed

[2020-06-20 11:09] Michael1993 commented on #274
As mentioned on stream, wrapping `System.out` doesn't take non-Pioneer extensions into account which could be a problem.

[2020-06-20 11:20] nicolaiparlog opened #278 "Update JUnit 5 to 5.5"
In order to fix #10, we need the [`InvocationInterceptor`](https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/extension/InvocationInterceptor.html) extension point, which was added in 5.5.

I'll open a PR, so we can see whether there are any reasons not to update.

[2020-06-20 12:29] #278 closed

[2020-06-20 12:57] #10 closed

[2020-06-20 12:57] nicolaiparlog commented on #164
Closed by #272 and #280.

[2020-06-20 12:57] #164 closed

[2020-06-20 13:11] #229 closed

[2020-06-20 13:14] #180 closed

[2020-06-20 13:17] nicolaiparlog commented on #274
I added this to the milestone because I assume it changes the behavior quite a lot and so it shouldn't be done after 1.0 if we can avoid that.

[2020-06-20 14:37] Bukama opened #281 "Add documentation about IDE specific configuration"
In #229 / #262 we provided additional IntelliJ specific configuration. Those needs to be documented.

[2020-06-20 14:43] Bukama opened #282 "Convert buildSrc/build.gradle to Kotlin"
In #262 we provided a [buildSrc/build.gradle script](https://github.com/junit-pioneer/junit-pioneer/blob/master/buildSrc/build.gradle) to add IDE specific support for IntelliJ.

This should be converted to Kotlin as the build.gradle.kts script in root folder.

[2020-06-20 15:00] nicolaiparlog commented on #281
When I blabbered about documentation, I meant we could add the commit message configuration to Gradle-for-IntelliJ [as aepfli described](https://github.com/junit-pioneer/junit-pioneer/pull/262#issuecomment-634517898) and that we need to document that. I now realize that there's no point in configuring that, though, because the commit messages written in IntelliJ will never make it into the repo -

[2020-06-20 15:00] #281 closed

[2020-06-20 15:04] nicolaiparlog commented on #179
I'm still very interested in this, @Michael1993, and since we down to a single-digit of open PRs, you might as well open a new one, if you have anything to show. :)

[2020-06-20 15:06] nicolaiparlog commented on #62
I don't see us implementing this, but if anybody's interested, discussions or preliminary PRs (don't invest too much time into completeness or polish!) are welcome.

[2020-06-20 15:09] nicolaiparlog commented on #1
At least the last two items from the opening post still sound interesting to me. If anybody else shares that, PRs are welcome. :)

[2020-06-20 15:14] nicolaiparlog commented on #163
We just updated to Jupiter 5.5 (#278) to use the new [`InvocationInterceptor`](https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/extension/InvocationInterceptor.html) API. _If_ that API gets called for individual parameterized test invocations, it would be a very powerful way to implement disabling parameterized tests. The provided [`Invocation`](https://junit.o

[2020-06-20 15:18] nicolaiparlog opened #283 "Refactor `PioneerTestKit::executeTestMethodWithParameterTypes` to accept `Class<?>[]`"
The `PioneerTestKit` allows creation of `ExecutionResults` for test methods with parameters. At the moment, `executeTestMethodWithParameterTypes` takes the parameter types as a single, concatenated string. This is painful to use. Can't we just refactor to provide a `Class<?>[]` instead?

[2020-06-20 15:24] Bukama commented on #1
By @nicolaiparlog in #163, because I think it might be helpful here too:

[2020-06-20 15:27] #163 closed

[2020-06-21 07:19] Bukama opened #284 "Release action for releasing version 0.7 failed"
Yesterday @nicolaiparlog wanted to release a new version by pushing the `releaseTrigger` to master branch. Th action started but failed:
The [1st try to release](https://github.com/junit-pioneer/junit-pioneer/runs/791016462?check_suite_focus=true) failed due not been able to checkout master

[ciReleasePrepare]
[ciReleasePrepare] * What went wrong:
[ciReleasePrepare] Execution failed for task ':git

[2020-06-21 07:19] Bukama commented on #284
@aepfli May you have a look please

[2020-06-21 07:36] aepfli commented on #284
okay my bad. looks like i should have done some better testing. For the action itself to test it, i used master if it works, and i seperatly checked the behaviour with the tag. but never together. so it is actually quiet logical, that if you check out at tag, you are not really on the master ref, but on the tag ref.

Hence that a change in
https://github.com/junit-pioneer/junit-pioneer/blob/master

[2020-06-21 10:14] nicolaiparlog commented on #284
No inconveniences, I'm glad you're taking the time to look at it, thank you!

[2020-06-21 14:07] Bukama commented on #265
Could not found any personal form in the Javadoc. So closing this bishue.

[2020-06-21 14:07] #265 closed

[2020-06-21 14:18] Bukama opened #286 "Update PR-Template"
In the last weeks / months we updated our contribution guidelines several times to document several "style guide rules".

But as we are all human we do forget to implement some of them or check for them in PR, like:

* One line per sentence in `.adoc` files
* Updating `docs-nav.yml`
* Updating package-info.java
* Use informal style in Javadoc (#265)
* Check for naming conventions
* Add contributor

[2020-06-21 14:51] Bukama commented on #71
By @nicolaiparlog in #163, because I think it might be helpful here too:

[2020-06-21 15:01] Bukama commented on #49
I'm with @Michael1993.

* If I don't need a value for my method I can pass whatever class type of the parameter / class under test  allows (null, default, any number, etc.)
* If I want to check for edge cases code coverage tools like [JaCoCo](https://www.jacoco.org/) or mutation testing tools like [PIT](https://pitest.org/) take this spot
* If I really want to use random values, we don't have to r

[2020-06-22 07:10] beatngu13 commented on #49
Actually, random testing is quite a big thing. Be it at the top of the test automation pyramid (e.g. [Sapienz](https://engineering.fb.com/developer-tools/sapienz-intelligent-automated-software-testing-at-scale/)) or at the bottom (e.g. [QuickCheck](https://en.wikipedia.org/wiki/QuickCheck)).

However, let's not get too philosophical. 😉 I agree with @Bukama that we shouldn't do this, there are exce

[2020-06-22 20:39] nicolaiparlog commented on #286
Good idea! We should definitely do that. You listed a few details, but I'm sure there are larger issued to address as well, right? Tests come to mind... having documentation in the first place.... more?

I recommend to create a hierarchical list with check boxes:

Documentation

- [ ] there is documentation
- [ ] one sentence per line

[2020-06-22 20:47] nicolaiparlog commented on #49
Whoa, why does everybody want to close this? No random values in tests? Where's your sense of adventure? :rocket:

I'd still like to implement this eventually:

* there is an actual JUnit user asking for this feature
* with a seed, the randomness is reproducible, so there's no disadvantage
* switching to a different test engine or even entire testing tool has a slightly bigger foot print than addi

[2020-06-22 20:53] nicolaiparlog commented on #49
Yes, quoting Tyler Durden and the Joker is juvenile and both are full of shit, but... it's fun. :)

[2020-06-23 14:59] hovinen opened #287 "@SetEnvironmentVariable corrupts JDK-internal structures in some cases"
The method `EnvironmentVariableUtils.modifyEnvironmentVariables` tries first a method which works on Windows and then a method which works on Linux and OS X. The former accesses the field `java.lang.ProcessEnvironment.theEnvironment` by reflection, assumes it to be a `Map<String, String>`, and modifies it. On at least some platforms, `java.lang.ProcessEnvironment.theEnvironment` exists but is a `M

[2020-06-25 16:33] Bukama commented on #287
Hey @hovinen,
thank your for this very detailed bug report and for the PR (this is why I assigned you to this issue)!
We'll have a look!

[2020-06-27 12:30] Bukama opened #290 "Builds brake due caching problems"
Since a few days all builds break due caching problems, like this [build of the Pioneer assertions](https://github.com/junit-pioneer/junit-pioneer/pull/245/checks?check_run_id=808150118)

It seems that there are issues with the GithubAction for caching. @Michael1993 found this [issue about the Gradle / GithubActions caching](https://github.com/eskatos/gradle-command-action/issues/7).

[2020-06-27 12:32] Bukama commented on #286
Up to now all responses are positive, so I'll put the "up for grabs" on it.

[2020-06-27 21:53] rhwood opened #291 "RepeatFailedTest fails if assumptions are invalid"
I have a project that I am converting from JUnit 4 to JUnit 5 and it runs tests both with and without the property `java.awt.headless == false`.

To make this work, we have a number of tests with this assumption as the first line of the test:
[code]

That assumption works as intended to skip the test in JUnit 4 or JUnit 5 when annotated with `@Test`, but when annotated with `@RepeatFailedTest(2)`,

[2020-06-28 08:24] Bukama commented on #291
Hey, thanks for the issue,
indeed in it's current form the extension checks for failed assertions not failed assumptions. Maybe we should change this.

Another question as your description sounds like this:
Is `java.awt.headless` a system property or a system environment variable? If yes, maybe you want to have view at our [system property extension](https://junit-pioneer.org/docs/system-propertie

[2020-06-28 09:49] rhwood commented on #291
It is a property which is automatically set by the JDK (but can also be manually set) that is the system's indication it is in an environment where a GUI cannot be rendered. In my use cases, it is used to either allow a subset of the tests to be run (those that won't disturb you while doing something else), or to run on a system where the GUI does not work (a CI worker where X Windows has not been

[2020-06-28 19:25] beatngu13 commented on #290
Haven't had time to read through the linked issue with Gradle/GHA, but I can easily remove the caching for now? Probably better to have a slower but working build.

[2020-07-01 18:12] Bukama commented on #290
Yes. Make it run, then make it fast.

[2020-07-01 19:21] beatngu13 commented on #290
Had to close #292 because it looks like the caching issue stems from the Gradle command action:

https://github.com/eskatos/gradle-command-action/issues/24

Will try out if [disabling the wrapper cache](https://github.com/eskatos/gradle-command-action#caching) helps.

[2020-07-01 19:33] beatngu13 commented on #290
Seems like #292 fixes the build problems. However, I would keep this issue open until the Gradle command action is fixed, then we can revert the PR and re-activate the Gradle wrapper caching.

[2020-07-01 21:54] Michael1993 commented on #291
Since this is a fairly simple request I went ahead and created a PR for it.

I'm not sure if this issue needs discussion. According to the `@RetryingTest` documentation it should be used to retry tests that fail. But tests that do not meet assumptions never fail because they are not executed - therefore they should not be retried at all.

[2020-07-02 16:37] Bukama commented on #290
Thank you @beatngu13 ! As @aepfli approved the PR, I just merged it. Let's hope that we get back on track until this here gets fixed (-> blocked)

[2020-07-05 18:36] Michael1993 commented on #291
I've been thinking about this issue and I'm now less sure of myself.
When we are talking about tests, there are three parts, the preconditions, the actions and the assertions (or the given, when, then parts if you will). The actions and the assertions verify our own code, so we shouldn't retry them - we should only retry a test if it fails because of a precondition - which is exactly what an assum

[2020-07-09 15:59] #291 closed

[2020-07-09 16:00] Bukama commented on #291
From @aepfli and my point of view the change is useful and so we decided to accept it by merging the PR (which also closes this issue)

[2020-07-09 21:49] rhwood commented on #291
Sorry I missed the question.

If an assumption fails because a pre-condition was not met (say specific hardware is not available), I doubt that retrying it immediately would help (because the retry would occur faster than the hardware can become available), so it might be best to not retry if an assumption is not met instead of retrying it and failing the assumption every time.

[2020-07-11 14:17] Michael1993 commented on #179
Not sure about test names. Should that be added too?

[2020-07-11 16:06] Bukama commented on #179
I don't see the need for it as `ReportEntries` are published under a unique qualified name (of the test) anyway.

[2020-07-13 17:43] aepfli opened #296 "Multiversion build with different JUnit versions"
Currently our extension is built for version 5.5.2, but what if somebody with version 5.5.0 or 5.6.2 wants to use JUnit Pioneer. Do we know if this is possible? We should think of experimental builds to cover most JUnit5 Versions out there. So we know, if our application at least builds with those versions, and if the tests are passing.

As soon as there is a new version, we should also add it to

[2020-07-13 17:57] aepfli commented on #282
are we sure about that? i know that we use kotlin in the other scripts - but groovy has its peaks, and in this case, as we are manipulating XML it is way easier to do that with groovy and the DSL for that. Yes we can exclude it into own tasks, but i am not sure it is really worth the effort. maybe the linked tasks of #262 will be soon resolved or there will be a different way. But implementation w

[2020-07-14 08:20] Bukama commented on #282
The topic came up at @nicolaiparlog _Midsummer Hackathon_ and the idea was to align the Gradle scripts to one language. As I don't know much about Gradle: Gradle supports both: Kotlin and Groovy, right?

[2020-07-14 08:33] aepfli commented on #282
yes, but gradle and kotlin are quiet different in their nature and DSL support. I did not find a nice way to manipulate XML with kotlin

kotlin
[code]

groovy
[code]

and that is just reading - when manipulating it, it gets more and more complicated in kotlin. in groovy i can just access the element with their tag name like `xml.element ` and i even can easier maniuplate it, and/or search through

[2020-07-14 18:28] Michael1993 opened #298 "Improvements to Pioneers assertions"
We decided on stream that the current state of #245 is good enough to merge but there is room for improvement.
Some starting ideas:
- separating `ExecutionResultAssert` into test case assertions, report entry assertions and test suite assertions.
- reconsider the names of the interfaces, e.g.: `ExecutionResultAssert` could be `SingleTestAssert`, `TestCaseAssert` could be `StartedTestAssert`, etc.

[2020-07-14 19:33] #232 closed

[2020-07-14 19:39] #284 closed

[2020-07-14 19:59] nicolaiparlog commented on #298
Please remember to add your contribution of the assertions to the README. :)

[2020-07-14 20:02] aepfli commented on #296
https://github.com/junit-pioneer/junit-pioneer/actions/runs/167772059

 as there is an pr open from myside already, because i found it interesting there are also the action above to take a look at :)

[2020-07-14 20:13] #241 closed

[2020-07-14 20:21] nicolaiparlog commented on #296
First of all, very good point, we should strive to be compatible with as many JUnit versions as possible. Thinking of it, I think the docs don't even say as much. A policy like "be compatible with all versions in the range from [required; newest]" would make a lot of sense. Maybe this is a good time to discuss and possibly document.

Regarding your specific questions, I'm not sure on which branche

[2020-07-15 07:16] aepfli opened #299 "Add Nexus credentials to Repository settings"
Our release build needs some credentials to be working correctly. It seems like they are not set up correctly, so we need to add them, or update them.

We do need 4 Properties: https://github.com/junit-pioneer/junit-pioneer/blob/master/.github/workflows/releaseTrigger.yml#L38-L41
- NEXUS_TOKEN_PASSWORD
- NEXUS_TOKEN_USERNAME

and they need to be added here:
![image](https://user-images.githubuserc

[2020-07-15 07:20] aepfli commented on #299
this links to #213

[2020-07-15 08:17] Bukama commented on #296
I like the idea and we could use this argument also to upgrade to the newest Pioneer version also (I personal don't see so much obstacles to upgrade a JUnit Jupiter version in comparison to something like Hibernate where you are bound to JPA-Specc etc.) - but that's another topic.

For me it's okay to run every PR against all other JUnit versions (but should do this only on LTS java versions). If

[2020-07-15 08:23] Bukama commented on #298
I'm open for improvements

[2020-07-15 17:58] aepfli commented on #296
as we all agree here, i remove the label in discussion, and i will continue with my implementation

[2020-07-20 12:10] Bukama commented on #43
This is a quite old issue and after reading through the linked issues (and there linked issues again) I think this here can be closed.

Mockito 3.x was released long time ago and provides very good JUnit5 integration. There were several feature requests raised by @smoyer64 in the Mockito project to improve the integration and they were all implemented. The JUnit team (especially @marcphilipp and @

[2020-07-20 12:10] #43 closed

[2020-07-20 12:52] Michael1993 commented on #298
Probably should expose published report entries and thrown exceptions to miscellaneous assertions.

[2020-07-27 22:20] CydeWeys opened #303 "Where's the .module file?"
Every other dependency we're importing on Maven Central is shipped with a `.module` file, but JUnit Pioneer uniquely amongst them is lacking this file entirely.  See: https://repo1.maven.org/maven2/org/junit-pioneer/junit-pioneer/0.7.0/

This is causing us problems because some of our gradle tooling is assuming the existence of this file.

[2020-07-28 10:35] #286 closed

[2020-07-28 10:44] #296 closed

[2020-07-28 20:03] nicolaiparlog commented on #303
Hi Ben, thanks for opening the issue and pointing us toward `.module` files - we weren't aware of their existence. I just spent a little time [reading about it](https://blog.gradle.org/gradle-metadata-1.0) and digging into how we could enable it [with our publishing plugin](https://github.com/bintray/gradle-bintray-plugin/issues/229). I didn't find a solution requiring no more effort than you put

[2020-07-30 10:01] nicolaiparlog commented on #299
I didn't quite understand why this is needed: I thought Shipkit pushes to Bintray, which then pushes to Maven Central. That's not quite correct, though, as indicated by `shipkit.gradle`, which contains these lines:

[code]

[2020-07-30 10:06] nicolaiparlog commented on #299
This is akward...

![image](https://user-images.githubusercontent.com/6537432/88910647-112a5580-d25d-11ea-907d-83f2cf9584c6.png)

[2020-07-30 11:13] #274 closed

[2020-08-04 07:52] Michael1993 opened #308 "DefaultLocaleExtension/DefaultTimeZoneExtension do not need BeforeAllCallback or AfterAllCallback"
The `DefaultLocaleExtension` and the `DefaultTimeZoneExtension` implement the `BeforeAllCallback` and `AfterAllCallback` interfaces. Those seem redundant and probably should be removed.

There is no major observable difference in behaviour if we remove the callbacks.

[2020-08-04 10:10] Michael1993 commented on #298
After working on the concurrency PR, I realised that adding thrown exceptions from indirectly executed tests makes debugging failing assertions a lot easier, so I added that too

[2020-08-04 17:05] Bukama opened #309 "GithubAction to manually start a release"
Since a few weeks a GithubAction can be triggered manually, e.g. via a button.

As of today a release is started by pushing a specific tag (see #193), but that's a solution we weren't very happy with. So we want to change this to a button to manually start a release.

[2020-08-05 07:08] nicolaiparlog opened #311 "Align documentation headers and ToC entries"
In [the documentation](https://junit-pioneer.org/docs/), some extensions use their annotations as titles and ToC entries (e.g. "@DisableIfDisplayName"), others use natural language in different capitalization (e.g. "Report entries" and "Range Sources"). This should be aligned when possible (and then documented). But what naming strategy works best?

* annotations or natural language?
* should ToC

[2020-08-05 07:16] nicolaiparlog commented on #311
Here are my thoughts...

While I appreciate the ease of use of using the annotation names when possible, this has several downsides:

* naming all annotations of an extension can be ugly (e.g. "@ClearEnvironmentVariable and @SetEnvironmentVariable")
* naming all annotations of an extension may be impossible (e.g. "Range Sources")
* naming annotations if possible, but reverting to natural language

[2020-08-05 08:51] Michael1993 commented on #311
In #265 we agreed that [the documentation should use active voice and can be less formal](https://github.com/junit-pioneer/junit-pioneer/issues/265#issuecomment-641445070). I think renaming the documents to use natural language is in line with that decision. I support it.

I think the documentation could be considered "incomplete" if not all involved annotations (that are in Pioneer) are mentioned

[2020-08-05 09:12] Michael1993 commented on #38
The PR looks good (to me)!

[2020-08-05 09:36] nicolaiparlog commented on #311
All should be mentioned, but not necessarily in the docs landing page or in the ToC: :grin: Thanks for the PR!

[2020-08-05 09:50] nicolaiparlog commented on #311
Since we seem to agree on natural language, the next question is capitalization of titles. :grin: I prefer to capitalize most words with a few exceptions like "a", "on", etc. [This tool](https://capitalizemytitle.com/) helps with that.

[2020-08-05 10:04] nicolaiparlog commented on #308
Thanks for spotting this, @Michael1993! This is indeed a weird way to write the extensions and after you brought it up, I wondered for a while whether it was intentional. If it was, the intention is lost to time as I can see no reason in doing the same thing in before/afterAll and before/afterEach. The only difference I could observe is whether a misconfigured extension on a class fails the entire

[2020-08-05 10:10] #308 closed

[2020-08-05 10:28] #131 closed

[2020-08-05 11:11] #283 closed

[2020-08-05 17:19] #311 closed

[2020-08-05 17:26] #309 closed

[2020-08-06 06:18] nicolaiparlog commented on #299
Ok, got it. Release build of 0.9.0 was successful, [including the sync to Nexus](https://github.com/junit-pioneer/junit-pioneer/runs/952443946?check_suite_focus=true#step:7:323) and the version indeed [shows up on Maven Central](https://repo.maven.apache.org/maven2/org/junit-pioneer/junit-pioneer/0.9.0/).

[2020-08-06 06:18] #299 closed

[2020-08-06 06:34] nipafx opened #313 "Explore use of InvocationInterceptor to disable (parameterized) tests"
In #163, I wrote:

Yes, someone should.

[2020-08-06 06:48] nicolaiparlog commented on #287
Just saw this - very interesting. Good observation @hovinen and thank you for the fix as well. :+1:

Took me a while to understand why the change is _actually_ a fix and I think that we should add a comment that gives a quick explanation and links back to this ticket to prevent careless inlining from resurrecting the bug.

[2020-08-06 08:06] sormuras opened #314 "Where's the module-info.java file?"
Add a module descriptor to the root of the JUnit Pioneer JAR file. Something like:

[code]

[2020-08-06 08:24] Michael1993 commented on #314
JUnit Pioneer currently uses Java 8 from [the build.gradle](https://github.com/junit-pioneer/junit-pioneer/blob/master/build.gradle.kts#L15):

[code]

Sadly, no `module-info.java` in Java 8. 😭

[2020-08-06 08:33] Michael1993 commented on #314
What we _can_ do:
* [ ] Upgrade to Java 11
* [ ] Create a new gradle profile with Java 11 and set up the Java 8 build to ignore the `module-info.java`

Optionally the source code can be updated to Java 11 and compiled back to Java 8 byte code with something like [Jabel](https://github.com/bsideup/jabel)

[2020-08-06 08:34] sormuras commented on #314
Or use https://github.com/moditect/moditect

[2020-08-06 08:39] nicolaiparlog commented on #314
Still not convinced module declarations make too much sense for test code, but since it doesn't appear to hurt anyone (I infer from JUnit 5 having them for quite some time now), we can look into this.

Regarding the build, it appears easiest to me to make Java 11 the default/release build (with `--release 8`) and turn Java 8 into a "compatibility build" (like 14) where we exclude `module-info.java

[2020-08-06 09:19] Michael1993 opened #315 "Add dependabot where it's convenient?"
Basically the title. @aepfli mentioned this in Discord and I think it warrants a proper discussion.

[2020-08-06 09:21] aepfli commented on #315
maybe also for gradle build dependencies and for github action updates?

[2020-08-06 15:58] Bukama commented on #315
I'm strongly voting **against** Dependabot. We decided to choose our dependencies manually and by purpose we don't use the least versions.

So a spamming tools who creates countless of spamming issues or pull requests, which we all auto-close because we don't want to upgrade is non-sense and only bloats tons of shit.

[2020-08-06 17:10] beatngu13 commented on #315
@Bukama I think one have to differentiate between critical / production code dependencies such as JUnit—where we indeed want to hand-crafted updates—and non-critical / test code dependencies like AssertJ. For the latter, I find tools like dependabot very useful for two main reasons:

* One doesn't have to manually trigger tooling such as the [Gradle Versions Plugin](https://github.com/ben-manes/gr

[2020-08-08 05:43] Bukama commented on #314
When switching to modules I suggest to offer the PioneerTestKit and Assertions as an own module, so user can write their own extensions and use our Testkit / Assertions for it.

[2020-08-08 07:40] nicolaiparlog commented on #314
I did the simplest thing by adding a `module-info.java` and bump the source compatibility in Gradle:

[code]

Result:

[code]

It seems to take more time and Hirnschmalz than I'm willing to spend on this task (because I'm still not convinced test modules are worth it). We welcome PRs on this, but we may not merge one without bumping the major version (talking post 1.0) and that may have to be a di

[2020-08-08 08:50] Bukama commented on #314
Gimme time, but I think I'm motivate to get in touch with the module-system myself for the first time.

[2020-08-08 10:27] Bukama opened #317 "Limit line length to max 60 chars in site documentation code snippets"
To avoid horizontal scroll bars inside the code examples of the documentation pages the line length of them must not more that 60   characters.

[2020-08-09 08:05] sormuras commented on #314
@Bukama This documentation could help: https://guides.gradle.org/building-java-9-modules/

[2020-08-12 06:56] aepfli opened #320 "Thinking about default JUnit5 Version"
As of Junit 5.6-M1 one of the changes is
[code]

We do rely on those methods in their deprecated way. As we are close to release version `1.0.0` i think we might want to reconsider our targeted junit5 version and increase from `5.5.2` to `5.6.0` to be save for the future.

Thoughts @junit-pioneer/junit-pioneer-team ?

[2020-08-12 07:30] beatngu13 commented on #320
Just a side note: This issue nicely shows that the experimental JUnit 5 builds are really neat. Kudos @aepfli!

[2020-08-12 15:57] Bukama commented on #320
As they will be removed in near future I agree that we need to migrate. `5.6.0` would fit our rule of "the lowest possible" version.

[2020-08-13 06:28] aepfli commented on #320
adapted title and changed description

[2020-08-16 10:19] Bukama opened #322 "Provide timeout for Github Actions"
Currently sometimes our builds run "forever" and are killed after six hours, e.g. [run 988295906](https://github.com/junit-pioneer/junit-pioneer/pull/321/checks?check_run_id=988295906).

When I remember correctly there was a timeout flag you can provide to the actions to timeout after a certain of time, maybe 15mins or something.

Am I right (@aepfli @beatngu13 ) and do we want such a thing?

[2020-08-16 11:27] beatngu13 commented on #322
Thanks for making me aware of this. The example job you posted is with Java 11 on Windows, and it looks like it timed out during the tests:

[code]

Would be interesting to see if this always happens on the same job during the same Gradle task. Do you have more examples @Bukama?

In the meantime, I will open PR do include an appropriate timeout.

[2020-08-16 13:53] Bukama commented on #322
[961045944 - win / java 11](https://github.com/junit-pioneer/junit-pioneer/pull/261/checks?check_run_id=961045944)

I don't remember where, but there were one or two more runs, but as I don't remember the runs I don't know if they were also win / java 11

[2020-08-17 10:03] aepfli commented on #322
https://github.com/junit-pioneer/junit-pioneer/runs/990846534

[2020-08-17 10:50] beatngu13 commented on #322
So this time Java 14, but still on Windows.

[2020-08-17 14:30] aepfli commented on #322
should we increase the logoutput to info for a while, so we have more information?

[2020-08-17 14:36] beatngu13 commented on #322
Sounds reasonable to me. But before doing so, we should probably create a separate issue (will take care) for the build timeout since this here will be closed once #323 is merged. Then we can collect all necessary information and decisions there.

[2020-08-17 17:25] Bukama commented on #322
I merged #323 to have the timeout in the main build.

According to your question: I think timeouts do not hurt in all jobs. @aepfli Do you thing 15mins is enough for the deployment to bintray/nexus jobs?

I'll leave the issue open to add timeouts to the other jobs.

[2020-08-17 17:28] Bukama opened #324 "Build jobs sometimes timeout"
In the last time several job builds timeout. As far as we can identify they are all Windows jobs at Java 11 or 14:

[2020-08-18 16:46] aepfli commented on #320
based on the maintainer meeting, we decided to postpone this update till we really needs this feature, as it could block us.

Normally there should be no influence to users.

[2020-08-29 12:55] Bukama commented on #277
Nicolai is working on it in current stream

[2020-08-29 14:35] nicolaiparlog commented on #277
Internet dropped out and we called it a day, but I did make a bit of progress towards more thread-safe tests (extension seems to be fine) and opened (draft) PR #327.

Feature ideas:

I also had some ideas for new features. I want to at least keep them in mind during a potential refactoring and either implement them or put them into separate issues:

* remove need of `@ExtendWith` with a new annota

[2020-08-30 07:48] Bukama commented on #277
We were thinking about the single/shared-directory functionality.
What about making `@TemporaryDirectory` always single directory (meaning for exactly one test case), while introducing `@SharedTemporaryDirectory` at class level for all tests within this class (including nested).

That would allow the user to single annotate a class to only create a directory once, if all his test just need a place

[2020-09-01 15:46] Bukama commented on #315
Assigned to @nicolaiparlog to judge as founder

[2020-09-01 15:49] Bukama commented on #290
Maybe related to #325

[2020-09-01 15:54] Bukama commented on #287
Documentation update is needed

[2020-09-03 15:59] Bukama commented on #313
Maybe related to #1 and #71

[2020-09-06 14:08] #322 closed

[2020-09-07 20:07] signed commented on #315
There already is a PR to [add dependabot to convert-junit4-to-junit5](https://github.com/junit-pioneer/convert-junit4-to-junit5/pull/18).

[2020-09-07 20:44] beatngu13 commented on #315
@signed thx for the link, I wasn't aware of that one.

As pointed out by @Bukama, there is no common POV so far. So I guess we shouldn't merge anything Dependabot-related in any Pioneer repo until we / @nicolaiparlog decided how to proceed.

[2020-09-08 17:17] nicolaiparlog commented on #315
As I see it, dependabot comes with a cost and a benefit:

* cost: adds issues/PRs that must be dealt with (who said "annoying"?!)
* benefit: prevents outdated dependencies

For a project that is as loosely maintained as ours, I consider the cost to be non-negligible. The benefits, otoh, seem somewhat negligible:

* only one run-time dependency that we keep purposely "outdated" (the smallest minor

[2020-09-08 17:24] nicolaiparlog commented on #315
I was told, that dependabot also updates Gradle and GitHub Actions. They have access to our secrets here on GitHub, so keeping them up-to-date is relevant for us.

A teensy bit of research unearthed two nice features:

* accept/block lists, so we could exclude JUnit 5 dependencies
* non-live updates (e.g. weekly/monthly) to reduce number of PRs

This convinced me to give dependabot a try if we con

[2020-09-08 17:26] nicolaiparlog commented on #315
Since I need to act as a tiebreaker, I'm voting for a dependabot trial. :)

[2020-09-08 18:30] Bukama opened #331 "Evaluate to rename master branch to main"
We want to evaluate to rename the master branch to main branch.
Is there support on Github or do we have to do it locally and push it.

Github Actions would need to be updated (also in site repo)

[2020-09-08 18:38] Bukama commented on #277
TempDir extension Issues / Feature request in Junit5 repo

* [Multiple declarations of `@TempDir` in same parameter list or class declaration should fail](https://github.com/junit-team/junit5/issues/2219)
* [Support disabling cleanup for @TempDir](https://github.com/junit-team/junit5/issues/2159)
* [Provide support for setting a custom parent directory for @TempDir](https://github.com/junit-team/j

[2020-09-08 18:40] nicolaiparlog commented on #331
Thanks for creating this, Bish. I checked with GitHub and [they say](https://github.com/github/renaming#later-this-year-seamless-move-for-existing-repositories-):

Let's wait for that.

[2020-09-08 18:55] nicolaiparlog commented on #277
The JUnit 5 team has clearly moved this extension forward and it looks like a few more improvements are in the pipeline. In light of that, I propose to remove `@TempDir` from JUnit Pioneer. To make up for it, we could spend some time improving Jupiter's version.

[2020-09-08 18:58] Bukama commented on #277
As I suggest to remove the TempDir months ago because of this, my answer is of course: Yes remove it.

[2020-09-08 18:59] Michael1993 commented on #277
I vote we remove it. It's probably confusing to users as well.

[2020-09-08 19:10] nicolaiparlog commented on #277
I just opened junit-team/junit5#2400, so we can get custom file system support into Jupiter's `@TempDir`.

[2020-09-08 20:10] Michael1993 opened #335 "AsciiDoc code snippets in documentation"
Demonstrated in #334, we can use a neat built-in feature of AsciiDoc to include live code examples in our `.adoc` documentation.

The proper way to utilize this feature warrants a discussion.

[2020-09-10 17:09] #315 closed

[2020-09-10 18:37] aepfli commented on #315
i am not sure, that this is closed based on https://github.com/dependabot/dependabot-core/issues/2280 :D not gradle kotlin dsl support

[2020-09-10 19:43] beatngu13 commented on #315
Yeah, currently GHA updates only. 🤷‍♂️

[2020-09-11 13:50] nicolaiparlog commented on #277
[The verdict is in](https://github.com/junit-team/junit5/issues/2400#issuecomment-691102300), Jupiter's `@TempDir` will not get custom FS support. To recapitulate:

* Jupiter and Pioneer both have a `@TempDir` extension
* both work in essentially the same way (for the user)
* custom file systems is the only thing Pioneer has that Jupiter's hasn't
* there are quite a few features that Jupiter has t

[2020-09-11 14:21] Bukama commented on #277
I‘m fine with this, but we should then add a / change the PR’s note  to give an indormation. that we plan to reimplement it (with more features) in the future. (In the docfile I mean)

[2020-09-12 08:54] Bukama commented on #324
[1105113930 - win / java 14](https://github.com/junit-pioneer/junit-pioneer/pull/326/checks?check_run_id=1105113930)

[2020-09-14 14:43] #290 closed

[2020-09-16 07:07] hovinen commented on #287
Sorry for taking so long on this; I've been under water.

I've sent a PR which adds an explanatory comment.

[2020-09-23 14:27] #287 closed

[2020-09-25 09:10] Michael1993 opened #341 "Adding .gitattributes"
To make JUnit Pioneer (and spotless) work more seamlessly, we should consider adding a `.gitattributes` file.
Specifically I am thinking about adding an option for line-endings (e.g.: `* text eol=crlf`).

[2020-09-25 13:54] Bukama commented on #341
What are the consequences for OS that have another line ending / break?

[2020-09-25 14:05] Michael1993 commented on #341
Well, I just tried on Windows 10, and spotless changed all line-endings to LF.
Which added all files to the commit. 🤦
If we had `.gitattributes` this would not be an issue.

[2020-09-25 14:52] Bukama commented on #341
Hmm never had this issue, but I have configured my Git to checkout LF for system, but keep the original LF for commiting/check in

[2020-09-26 08:14] #314 closed

[2020-09-26 09:36] nicolaiparlog commented on #324
Too bad I don't have Windows set up for development to take a look at this. :cry: :grin: Looks like somebody else will have to check this out. :yum:

And we should actually fix this!

[2020-09-26 10:17] Bukama commented on #324
Just as a reminder:
When fixing this `windows` has to be added to both, the main workflow and also the module build workflow.

[2020-09-26 10:42] Michael1993 commented on #179
I believe this issue is done for now. If anyone finds a new use-case/has an improvement idea that requires further updates, feel free to re-open this.

[2020-09-26 10:42] #179 closed

[2020-09-26 12:41] Bukama commented on #341
As the [Git documentations says](https://git-scm.com/docs/gitattributes), that's because:

[2020-09-28 15:26] fbiville opened #343 "NoClassDefError with JUnit Jupiter 5.7.0"
Hi, I want to use 0.9.1 JUnit Pioneer's `@org.junitpioneer.jupiter.SetSystemProperty` but it currently fails with JUnit Jupiter 5.7.0:
[code]
It does **not** fail with JUnit Jupiter 5.6.2.

[2020-09-28 16:55] Bukama commented on #343
Hey @fbiville,
thanks for pointing this out! May I ask which Pioneer version you use?

To the JUnit 5.7.0 problem. They changed some of their classes, so the usage of the current Pioneer version (0.9.1) is not working. We have already seen some breaking changes in 5.6.0 in the Testkit Engine (see #320), but as those didn't break our public extension and we had no further need to upgrade, we didn't

[2020-09-28 17:56] Bukama commented on #343
In #345 I updated to 5.7.0 and I have no problems using this version with our current tests.

Can you provide a source code example which leads to the error above please?

[2020-09-28 18:02] Bukama commented on #343
Hi @dwalluck,
are you sure the link is correct? It links to a build where everything seems fine?

[2020-09-28 18:04] dwalluck commented on #343
@Bukama Check the log. The build somehow passes but test coverage is reported as 0% due to the error described in this issue.

[2020-09-28 18:13] Bukama commented on #343
Hmm, the listed exception is listed as an internal exception in the [JUnit 5 JavaDocs](https://junit.org/junit5/docs/snapshot/api/org.junit.platform.commons/org/junit/platform/commons/util/UnrecoverableExceptions.html).

I'm curious where we use it (indirectly).

[2020-09-28 18:57] dwalluck commented on #343
@Bukama I found a difference, after upgrading from 0.9.0 -> 0.9.1 we have

junit-platform-commons:jar:1.5.2:test

instead of

junit-platform-commons:jar:1.7.0:test

[2020-09-28 19:01] dwalluck commented on #343
@Bukama Introduced in https://github.com/junit-pioneer/junit-pioneer/commit/3b67f163f3fca8094211cb2bf93a3afef305a5c6, `build.gradle.kts` must be setting it to the wrong version?

[2020-09-28 19:06] dwalluck commented on #343
So now the `pom.xml` adds an explicit dependency on

[code]

I know I could add an exclusion to my build to workaround this now.

[2020-09-28 19:58] dwalluck commented on #343
So the issue is caused by mixed dependency versions. This happens because I only declared a few junit dependencies and not `junit-platform-commons` explicitly which got brought in transitively through junit-pioneer.

The way to prevent this is to depend on `junit-bom` instead of separate dependencies in my project as this will keep versions in sync with one another. See <https://github.com/project

[2020-09-28 20:37] dwalluck commented on #343
I don't think #345 is necessary. It appears to be an issue with my build. But, I may suggest you also use junit-bom to set the versions automatically instead of manually. I will make a PR.

[2020-09-28 20:45] dwalluck commented on #343
I have created #346. While, not a necessary change, it is probably safer to do so that the versions of jupiter and platform are automatically aligned for all possible dependencies.

[2020-09-28 20:57] dwalluck commented on #343
@fbiville I think you can fix this by adding `junit-bom` to your project. While it's briefly mentioned in https://junit.org/junit5/docs/current/user-guide/#dependency-metadata-junit-bom in neither the case of Maven or Gradle does it tell you how to actually do it. Add to your `pom.xml` and let us know if it fixes the issue for you:

[code]

[2020-09-29 16:10] Bukama commented on #343
The version is set through the [project properties](https://github.com/junit-pioneer/junit-pioneer/blob/master/gradle.properties)  (current 5.2 => 5.5.2 & 1.5.2). The change (moving it from test dependency into compile dependency) was necessary to access public classes / methods.

[2020-09-29 16:12] Bukama commented on #343
Thanks for investigation!

[2020-09-29 17:35] dwalluck commented on #341
To make a long story short, if you're already on Linux or macOS, then you shouldn't notice any change with this. But, if you're on Windows, then this will fix the build for you and stop changing the newlines on all the source files (which for me are not the files that are checked out, but the ones that end up in the build tree).

Since even people on Windows don't want this Git "feature", I wonder

[2020-09-29 17:45] nicolaiparlog commented on #341
Thanks @Michael1993 and @dwalluck for bringing this up. See #347 for my proposed solution.

[2020-09-29 17:46] #341 closed

[2020-09-29 18:28] Bukama commented on #320
If update to 5.7.0 is needed the closed draft #345 shows which updates are needed (as of today)

[2020-09-29 18:41] Bukama commented on #343
We just postponed our 1.0.0 release (which was planed for this evening) and released 0.9.2 instead using a BOM to make sure the versions on our site are aligned.

@fbiville
Please update to 0.9.2 and try the check suggestion from @dwalluck so we can see you problem has gone too and we can close this issue or if we have to do further work (maybe in cooperation with the JUnit Jupiter maintainers)

A

[2020-09-29 19:39] nipafx opened #348 "Create new temporary directory/resource extension"
After Marc Philipp implemented the `@TempDir` extension in Pioneer, it was later also added to Jupiter. It didn't (and as of September 2020 doesn't) support custom file systems, but other than that is more feature-rich than Pioneer's variant. This creates an unpleasant situation where there are two extensions that solve the same problem with the same approach, but slightly different feature sets (

[2020-09-29 19:49] #277 closed

[2020-09-29 20:09] #317 closed

[2020-09-29 20:55] vlsi opened #349 "Migrate eskatos/gradle-command-action -> burrunan/gradle-cache-action"
It unlocks fine-grained remote build cache with GitHub Actions backend
(=faster builds), and it adds error markers
(e.g. compilation errors right in the commit diffs)

See https://github.com/burrunan/gradle-cache-action#gradle-cache-action

The major improvements over gradle-command-actions:
🚀 Gradle remote build cache backend (pulls only the needed entries from GitHub cache)
🎉 Support multiple re

[2020-10-02 08:15] fbiville commented on #343
@Bukama sorry for the delay.

Adding the JUnit BOM to my own pom.xml fixes the issue.

Not adding the BOM and simply upgrading to JUnit Pioneer 0.9.2 does not solve the issue for me, the `java.lang.NoClassDefFoundError` still occurs in that case.

[2020-10-02 18:34] sormuras commented on #343
There is no spoon. Nor a common solution. It all depends on the build tool and its dependency resolution logic. Users should read the manual of the tool(s) they are using. We decided to link to a pair of them at https://junit.org/junit5/docs/current/user-guide/#dependency-metadata-junit-bom

Here's another good answer regarding a BOM-related question: https://stackoverflow.com/questions/54598484/g

[2020-10-02 19:37] dwalluck commented on #343
It just so happens that junit-pioneer is compatible with junit 5.7.0, even though a slightly older version is used in the project. I am not sure what could be done in the case where the junit bom in the user's project is not compatible with junit-pioneer.

In case the user is fine using the same version used in junit-pioneer, then it's always compatible and everything works fine. If the user wants

[2020-10-02 19:38] dwalluck commented on #343
It should be said that the problem described here was an API mismatch between jupiter and the platform, But, I suppose an API mismatch could also occur vs. junit-jupiter itself.

[2020-10-03 11:04] beatngu13 commented on #343
I'd go with @sormuras suggestions.

I think our current mantra is fine:

[2020-10-06 14:12] Bukama commented on #335
To copy my concerns from the draft into the discussion:

[2020-10-06 15:16] Michael1993 commented on #335
We could use Java::Geci to format code snippets before they are inserted into the documentation.

Yes, this is certainly a drawback. Some ideas about what we could do to counteract this problem:
 * We could put the comments in the actual tests so they get copied with the snippet
 * We could put the content of the comments around the snippet (e.g.: instead of saying "here we call this because", we

[2020-10-06 18:34] Bukama opened #352 "Update version.properties for major release 1.0.0"
Shipkits only increases the bugfix version. Do increase the major and minor version, the version.properties must be updated.

For a 1.0.0 release the file must be updated to this version

[2020-10-06 18:48] #68 closed

[2020-10-06 18:57] nipafx commented on #343
PR #346 Introduced BOM-based dependency management and PR #351 adds a note to the README. As far as I can tell, that's the best we can do for now. If the problem resurfaces, we may have to talk to the JUnit team about whether we can actually prevent this from happening.

[2020-10-06 18:57] #343 closed

[2020-10-06 19:03] #352 closed

[2020-10-06 19:06] matthieu-vergne commented on #68
\\{^o^}/ Thanks!
Hope to try it soon!

I am not familiar with the releasing strategy of JUnit Pionner and how it integrates into JUnit.
Could you tell me when it will be released and pinpoint me to resources explaining how to use it in my project?

[2020-10-07 07:29] nipafx opened #354 "Make `@CartesianProductTest` work with range sources"
It seems to me that `@CartesianProductTest` may work pretty well with the range sources - e.,g.:

[code]

What do you think, @Michael1993? Let me know of you think this is worth exploring and whether you have time for it.

[2020-10-07 08:20] Michael1993 commented on #354
I looked at range sources when I was trying to work out how to reconcile `@CartesianProductTest` with `@ParameterizedTest` and had the same problem with it as with every other annotation that's annotated with `@ArgumentsSource`: they are not repeatable.

I made the decision that `@ParameterizedTest` enforcing a single `@ArgumentsSource` and `@CartesianProductTest` always needing multiple sources w

[2020-10-07 08:38] Michael1993 opened #355 "Move Rerunner-Jupiter/improve RetryingTest?"
Here is a really nice extension of JUnit: [rerunner-jupiter](https://github.com/artsok/rerunner-jupiter).

Has not been updated in ~9 months. _**If the author agrees**_ I think we should take on this extension.
I think the extension itself fits in nicely with our other extensions but I'm not sure what the proper etiquette is when merging open-source projects. Is that even a thing? Is it rude to ev

[2020-10-07 08:55] nipafx commented on #354
But there's nothing stopping us from making the argument sources repeatable, right? What we would loose is the compiler support for the parameterized case, but if we would document that and generate a good error message when we encounter such a case, that would be ok I think.

[2020-10-07 08:58] Michael1993 commented on #355
It is really similar to `@RetryingTest`, but in some ways it offers more, in other ways much less. Maybe not move it Pioneer but extend `RetryingTest`? 🤔

[2020-10-07 09:32] beatngu13 commented on #355
@Michael1993 would you mind summarizing the pros and cons compared to `@RetryingTest` from your POV?

[2020-10-07 10:06] Michael1993 commented on #355
I'll compare the two properly this evening and get back to you.

[2020-10-08 08:03] Michael1993 commented on #355
Comparison (I'll edit this as I explore the feature):

1.) `rerunner-jupiter` allows more fine-grained control than `@RepeatedTest`, by allowing you to retry only for specific exceptions. [Strangely enough it does not seem to work with `Error`, however.](https://github.com/artsok/rerunner-jupiter/issues/56)

This always works, even though I only wanted the test to try again if it found a `FileNotF

[2020-10-08 18:56] Michael1993 commented on #354
Ha-ha-ha. `AnnotationSupport.findRepatableAnnotations` from JUnit 5 erases annotations that have the same values so I can't use it to find range sources. Very funny. :sob:

[2020-10-10 15:33] beatngu13 opened #358 "Extend CartesianProductTest$Sets#add"
Consider the case where one wants reuse a method inside several Cartesian product factory methods:

[code]

Since `CartesianProductTest$Sets#add` currently only accepts `Object...`, `reusedMethod` must return an array.

I think it would be helpful to have more ways to `add` to a Cartesian set, e.g.:

[code]

I have already created a branch in my fork for this, but beforehand I would like hear what

[2020-10-10 18:41] Bukama commented on #358
We should support the possibility to reduce / avoid code duplication.

[2020-10-11 15:34] Bukama commented on #355
I think we can improve our extension, but I don't see that we move the `rerunner-jupiter`. To comment your points

1) I don't like the fact that the `rerunner-jupiter` does not work with `AssertJ`. `AssertJ` is the best assertion framework in my opinion. Not supporting it is a no go.

2) I like the possibility that `rerunner-jupiter` works with parameterized tests. We should have a look to evolve

[2020-10-11 15:36] Bukama commented on #349
@aepfli @beatngu13 Please take a look at this.

[2020-10-14 08:46] beatngu13 commented on #349
First of all: Sorry for the massive delay and thank you for creating #325.

While the improvements you have listed sound indeed reasonable and helpful, I don't feel like we currently have issues with these things. Therefore, I would personally prefer to stick with the more widely-used `eskatos/gradle-command-action` (also because it stems from a Gradle employee), at least for now.

Other opinions?

[2020-10-14 09:29] Michael1993 commented on #358
I agree, it looks good. I'd say go ahead with a PR for it.

[2020-10-15 08:59] Bukama opened #359 "Upgrade to Gradle 6.7 and add Java 15 to build workflow"
Gradle 6.7 is out and now supports Java 15, so we could use Java 15 in our latest main build, like @beatngu13 tried in #339

https://docs.gradle.org/6.7/release-notes.html

I assign this to @beatngu13 to revive this PR if he want :)

[2020-10-15 09:26] aepfli commented on #359
Furthermore, we can use the tool chain feature to test with unreleased java
versions easily.

On Thu, Oct 15, 2020, 10:59 Matthias Bünger <notifications@github.com>
wrote:

[2020-10-19 07:09] Bukama opened #360 "Update copyright to 2021"
_Just noted it, so I created this to avoid that it's getting lost_

Most source code files have the copyright in them, announcing the copyright up to the year 2020.

` * Copyright 2015-2020 the original author or authors.`

This needs to be updated in 2021.

[2020-10-19 21:02] Michael1993 commented on #360
Copyright should be automatically updated. For example with Java::Geci or other documentation maintainer tool?

[2020-10-22 13:50] #359 closed

[2020-10-24 13:44] Michael1993 commented on #71
`InvocationInterceptor` absolutely makes this possible, but it seems really tedious.
You intercept _every_ test method call, to check if the test class has a `@DisableRest` annotation and, if yes, is the current method annotated with `@DisableRest` (disregarding multiple tests being annotated with `@DisabledRest`).

This seems really unwieldy (slow?) and there is also the problem of registering th

[2020-10-25 08:10] Bukama commented on #71
Thank you @Michael1993 for investigating.
I don't see the usage for this extension by myself (as IDE and Maven already allows you to just execute one specific method), but it was requested in the JUnit project (they closed their issue, because of this one here) and in our #1.

I also see the issue, that the extension will slow down the test executions, but I think if someone wants to use such a ("

[2020-10-27 15:18] Bukama opened #364 "Add JUnit 5.6.3 to JUnit workflow"
JUnit 5.6.3 was releases yesterday. As it is a more recent Jupiter version as the one, we use in Pioneer it has to be added to the JUnit workflow.

[2020-10-27 18:41] nipafx opened #366 "Create @DisabledUntil"
Disable tests until a certain date/time - see [comment in #219](https://github.com/junit-team/junit5/issues/219#issuecomment-226761964)).

(Spawned from #1.)

[2020-10-27 18:58] nipafx opened #367 "Disable tests until issue is resolved"
It would be conceivable to make a REST request to GitHub/GitLab/Jira to find out whether an issue (from the same or a third-party project) is resolved and disable a test if it isn't. E.g.

[code]

Technical challenges are how to plug in different issue trackers and how to make the specific tracker/issue as easily configurable (in the annotation) as possible.

Valid objection to such a feature:

On

[2020-10-27 19:02] nipafx commented on #1
@mkobit I never replied to [your proposal above](https://github.com/junit-pioneer/junit-pioneer/issues/1#issuecomment-318861086). I liked the idea a lot and was about to create an issue for it when I was pointed at Jupiter's [custom conditions](https://junit.org/junit5/docs/current/user-guide/#writing-tests-conditional-execution-custom), which provide all the features your proposal does. Main diff

[2020-10-27 19:03] nipafx commented on #1
As I see it, we've covered all ideas in this issue, so we can finally close it. 🥳

[2020-10-27 19:03] #1 closed

[2020-10-27 19:18] nipafx commented on #71
So here's how I see that...

## Use case

IDEs and build tools allow you to run a single test, but that requires developers to use such tools (as opposed to... just a text editor like VS Code?) and understand how to do that. That can be _mostly_ assumed, but there might still be a bit of a use case left where it's just easier/faster to apply the annotation.

I'm afraid, it won't be that easy thoug

[2020-10-27 19:18] #71 closed

[2020-10-27 19:25] Michael1993 commented on #313
I did a bit of investigation and created `@DisableIfParameter` - it behaves exactly the same way as `@DisableIfDisplayName` except it works on parameters (using `Object::toString`) instead of the display name.

I'm still considering how the annotation should interact with parameters:
`DisableIfDisplayName`
1 input (DisplayName) => against many inputs (annotation values)
vs.
`DisableIfParameter`
ma

[2020-10-27 19:41] nipafx commented on #35
It's not entirely clear to me what this is about, but it looks like (a) there hasn't happened a lot here since March 2017 (remember a world before COVID?!) and (b) junit-team/junit5#744 has this covered. I'm thus closing this issue.

If I missed anything and it makes sense to further consider this, feel free to leave a comment and we can reopen, but please include a description of what exactly thi

[2020-10-27 19:41] #35 closed

[2020-10-27 19:48] nipafx commented on #49
I also just now realize that it may be interesting to think about this in terms of parameterized tests:

* this could be a source for parameterized test arguments
* this could be a test template of its own, spawning a preconfigured number of tests with random parameters

I'm gonna unilaterally green-ligh this. 😁

[2020-10-27 19:53] nipafx commented on #99
Just to clarify (or retcon), the stopwatch part will be implemented in #38. If there are any other performance-y things we want to measure, that would be separate issues. This one tracks such extensions and can be used to activate them with a single annotation.

[2020-10-27 19:58] nipafx commented on #282
I wanna give this a try. 😁

[2020-10-27 20:11] nipafx commented on #349
I don't feel qualified to have an opinion, but as I understand @beatngu13, there's to pressing reason to switch. I will close this issue (for now), but if things change and [burrunan/gradle-cache-action](https://github.com/burrunan/gradle-cache-action#gradle-cache-action) becomes more advantageous, we can reopen.

@vlsi please feel free to let us know when you think we should reopen.

[2020-10-27 20:11] #349 closed

[2020-10-27 20:22] #364 closed

[2020-10-27 20:43] nipafx commented on #360
It looks like this project actually started in 2016 (initial commit 4dc8e45 on 17.11.2016), not 2015 (as the copyright headers claim), so we should probably change that as well. 😬

[2020-10-30 16:36] #298 closed

[2020-11-01 14:08] beatngu13 opened #369 "Document system property extension with non-constant expressions"
Annotation values must be constant expressions. That is:

[code]

A user may have to set a system property to a value that is not a constant expression. In that case, they can still leverage the restore mechanism of our system property extension:

[code]

I think adding this to our docs is a tiny but helpful addition.

[2020-11-01 14:40] beatngu13 opened #370 "Remove issue references from PR template"
We currently include references to the following two issues in our PR template:

* #265
* #164

As can be seen when looking at these issues, this adds a new (unnecessary) reference with every PR. Therefore, I suggest to remove these references from our PR template.

[2020-11-01 14:44] beatngu13 opened #371 "Add commit message template to PR template"
Whenever I open a PR, I always find myself looking for the commit message template in the `CONTRIBUTING.md`. So I think adding this to the PR template is a useful addition.

[2020-11-01 16:48] Bukama commented on #370
Wow, good spot. Didn't think about that!

[2020-11-02 07:59] vlsi commented on #366
+100500

I believe, `untilDate` must be a required parameter so developers don't accidentally forget about disabled tests.

Real-life case:
1) A fix introduces a regression, so one of the property-based tests was disabled: https://issues.apache.org/jira/browse/CALCITE-3457?focusedCommentId=16972437&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-16972437
2) It was fin

[2020-11-02 17:22] Bukama commented on #366
I also see use cases for this and it's obvious for me, that the parameter is a required parameter.
 For the parameter itself I would like to see, that it must be an [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) string , therefore: `yyyy-MM-dd` (like @vlsi wrote). This saves everyone from mixing the metric systems of US/non-US etc.

I also think we should add a maximum, so that it's not possib

[2020-11-02 17:29] #369 closed

[2020-11-02 17:31] #370 closed

[2020-11-02 17:31] #371 closed

[2020-11-06 21:16] spartanhooah opened #373 "Wrap @SetEnvironmentVariable in a JUnit Extension"
We have a few JUnit test classes that need to bring up the Spring context, and due to some Kafka libraries, we need to set an environment variable in order for the context to successfully load. Would it be possible to wrap the annotation in a JUnit Extension so we only need to put the particular code for the environment variable setting in one place? That way we can just add our custom extension t

[2020-11-07 10:20] beatngu13 commented on #373
I'm not that familiar with Spring, but what kind of Spring application do you have and how do you set up the context in your tests (e.g. via `@SpringBootTest`)?

In general, the environment variable extension also implements [`BeforeAllCallback`](https://junit.org/junit5/docs/current/api/org.junit.jupiter.api/org/junit/jupiter/api/extension/BeforeAllCallback.html) and can be applied at the class l

[2020-11-07 11:14] beatngu13 commented on #360
@Michael1993 sincere question: how would you do that using Java::Geci or something else? Also not sure if it's worth the effort for a once-a-year task?

[2020-11-07 17:58] Bukama commented on #373
You could also create a [TestExecutionListener](https://junit.org/junit5/docs/current/api/org.junit.platform.launcher/org/junit/platform/launcher/TestExecutionListener.html) and use it's `executionStarted​` (called before a test container / method is executed) or the `testPlanExecutionStarted` (called before the `TestPlan` is executed) callback to set the values there.

[2020-11-09 13:48] spartanhooah commented on #373
It's a Spring Boot application, so the test classes in question have the `@SpringBootTest` annotation. We thought about doing an inheritance thing, but decided against it. I'll look into @Bukama's suggestion of a TestExecutionListener and see what comes of it.

[2020-11-09 13:59] spartanhooah commented on #373
Hmm, not sure what I'm doing wrong with the `TestExecutionListener`. Here's the implementation of that interface:
[code]

Is the `@SetEnvironmentVariable` annotation supposed to work here? I've tried it on the method and on the class, but I keep getting the same Gradle error, `No tests found for given includes: [fully-qualified test method]`.

[2020-11-09 18:11] Bukama commented on #373
@spartanhooah I don't know if the extension works here, I don't think so.

But I mean something like this. I've created something similar like this in a scenario where I wanted to set some "global" properties at the begin of the general execution (not of the tests of a single class), much like passing it via `-D...`, but I didn't want to pass them all via CLI.

[code]

To activte it, just must reg

[2020-11-09 18:14] spartanhooah commented on #373
@Bukama Properties are different than environment variables though, aren't they? I don't have `System.setEnv()`.

[2020-11-09 19:46] beatngu13 commented on #373
@spartanhooah is there a particular reason why you decided against it? Sure, in general inheritance in test code should be avoided (e.g. to keep tests simple), but there are exceptions where it can be sensible. Also, from the top of my head, I cannot think of another way to address your use case with Pioneer's environment variable extension.

@Bukama hmmm, I also don't how `TestExecutionListener`

[2020-11-10 14:10] spartanhooah commented on #373
@beatngu13 Mostly just a distaste of inheritance in test classes. I'll run it by the rest of the team; it was just me and one other team member making the decision.

[2020-11-10 19:53] Bukama commented on #373
I mixed up system env and system props...

@nipafx and I were talking about this issue some hours ago and we were thinking about providing some way to be able to set default values for all of our extensions, when those values are needed for the whole test plan (and not only a single class), but we were not quite sure if there a useful use cases (oh man I'm too tired)

[2020-11-10 20:28] nipafx commented on #313
As we found out on stream when reviewing #368, the any/all semantic as well addressing individual parameters need to be discussed. Here's a potential solution we came up with:

[code]

While the last variant seems to be the most powerful, it's also "wasteful" - it requires more understanding from the user and blocks very general annotation names like `@DisableIf` and `@Parameter`. Not sure which w

[2020-11-12 09:34] Michael1993 commented on #313
To further clarify:

[code]

Does this make sense or is this unnecessary?

[2020-11-12 09:51] Michael1993 commented on #373
JUnit Pioneer also works with meta-annotations, so I think this *should* (not tested it myself, yet) work:

[code]

Then, in your test class:
[code]

If you are not particularly in a hurry to implement these tests, give me a day or two and I'll check if this actually works.

[2020-11-15 16:51] Michael1993 commented on #373
Okay, so, I tested it. It kind of works but not as I originally wrote. Here is what you need to do:
1. Create your extension:
[code]
2. Create a composed annotation:
[code]
3. Use the composed annotation in your test classes:
[code]

This is a bit unfortunate, because you *have to* use `@ExtendWith` indirectly, but (in my opinion) it also looks somewhat nicer?

@spartanhooah Let us know if this so

[2020-11-15 17:03] Michael1993 commented on #366
Imagine the following scenario:
[code]

The test *should* pass - but there is an outdated annotation on it, so maybe it should fail with the message: "Please remove or update the `@DisableUntil` annotation."?

[2020-11-15 17:36] beatngu13 commented on #373
@Michael1993 thx for this, extensions FTW!

If no additional logic is needed, one can also omit `MyKafkaExtension`.

Composed annotation:

[code]

Actual test:

[code]

[2020-11-16 15:47] spartanhooah commented on #373
Thanks, that works great! I can use @beatngu13's suggestion since I don't have any other logic I need to inject.

[2020-11-16 15:47] #373 closed

[2020-11-16 16:02] Bukama commented on #366
Can we someone "watchable" print warnings?

[2020-11-16 16:56] Michael1993 commented on #366
We could do one of the following:
* publish a report entry
* print on `System.out`
* take an optional `Class<? extends Writer>` parameter we instantiate and call `write()` there?

[2020-11-16 17:32] Bukama commented on #366
Gets lost in nowhere as long as the user does not uses an TEL which reports / logs the published `ReportEntries` to somewhere, where the user sees it

Better than nothing. 🤷‍♂️

[2020-11-18 16:48] beatngu13 commented on #366
This is what we do for warnings in [`EnvironmentVariableExtension`](https://github.com/junit-pioneer/junit-pioneer/blob/master/src/main/java/org/junitpioneer/jupiter/EnvironmentVariableExtension.java#L51).

If we consider this as not effective, I suggest to change it there (and elsewhere) too.

[2020-11-19 14:46] Michael1993 commented on #366
I know IntelliJ "listens" to report entries. I think that's a good enough solution, considering the only downside is a single line of dead code - probably not worth failing the test.

Another thing to consider: How do you test such an extension? You can test that it disables tests in the future (e.g.: 2999-12-31) and that it does not disable tests in the past (e.g.: 1984-12-31), is that good enoug

[2020-11-19 15:53] Bukama commented on #366
So you want to force every user of Pioneer to use IntelliJ?

[2020-11-19 15:57] Michael1993 commented on #366
Yes. 😈

But that's not the point - the point is that it does not matter if the info gets lost because it's just a mild warning *at worst*. IntelliJ was just an example.

[2020-11-20 16:55] Bukama commented on #366
If nobody can read the warning...

[2020-11-22 14:53] Michael1993 opened #374 "Implement CompositeParameterResolver"
[Related JUnit issue](https://github.com/junit-team/junit5/issues/1604).

Create an extension that makes multiple parameter resolvers work together.

In my mind the extension would define a public interface (e.g.: `ParameterAdapter`) and the extension itself.

[2020-11-22 15:24] nipafx commented on #366
Not sure whether it should be required (although I lean that way), but in any case, we should consider adding this parameter to all our disabling extensions.

👍🏾

I'm not so sure about putting a hard limit on this, particularly such a short one. I understand the sentiment, but I'm not sure it does more than annoy users to no end. What we could do, though, would be to write to `System.err` - that m

[2020-11-22 15:32] nipafx commented on #366
As I see it, these are open questions:

General behavior:

1. Is there a limit on how far into the future the date can be?
2. If yes, what do we do if the date is beyond that?
3. What do we do if a test's disabled date is in the past?
    * fail the test?
    * emit a warning on `System.out`, `System.err`, or as report entry?

Re extensions:

1. Do we create `@DisabledUntil`?
2. Do we add this par

[2020-11-22 15:34] nipafx commented on #366
My current opinion (still young, so may change:

General:

1. I'm torn
2. Failing seems to be the only valid response. Or does it?
3. Definitely a report entry - not sure about anything else.

Extensions:

1. Yes
2. Yes
3. Possibly

[2020-11-23 17:03] Bukama commented on #374
After mine/our tests of wrapping parameter resovlers like in the related issue, I'm not sure if we should do this as wrapping an extension can break the wrapped one.

As you know I tried to wrap the Selenium-Jupiter extension with it to wrap an `EventFiringWebDriver` around the `WebDriver` (interface) , but I broke a `@TestTemplate` and some "after test work" (in current situation: closing the bro

[2020-11-24 19:45] Bukama opened #375 "Create integration test for @Issue extensions"
While trying to write an integration test for the `IssueExtension` it seems to turn out that the `TestKitEngine` does not pick up the globally registered `TestExecutionListener` and delegates published `ReportEntries` to it.

Maybe useful links:
https://github.com/junit-team/junit5/pull/2006/files

[2020-11-24 19:47] nipafx commented on #375
From the comment in code:

It would be nice to run the nested test class with the `PioneerTestKit` (as usual), then get the created `IssueTestSuite`s and assert the expected results. Unfortunately, we couldn't make the launched engine use our `TestExecutionListener` (not even adapted as `EngineExecutionListener`) and so it wouldn't gather the report entries nor get called when the test kit run fin

[2020-11-24 20:08] nipafx commented on #375
Blocked by junit-team/junit5#2480.

[2020-11-24 20:15] #135 closed

[2020-11-24 20:52] #358 closed

[2020-11-25 16:15] Bukama opened #376 "@Issue-Documentation contains errors"
The [@Issue documentation page](https://junit-pioneer.org/docs/issue/) contains format errors. At least one link is not correct.

[code]

Also the code example uses old classes

[2020-11-26 14:54] #376 closed

[2020-11-27 09:19] Michael1993 commented on #313
After wasting about an hour, I learned that while we _could_ use [Parameter#getName](https://docs.oracle.com/javase/8/docs/api/java/lang/reflect/Parameter.html#getName--), it only works if the information was included during compilation (which can be checked with [Parameter#isNamePresent](https://docs.oracle.com/javase/8/docs/api/java/lang/reflect/Parameter.html#isNamePresent--)).

I've created an

[2020-12-01 15:57] nipafx commented on #375
[Marc Philipp replied](https://github.com/junit-team/junit5/issues/2480#issuecomment-734793391) - TL;DR: No changes to existing APIs will be made, but we may be able to use the `Launcher` API to get what we need.

[2020-12-03 15:13] nipafx opened #378 "Assert test coverage"
Quoting @lukaseder [from Twitter](https://twitter.com/lukaseder/status/1334076327708778497):

Some thoughts:

1. During each test class' execution, we need to gather coverage data. I'd prefer using a library for that but we could do it ourselves as well. Whichever way we get it done, it mustn't impact performance if the feature isn't used.
2. The gathered data could be placed into the store and th

[2020-12-03 15:31] lukaseder commented on #378
I've solved this using instrumentation (using javassist, but bytebuddy would work as well) and an agent. The instrumentation logic matches all interesting API according to some rules (e.g. annotated with X, inside of package Y) and collects calls in a global HashSet, simply by adding code like this before every method:

[code]

Just to give you an idea. It does a bit more (since, if we already hav

[2020-12-03 17:20] Bukama commented on #378
@lukaseder What I still don't get: Do you want to check if each method of a class is covered or if it some kind of code coverage, meaning branches inside a method?

[2020-12-03 18:12] lukaseder commented on #378
I want to check if from a set of classes C, a set of methods M is covered by a set of tests T. There are multiple different sets C, M, and T depending on what's being tested.

I can imagine that verifying method content coverage could be a plus in some cases, but I didn't need that so far.

[2020-12-03 22:51] scordio opened #379 "Add @CartesianEnumSource"
I am currently looking for a way to provide Enum values as input of a cartesian product test.

I understand it can be achieved with a [static factory method](https://junit-pioneer.org/docs/cartesian-product/#writing-a-static-factory-method-for-the-parameters), but having something like a `@CartesianEnumSource` which mimics the JUnit `@EnumSource` including `names` and `mode` parameters would be re

[2020-12-03 23:09] Michael1993 commented on #379
How `CartesianProductTest` interacts with arguments sources [will change soon](https://github.com/junit-pioneer/junit-pioneer/pull/362). Once that is done, I will update the documentation to reflect these changes - i.e.: How you can write your own `ArgumentsProvider` for `CartesianProductTest` using API provided by Pioneer (it's almost like with JUnit just slightly different interfaces). This shou

[2020-12-03 23:23] scordio commented on #379
Thanks for the quick feedback, good to know that something in this direction was already on the table 🙂

I would definitely wait for the change, but please do let me know if there is anything that can be picked up to speed it up.

[2020-12-03 23:33] Michael1993 commented on #379
Feel free to [review the PR](https://github.com/junit-pioneer/junit-pioneer/pull/362) implementing the change. All feedback is appreciated.

[2020-12-04 21:41] beatngu13 opened #381 "Setting environment variables to non-constant expressions"
Recap #369:

So while there is a workaround for this in the case of system properties, there is none (to my knowledge) for environment variables. A use case for this (see [Stack Overflow](https://stackoverflow.com/a/64892391/3429133)):

To support this, we could provide something like:

[code]

Internally, we currently do this using the non-public class [`EnvironmentVariableUtils`](https://github.

[2020-12-07 18:33] #38 closed

[2020-12-07 18:50] Michael1993 commented on #355
Sidenote for improving `RetryingTest`:
We should (probably) migrate to [`AssertionFailedError`](https://ota4j-team.github.io/opentest4j/docs/1.0.0/api/org/opentest4j/AssertionFailedError.html) from [`AssertionError`](https://docs.oracle.com/javase/7/docs/api/java/lang/AssertionError.html).

[2020-12-07 19:14] Michael1993 opened #382 "Untangle `CartesianProductTestNameFormatter` from `ParameterizedTest`"
`CartesianProductTestNameFormatter` uses things that belong to `ParameterizedTest`:
 - `DISPLAY_NAME_PLACEHOLDER`
 - `INDEX_PLACEHOLDER`
 - `ARGUMENTS_PLACEHOLDER`

Perhaps it should not, even if it is unlikely these will change in the future.

[2020-12-08 17:55] Bukama opened #383 "Add Mihály to developers list in shipkit.gradle"
The `shitkit.gradle` contains an array with `team.developers`.
As @Michael1993 is a maintainer now, we have to add him here

[2020-12-09 16:15] Bukama commented on #382
Could you describe this a bit more? Does it use JUnit internals?

[2020-12-09 16:16] #383 closed

[2020-12-09 16:18] Bukama commented on #355
As @Michael1993 and me like to improve this extension I'll updated the labels

[2020-12-09 16:19] Bukama commented on #335
@Michael1993 Could you summarize your yesterdays question and the answer to it please.

[2020-12-09 16:47] Michael1993 commented on #335
@nipafx wrote on Sep 29:

We agreed that this was a good approach and we should play around with it in a PR. I'll go ahead when I have the time.

[2020-12-13 09:20] Bukama opened #385 "Pioneer 1.1.0 fails quality gate"
The current version of the expansion pack (1.1.0) failes the quality gate, because not reaching 80% (but only 75,76%) code coverage:

https://sonarcloud.io/dashboard?id=junit-pioneer_junit-pioneer

[2020-12-13 13:59] beatngu13 commented on #385
I'm not a SonarCloud admin for Pioneer, but since our token is public (🙃), I was able to write some API queries that (i) copy the default "Sonar way" QG and create new one called "Pioneer way", (ii) set it to require only 70 % coverage on new code and (iii) select it as QG for Pioneer.

Could someone please re-run the build? Then the problem should be gone.

[2020-12-13 14:07] Michael1993 commented on #385
Lowering quality thresholds when we fail to meet them or update our codebase to pass the thresholds? Hm. 🤔

[2020-12-13 14:20] beatngu13 commented on #385
IMHO fixing `master` has higher priority, the error-causing PR shouldn't have been merged in the first place (I believe it was: https://github.com/junit-pioneer/junit-pioneer/pull/361#issuecomment-733200767).

Now that `master` is stable again, we can easily address the underlying issue—without pressure—by adding missing tests and/or update the SonarCloud config.

[2020-12-14 12:15] Michael1993 commented on #385
My "investigation": SONAR considers our code coverage low because of getters, `hashCode` and `equals`. Which means we do not use those methods. I thought: why not delete them?
Because we provide instances to `IssueProcessor` implementations.

It seems we have three choices:
1.) We create unit tests for the getters, `hashCode`, `equals`.
2.) We configure SONAR to ignore those methods and consider t

[2020-12-14 12:32] beatngu13 commented on #385
@Michael1993 thanks for creating #386! Will try to do a review ASAP.

Regarding your investigation: I'm advocating _against_ writing tests for simple getters for the sole purpose of increasing test coverage. (`hashCode`/`equals` maybe.) I'd rather update the QG and/or rules set.

In any case, we shouldn't dogmaticly follow Sonar's suggestions. One case easily mark warnings as false positives or ig

[2020-12-14 14:42] lukaseder commented on #378
I just had the inverse use-case! I would like to run a set of tests asserting that a method will *never* be covered by them, i.e. it shouldn't be called.

Use-case: I have a functional, but expensive default implementation of an `equals` method. It is there as a fallback, but if possible, it should never be called because it's so slow. Throughout my test suites (except for the tests that actually

[2020-12-14 15:01] Michael1993 commented on #378
That last one kind of sounds like could be solved with a spy from Mockito?
Something like:
[code]
Sorry, this is very much pseudocode - will look into the actual thing later today.

[2020-12-14 15:09] lukaseder commented on #378
Interesting idea. First caveat, this is modular code, and it's not public, so I cannot access the `T` type unless I use reflection. Perhaps there's a modular hack for this, but it seems that reflection / instrumentation is cleaner, here. Interesting idea nonetheless.

In my case, I'd like the entire test suite to be run in this mode. Simple to do with an agent...

[2020-12-14 15:50] Michael1993 commented on #378
To assert interactions with objects, we'd need to do something invasive - like mocking or a Java agent. That's the hard part (to me).

If we have that, then the extension is probably as simple as test tagging with the [`Tag` annotation](https://junit.org/junit5/docs/5.0.2/api/org/junit/jupiter/api/Tag.html), a [`TestExecutionListener`](https://junit.org/junit5/docs/5.0.3/api/org/junit/platform/lau

[2020-12-14 16:02] Michael1993 commented on #382
Kind of?

It uses the placeholder constants declared by `ParameterizedTest` - since that's a public (annotation) interface its members are also public. That does not mean they are stable at all.

[2020-12-15 17:22] Bukama commented on #385
Of course option 1.

[2020-12-18 17:24] Bukama commented on #385
Damn GH, i only wroted `related` not `closes` :(

CC up to 93%.
getter/setters etc. still up.

[2020-12-18 22:17] slawekjaranowski opened #387 "EnvironmentVariable - An illegal reflective access operation"
On
[code]
and
[code]

we have

[code]

It is **warning** message - tests **pass** as expected

[2020-12-19 12:02] nipafx commented on #387
Hi @slawekjaranowski,

I assume you're using Pioneer's `@ClearEnvironmentVariable` or `@SetEnvironmentVariable`, correct? If so, please see [the warning in the documentation](https://junit-pioneer.org/docs/environment-variables/):

The warning you describe is the result of the reflective operation that changes environment variables. As far as I know, there's no way for Pioneer to suppress these wa

[2020-12-19 16:08] slawekjaranowski commented on #387
You are right - thanks for explanation.

In order to set this settings in tests I added to my maven project:

[code]

[2020-12-19 17:00] verhas commented on #378
I spent the last few days of my vacation writing a classloader

https://github.com/verhas/impostor

that may help you to solve this case. You never know what you inspire.

Run your test loaded by this classloader and configure the class implementing the expencive equals method to be impersonated by an impostor class that throws an AssertionError in case `equals()` is involved.

This is not a JUnit

[2020-12-21 09:56] lukaseder commented on #378
So, @verhas, red was the impostor after all? 😁

Interesting idea, thanks! I already have the agent infrastructure setup where I can instrument and inject code before the `equals()` method (including throwing an exception), so I'll probably just re-use that, but your approach definitely works well as well.

[2020-12-22 15:43] nipafx commented on #313
Re parameter names:

* We need to document that for names to work, the compiler needs to be configured accordingly.
* If parameter names are used and they aren't present, the error message must clearly express what the problem is and how it can be solved.

(Btw, I would've been stuck on exactly the same thing. 😆 )

Did we also discuss whether order of `@Disable...` annotations could be used to tar

[2020-12-22 17:34] Bukama commented on #382
Ah I see.
Yeah let's move it into the class itself, so it does not depend on it.

[2020-12-22 18:27] nipafx commented on #378
Looking a bit closer at 1. (gathering coverage information), the agent approach seems to be the way to go.

Maybe [JaCoCo can do this for us](https://www.jacoco.org/jacoco/trunk/doc/agent.html):

* if the suite is launched with its agent, JaCoCo collects coverage information
* this data can be queried at run time via TCP

The problem is that it's not possible to tell JaCoCo to just track coverage

[2020-12-22 18:33] nipafx commented on #387
I want to reopen the issue to discuss whether we're already doing our best to inform users of what's going on. At the moment, there's the paragraph in the documentation that I quoted above and we publish a report entry saying "This extension uses reflection to mutate JDK-internal state, which is fragile. Check the Javadoc or documentation for more details."

Additionally, we could:

* print that w

[2020-12-22 19:07] #375 closed

[2020-12-22 20:23] nipafx commented on #313
I was told I need to make an executive decision - here it is:

* parameter names: use where possible, otherwise exception with good explanation
* and/or for several annotations: or, i.e. as soon as one `@DisableIf`-check passes, the test is disabled
* `contains` and `matches`: disallow use of both for now - we can then revisit the decision later

[2020-12-26 14:47] Bukama opened #389 "Handle duplication of PioneerAnnotationUtils"
_by @Michael1993 _

PioneerAnnotationUtils is currently not public, but is used by
multiple classes in different packages. Previously, we created
a copy of the class with reflection magic, which is a fragile
approach. This PR introduces a test, that checks (and copies) the
PioneerAnnotationUtils in different packages. The test fails if
the classes don't match.

[2021-01-01 13:23] aepfli opened #396 "Dependabot triggers sonarqube on forks, commenting on closed issues"
Our current sonarqube implementation/usage is a little bit flacky.

There are two issues:
1. we can not share secrets with forks, thats why we checked in the sonar token within the code (this is still bad, and we need to address this as pointed out by @beatngu13 )
2. due to this, and the configuration forks will also do sonar analysis and upload the result to the same project. This is bad as it le

[2021-01-02 08:21] Bukama commented on #396
As stated in Discord, they are redundant anyway, as the check is listed beneath the "checks" section. So less spam - welcome!

As of dependabot: I'm still against using this spambot, which creates conflicting PR and own labels (but maybe we can disable / change that).

[2021-01-02 08:22] #360 closed

[2021-01-02 08:34] Bukama opened #397 "Change mockito-core dependency when updating to Java 16+"
From [Twitter](https://twitter.com/MockitoJava/status/1345281603174543361):

Related [mockito issue](mockito/mockito#2164)

[2021-01-02 11:55] beatngu13 commented on #396
SonarCloud's comments can be [disabled via the UI](https://community.sonarsource.com/t/disable-github-merge-request-comments/18520/23). @aepfli would you mind checking this out?

Regarding SonarCloud and forks, I'd go with the default way, i. e. no code analysis in that case. I know this is not ideal, but (i) IMHO less problematic than our current setup and (ii) there is already a [feature request

[2021-01-02 22:44] gtsh commented on #68
I'm wondering, why we put up with the additional @CartesianProductTest and the ambiguity of having multiple @..Source annotations, instead of reusing @ParameterizedTest, and and allow to add the @..Source annotiations to be added to the tests paramters  (using @Target({ ElementType.ANNOTATION_TYPE, ElementType.METHOD, ElementType.PARAMETER }) like so:

@ParameterizedTest
void test(@ValueSource(int

[2021-01-02 23:10] Michael1993 commented on #68
We do not have access to JUnit source code - `@ValueSource` is not ours, it's theirs. So, we can not modify `@ValueSource`. It has `@Target({ ElementType.ANNOTATION_TYPE, ElementType.METHOD })`, which means it can not be used on a parameter.
We can not modify `@ParameterizedTest` for the same reasons.

There are also differences in the approach of the extensions (ParameterizedTest is an extension

[2021-01-03 11:41] Bukama commented on #396
_ #400 shows the configuration for using our own labels is working_

[2021-01-05 13:30] Michael1993 commented on #387
Report entries get processed by dedicated TestExecutionListeners. I think IntelliJ uses one internally, but other than that I think they are mostly lost in the void. Printing on `System.err` or `System.out` is a bit more 'invasive', but I think it is warranted.

I think the documentation should include the warning as well - using the extension is easy (which is good!) and I can see how that could

[2021-01-05 13:37] Michael1993 commented on #385
I've been thinking about it and I've changed my mind. I think creating unit tests for generated code is unnecessary. After all, we generate these methods because they are simple enough to be generated. I think we should exclude them from code coverage.

[2021-01-05 17:53] scordio commented on #385
About `equals` / `hashCode`, although they are usually generated I'd still suggest testing them, not manually but using [EqualsVerifier](https://jqno.nl/equalsverifier/).

[2021-01-06 15:00] Michael1993 commented on #324
It's not just Windows! It seems ubuntu builds have been timing out as well.

[2021-01-08 11:43] Bukama commented on #385
But the test helps that if you add/remove an attribute, but forget to update (regenerate) the hash/equals/toString method either

[2021-01-12 00:02] richardwalsh opened #401 "@CartesianProductTest - ParameterResolutionException with test class constructor with single parameter for TestInfo"
I am updating a bunch tests to use @CartesianProductTest and ran into parameter resolution error for the test class constructor:

`
org.junit.jupiter.api.extension.ParameterResolutionException: Discovered multiple competing ParameterResolvers for parameter [org.junit.jupiter.api.TestInfo arg0] in constructor [public com.blah.SillyTest(org.junit.jupiter.api.TestInfo)]: org.junit.jupiter.engine.exte

[2021-01-12 00:54] Michael1993 commented on #401
This might take a while to properly investigate/fix.

There are some major changes coming to how CartesianProductTest works (internally). [See the related PR](https://github.com/junit-pioneer/junit-pioneer/pull/362).

[2021-01-12 08:57] Michael1993 commented on #401
I looked through the issue and identified the cause. We can fix this by making the extension more 'diligent' about what it should and should not resolve.

In more detail: `CartesianProductResolver#supportsParameter` method must be updated with more logic.
Currently it's just an index check, should check type as well. This could mean that we need to pass more data to `CartesianProductResolver`, to

[2021-01-12 10:21] Michael1993 commented on #401
So, after being anxious about this issue being *very hard* at 2 AM, it turns out it's a fairly straightforward fix (unless I'm missing something).

[2021-01-12 17:52] nipafx commented on #387
We just discussed this on the call and came to the following conclusions:

## Log warning

At the moment, we print a related warning via report entries, but those are often lost in the wild, so an additional warning to `System.xxx` seems to be a good idea. (This could be made configurable, but we don't want to go into that here, so we keep it simple.)

We should print to the same stream (`err` or

[2021-01-12 18:04] nipafx commented on #385
I don't have a strong opinion on this. Testing `equals`/`hashCode` is not the most valuable thing to do (particularly not by hand), but it's not without value either. I wanted to give [EqualsVerifier](https://jqno.nl/equalsverifier/) a shot anyway and this looks like a good opportunity. Curious to see the PR. 😁

[2021-01-12 18:24] nipafx commented on #355
Good points by @Michael1993 and I 100% agree with @Bukama. Let's do it!

I think it would be a good idea to create a new issue for each of the following changes:

* improve interaction with [other test templates](https://junit-pioneer.org/docs/retrying-test/#combining-retryingtest-with-test-et-al)
* allow defining exceptions for which to retry
* offer `suspend`-like attribute to configure pauses b

[2021-01-12 19:39] #354 closed

[2021-01-12 19:44] scordio commented on #379
@Michael1993 now that #362 is merged, I would be happy to put something together to support `@CartesianEnumSource`, just let me know if I can go ahead with it.

[2021-01-12 19:55] nipafx commented on #389
Let's start with the requirements for `PioneerUtils` and `PioneerAnnotationUtils`:

* reachable within Pioneer from different packages
* as unreachable as possible for Pioneer users

1. For users who use the module system, the obvious approach would be to put the classes into their own non-exported package and make them public. Users without modules will then be able to use the class, so it still

[2021-01-12 20:03] #401 closed

[2021-01-12 20:16] nipafx commented on #324
I ran about 170k tests and I didn't take notice of any deadlocks (although if just a few threads lock, I wouldn't have noticed). This was on Gentoo with kernel version 5.9.16.

[2021-01-12 20:41] nipafx commented on #389
I created #403, which implements 1. - let me know what you think.

[2021-01-12 21:06] Michael1993 commented on #379
Sure, feel free to put something together!

[2021-01-12 21:43] richardwalsh commented on #401
Very cool, thanks for fixing this!

[2021-01-13 08:09] Michael1993 opened #405 "Improve `@RetryingTest`: interaction with other test templates"
Related to: #355

`@RetryingTest` should support parameters.

[2021-01-13 08:13] Michael1993 opened #406 "Improve `@RetryingTest`: allow defining exceptions for which to retry"
Related to #355

User should be able to specify to `@RetryingTest` what exceptions are acceptable to retry the test for. E.g.:
[code]

[2021-01-13 08:17] Michael1993 opened #407 "Improve `@RetryingTest`: offer suspend attribute or similar to configure pauses between reruns"
Related to #355

User should be able to specify a "cooldown" period between failed test re-runs. Example:

[code]

Alternatives/additions:
[code]

Adding other suspend modes, e.g.: `RANDOM`, to wait a random amount of time between 0 and `suspend`.
[code]

Alternative:
[code]

[2021-01-13 08:26] Michael1993 opened #408 "Improve `@RetryingTest`: Offer minSuccess or similar for requiring multiple successful test runs"
Related to #355

User should be able to specify an attribute that requires that `@RetryingTest` succeeds at least _N_ times or that at least _P_ percentage of all tests should succeed.
Note that the latter is not trivial, because it runs perpendicular to how `@RetryingTest` currently behaves.

Example:
[code]

[2021-01-13 08:29] Michael1993 commented on #355
New issues created, closing this.

[2021-01-13 08:29] #355 closed

[2021-01-13 18:04] richardwalsh commented on #401
The @BeforeEach method has a similar issue with respect to "Discovered multiple competing ParameterResolvers for parameter [org.junit.jupiter.api.TestInfo arg0]". Will this fix address that too?

[2021-01-13 22:30] Michael1993 commented on #401
Yes, that is correct. After the fix, it will only support test methods.

[2021-01-15 08:27] #389 closed

[2021-01-16 08:55] #387 closed

[2021-01-16 21:46] nipafx commented on #401
@richardwalsh We just released 1.2.0 that contains this fix. Let us know if any problems remain. 😃

[2021-01-16 21:51] nipafx commented on #387
We've just released 1.2.0, which logs the warning we issue regarding this on `System.out` in addition to JUnit's report entries. More importantly, we've improved the documentation, so it contains [a longer section on this](https://junit-pioneer.org/docs/environment-variables/#warnings-for-reflective-access) including the error message and fixes.

@slawekjaranowski Would love to hear your feedback

[2021-01-18 08:35] nipafx opened #410 "Remove/replace Shipkit"
Shipkit is deprecated and [the GitHub project](https://github.com/mockito/shipkit) is archived. They write:

We need to investigate whether there is already a replacement ("We are converted" is an unfortunate mistake because it could be "have converted" or "are converting") and then possibly migrate to it. This may also fix #246.

On a side note: Our version of Shipkit [uses a deprecated GitHub AP

[2021-01-18 08:45] Michael1993 commented on #410
I guess it's 'have converted' because 'Several customers inclusing Mockito project have already migrated'.

Maybe we should just copy Mockito? 🤷

[2021-01-18 09:12] aepfli commented on #410
Oh cool, I will take a look tomorrow evening

[2021-01-18 18:34] dwalluck commented on #360
I just happened to notice this in the latest changelog. I am not a lawyer, but I do not believe it's a legal requirement to ever update the copyright year, so why bother doing it at all? I guess you would use the creation year of the file if not the creation year of the project.

[2021-01-19 18:01] Michael1993 opened #411 "Make extensions independent from JUnit?"
We could pull out the internals of our extensions, put them in a separate, JUnit-independent project and then have that project as a dependency. In this scenario our extensions use these utilities and put them into the context of JUnit.

On the one hand, this makes our architecture nice and layered. Separation of concerns, etc.

On the other hand, this is (a lot of) extra work for very little 'val

[2021-01-19 20:48] richardwalsh commented on #401
Worked perfectly, thanks!

[2021-01-20 07:30] Michael1993 commented on #410
Updating Shipkit is already 'in-progress' because dependabot opened #400.

[2021-01-20 16:10] rpost opened #412 "Allow CartesianProductTest factory method to be placed outside of test class"
When using junit 5 `@MethodSource` it is possible to define factory method as "my.package.Class#factoryMethod".

The same factory method definition used with `@CartesianProductTest` makes it complaining about missing method.

It would be great to have possibility to use method from different than test case class, as it is supported within `@MethodSource`.

[2021-01-21 15:31] Michael1993 commented on #412
Sounds good. I'll investigate sometime before next Tuesday.

[2021-01-23 17:43] jbduncan opened #413 "Introduce JUnit Jupiter variant of Guava's collection test suite builders"
Hi all at junit-pioneer!

Three years ago, I opened an [issue](https://github.com/junit-pioneer/junit-pioneer/issues/65) where I offered to contribute an extension for testing Java collections similar to Guava's [collection suite builders](https://blog.codefx.org/techniques/testing/test-collection-implementations-with-guava/) (CSBs), which @nipafx expressed an interest in. In the end I took my off

[2021-01-25 12:30] matthieu-vergne commented on #68
I like the idea of tagging the parameters.
If an issue is open on that topic, please share its link here.

[2021-01-25 14:14] Michael1993 opened #414 "Improvements for @CartesianEnumSource"
JUnit introduced a new feature to `@EnumSource` - it does not require you to specify your enum class if it can be intuited from the type of the test method parameter. For example:

[code]

Investigate if the same behaviour could be implemented with `@CartesianEnumSource` (once #409 is merged).

[2021-01-25 19:48] Michael1993 opened #415 "Investigate parameter targeting of CartesianProductTest arguments source annotations"
A very strong argument can be made that it's much more convenient to define a CartesianProductTest like the following:
[code]

Investigate if this is possible - it is likely it is not possible, because of how the annotations invoke their corresponding `ArgumentsProvider` implementations, but it might work.

[2021-01-25 20:10] scordio commented on #414
Supporting a single `@CartesianEnumSource` might be straightforward with small adjustments of the latest JUnit `EnumArgumentsProvider` code. The challenge I see is when there are many `@CartesianEnumSource`, e.g.:

[code]

How I would expect this to work is that the first `@CartesianEnumSource` provides all the values of `ChronoUnit`, while the second provides all the values of `MyEnum`.

To do th

[2021-01-25 20:39] scordio commented on #415
My two cents: I personally consider mimicking JUnit's `@Parameterized` tests a strong characteristic of `@CartesianProductTest`, which makes its adoption very quick. Targeting the parameters would deviate from the known JUnit patterns. On the other side, sticking to those patterns might limit the growth of the `@CartesianProductTest` feature.

It could still be fine if the example above is an alte

[2021-01-25 21:16] scordio opened #416 "@CartesianCsvSource for @CartesianProductTest"
Following #409, it would be nice to have `@CartesianCsvSource` which mimics `@CsvSource`.

Example:

[code]
should generate 6 tests:

| Test # | i | s1 | s2 |
|--------|---|----|----|
| 1      | 1 | A  | B  |
| 2      | 2 | A  | B  |
| 3      | 1 | C  | D  |
| 4      | 2 | C  | D  |
| 5      | 1 | E  | F  |
| 6      | 2 | E  | F  |

[2021-01-26 19:06] #379 closed

[2021-01-26 20:48] nipafx commented on #385
While going over the test coverage, I saw that `PioneerException` is nor used. Why does it exist? @Michael1993 You introduced it in 2d1e63d34, so you may know. 😁

[2021-01-26 20:51] #385 closed

[2021-01-26 20:55] nipafx commented on #385
Hah, #417 lowered uncovered lines from 44 to 30 - great success!

[2021-01-26 21:27] beatngu13 commented on #385
I assume it was because of [this rule](https://rules.sonarsource.com/java/RSPEC-112), Sonar doesn't like `RuntimeException`s…

Also, should #417 close this issue? There seems to be no consensus about:

* Tests for `equals`/`hashCode`?
* Tests for getters/setters?
* Tweak quality gate?
* How to deal with Sonar's complaints in the future, when a corresponding PR check fails?

[2021-01-27 08:32] slawekjaranowski commented on #410
Now Shipkit is split to new separate projects:
https://github.com/shipkit/shipkit-auto-version
https://github.com/shipkit/shipkit-changelog
Those project should be used

[2021-01-27 10:39] mizosoft commented on #416
That would be really nice. I was about to open a similar issue as I've just realized `@CartesianProductTest` doesn't work with JUnit's param annotations when I tried it with `@CsvFileSource`. I'm wondering though, why there exists such a limitation? I think it would be nicer if one could use JUnit's standard param annotations instead of the the practically similar `@CartesianX` ones.

[2021-01-27 10:54] Michael1993 commented on #416
@mizosoft There is a bit of a clash.

When you create a `@ParameterizedTest`, you supply a single (!) `@ArgumentsSource` annotation where you define every test case. This is also the reason why annotations annotated with `@ArgumentsSource` (e.g.: `@CsvSource` or `@ValueSource`) are not `@Repeatable`.

This is different from `@CartesianProductTest`, where you want to define argument sets for each p

[2021-01-27 10:57] Michael1993 commented on #416
My above comment is also what I consider a major challenge when trying to implement `@CartesianCsvSource` - determining which `ArgumentsProvider` should be invoked for the different arguments.

[2021-01-27 11:17] scordio commented on #416
@Michael1993 I'm happy to take this up and see what we can get

[2021-01-27 11:52] mizosoft commented on #416
@Michael1993 I see your point. Thanks for clarifying! I'm still wondering however if these annotations can still be honored by `@CartesianProductTest` despite them being unrepeatable. I don't see why something like this won't work:

[code]

I think that you'd normally have one `XSource` for each `X`, so you don't need them to be repeatable. Also, I've noticed that JUnit actually allows multiple so

[2021-01-27 14:17] slawekjaranowski commented on #410
If nobody is working on it, I can try do it in a few days.
Please assign me.

[2021-01-28 10:42] scordio commented on #416
I have preliminary feedback about this topic. The simple copy-paste from JUnit does not work out of the box because the `CartesianProductTestExtension` flattens the parameters returned by the provider. See:

https://github.com/junit-pioneer/junit-pioneer/blob/master/src/main/java/org/junitpioneer/jupiter/CartesianProductTestExtension.java#L137

In this case, the provider is returning an array of v

[2021-01-28 12:39] jbduncan commented on #413
@Michael1993 Thanks for labelling this issue (even though it's still "in discussion") and for assigning me!

[2021-01-30 15:00] slawekjaranowski commented on #410
and PR https://github.com/junit-pioneer/junit-pioneer/pull/419

[2021-02-01 05:16] dsicsic opened #420 "@CartesianProductTest factory method can not longer supply `null`"
Hi,
I just upgraded to `1.3.0` from `1.0.0`.
I observed some of my tests annotated `@CartesianProductTest` using a static factory method are now failing if one of the supplied argument is `null`.

[code]

The use of `null` values was supported in` 1.0.0` and I haven't seen any new restriction in the javadoc / release notes

[2021-02-01 06:11] Michael1993 commented on #420
Hi @dsicsic, thanks for opening the issue! I've looked into it and it seems it was a bit of an oversight from our part. I opened a PR and hopefully we can release a minor version with the fix sometime this month.

[2021-02-01 08:17] beatngu13 commented on #396
Friendly reminder @aepfli ... 😉 (This can't be done via the REST API, otherwise I would try doing it myself.)

[2021-02-01 09:53] #420 closed

[2021-02-01 12:45] nipafx commented on #410
I've just got a mail from GitHub (full text below) that they revoked my read-only OAuth token that we used for ShipKit. I was a bit surprised at first - after all, what's the harm in sharing a read-only token? Only thing I could come up with was that other people could use it to circumvent rate-limiting. Either way, we need a new way to implement this because I assume future tokens would share the

[2021-02-01 13:28] aepfli commented on #410
I never ever touched this token :D - would have been a good idea - it is from long time ago, even before our migration to Github actions.

[2021-02-01 13:37] slawekjaranowski commented on #410
mentioned token will be remove in my PR

[2021-02-02 08:51] nipafx opened #426 "Support Playwright"
[Playwright](https://github.com/microsoft/playwright) is "a Node.js library to automate Chromium, Firefox and WebKit with a single API" that now also [supports Java](https://applitools.com/blog/playwright-java/). Let's see how we can best integrate it with JUnit Jupiter.

One thing to note is that we should keep the dependency on Playwright optional (aka _provided_), so we don't drag it in ourselv

[2021-02-02 08:53] nipafx commented on #426
PSA: I'm gonna work on this [on stream](https://twitch.tv/nipafx) on February 9th, starting at 1800 UTC.

[2021-02-02 10:16] beatngu13 commented on #426
Related: I once leveraged `@ParameterizedTest` for cross-browser testing:

https://gist.github.com/beatngu13/8d5f60355d7fbef143198f020b1efca3

Haven't looked into Playwright so far, maybe something similar can be done.

[2021-02-02 10:44] nipafx commented on #426
I'm pretty sure, I've already written an extension like this for Selenium, but I can't find it. No idea where that one went. I dimly remember opening a PR somewhere... 🙈

[2021-02-02 21:21] beatngu13 commented on #426
Rather than using provided, how about [optional](https://maven.apache.org/guides/introduction/introduction-to-optional-and-excludes-dependencies.html) (Maven) / [feature variants](https://docs.gradle.org/current/userguide/feature_variants.html) (Gradle)? Haven't used these myself, but it sounds exciting! ([Related blog post](https://blog.gradle.org/optional-dependencies).)

`junit-pioneer-playwrig

[2021-02-02 21:57] beatngu13 commented on #360
That's actually a good question. Googled it and stumbled over [this question](https://stackoverflow.com/q/2390230) on Stack Overflow, where answers go in different directions. [This blog post](https://techwhirl.com/updating-copyright-notices/) on "Updating Copyright Notices" says:

I'm not a lawyer either, but this seems to be a cargo cult.

[2021-02-03 20:37] jbduncan commented on #413
I've not heard anything yet, but given this issue has been labelled and added to ["Exploring Io"](https://github.com/junit-pioneer/junit-pioneer/projects/3#card-53726213), does that mean there's some interest in this? I would hate to start this only to realise that CSBs are no longer wanted in pioneer.

Also I'd completely understand if you'd like me to get my feet with a ["good first issue"](http

[2021-02-03 23:51] nipafx commented on #413
Hey @jbduncan! 👋🏾  First of all, nice to hear from you again and sorry for taking a while to react. I think Michael put the issue into _Exploring Io_, so I will notice it during one of the live streams and take a closer look. I'm definitely still interested in this and I think JUnit 5 offers a few very good tools (particularly nested and parameterized tests) to implement a test suite like this. I

[2021-02-04 14:49] jbduncan commented on #413
@nipafx Thanks for getting back to me, and no worries!

I don't personally follow your live streams (although perhaps I should), so I'm glad to hear that you'll take a closer look on your next stream.

Fair enough. There are two reasons for creating our own:
1. It allows users who've migrated to the JUnit Platform to get rid of JUnit 3/4 tests using guava-testlib's CSBs.
2. The documentation for G

[2021-02-05 14:47] Bukama commented on #426
Hm. One of the most common tools to automate browsers is Selenium, which supports many langauges, including Java and JavaScript. And for Selenium there is already a great extension, called `Selenium-Jupiter`.
See my test project including description etc here: https://github.com/Bukama/seleniumtest

[2021-02-08 07:57] Michael1993 commented on #415
The main reason I opened this issue is because this is a frequently asked question. I would like to have a discussion/discovery about this, so I can link to it as an explanation, i.e.: "This is not possible, we investigated this in #415" or "While this is possible, the team came to a decision to not support it - see discussion on #415" or we might just decide to support it but discourage users fro

[2021-02-09 20:01] nipafx commented on #426
Thanks for the link to feature variants, @beatngu13. I took a peek and they sure look interesting, but I feel like we don't need them here. In this instance, we don't need Playwright for specific Pioneer features (which is what that blog post describes) - instead we integrate with it and that only makes sense if Playwright is already present (that's why I thought, we should use provided) and I wan

[2021-02-12 09:55] jbduncan commented on #413
Another reason for creating our own test suite:

3. We could expand it with add-ons that test graph types from Guava and perhaps even JGraphT as well, for people who create their own custom graph types, such as [myself](https://github.com/jbduncan/guava-graph-utils/blob/29023559adabcc6cae2c24afa81b13160963ffd1/src/main/java/org/jbduncan/MoreGraphs.java#L88-L322).

[2021-02-16 12:45] AndreyGnuchikh opened #429 "Problem with Retrying Test."
Problem with Retrying Test. If i have exception in Before Each. Retrying don't start.

org.openqa.selenium.NoSuchElementException: Unable to locate element: #operatorModal > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) > button:nth-child(1)

![image](https://user-images.githubusercontent.com/44124200/108064124-4a95a780-706d-11eb-9358-3b7797b98be8.png)

[code]

[code]

[2021-02-16 14:10] Michael1993 opened #428 "Problem with retrying test"
Mirror issue (?) for [#32](https://github.com/junit-pioneer/test-reports/issues/32).

[2021-02-16 17:33] #428 closed

[2021-02-23 17:36] nipafx opened #431 "Prepare hack.commit.push"
Things we need to do before [hack.commit.push](https://hack-commit-pu.sh/):

* [ ] short video introduction of the project
* [x] link to a guide on how to create JUnit 5 extensions
* [x] make sure the _good first issue_ and _up for grabs_ labels are properly applied

Things we could do:

* [x] rename `master` to `main` ~> #331
* [x] update dependency on JUnit to prevent problems if updating become

[2021-02-23 20:38] nipafx commented on #324
We've investigated this a bit and the only weird behavior we've discovered locally is that lots of classes are loaded and unloading blocks the JVM (0% CPU usage, etc) for a while. We could trace that back to the use of `EqualsVerifier` in `IssueTestCaseTests` and `IssueTestSuiteTests`.

Entire test suite (after ~100k tests):

![image](https://user-images.githubusercontent.com/6537432/108904724-27e

[2021-02-23 21:05] nipafx commented on #324
Just ran 1.4 million tests on 5d008d4 without any apparent problems. If the timeouts remain, we may need another test system to reproduce. Only other idea I have at the moment is to guess that concurrent test execution is the problem and blindly disable it to see whether that makes the build complete every time.

[2021-02-23 21:08] nipafx commented on #324
A cursory examination of `EqualsVerifier` (by a very nice and helpful viewer on Twitch) gives the impression that it may not be thread-safe. If 5d008d4 removed the timeouts, we could try to use `@ResourceLock` to execute `EqualsVerifier` tests sequentially.

[2021-02-23 21:09] nipafx commented on #324
Ok, that didn't fic the problem. We just had [a timeout on macos](https://github.com/junit-pioneer/junit-pioneer/pull/424/checks?check_run_id=1964783859) (for once, yay!).

[2021-02-24 17:55] Azquelt opened #432 "SetEnvironmentVariable and SetSystemProperty interfere"
When `@SetEnvironmentVariable` and `@SetSystemProperty` are used on the same test, only one set of properties is restored at the end of the test.

It looks like they both use `AbstractEntryBasedExtension` and that will overwrite the `EntriesBackup` for the first annotation when the second annotation is processed since it's stored in the same place in the context.

I think either the namespace or t

[2021-02-24 18:36] beatngu13 commented on #432
Good catch! Will look into this.

[2021-02-24 22:00] beatngu13 commented on #432
@Azquelt feel free to comment on #433. ✌️

[2021-02-26 19:16] #432 closed

[2021-02-28 13:25] #410 closed

[2021-02-28 13:59] #412 closed

[2021-02-28 14:05] nipafx opened #434 "Evaluate need for member-name wrangling utils"
There's at least one place where we use String concatenation to create package/class/method names. Maybe there are more? And maybe we're not the only ones doing that and there exists a neat little library doing that for us? Or maybe we could create one, starting with some utils for internal use.

(Inspired by [this comment](https://github.com/junit-pioneer/junit-pioneer/pull/418#discussion_r567799

[2021-02-28 14:12] nipafx opened #435 "Move away from Bintray"
[Bintray gets shut down on May 1st](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/), so we need to move away from it. I think it would be a good idea to see what other Shipkit-based projects do.

[2021-02-28 14:16] nipafx commented on #432
@Azquelt Thanks for reporting this. We just released a new version that contains the fix. (Somewhat surprisingly, Shipkit picked version 1.3.8 instead of 1.3.1, so make sure to use that one.)

[2021-03-01 10:31] aepfli opened #442 "Evaluate Shipkit auto versioning vs. gradle git version plugin"
We currently use shipkit-auto-versioning plugin for maintaining our versions. It offers a clean way, to define versions, but the versioning itself seems to be a little bit odd, as the patch versioning is defined by number of commits.

On the other hand there is https://github.com/palantir/gradle-git-version which from the outside suits our versioning better.
It defines the version based on the las

[2021-03-02 18:07] Michael1993 commented on #442
We have two options:
 ### 1.) We switch to `gradle-git-version`

This is straightforward, but makes our release a bit clumsier.

### 2.) We send a PR to Shipkit auto-versioning plugin

We *could* convince the Shipkit team to update/amend their auto-versioning plugin with a setting that fits our use-case. This would mean a long process of opening an issue, having a discussion, extending their plugi

[2021-03-02 18:21] nipafx opened #443 "Remove dependabot"
As dependabot is configured now, it opens a PR per update (which practically means "per dependency") per month, each of which results in a commit if merged. This means dependabot opens more PRs and makes more commits than all contributors put together. I dislike the noise in commit/PR lists and search results that come from that and want to remove it.

I really like the regular nudges towards upda

[2021-03-02 18:25] nipafx commented on #443
For reference, dependabot was introduced in #315.

[2021-03-02 19:57] #408 closed

[2021-03-02 20:26] #331 closed

[2021-03-02 20:33] nipafx commented on #331
I just renamed `master` to `main` and (as promised) GitHub does all the required things on this site. I also changed all references to the branch in  dba26da. All that's left to do is [updating your local clones](https://docs.github.com/en/github/administering-a-repository/renaming-a-branch#updating-a-local-clone-after-a-branch-name-changes).

[2021-03-03 20:23] beatngu13 commented on #396
https://github.com/junit-pioneer/junit-pioneer/commit/535539651870e1e2e4d9c3878ab9a87748130c4e removed Dependabot, so this issue is obsolete.

(@aepfli I still think we should [disable SonarCloud comments](https://community.sonarsource.com/t/disable-github-merge-request-comments/18520/23) since we have a corresponding status check.)

[2021-03-03 20:23] #396 closed

[2021-03-03 20:33] aepfli commented on #396
@beatngu13 done! disabled comments on Sonarcloud

[2021-03-03 20:52] beatngu13 commented on #443
[Dependabot is gone](https://github.com/junit-pioneer/junit-pioneer/commit/535539651870e1e2e4d9c3878ab9a87748130c4e), so I assume this can be closed?! If not, feel free to re-open.

[2021-03-03 20:52] #443 closed

[2021-03-07 12:41] FloHin opened #446 "Add a @Issue IssueProcessor for Gitlab Requirements Json export"
As we evaluate to use Gitlab Requirements Management I looked to connect them with Junit4/Junit5.

https://docs.gitlab.com/ee/user/project/requirements/#allow-requirements-to-be-satisfied-from-a-ci-job

Coming to junit-pioneer with the @Issue annotation, that looks very promising

As pointed out, users would need to provide a custom processor for that:

[code]

I propose to have some configuration

[2021-03-07 23:35] scordio opened #447 "Non-adjacent repeatable annotations do not work with @CartesianProductTest"
While working on #414, I realized there is a nasty issue when repeatable annotations have other annotations (repeatable or not) in between.

Take this example:
[code]

The test execution will fail with:
[code]

This is due to the fact that the absolute declaration order of repeatable annotations is not kept when accessing them via reflection, as each group is encapsulated in the container annotati

[2021-03-08 10:45] Michael1993 commented on #447
Give me a bit of time to ponder the problem.

[2021-03-08 16:17] Michael1993 commented on #447
I've been thinking about this. The way I see it, we have 3 options: the two @scordio already listed and to try and make the extension work with the annotation mismatch.

The documentation update should be fairly straightforward.

I have a hunch how the extension could detect such a scenario, but it would require more reflection and evaluation (increased complexity), which could make the extension

[2021-03-09 04:53] nipafx opened #448 "Annotations like @SetSystemProperty are not inherited"
The following test fails:

[code]

Unless I'm missing something, it stands to reason that it should pass because it should inherit the annotation from the super class. Am I missing something?

[2021-03-09 07:44] Michael1993 commented on #448
This should be a very simple fix, no? Just add the missing [`@Inherited`](https://docs.oracle.com/javase/7/docs/api/java/lang/annotation/Inherited.html) annotation on our annotations. Or am *I* missing something?

[2021-03-09 08:38] Michael1993 commented on #448
Yeah, I just checked, this is a very simple fix.

[2021-03-09 16:10] Michael1993 commented on #448
Part of the solution for this should include tests that verify the new behaviour.

[2021-03-13 01:31] josiahhaswell opened #450 "Allow simple expressions in SetEnvironmentVariables/SetSystemProperties"
Dynamically computing environment variable values would be very useful for a wide variety of tests.   For instance:

[code]

would allow the SetEnvironmentVariables/SetSystemProperties annotations to dynamically resolve environment variable values from the runtime context.

An alternative might be to allow MVEL/Groovy/SPEL (or whatever) expression evaluation in for the value parameter of the annot

[2021-03-13 08:27] beatngu13 commented on #450
Hey @josiahhaswell,

thx for reaching out!

Dynamically computed values are already possible, at least partly. As stated in the [system property docs](https://junit-pioneer.org/docs/system-properties/):

However, this is not possible for environment variables, yet – see #381.

I see two things to discuss:

1. Using `@ClearEnvironmentVariable`/`@ClearSystemProperty` for dynamic values / non-constan

[2021-03-17 06:35] #448 closed

[2021-03-17 06:38] Bukama commented on #447
I'm also for updating the documentation

[2021-03-17 17:58] josiahhaswell commented on #450
So, we implemented a prototype using Spring MVEL (I'm definitely not recommending bringing that in as a dependency here) that works well.  MVEL, which is self-contained, might be a feasible option in terms of reducing dependencies.  Each of these solutions suffers from the complexity of defining an execution context for the expression language, although SPEL automatically provides a sensible one,

[2021-03-19 12:01] Michael1993 commented on #429
@AndreyGnuchikh Could you please tell us what happened? I don't want to close this issue without hearing back from you that my suggestion is/was OK for you. Maybe you have some ideas how `@RetryingTest` could be improved?

[2021-03-19 12:04] Michael1993 commented on #415
With the discovery of the repeatable annotations bug (#447), this investigation should have a bit more priority.

[2021-03-22 16:03] #450 closed

[2021-03-26 16:51] Bukama commented on #246
Hm. The shipkit repo ist archieved and we have to move the plugin (see #442) so we should then have an eye ont he warnings.

[2021-03-26 20:26] beatngu13 commented on #397
We can already switch to `mockito-inline`, PR incoming … however, let's bear in mind:

https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/Mockito.html#mockito-inline

https://javadoc.io/doc/org.mockito/mockito-core/latest/org/mockito/Mockito.html#Mocking_Final

[2021-03-26 21:06] beatngu13 commented on #246
@Bukama #419 introduced the new Shipkit plugins. When looking at the current build logs:

* [Ubuntu / Java 8](https://github.com/junit-pioneer/junit-pioneer/runs/2128293379)
* [Ubuntu / Java 15](https://github.com/junit-pioneer/junit-pioneer/runs/2128293449)

I wasn't able to find the above deprecation warnings anymore. Warnings that are (still?) there:

[code]

The first one seems to stem from he

[2021-03-26 23:01] beatngu13 commented on #448
As pointed out by @Michael1993 in #449, there are more annotations – besides the environment variable and system property extensions – we should consider making `@Inherited`.

I believe this only makes sense for annotations targeting `ElementType.TYPE`, since we are dealing with test base classes. Searching for `ElementType.TYPE` yields:

- `@DefaultLocale`
- `@DefaultTimeZone`
- `@Issue`
- `@Stop

[2021-03-27 15:08] Bukama commented on #246
I'm totally with you. As commented above the warnings came from the (old) shipkit plugin and were related to Gradle not to Java (like the two from the vintage error). So I'll close this issue

[2021-03-27 15:08] #246 closed

[2021-04-02 18:38] mjsztainbok commented on #447
I just hit this issue myself. I had the following code:
[code]

 and it was failing as it thought that the 2 boolean values were first and the `ReadOnlyConnectionSupport` was the last parameter.

The ordering is important to me as these tests are incremental with an extra parameter so I don't want to have to make the tests more difficult to read because of ordering

[2021-04-02 21:30] Michael1993 commented on #447
We can't really do mix-and-match with the annotations because the annotation order is simply _not preserved at all_.

For example:
[code]
becomes
[code]

Which is not correct, but works. I'm fairly certain it's not possible to determine the original order of the annotations, therefore we can't "fix" this error.

I recommend you do either of these:
 - reorder your parameters
 - use a factory method

[2021-04-06 11:13] Michael1993 commented on #447
Investigated this issue a bit further - we *could* accommodate special edge cases. It would require careful checking of parameter types and arguments provided from the annotations. The risk of introducing unwanted side-effects seem high.

I'm kind of at my wits end. If someone else has a good solution for this, feel free to open a PR or propose a solution,

[2021-04-06 17:06] nipafx opened #455 "Build against Java 16"
Update the build matrix to build against Java 8 (our baseline), 11 (because it's LTS), and 16 (instead of 15; because it's the latest and greatest).

[2021-04-06 17:08] nipafx commented on #455
As I found out in #451, this requires an update to Gradle to version 7. It isn't released yet, but if using a release candidate is easy, we can do that.

[2021-04-06 18:02] #455 closed

[2021-04-06 18:06] nipafx commented on #397
From what I gather from your comments and the few bits of documentation I read, I don't think we need this. We don't mock final classes, etc. and I'm not planning to. Also, using the instrumentation API to attach to "yourself" is iffy. Finally, "this artifact may be abolished" sounds like more hassle down the line. I'll close this issue and the PR. We can reopen if/when we actually need this funct

[2021-04-06 18:06] #397 closed

[2021-04-06 18:23] nipafx commented on #431
Regarding the JUnit 5 version we depend on:

We usually want to depend on the lowest minor version (newest patch of that) that supports our feature set. Generally speaking, that's still the case, but the upcoming hack.commit.push event required an exception. Updating from Jupiter 5.6 to 5.7 requires some changes to our test code, which means it's a bit disruptive. In case some contributors need to

[2021-04-06 19:24] #414 closed

[2021-04-06 19:51] nipafx commented on #442
I looked into this and here are some thoughts:

* Shipkit seems to no longer write to `docs/release-notes.md`, but it looks like [it can be configured](https://github.com/shipkit/shipkit-changelog#orgshipkitshipkit-changelog-plugin) (see parameter `outputFile`), so we should probably do that
* the `generateChangelog` task needs to know the previous revision - without [the auto version plugin](http

[2021-04-06 20:01] nipafx commented on #442
Addendum to the last point: Contrary to what [the documentation](https://github.com/shipkit/shipkit-auto-version#implementation-details) seems to suggest, the file `version.properties` is always needed, even if the property is specified on the command line.

[2021-04-06 21:08] nipafx commented on #442
If [shipkit-auto-version](https://github.com/shipkit/shipkit-auto-version) would increase the patch version sequentially, we'd be all set. I opened [an issue](https://github.com/shipkit/shipkit-auto-version/issues/72) and [a PR](https://github.com/shipkit/shipkit-auto-version/pull/73) for that - let's give it some time to see where those go.

[2021-04-06 21:19] nipafx commented on #442
Well, not _all_ set. The website still won't build because Shipkit no longer writes the previous version to `version.properties`. That's a good thing because a release no longer result in a commit, but it means we need to find another way for the site build to determine project versions. Ideas:

* use `git log` to determine the version
* add [parameters to the release workflow](https://github.blog

[2021-04-06 21:26] nipafx commented on #442
Last note on the release notes: While it's possible to configure the output file, there seems to be no machinery that commits it back to the repo. Without that, our release notes will stay as they are (i.e. outdated). I hence propose to remove them and rely on GitHub releases for change-interested users. (NB: The website's "Changes between versions…" title card already links to [the latest release

[2021-04-06 21:56] nipafx commented on #429
I didn't check whether we can intercept exceptions thrown by lifecycle methods, but if we could, the extension should probably work or at least show up in the stack trace. I think there's nothing we can do, so I'm closing this issue.

[2021-04-06 21:56] #429 closed

[2021-04-06 22:06] nipafx commented on #447
I thought about improving the error message. Does the extension work if _m_ out of _n_ parameters (_m_ < _n_) use this extension, but it's not the first _m_? If not, then:

* that should probably be mentioned somewhere
* when there are _m_ Cartesian annotations and we're at an index < _m_, but the parameter doesn't match, we can throw an error or log a message that while an annotation was found it

[2021-04-06 22:09] nipafx commented on #415
The similarity to `@ParameterizedTests` is pretty nice, but there's one important difference between the two extensions: For parameterized tests, annotating individual arguments makes no sense. For this extension it does (and a lot, at that). I'm really interested in this idea, particularly as it seems to offer a great solution to #447.

Let's discuss first whether we think this is a good idea - m

[2021-04-06 22:13] nipafx commented on #448
@beatngu13 Can you open a new issue for these annotations? As I see it, they indeed all need that behavior, so you can also start on working on that if you want. One PR per extension please. :)

[2021-04-06 22:22] nipafx commented on #381
I've read #450 and this one. I think we should do more than offer an imperative way to set these variables (via an internal API) and then reset them with `@Clear...`. A solution that works for both system properties and environment variables would be cool.

I liked your idea to solve this by referencing a method. We could add a `methodName` field (exact name t.b.d.) to the `@Set...` annotations an

[2021-04-07 21:21] beatngu13 opened #456 "Add @Inherited to annotations targeting ElementType.TYPE"
See [this comment](https://github.com/junit-pioneer/junit-pioneer/issues/448#issuecomment-808577525):

As suggested by @nipafx, "one PR per extension" is preferred.

Example PR/changes for entry-based annotations (i.e. environment variable and system property extensions): #449

[2021-04-07 21:27] beatngu13 commented on #456
Side note: In contrast to #448, I labeled this issue as "enhancement" rather than "bug". IMHO the annotations/extensions basically work as expected, adding `@Inherited` is new functionality. However, in case somebody disagrees, feel free to adjust the corresponding label.

[2021-04-07 21:45] beatngu13 commented on #381
@nipafx I agree that adding simple setters is not so nice and also doesn't fit well with our overall API design. However, a `methodName` is probably not sufficient. In contrast to e.g. `@MethodSource`s, these methods are not necessarily only suppliers, functions might be needed, too.

According to the Stack Overflow post mentioned above, Testcontainers would be an example where one has to set envi

[2021-04-08 06:35] beatngu13 commented on #450
For the sake of completeness, here's a similar request for JUnit Jupiter:

https://github.com/junit-team/junit5/issues/1154

Subscribed to that issue. If JUnit introduces some form of EL, I guess we can somewhat easily build on that.

[2021-04-08 11:58] bsideup commented on #381
@beatngu13 TBH I haven't seen a use case where Testcontainers-provided values needed to be set as environment variables and cannot be provided as system properties.

That said, I would very much appreciate seeing `EnvironmentVariable.set`, as I needed it many times myself :)

I hope that helps!

[2021-04-08 19:16] Bukama commented on #456
I also see this as  new functionality. We need to  keep in mind that nothing gets broken, esp. `@Issue` should be carefully watched as the search for the annotation not only happens in one place.

[2021-04-08 19:22] Bukama commented on #442
Can't we execute some shell script / Github action scripting outself? At my work I created a Jenkins pipeline (written in Groovy as Jenkins Pipelines are Groovy) which
* check outs the project
* increses the projects version
* commits this
* creates a git tag with this version
* pushes this
* deploys the whole thing to our central artefact repository

[2021-04-08 19:24] Bukama commented on #431
Just to note it: We discussed the update in team call and we all were fine to update it.

[2021-04-08 19:30] Bukama commented on #320
From #431

This update was done in #445.

So this issue can be closed.

[2021-04-09 18:19] kiview commented on #381
To give a concrete example, a user might need to inject the result of `getJdbcUrl()` into their SUT after the container has started. However, the way by which the value needs to be injected is specific to their SUT or framework and independent from using Testcontainers (and outside of the responsibilities of Testcontainers).

[2021-04-11 12:20] Bukama opened #458 "Build with Gradle 7 instead of RC-2"
The PR #451 introduced Java 16 build with a release candidate of Gradle 7. This weekend the final release was published, so we can switch to the final version.

[2021-04-11 13:47] beatngu13 opened #460 "Investigate usage of findClosestEnclosingRepeatableAnnotations in EnvironmentVariableExtension and SystemPropertyExtension"
During a discussion on `findClosestEnclosingRepeatableAnnotations` vs. `findAllEnclosingRepeatableAnnotations` (`PioneerAnnotationUtils`) in Discord, the question came up why `EnvironmentVariableExtension` and `SystemPropertyExtension` are using `findClosestEnclosingRepeatableAnnotations` instead of `findAllEnclosingRepeatableAnnotations`.

In contrast to e.g. `DefaultLocalExtension` or `DefaultTi

[2021-04-11 13:48] beatngu13 commented on #460
Consider the following test:

[code]

A setup like this perfectly reasonable, i.e. to have class-level defaults but method-level configurations that overwrite these defaults.

In order to address this with `findAllEnclosingRepeatableAnnotations` (and `BeforeEachCallback`/`AfterEachCallback` exclusively), we would have to preserve order during annotation discovery and when creating the collections

[2021-04-12 07:09] nipafx commented on #442
I prefer to keep this in the build tool. First, because I think it's one of its core tasks, but also because it's then available locally (unlike GitHub Action without additional effort) and across all OS (unlike a script). We'd also need to recreate a lot of functionality that's already there (e.g. parsing commits to create release notes, GitHub API interaction to populate a release, artifact repo

[2021-04-12 07:18] #458 closed

[2021-04-12 20:49] beatngu13 commented on #381
Thank you both for getting back to us! ✌️

[2021-04-13 14:47] aepfli commented on #435
https://github.com/gradle-nexus/publish-plugin/ might be a good solution, as this seems to do all the necessary steps. i will investigate further into this

[2021-04-13 15:31] nipafx commented on #49
To be a good issue for first contributors, this issue should describe the specific annotations to be created as well as give a rough idea how to implement them.

[2021-04-13 15:40] nipafx commented on #99
To not have this issue open forever, we decided to close it. If other performance-related extensions show up, we can always reopen it.

[2021-04-13 15:40] #99 closed

[2021-04-13 15:41] Michael1993 opened #461 "Improve documentation of the Stopwatch extension"
Currently the Stopwatch extension's documentation falls a bit short. It should include some example outputs, e.g.: "This is how the tests annotated with `@Stopwatch` look in IntelliJ".

Another idea is to say a few words about `TestReporter` itself.

[2021-04-13 15:49] nipafx commented on #101
JSON-parsing should not be reimplemented for this issue, but also [JUnit Pioneer doesn't want to take on additional run-time dependencies](https://github.com/junit-pioneer/junit-pioneer/blob/main/CONTRIBUTING.md#dependencies), which means this issue can not be resolved within this project. If a PR is offered for it, we will _not merge_ it but instead take the new sources, documentation, etc. and s

[2021-04-13 15:52] nipafx commented on #141
As a first iteration, please pass an instance of the to-be-created class `Port`.

[2021-04-13 15:57] Bukama commented on #324
related to #457 and #460 (that's why I assigned @Michael1993

[2021-04-13 15:58] nipafx commented on #276
PR #460 conjectures that this extension might be the reason behind our timeout issues described in #324. Until those are resolved or this extension is cleared of suspicion, we shouldn't add additional concurrency-related features.

[2021-04-13 16:08] nipafx commented on #348
For starters, we're just looking for a design proposal or proof of concept that shows the outline of the extension and how it could provide the features requested above.

[2021-04-13 16:41] nipafx commented on #406
Instead of `exception`, please name the attribute `retryFor`. This gives us the opportunity to later define something like `failFor` (i.e. retry for all exceptions except the named ones).

[2021-04-13 16:42] nipafx commented on #407
Please rename `suspend` to `suspendForMs`, so the unit is included in the attribute's name for better readability.

[2021-04-13 16:43] Michael1993 opened #462 "Create new utility class to discover methods or classes based on String parameter"
_Originally posted by @nipafx in https://github.com/junit-pioneer/junit-pioneer/pull/418#discussion_r567692532_

We should create a utility class that helps us find methods/classes based on a `String` identifier.

[2021-04-13 16:50] #462 closed

[2021-04-13 16:51] Michael1993 commented on #462
Already had this issue: #434

[2021-04-13 16:56] Michael1993 commented on #434
As a first solution, it's good enough to just move the already existing code to its own utility class from `CartesianProductTestExtension` and write unit tests for it.

[2021-04-20 08:51] aepfli commented on #435
based on @nipafx link in discord (https://github.com/rwinch/gradle-publish-ossrh-sample) - we should evaluate if we need signing, yes it is a security feature and surely nice to have, but is it needed.

We could start with this as our first iteration and add signing at a later stage

[2021-04-22 19:53] Michael1993 commented on #324
It is possible this issue is now solved. We shall never be sure.

[2021-04-23 13:02] nipafx commented on #324
Let's way for a few more PRs to come and go before closing this.

[2021-04-27 16:42] Bukama opened #464 "Create team email and accounts"
At the moment the Pioneer artefacts are published with @nipafx accounts.
We want to create our own account for it (for the team), but this requires a new (team) email account.

[2021-04-27 16:56] nipafx commented on #435
NB: The credentials for the Nexus token and the PGP key are now organization secrets, so other projects can access them as well **if** they're added to the list of projects that they're shared with.

[2021-04-27 17:26] Michael1993 opened #465 "Add expected output to StdIo extension"

[2021-04-27 17:49] #435 closed

[2021-04-28 06:46] Michael1993 commented on #460
@beatngu13 It's not really clear what the desired outcome of this ticket would be. If you'd like, we can refactor the extensions so they do not need to implement both endpoints.

Somewhat related, what happens here:
[code]

[2021-04-28 07:32] nipafx commented on #465
Did I get this right;

* `input` defines what `System.in` _does_ return
* `output` defines what `System.out` _should_ receive (and if it doesn't, the test fails)

That's quite the proposal - I'm wondering whether I've ever seen such a "declarative assertion". This would surely require some getting used to...

[2021-04-28 08:15] nipafx opened #467 "Disable tests if other tests failed"
Imagine having a suite of integration-y tests that use some service that's fickle and may be down occasionally. If one test contacting that service fails with a `FickleServiceDownAgain_rollEyesEmojy_Exception`, then all others will likely as well. And if they don't, it doesn't matter much because the test suite failed already anyway. Maybe you want to save yourself some time and not run the other

[2021-04-28 08:16] nipafx commented on #467
So what do you think about this potential extension? Let's discuss and, if we agree that this idea has legs, label it _up for grabs_ and/or _good first issue_.

[2021-04-28 08:32] nipafx opened #468 "Disable tests if URL is unreachable"
Imagine having a suite of integration-y tests that use some service that's fickle and may be down occasionally and that you're ok with not running the tests if it isn't reachable.

Enter `DisabledIfUnreachable` extension!

[code]

Test _A_ is disabled if `some.url` isn't reachable (i.e. times out in 5 seconds or returns a status code outside of 200-399). Same for _B_ but it is also disabled if `so

[2021-04-28 08:32] nipafx commented on #468
So what do you think about this potential extension? Let's discuss and, if we agree that this idea has legs, label it _up for grabs_ and/or _good first issue_.

[2021-04-28 09:14] scordio commented on #416
@Michael1993 I plan to work on this Soon™ 🙂 is there any refactoring I should wait for (e.g., https://github.com/junit-pioneer/junit-pioneer/issues/447#issuecomment-814036571) to minimize conflicts?

[2021-04-28 10:29] #442 closed

[2021-04-28 10:50] nipafx commented on #324
After about a dozen complete builds that were all successful, this problem appears to be fixed or at least greatly diminished.

Thank you @Michael1993 for spending time on this, I really appreciate it! You definitely deserve one of these: 🎖️ (Yes, it's the  _medal_military_ 😮 - basically, GitHub's purple heart.)

[2021-04-28 10:50] #324 closed

[2021-04-28 11:06] nipafx opened #469 "Clean up after release changes"
* [x] `CONTRIBUTING.md` gives the wrong name and URL for the release action - should be `[_Release build_ GitHub Action](https://github.com/junit-pioneer/junit-pioneer/actions/workflows/release-build.yml?query=workflow%3ARelease)`.
* [x] we need a proper version in `version.properties` after all (otherwise release notes are borked), which means the documentation needs to (once again) explain how t

[2021-04-28 12:26] Bukama commented on #465
That was my understanding too @nipafx

[2021-04-28 12:27] Bukama commented on #467
This would mean you also have to executed the depending first and then you mix up orderthings with test result things

[2021-04-28 20:19] beatngu13 commented on #460
In a first step, I would to add an (internal) implementation note (similar like [here](https://github.com/junit-pioneer/junit-pioneer/blob/main/src/main/java/org/junitpioneer/internal/PioneerAnnotationUtils.java#L179)) that summarizes this issues and then close it. I just want to make sure we aren't confused about the implementation a second time.

If at some point we want to refactor our annotati